{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  NOTE TO DEVELOPERS: welcome to Focal theme! We hope that you will enjoy editing this theme as much as we did for
    developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
    hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
    all events, dependencies...) in the "custom.js" file, located in the Assets folder.
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

{%- assign direction = 'ltr' -%}
{%- case request.locale.iso_code -%}
  {%- when 'ar', 'arc', 'dv', 'fa', 'ha', 'he', 'kwh', 'ks', 'ku', 'ps', 'ur', 'yi' -%}
    {%- assign direction = 'rtl' -%}
{%- endcase -%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
  <head>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N4D9QK53');</script>
<!-- End Google Tag Manager -->
    
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
    >
    <meta name="theme-color" content="{{ settings.header_background }}">
    <meta name="google-site-verification" content="KCZ41_Gyu1lu8Um0HqTWb3EN8J1zRmv-UKKIqUY-Qyc" />
    {%- if dropinblog == 1 -%}{{ dropinblog_head_top }}{%- endif -%}
    <title>
      {% if page_title == blank -%}
        {{- shop.name -}}
      {%- else -%}
        {{- page_title -}}
        {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- endif %}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">

    {%- unless settings.heading_font.system? and settings.text_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    {%- comment -%}Preload important resources{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

    {%- comment -%}
      IMPLEMENTATION NOTE: for improving performance, Focal tries to preload images on known pages (such as blog page,
      product or collection pages). In order to keep a main JS file size minimal, the theme also lazyloads non-essential
      libraries (such as PhotoSwipe or Flickity) and only loads them on demand.
    {%- endcomment -%}
    {%- if request.page_type == 'product' -%}
      {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}

      <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>

      {%- if product.media.size > 1 -%}
        <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
      {%- endif -%}
    {%- endif -%}

    {%- if dropinblog == 1 -%}
      {{ dropinblog_head_social }}
    {%- else -%}
      {% render 'social-meta-tags' %}
    {%- endif -%}
    {% render 'microdata-schema' %}
    {% render 'css-variables', direction: direction %}
    {% render 'js-variables', direction: direction %}
    {% include 'omega_multi_pixel' %}
    <script type="text/javascript" src="//woomy.me/resource/js/cv/client/0/28640/zero_affiliate_20631.js" async></script>
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    <script src="{{ 'vendor.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
    <script src="{{ 'video-dialog.js' | asset_url}}" defer></script>
    {{ content_for_header }}
    {{ shop.metafields.loox.global_html_head }}
    {%- if dropinblog == 1 -%}{{ dropinblog_head_bottom }}{%- endif -%}
  
<script>(() => {const installerKey = 'docapp-discount-auto-install'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(installerKey)) {window.sessionStorage.setItem(installerKey, JSON.stringify({integrationId: urlParams.get('docapp-integration-id'), divClass: urlParams.get('docapp-install-class'), check: urlParams.get('docapp-check')}));}})();</script>

<script>(() => {const previewKey = 'docapp-discount-test'; const urlParams = new URLSearchParams(window.location.search); if (urlParams.get(previewKey)) {window.sessionStorage.setItem(previewKey, JSON.stringify({active: true, integrationId: urlParams.get('docapp-discount-inst-test')}));}})();</script>














































































































































































































































































































































































































































































































































































































































{% include 'pagefly-app-header' %}</head>

  {%- assign feature_classes = '' -%}

  {%- if settings.show_image_zoom -%}
    {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
  {%- endif -%}

  <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9D2MX8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
        <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
      </linearGradient>
    </svg>
    <aside>
      <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <symbol id="close-path" viewBox="0 0 24 24" fill="currentColor">
            <path d="M11 11V6a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5z"></path>
        </symbol>
      </svg>
    </aside>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <loading-bar class="loading-bar"></loading-bar>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'announcement-bar' -%}
      {%- section 'popup' -%}
      {%- section 'header' -%}

      {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
        {%- section 'mini-cart' -%}
      {%- endunless -%}
    {%- endif -%}
    <div id="main" role="main" class="anchor">
      {%- comment -%}
        IMPLEMENTATION NOTE: on collection and search page, the theme was designed to show on mobile the filter bar and/or sort
          by at the very top of the page. However, due to the fact that sections are isolated, I had to move the code
          here. Then, the collection section, based on the selected settings, will eventually hide those elements in CSS
      {%- endcomment -%}
      {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
        {%- assign active_filters_count = 0 -%}

        {%- if request.page_type == 'collection' -%}
          {%- assign filters = collection.filters -%}
        {%- else -%}
          {%- assign filters = search.filters -%}
        {%- endif -%}

        {%- for filter in filters -%}
          {%- if filter.type == 'list' -%}
            {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
          {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
            {%- assign active_filters_count = active_filters_count | plus: 1 -%}
          {%- endif -%}
        {%- endfor -%}

        {%- assign is_toolbar_collapsed = false -%}

        {%- if request.page_type == 'search'
          and search.results.first.object_type != 'product'
          and search.results_count > 0
        -%}
          {%- assign is_toolbar_collapsed = true -%}
        {%- endif -%}

        <div
          id="mobile-facet-toolbar"
          class="mobile-toolbar {% if is_toolbar_collapsed %}is-collapsed{% endif %} hidden-lap-and-up"
        >
          <button
            is="toggle-button"
            class="mobile-toolbar__item mobile-toolbar__item--filters {% if active_filters_count > 0 %}has-filters{% endif %}"
            aria-expanded="false"
            aria-controls="facet-filters"
            style="display: none"
          >
            {%- render 'icon' with 'filters' -%}
            <span class="mobile-toolbar__item-label">{{- 'collection.general.filters' | t -}}</span>
          </button>

          <button
            is="toggle-button"
            class="mobile-toolbar__item mobile-toolbar__item--sort"
            aria-expanded="false"
            aria-controls="sort-by-popover"
            style="display: none"
          >
            <span class="mobile-toolbar__item-label">{{- 'collection.general.sort_by' | t -}}</span>
            {%- render 'icon' with 'chevron' -%}
          </button>
        </div>
      {%- endif -%}
      
  {% capture pagefly_content_for_layout %}
    {{ content_for_layout }}
  {% endcapture %}
  {% render 'pagefly-render-section', pagefly_content_for_layout: pagefly_content_for_layout %}
  

      {%- unless request.page_type == 'index' or request.page_type == 'password' or request.page_type == 'gift_card' -%}
        {%- section 'static-text-with-icons' -%}
        {%- section 'static-newsletter' -%}
      {%- endunless -%}
    </div>

    {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
      {%- section 'footer' -%}
    {%- endif -%}
    <script src="{{ 'couponcode.js' | asset_url}}" defer="defer"></script>
    {{ shop.metafields.loox.global_html_body }}
    {% include 'preciso_Script' %}

  <script>
     const script = document.createElement('script');
     script.setAttribute('src',
    'https://app.partnerboost.com/brand/track.2.0.min.js?bid=72441');
     document.head.appendChild(script);
  </script>


    <script type='text/javascript' src='https://js.crossees.com/csslp.js' async></script>
     <!-- 添加订单追踪来源代码 -->
      <script type = "text/javascript" >
      (function (callback) {
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src = "https://www.rentracks.jp/js/itp/rt.track.js?t=" + (new Date()).getTime();
          if (script.readyState) {
              script.onreadystatechange = function () {
                  if (script.readyState === "loaded" || script.readyState === "complete") {
                      script.onreadystatechange = null;
                      callback();
                  }
              };
          } else {
              script.onload = function () {
                  callback();
              };
          }
          document.getElementsByTagName("head")[0].appendChild(script);
      }(function () {})); 
      </script>
          
  </body>
</html>
