{%- assign text_direction = 'localization.text_direction_trigger' | t | downcase -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ text_direction }}">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N4D9QK53');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="LFXtK0nMZw56btAezr_aQ0i7CTgHqngDUSwiYnmZ6H8" />
  <meta name="theme-color" content="{{ settings.color_button_background }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
  {%- endif -%}

  <title>
    {{- page_title -}}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- if template == 'password' -%}
      {{- shop.name -}}
    {%- else -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    {%- endif -%}
  </title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- liquid
    render 'social-meta-tags'
    
    render 'css-variables'
    echo 'theme.css' | asset_url | stylesheet_tag: preload: true
    
    if text_direction == 'rtl'
      echo 'rtl.css' | asset_url | stylesheet_tag: preload: true
    endif
  -%}

  <link rel="stylesheet" href="{{ 'apps.css' | asset_url }}" media="print" fetchpriority="low" onload="this.media='all'">
  <link type="text/css" href="{{ 'custom-root.css' | asset_url }}" rel="stylesheet">
  <link type="text/css" href="{{ 'custom.css' | asset_url }}" rel="stylesheet">
  {{ content_for_header }}

    <script type="text/javascript">
     (function(w,d,s){
      var f=d.getElementsByTagName(s)[0],j=d.createElement(s);
      j.async=true;j.src='https://dmp.im-apps.net/js/1022072/0001/itm.js';
      f.parentNode.insertBefore(j, f);
     })(window,document,'script');
    </script>

  <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
  <script src="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}" defer></script>
  
  <script src="{{ 'vendor-v2.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <!-- <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script> -->
  <script src="{{ 'scroll-animation.js' | asset_url }}" defer="defer"></script>

  {% comment %} ulike custom content {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js" defer="defer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/ScrollTrigger.min.js" defer="defer"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer="defer"></script>
  
  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- render 'js-variables' -%}

{% include 'pagefly-app-header' %}

  {% comment %} 联盟代码 {% endcomment %}
  {% include 'alliance_script' %}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}{% if request.design_mode %} shopify-design-mode{% endif %}" data-rounded-button="{{ settings.rounded_button }}" data-rounded-input="{{ settings.rounded_input }}" data-rounded-block="{{ settings.rounded_block }}" data-button_hover="{{ settings.buttons_hover }}"{% if settings.enable_lazy_image %} data-lazy-image{% endif %} data-page-rendering>
  <a class="sr-only skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- liquid
    if settings.enable_page_transition
      render 'loading-bar'
    endif
    
    render 'mouse-cursor'

    sections 'header-group'
    sections 'overlay-group'
  -%}

  <div class="page-container" id="PageContainer">
    <main class="main-content relative" id="MainContent" role=" ">
      {{ content_for_layout }}
    </main>

    <footer-group class="footer-group block w-full">
      {%- sections 'footer-group' -%}
    </footer-group>
  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
  </ul>
   {% render 'pin-to-top' %}
   {% section 'pin-active-icon' %}
    {% section 'u-user-new-popup' %}
</body>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</html>
