<style>
 .air_module11_wrapper{
  position: relative;
}

.module11_cnt{
  position: absolute;
  top: 40%;
  left: 30%;
  color: #000;
font-family: var(--font-hd-family);
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.36px;
transform: translate(-50%, -50%);
}
@media (max-width: 767px){
  .air_module11_wrapper{
    display: flex;
    flex-direction: column-reverse;
    /* padding: 50px 0; */
  }
  .module11_cnt{
    width: 100%;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

}
</style>
   <section>
    <div class="air_module11_wrapper to-top">
       <picture>
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
             {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
       {%- if section.settings.tle_1 != blank -%}
      <div class="module11_cnt">
        {{ section.settings.tle_1 }}
      </div>
      {%- endif -%}
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 Point Module11",
  "class": "shopify-section--air10-point-module11", 
  "settings": [

       {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
      {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
        {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
           {
      "type": "richtext",
      "id": "tle",
      "label": "Text"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Air10 Module11"
    }
  ]
}
{% endschema %}