<style>
    #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    /* background: rgb(var(--section-background, var(--background))); */
  }
 .product_banner-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.product_banner{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.product_banner picture{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.product_banner picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_banner-cnt{
  display: flex;
  margin: 0 auto;
  width: calc(800 / 1366 * 100%);
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin-bottom: 100px;
}
.product_banner-box{
  text-align: center;
}
.product_banner-box h1{
  font-family: var(--font-ro-family);
  color: #000;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.8px;
}
.banner_tle1{
  color: #000;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 0.28px;
}
.banner_tle2{
  color: #000;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.6px;
margin-top: 40px;
margin-bottom: 67px;
font-family: var(--font-hd-family);
}

.banner_link{
display: inline-flex;
border-radius: 100px;
border: 1px solid #000;
color: #000;
font-size: 14px;
font-style: normal;
font-weight: 500;
text-transform: uppercase;
padding: 18px 74px;
}
.kv_product{
  width: 43%;
  align-self: flex-end;
}
   .product_banner-box .btn-animate{
    margin:  0 auto;
  }
   .product_banner-box .btn-animate{
         color: #000;
    border: 1px solid #000;
      background: transparent;
   }
   .product_banner-box .btn-animate:hover{
           color: #fff;
   }
   .product_banner-box .btn-animate__sweep-left:after {
    background-color: #000;
}
  .product_banner-box .tle__img{
        text-align: center;
    display: flex;
    justify-content: center;
  }
@media (max-width: 767px){
  .product_banner-wrapper{
    align-items: flex-start;
  }
  .product_banner-cnt{
    justify-content: center;
    padding-top: 50px;
    width: 100%;
     margin-bottom: 0px;
  }
  .product_banner-cnt h1{
    font-size: 50px;
  }
  .banner_tle1{
    font-size: 18px;
  }
  .banner_tle2{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .banner_link{
    padding: 8px 43px;
  }
  .tle__img{
    padding: 0 50px;
  }
} 

</style>
 <section>
    <div class="product_banner-wrapper">
      <div class="product_banner to-opacity">
        <picture>
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url}}"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
          <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"   width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}">
            {%- endif -%}
          </picture>
      </div>
      <div class="product_banner-cnt">
        <div class="product_banner-box to-top">

          {%- if section.settings.tle_image != blank -%}
            <div class="tle__img">
               <img class="" src="{{ section.settings.tle_image | image_url }}" width="{{ section.settings.tle_image.width }}" height="{{ section.settings.tle_image.height }}" alt="{{ section.settings.tle_image.alt | escape }}" >
            </div>
          {%- endif -%}
          
          {%- if section.settings.title != blank -%}
            <h1 class="to-top" style="transition-delay: 0.1s;">{{ section.settings.title | escape }}</h1>
          {%- endif -%}
          {%- if section.settings.subheading != blank -%}
          <div class="banner_tle1 to-top"  style="transition-delay: 0.2s;">{{ section.settings.subheading | escape }}</div>
          {%- endif -%}
          {%- if section.settings.des != blank -%}
          <div class="banner_tle2 to-top"  style="transition-delay: 0.3s;">{{ section.settings.des }}</div>
          {%- endif -%}
          {%- if section.settings.button_txt != blank -%}
          <a href="{{ section.settings.link_url }}" class="btn-animate btn-animate__sweep-left to-top"  style="transition-delay: 0.4s;">
            {{ section.settings.button_txt | escape }}
          </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 Banner",
  "class": "shopify-section--air10-banner", 
  "settings": [
        {
          "type": "image_picker",
          "id": "tle_image",
          "label": "Title Images"
        },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "richtext",
      "id": "des",
      "label": "Descripte"
    },
     {
      "type": "text",
      "id": "button_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Air10 Banner"
    }
  ]
}
{% endschema %}