<style>
    #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    /* background: rgb(var(--section-background, var(--background))); */
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
.full_banner-txt-wrapper{
  position: relative;
}
.full_banner-cnt{
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1220px;
  height: 100%;
}
.full_banner-cnt .full_banner-cnt1{
  color: #000;
font-family: var(--font-hd-family);
font-size: 32.343px;
font-style: normal;
font-weight: 400;
line-height: 150%;
/* letter-spacing: 0.323px; */
  letter-spacing: 10px;
writing-mode: tb;
margin-top: -50px;
}
.full_banner-cnt .full_banner-cnt2{
  color: #000;
font-family: var(--font-hd-family);
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.36px;
position: absolute;
right: 0;
top: 50%;
transform: translateY(-50%);
}
  .full_banner-cnt .full_banner-note{
        position: absolute;
    bottom: 0px;
    right: 0;
    max-width: 500px;
    word-wrap: break-word;
     color: #3f3636;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
@media (max-width: 767px){
  .full_banner-cnt .full_banner-cnt1{
    font-size: 17px;
    position: absolute;
    right: 40px;
    letter-spacing: 5px;
  }
  .full_banner-cnt .full_banner-cnt2{
    font-size: 19px;
    top: 115%;
    left: 20px;
  }
    .full_banner-cnt .full_banner-note{
    font-size: 12px;
  }
}
</style>
 <section>
    <div class="full_banner-txt-wrapper to-top">
     <picture>
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url}}"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
           <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"   width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}">
            {%- endif -%}
          </picture>
      <div class="full_banner-cnt">
        {%- if section.settings.tle_1 != blank -%}
          <div class="full_banner-cnt1 to-top">
            {{ section.settings.tle_1 }}
          </div>
          {%- endif -%}
        {%- if section.settings.tle_2 != blank -%}
          <div class="full_banner-cnt2">
           {{ section.settings.tle_2 }}
          </div>
        {%- endif -%}

         {%- if section.settings.note != blank -%}
          <div class="full_banner-note">
           {{ section.settings.note }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 BgImage",
  "class": "shopify-section--air10-bgimage", 
  "settings": [
    
    {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
    {
      "type": "richtext",
      "id": "tle_2",
      "label": "Text 2"
    },
       {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Air10 BgImage"
    }
  ]
}
{% endschema %}