<style>
    #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    /* background: rgb(var(--section-background, var(--background))); */
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
.point_num-box2{
  /* margin-top: 100px; */
}
.point_num-box2-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box2_left .point_1{
  color: #E0004D;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #E0004D;
  margin-bottom: 17px;
}
.box2_left .point_num2-tle1{
  color: #000;
  font-family: var(--font-hd-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.5px;
}
.point_percent-box{
  display: flex;
  justify-content: space-between;
}
.point_num-box2-wrapper .box2_left{
width: 54%;
}
.point_num-box2-wrapper .box2_right{
  display: flex;
  flex-direction: column;
  width: 36.5%;
  row-gap: 20px;
  }
.point_percent-item{
text-align: center;
}
.point_percent-item .percent1{
      font-family: var(--font-ro-family);
  color: #E0004D;
font-size: 110px;
font-style: normal;
font-weight: 300;
line-height: 150%;
}
.point_percent-item .percent2{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.18px;
}
@media (max-width: 767px){
  .point_num-box2{
    /* margin-top: 50px; */
  }
  .point_num-box2-wrapper{
    flex-direction: column;
  }
  .point_num-box2-wrapper .box2_left{
    width: 100%;
  }
  .point_num-box2-wrapper .box2_right{
    width: 100%;
    margin-top: 40px;
  }
  .point_num-box2-wrapper .box2_right picture{
    margin-left: -20px;
  }
  .point_num-box2-wrapper .box2_right picture:nth-child(2){
    margin-right: -20px;
  }
  .box2_left .point_1{
    font-size: 10px;
  }
  .box2_left .point_num2-tle1{
    font-size: 16px;
  }
  .point_percent-item .percent1{
    font-size: 55px;
    line-height: 1;
  }
  .point_percent-item .percent2{
    font-size: 12px;
  }
  .point_percent-box{
    margin-top: 30px;
    width: 90%;
  }
  .box2_right picture img{
    width: 80%;
  }
  .box2_right picture:last-child{
    display: flex;
    justify-content: flex-end;
  }
}
</style>
   <section>
    <div class="point_num-wrapper section-{{ section.id }}-padding">
      <div class="custom_container">
        
         <div class="point_num-box2">
          <div class="point_num-box2-wrapper">
            <div class="box2_left to-top">
               {%- if section.settings.tle_1 != blank -%}
              <div class="point_1">
                {{ section.settings.tle_1 }}
              </div>
              {%- endif -%}
              {%- if section.settings.tle_2 != blank -%}
              <div class="point_num2-tle1">
                 {{ section.settings.tle_2 }}
              </div>
               {%- endif -%}
              <div class="point_percent-box">
                <div class="point_percent-item">
                  <div class="percent1">18%</div>
                  <div class="percent2">照射面積増加</div>
                </div>
                <div class="point_percent-item">
                  <div class="percent1">8Min</div>
                  <div class="percent2">全身ケア</div>
                </div>
              </div>
              {%- if section.settings.note != blank -%}
              <div class="point_note">
                 {{ section.settings.note }}
              </div>
               {%- endif -%}
            </div>
            <div class="box2_right">

            {%- for block in section.blocks -%}
               <picture class="to-top" style="transition-delay: .{{forloop.index | plus: 1}}s">
            {%- if block.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ block.settings.image_mobile | image_url }}"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if block.settings.image -%}
           <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}"   width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}">
            {%- endif -%}
          </picture>
             {%- endfor -%}
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 Point Module3",
  "class": "shopify-section--air10-point-module3", 
  "settings": [
    
     {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
    {
      "type": "richtext",
      "id": "tle_2",
      "label": "Text 2"
    },
     {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
        {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
           {
      "type": "richtext",
      "id": "tle",
      "label": "Text"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Air10 Point Module3"
    }
  ]
}
{% endschema %}