<style>
     .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px);
      padding-bottom: calc({{ section.settings.padding_bottom }}px);
    }
    @media screen and (max-width: 768px){
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.6);
      padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
    }
  }
  .module13_box{
    position: relative;
  }
  .module13_cnt {
    position: absolute;
    top: 42%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .module13_top .module13_top-tle{
    color: #000;
  font-family: var(--font-hd-family);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  }
  .module13_top svg{
    margin-left: 50px;
  }
  .module13_bottom{
    display: flex;
    align-items: flex-end;
    gap: 70px;
        margin-top: 100px;
  }
  .module13_bottom-item .module13_bottom-tle1{
    color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  margin-top: 20px;
  }
  .module13_bottom-item .module13_bottom-tle2{
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 12px;
  }
  .module13_top{
    /* margin-top: -7%; */
        position: absolute;
    left: 0;
  }
  .destok_hidden{
    display:none;
  }
  @media (max-width: 767px){
    .destok_hidden{
    display:block;
  }
    .mobile_hidden{
      display:none;
    }
    .module13_top .module13_top-tle{
      font-size: 18px;
      margin-bottom: 16px;
    }
    .module13_cnt{
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      top: 42px;
      transform: translate(-50%, 0%);
    }
    .module13_top{
      margin-top: 0;
          position: relative;
    }
    .module13_bottom{
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      gap: 30px;
          margin-top: 30px;
    }
    .module13_bottom-item .module13_bottom-tle1{
      font-size: 12px;
      margin-top: 15px;
    }
    .module13_bottom-item .module13_bottom-tle2{
      font-size: 10px;
      margin-top: 8px;
    }
    .module13_top svg{
      margin-bottom: 16px;
    }
    .module13_bottom-item{
      width: 100%;
    }
    .module13_bottom .module13_bottom-item:nth-child(2){
      display: flex;
      justify-content: flex-end;
    }
    .module13_bottom .module13_bottom-item:nth-child(1) .module13_bottom_box{
      width: 86%;
    }
    .module13_bottom .module13_bottom-item:nth-child(2) .module13_bottom_box{
      width: 71%;
    }
  }
</style>
<section>
  <div class="module13_wrapper">
    <div class="module13_box to-top">
      <picture>
        {%- if section.settings.image_mobile -%}
          <source
            media="(max-width: 767px)"
            srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
            width="{{ section.settings.image_mobile.width }}"
            height="{{ section.settings.image_mobile.height }}"
          >
        {%- endif -%}
        {%- if section.settings.image -%}
          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              loading: 'eager',
              sizes: '100vw',
              widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
              class: 'trade_banner__image'
          -}}
        {%- endif -%}
      </picture>

      <div class="custom_container">
        <div class="custom_box">
          <div class="module13_cnt">
            <div class="module13_top to-top">
              {%- if section.settings.tle_1 != blank -%}
                <div class="module13_top-tle">{{ section.settings.tle_1 }}</div>
              {%- endif -%}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="27"
                height="106"
                viewBox="0 0 27 106"
                fill="none"
                class="mobile_hidden"
              >
                <path d="M13.4887 105.305C13.2754 105.305 13.0638 105.226 12.9021 105.075L-9.27577e-05 93.0192L1.17315 91.7602L12.6286 102.464L12.6286 -7.51965e-08C13.5782 -3.36881e-08 14.3489 0.771553 14.3489 1.72222L14.3489 104.405C14.3489 104.73 14.1854 105.047 13.8982 105.202C13.7691 105.273 13.6281 105.305 13.4887 105.305Z" fill="#E0004D"/>
                <path d="M16.5045 103.504C15.8336 102.83 15.8336 101.74 16.5045 101.068L25.782 91.7788L26.9983 92.9964L16.5045 103.502L16.5045 103.504Z" fill="#E0004D"/>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="54"
                viewBox="0 0 14 54"
                fill="none"
                class="destok_hidden"
              >
                <path d="M7.24442 53.1527C7.13777 53.1527 7.03197 53.1131 6.95111 53.0373L0.500015 47.0096L1.08664 46.3801L6.81435 51.7319L6.81435 0.5C7.28915 0.5 7.6745 0.885777 7.6745 1.36111L7.6745 52.7024C7.6745 52.8651 7.59278 53.0236 7.44914 53.1011C7.38463 53.1364 7.3141 53.1527 7.24442 53.1527Z" fill="#E0004D"/>
                <path d="M8.75231 52.2521C8.41686 51.9154 8.41686 51.3703 8.75231 51.0345L13.3911 46.3896L13.9992 46.9985L8.75231 52.2512L8.75231 52.2521Z" fill="#E0004D"/>
              </svg>
            </div>
            <div class="module13_bottom">
              {%- for block in section.blocks -%}
                <div class="module13_bottom-item to-top" style="transition-delay: .{{forloop.index | plus: 2}}s">
                  <div class="module13_bottom_box">
                    <picture>
                      {%- if block.settings.image_mobile -%}
                        <source
                          media="(max-width: 767px)"
                          srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                          width="{{ block.settings.image_mobile.width }}"
                          height="{{ block.settings.image_mobile.height }}"
                        >
                      {%- endif -%}
                      {%- if block.settings.image -%}
                        {{-
                          block.settings.image
                          | image_url: width: block.settings.image.width
                          | image_tag:
                            loading: 'eager',
                            sizes: '100vw',
                            widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                            class: 'trade_banner__image'
                        -}}
                      {%- endif -%}
                    </picture>
                    <div class="module13_bottom-tle1">{{ block.settings.tle1 }}</div>
                    <div class="module13_bottom-tle2">{{ block.settings.tle2 }}</div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script></script>
{% schema %}
{
  "name": "Air10 Point Module13",
  "class": "shopify-section--air10-point-module13",
  "settings": [

       {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
     {
      "type": "richtext",
      "id": "tle_2",
      "label": "Text 2"
    },
     {
      "type": "richtext",
      "id": "tle_3",
      "label": "Text 3"
    },
      {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
        {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
           {
      "type": "richtext",
      "id": "tle1",
      "label": "Text 1"
    },
          {
      "type": "richtext",
      "id": "tle2",
      "label": "Text 2"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Air10 Module13"
    }
  ]
}
{% endschema %}
