<style>
    #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    /* background: rgb(var(--section-background, var(--background))); */
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}


.air_cnt_img-box{

}
.air_cnt_img1{
 
}
.air_cnt-img-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.air_cnt-img-wrapper .air_cnt-img-left{
  width: 50%;
}
.air_cnt-img-left-tle1{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-top: 5px;
}
.air_cnt-img-right{
  width: 35%;
}
.air_cnt-img-right .air_cnt-right-txt1,.air_cnt-img-right .air_cnt-right-txt2{
  color: #000;
  font-family: var(--font-hd-family);
  font-size: 21.087px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.211px;
}

.air_cnt-img-right .air_cnt-right-txt2{
  margin-top: 30px;
  margin-bottom: 50px;
}
.air_cnt-img-right .air_cnt-right-txt3{
  color: rgba(0, 0, 0, 0.50);
  font-size: 10.728px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.107px;
  margin-top: 50px;
}
.qir_video-item{
  display: flex;
  margin-top: 75px;
}
.air_video-ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  row-gap: 15px;
}
.air_video-li{
  flex-basis: calc(25% - 25px);
  
}
.air_video-li .air_video-txt{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-top: 5px;
}
@media (max-width: 767px){
  .cnt_nb-box{
    display: flex;
    flex-direction: column;
    margin: 0 -20px;
    background: linear-gradient(180deg, #FFF 0.04%, #F4EFDB 99.96%);
    padding: 0 20px 30px;
  }
  .cnt_nb-box .air_crt{
    display: flex;
    justify-content: flex-end;
  }
  .cnt_nb-box .air_cnt_img1{
    width: 80%;
    margin-right: -20px;
  }
  .air_video-li .air_video-txt{
    font-size: 9px;
    line-height: 150%;
  }
}

  @media (max-width: 767px){
  .air_cnt-img-wrapper{
    flex-direction: column-reverse;
  }
  .air_cnt-img-wrapper .air_cnt-img-left{
    width: 100%;
    margin-top: 70px;
  }
  .air_cnt-img-wrapper .air_cnt-img-left picture{
      transform: translateX(-20px);
    display: block;
  }
  .air_cnt-img-right{
    width: 100%;
  }
  .air_cnt-img-right .air_cnt-right-txt1, .air_cnt-img-right .air_cnt-right-txt2{
    font-size: 20px;
  }
  .air_cnt-img-right .air_cnt-right-txt2{
    margin-bottom: 30px;
  }
  .air_cnt-img-right .air_cnt-right-txt3{
    margin-top: 30px;
    display: none;
  }
    .air_cnt-img-left-tle1{
      font-size:9px
    }
}

@media (max-width: 767px){
  .qir_video-item{
    margin-top: 30px;
  }
  .air_video-ul{
    width: 86%;
    row-gap: 30px;
    margin-left: auto;
    column-gap: 15px;
  }
  .air_video-li {
    flex-basis: calc(50% - 10px);
}
}
</style>
<section class="air_10-te-wrapper section-{{ section.id }}-padding">
    <div class="custom_container">
      <div class="air_cnt_img-box">
        <div class="air_cnt-img-wrapper">
          <div class="air_cnt-img-left to-top">
            <picture>
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url }}"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
               <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"   width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}">
            {%- endif -%}
          </picture>
          {%- if section.settings.image_txt != blank -%}
            <div class="air_cnt-img-left-tle1">{{ section.settings.image_txt | escape }}</div>
          {%- endif -%}
          </div>
          <div class="air_cnt-img-right to-top">
             {%- if section.settings.tle_1 != blank -%}
            <div class="air_cnt-right-txt1">
             {{ section.settings.tle_1 }}
            </div>
            {%- endif -%}
             {%- if section.settings.tle_2 != blank -%}
            <div class="air_cnt-right-txt2">
              {{ section.settings.tle_2 }}
            </div>
              {%- endif -%}
             {%- if section.settings.button_txt != blank -%}
              <a href="{{ section.settings.link_url }}" class="btn-animate btn-animate__sweep-left">
                {{ section.settings.button_txt | escape }}
              </a>
              {%- endif -%}
            {%- if section.settings.note != blank -%}
            <div class="air_cnt-right-txt3">
             {{ section.settings.note }}
            </div>
            {%- endif -%}
          </div>
        </div>
        <div class="qir_video-item">
          <div class="air_video-ul">
            {%- for block in section.blocks -%}
            <div class="air_video-li to-top" style="transition-delay: 0.2s;">
               {%- if block.settings.image -%}
               <picture>
            {%- if block.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ block.settings.image_mobile | image_url }}"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if block.settings.image -%}
             <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}"   width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}">
            {%- endif -%}
          </picture>
            {%- endif -%}





            
            </div>
           {%- endfor -%}
           
            
          </div>
        </div>
      </div>
    </div>
    <div class="full_container">
       <div class="air_video-ul">
        {%- for block in section.blocks -%}
            <div class="air_video-li to-top" style="transition-delay: 0.2s;">
            {%- if block.settings.video -%}
        {%- render 'video',
          sizes: '100%',
          video: block.settings.video,
          muted: true,
          autoplay: true,
          loop: true,
          cover_image: block.settings.video_cover_image,
          show_play_button: false,
          class: ''
        -%}
      {%- endif -%}
         {%- if block.settings.tle != blank -%}
              <div class="air_video-txt">
                {{ block.settings.tle }}
              </div>
              {%- endif -%}
              </div>
      {%- endfor -%}
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 Box Item",
  "class": "shopify-section--air10-box-item", 
  "settings": [
     {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
      "type": "text",
      "id": "image_txt",
      "label": "Image Note"
    },
    
    {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
    {
      "type": "richtext",
      "id": "tle_2",
      "label": "Text 2"
    },
    
   {
      "type": "text",
      "id": "button_txt",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    },
     {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
    {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
                    {
      "type": "video",
      "id": "video",
      "label": "video"
    },
     {
          "type": "image_picker",
          "id": "video_cover_image",
          "label": "video cover image"
        },
           {
      "type": "richtext",
      "id": "tle",
      "label": "Text"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Air10 Box Item"
    }
  ]
}
{% endschema %}