<style>
    #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    /* background: rgb(var(--section-background, var(--background))); */
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
.air_cnt1{
  color: #000;
text-align: left;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.18px;
max-width: 100%;
margin: 0 auto 10px;
width: 100%;
    padding: 0 50px;
}
.air_cnt_txt1{
  margin-bottom: 65px;
}
.air_cnt-img-p{
  color: rgba(0, 0, 0, 0.50);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-top: 25px;
}
.air_cnt2-inner{
      display: flex;
    gap: 142px;
        padding: 0 50px;

}
.air_cnt1--inner{
      display: flex;
       align-items: flex-end;
        justify-content: space-between;
}
.air_cnt1--img {
    display: flex;
    gap: 60px;
        margin-bottom: 65px;
}
.air_cnt1--inner .air_cnt1 {
    flex:1;
    margin-bottom:0;
}
@media (max-width: 767px){
  .cnt_nb-box{
    display: flex;
    flex-direction: column;
    margin: 0 -20px;
    background: linear-gradient(180deg, #FFF 0.04%, #F4EFDB 99.96%);
    padding: 0 20px 30px;
  }
  .air_cnt1{
    font-size: 12px;
    text-align: left;
    margin-bottom: 0px;
    max-width: 100%;
    order: 1;
    margin-top: 40px;
            padding: 0;
  }
  .air_cnt_txt1{
    margin-bottom: 20px;
  }
  .air_cnt-img-p{
    font-size: 10px !important;
    order: 2;
    margin-top: 0px;
  }
  .cnt_nb-box .air_crt{
    display: flex;
    justify-content: flex-end;
    order: -1;
  }
  .cnt_nb-box .air_cnt_img1{
    width: 80%;
    margin-right: -20px;
  }
  .air_cnt2-inner {
    flex-direction: column;
    gap: 0;
        padding: 0;
}
.air_cnt1--inner {
    flex-direction: column;
}
.air_cnt1--img {
    gap: 20px;
    margin-bottom: 0px;
            display: none;
}
.air_cnt1--img img{
        max-width: 70px;
}
}
</style>
  <section class="air_10-te-wrapper section-{{ section.id }}-padding">
    <div class="custom_container">
      <div class="cnt_nb-box">
        <div class="air_cnt1--inner">
        <div class="air_cnt1 to-top">
          {%- if section.settings.tle_1 != blank -%}
          <div class="air_cnt_txt1">
            {{ section.settings.tle_1 }}
          </div>
          {%- endif -%}
                </div>
                
                  <div class="air_cnt1--img">
           {%- if section.settings.logo_image1 -%}
            <img src="{{ section.settings.logo_image1 | image_url }}" alt="{{ section.settings.logo_image1.alt }}"   width="{{ section.settings.logo_image1.width | divided_by: 2  }}"
              height="{{ section.settings.logo_image1.height | divided_by: 2 }}">
            {%- endif -%}
             {%- if section.settings.logo_image2 -%}
            <img src="{{ section.settings.logo_image2 | image_url }}" alt="{{ section.settings.logo_image2.alt }}"   width="{{ section.settings.logo_image2.width | divided_by: 2 }}"
              height="{{ section.settings.logo_image2.height | divided_by: 2 }}">
            {%- endif -%}
        </div>
                        </div>

          <div class="air_cnt2-inner">
            {%- if section.settings.tle_2 != blank -%}
          <div class="air_cnt_txt1">
          {{ section.settings.tle_2 }}
          </div>
          {%- endif -%}
          {%- if section.settings.tle_3 != blank -%}
          <div class="air_cnt_txt1">
           {{ section.settings.tle_3 }}
          </div>
           {%- endif -%}
          </div>
          {%- if section.settings.tle_4 != blank -%}
          <div class="air_cnt_txt1">
           {{ section.settings.tle_4 }}
          </div>
           {%- endif -%}
          {%- if section.settings.tle_5 != blank -%}
          <div class="air_cnt_txt1">
           {{ section.settings.tle_5 }}
          </div>
           {%- endif -%}


        <div class="air_crt">
          <picture class="air_cnt_img1 to-top" style="transition-delay: 0.1s;">
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url }}"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
            <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}"   width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.height }}">
            {%- endif -%}
          </picture>
        </div>
        {%- if section.settings.note != blank -%}
        <div class="air_cnt-img-p to-top" style="transition-delay: 0.2s;">
        {{ section.settings.note }}
        </div>
        {%- endif -%}
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Air10 Text",
  "class": "shopify-section--air10-txet", 
  "settings": [
    {
      "type": "richtext",
      "id": "tle_1",
      "label": "Text 1"
    },
    {
      "type": "richtext",
      "id": "tle_2",
      "label": "Text 2"
    },
    {
      "type": "richtext",
      "id": "tle_3",
      "label": "Text 3"
    },
    {
      "type": "richtext",
      "id": "tle_4",
      "label": "Text 4"
    },
    {
      "type": "richtext",
      "id": "tle_5",
      "label": "Text 5"
    },
         {
          "type": "image_picker",
          "id": "logo_image1",
          "label": "Logo Images1"
        },
         {
          "type": "image_picker",
          "id": "logo_image2",
          "label": "Logo Images2"
        },
     {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },

    
     {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    },
    
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Air10 Text"
    }
  ]
}
{% endschema %}