
{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .blog-list__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: safe center;
    padding-bottom: 2px;
  }
  .autor {
    display: flex;
    align-items: center;
    margin-top:32px;
  }
  .avtor {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right:12px;
  }
  .avtor img{
    border-radius: 100%;
  }
  .autor-txt{

  }
  .autor-txt .name{
    font-size:16px;
  }
  .autor-txt .date{
    font-size:12px;
  }
  .blog-list__content p{
    font-size: 12px;
    line-height:1.3;
  }
  .blog-list__inner{
  }
  @media screen and (max-width: 999px){
    .blog-list__scroller{
      overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-right: calc(-1 * var(--container-gutter));
    }
  }
  @media (max-width:768px){
    .blog-list__box{
      grid-auto-columns: 80vw;
      grid-template-columns: none;
      grid-auto-flow: column;
      padding-left: 20px;
    }
  }
</style>


<section class="section">
  <div class="section__color-wrapper">
     <div class="container {% unless blends_with_background %}vertical-breather{% endunless %}">
      {%- if section.settings.title != blank or section.settings.subheading != blank or section.settings.content != blank -%}
        <header class="section__header {% if section.settings.content != blank %}section__header--tight{% endif %} section__header--{{ section.settings.column_alignment }}">
          <div class="text-container">
            {%- if section.settings.title != blank -%}
              <h2 class="heading h2">{{ section.settings.title }}</h2>
            {%- endif -%}

            {%- if section.settings.subheading != blank -%}
              <h3 class="heading h3">{{ section.settings.subheading }}</h3>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              {{- section.settings.content -}}
            {%- endif -%}
          </div>
        </header>
      {%- endif -%}
      <div class="">
        <div class="scroller">
          <scrollable-content class="blog-list__box">
            {%- for block in section.blocks -%}
              {%- capture block_content -%}
                {%- if block.settings.image != blank -%}
                  {%- if block.settings.link_url != blank  -%}
                    <a href="{{ block.settings.link_url }}" class="multi-column__image-wrapper">
                      {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '200,300,400,500,600,700,800,900,1000,1100,1200', class: 'multi-column__image' -}}
                    </a>
                  {%- endif -%}
                {%- endif -%}

                {%- if block.settings.title != blank or block.settings.content != blank -%}
                  <div class="text--left text-container">
                    {%- if block.settings.title != blank -%}
                      <p class="heading {{ block.settings.title_size }}" style="margin-bottom:8px;font-size:24px;">{{ block.settings.title | escape }}</p>
                    {%- endif -%}

                    {%- if block.settings.content != blank -%}
                      <div class="blog-list__content">
                        {{- block.settings.content -}}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                <div class="autor">
                  <div class="avtor">
                    {{- block.settings.avtor_image | image_url: width: 40, height: 40 | image_tag: sizes: '100vw', widths: '100', class: 'multi-column__image' -}}
                  </div>
                  <div class="autor-txt">
                    <div class="name">{{ block.settings.name | escape }}</div>
                    <div class="date">{{ block.settings.date | escape }}</div>
                  </div>
                </div>
              {%- endcapture -%}

              {%- if block_content != blank -%}
                <div id="block-{{ section.id }}-{{ block.id }}" class="blog-list__item">
                  {{- block_content -}}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </scrollable-content>
        </div>
      </div>
      {%- if section.settings.button_text != blank -%}
        <div class="button-wrapper text--center" style="margin:60px auto 0;max-width:285px">
          <a href="{{ section.settings.button_link }}" class="button button--primary button--animate button--full">{{ section.settings.button_text | escape }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>
 
  <script type="text/javascript">

  </script>
</section>

{% schema %}
{
  "name": "Blog List",
  "class": "shopify-section--blog-list",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "avtor_image",
          "label": "Avtor Image",
          "info": "40 x 40px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Jane Smith"
        },
         {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "November 13/2022"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "h5",
              "label": "Small"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "Large"
            }
          ],
          "default": "h5",
          "label": "Heading Size"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "default": "start"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog List"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "label": "Column/header alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Blog List",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 2"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 3"
          }
        }
      ]
    }
  ]
}
{% endschema %}