<style>
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
  }
     #shopify-section-{{ section.id }} {
    --section-background: {{ section.settings.background }};
    background:var(--section-background);
  }
  /* md5__inner start*/
.md5-top{
  background: #E3D9D6;
  padding: 18.1vw 8vw;
}
.md5-top{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.md5-tle{
  margin-bottom: 9.6vw;
}
.md5__inner img{
  width: 100%;
}
.md5-tle{
      font-family: var(--font-it-family);
  color: #3F3636;
font-size: 8vw;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: 0.598px;
text-transform: uppercase;
width: 100%;
}
.md5-tle-img2{
  text-align: right;
}
.md-top-img{
width: 70.1vw;
}
.md5-bt{
  padding: 0px 5.3vw 5.3vw;
}
.md5__inner img.md5_bt-timg{
  width: 54vw;
}
.md5_bt-tle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.md5_bt-tle svg{
  transform: translateY(-40px);
}


.md_pd-inner{
  padding-bottom: 17.33vw;
}
.md_pd-bg{
  background: #DE004D;
  color:  #FFF;
text-align: center;
font-size: 5.4vw;
font-style: normal;
font-weight: 500;
line-height: 180%;
letter-spacing: 1px;
}
.md_pd-bg strong{
  font-family: var(--font-it-family);
 font-style: normal;
font-weight: 500;
}
.detailBox__item{
  position: relative;
    padding-top: 12.6vw;
    padding-left: 7.2vw;
    margin-left: 15.5vw;
    z-index: 2;
}
.detailBox__item__title .jp{
  font-family: var(--font-it-family);
  color: #3F3636;
font-size: 5.6vw;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.detailBox__item__title .eng{
  color: #3F3636;
font-size: 3.7vw;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.detailBox__item__title{
  margin-bottom: 5.6vw;
}
.detailBox__item:before {
    content: "";
    width: 0.5px;
    height: calc(100% + 30px);
    background-color: #3F3636;
    position: absolute;
    top: -30px;
    left: 0;
    transition: height 1.5s cubic-bezier(.25,1,.5,1);
}
.detailBox__item__price {
  display: flex;
  align-items: flex-end;
  gap: 2.6vw;
}
.detailBox__item__price1{
    font-family: var(--font-it-family);
  color:  #3F3636;
font-size: 6.4vw;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
.detailBox__item__price1 strong{
        font-family: var(--font-body-family);
  font-size: 3.2vw;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
.detailBox__item__price2{
      font-family: var(--font-it-family);
  color: #3F3636;
font-size: 3.2vw;
font-style: normal;
font-weight: 400;
line-height: 1.6;
letter-spacing: -0.48px;
}
  .detailBox__item__price2 em{
    font-style: normal;
font-weight: 400;
    text-decoration: line-through;
  }
.detailBox__item__price2 strong{
  font-family: var(--font-body-family);
  color: #3F3636;
font-size: 1.8vw;
font-style: normal;
font-weight: 500;
line-height: 130%;
text-decoration: line-through;
}
.detailBox__item__type{
  color: #3F3636;
font-size: 3.4vw;
font-style: normal;
font-weight: 300;
line-height: 150%;
margin-bottom: 5.6vw;
}
.md5-top-two{
  position: relative;
}
.md5_two-txt{
      font-family: var(--font-it-family);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  color: #FFF;
text-align: center;
font-size: 8.8vw;
font-style: normal;
font-weight: 600;
line-height: 150%;
letter-spacing: 2.746px;
text-transform: uppercase;
}
    .md5_bt-tle img{
    width:53.3vw !important;
  }
.atm_md5 .md-top-img{
  width: 68.26666666666667vw;
}
 .atm_md5 .md5-top {
    align-items: flex-end;
}
  .atm_md5 .md5-tle {
    font-weight: 400;
    position: absolute;
    left: 8%;
    z-index: 1;
    top: 24%;
}
   .atm_md5 .md5-tle strong{
     font-weight: 600;
     font-style: normal;
   }
  .md5__inner.atm_md5 svg{
        position: absolute;
    width: auto;
    bottom: 30px;
    left: 0;
  }
@media only screen and (min-width: 768px) {
  .md5-top {
    padding: 90px 40px;
}
.md5-tle {
    font-size: 40px;
    margin-bottom: 48px;
}
.md-top-img {
    width: 350px;
}
.md5-bt {
    padding: 0px 27px 27px
}
.md5__inner img.md5_bt-timg {
    width: 270px;
}
.md_pd-inner {
    padding-bottom: 87px
}
.detailBox__item {
    padding-top: 63px;
    padding-left: 36px;
    margin-left: 78px;
}
.detailBox__item__title {
    margin-bottom: 28px;
}
.detailBox__item__title .jp {
    font-size: 28px;
}
.detailBox__item__title .eng {
    font-size: 18px;
}
.detailBox__item__type {
    font-size: 17px;
    margin-bottom: 28px;
}
.detailBox__item__price {
    gap: 13px;
}
.detailBox__item__price1 {
    font-size: 32px;
}
.detailBox__item__price1 strong {
    font-size: 16px;
}
.detailBox__item__price2 {
    font-size: 16px;
}
.detailBox__item__price2 strong {
    font-size: 9px;
}
.md5_two-txt {
    font-size: 44px;
}
    .md5_bt-tle img{
    width:266px!important;
  }
  .md_pd-bg{
        font-size: 26px;
  }
  .atm_md5 .md-top-img{
  width: 340px;
}
}
/* md5__inner end*/
  
  .md2_right{
      margin-top:3.46vw;
  }
    .md2_right .product-form-wrapper{
    margin-top:0;
  }
.md2_right .product-form__submit {
    color: #fff;
    height: 8vw;
    border-radius: 4vw;
    background: #9A8157;
    border-color: #9A8157;
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    min-height: auto;
    max-height: none;
    padding: 1.86vw;
      min-width: auto;
    width: 31vw;
}
  .md2_right .product-form__submit:hover{
      border-color: var(--color-button-gradient);
}
    .md2_right .product-form__submit.button:hover:after{
     border-color: var(--color-button-gradient);
  }
   .md2_right .product-form__submit.button:after{
    border-color:#9A8157;
    border-radius: 4vw;
  }
   .md2_right .buy_btn{
     border-radius: 4vw;
border: 1px solid #9A8157;
     text-align: center;
font-size: 3.2vw;
font-style: normal;
font-weight: 400;
line-height: 130%;
         display: flex;
    align-items: center;
    justify-content: center;
     color: #9A8157;
         padding: 0 6.6vw;
      width: 31vw;
   }
   .md2_right .buy_btn:hover{
     background:#9A8157;
        color: #FFF;
   }
  .md2_right{
    display: flex;
    gap: 2.1vw;
  }
  @media only screen and (min-width: 768px) {
  .md2_right{
      margin-top:17px;
    gap: 10px;
  }
.md2_right .product-form__submit {
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    padding: 9px;
    width: 155px;
}
   .md2_right .product-form__submit.button:after{
   border-radius: 20px;
  }
   .md2_right .buy_btn{
    border-radius: 20px;
font-size: 16px;
    padding: 0 33px;
      width: 155px;
   }
}
</style>
  <section>
    <div class="md5__inner{% if section.settings.image_position == 'right' %} with-img--reverse{% endif %}{% if section.settings.custom_class != blank %} {{ section.settings.custom_class }}{% endif %}">
    
      <div class="md_pd-inner section-{{ section.id }}-padding">
         {%- if section.settings.top_txt != blank -%}
        <div class="md_pd-bg to-top">{{ section.settings.top_txt }}</div>
        {%- endif -%}
        <div class="pd_img to-right-bg">
          {%- if section.settings.image -%}
         <img src="{{ section.settings.image | image_url }}" alt="">
        {%- endif -%}
        </div>

        <div class="detailBox__item">
          <div class="detailBox__item__title"> 
            <div class="jp js-observer"><p>{{ section.settings.tle }}</p></div>
            <div class="eng js-observer"><p>{{ section.settings.subtle }}</p></div>
          </div>
          <div class="detailBox__item__type to-top"  style="transition-delay: 0.1s"> 
         {{ section.settings.cnt }}
          </div>
         <div class="detailBox__item__price to-top"  style="transition-delay: 0.2s">
          <div class="detailBox__item__price1">{{ section.settings.price1 }}</div>
          <div class="detailBox__item__price2">{{ section.settings.price2 }}</div>
         </div>




            <div class="md2_right to-top"  style="transition-delay: 0.3s">

                      
     {%- assign assign product_form_id = 'ProductForm-' | append: section.id -%}
     {%- assign product = section.settings.product -%}
                        {%- if section.settings.add_bt_txt != blank -%}
       <div class="product-form-wrapper product-form-wrapper-cus" {{ section.shopify_attributes }}>
                    {%- liquid
                      assign gift_card_recipient_feature_active = false
                      if section.settings.show_gift_card_recipient and product.gift_card?
                        assign gift_card_recipient_feature_active = true
                      endif
                    -%}
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form',
                      data-hide-errors: gift_card_recipient_feature_active,
                      class: 'product-form grid gap-8',
                      is: 'product-form'
                    -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled />
                  
                      {%- liquid
                        if gift_card_recipient_feature_active
                          render 'gift-card-recipient-form', product: product, form: form, section_id: section_id
                        endif
                  
                        assign check_against_inventory = true
                        if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
                          assign check_against_inventory = false
                        endif
                        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                          assign quantity_rule_soldout = true
                        endif
                      -%}
                  
                      <div class="product-form__buttons grid gap-4">
                        <div class="product-form__error-message alert alert--error text-sm font-medium leading-tight" role="alert" hidden></div>
                        <div class="flex gap-4">
                          <button
                            type="submit"
                            name="add"
                            form="{{ product_form_id }}"
                            class="product-form__submit button button--secondary button--fixed w-full mt-2"
                            is="hover-button"
                            {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %} disabled{% endif -%}
                            {%- if product.template_suffix == 'pre-order' %} data-pre-order="true"{% endif -%}
                          >
                            <span class="btn-fill" data-fill></span>
                            <span class="btn-text">
                              {%- liquid
                                if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                                  echo 'products.product.sold_out' | t
                                elsif product.template_suffix != 'pre-order'
                                  echo 'products.product.add_to_cart_custom' | t
                                else
                                  echo 'products.product.pre_order' | t
                                endif
                              -%}
                            </span>
                          </button>
                        </div>
                  
                      </div>
                    {%- endform -%}
                  </div>

              {%- endif -%}
             {%- if section.settings.buy_txt != blank -%}
            <a href="{{ section.settings.buy_link_url }}" class="buy_btn">
             {{ section.settings.buy_txt }}
            </a>
            {%- endif -%}
              </div>




          
        </div>


      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Brand Md7",
  "class": "shopify-section--brand-md7", 
  "settings": [
      {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
     {
      "type": "select",
      "id": "image_position",
      "label": "Desktop image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
      {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
     {
      "type": "richtext",
      "id": "top_txt",
      "label": "Text Top"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
      {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
     {
      "type": "text",
      "id": "subtle",
      "label": "subTitle"
    },
     {
      "type": "richtext",
      "id": "cnt",
      "label": "Product Descripte"
    },
    {
      "type": "richtext",
      "id": "price1",
      "label": "Price 1"
    },
     {
      "type": "richtext",
      "id": "price2",
      "label": "Price 2"
    },
          {
      "type": "text",
      "id": "add_bt_txt",
      "label": "Add Button Text"
    },
    {
      "type": "text",
      "id": "buy_txt",
      "label": "Buy Button Text"
    },
            {
      "type": "url",
      "id": "buy_link_url",
      "label": "Buy Button Link"
    },
      {
      "type": "color_background",
      "id": "background",
      "label": "Background",
      "default": "#F3F0E9"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Brand Md7"
    }
  ]
}
{% endschema %}