{%- liquid
  assign se_id = section.id
  assign se_bks = section.blocks
  assign se_stts = section.settings
-%}

<div class=" brand_buy_{{se_id}}">
  <div class="container">
    <div class="title">{{ se_stts.title }}</div>
    <div class="box-store">
      <div class="name">{{ se_stts.one_info }}</div>
      <div class="image-list">
        <a
          class="item"
          target="_blank"
          href="https://www.amazon.co.jp/stores/page/B7A5B586-697F-465C-91D0-7472D34EC918?channel=brandambassadord"
        >
          <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/Amazon-logo-RGB_1.jpg?v=1702281797">
        </a>
        <a class="item" target="_blank" href="https://www.rakuten.ne.jp/gold/ulike-store/">
          <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/Rakuten_3x_1.jpg?v=1702281797">
        </a>
      </div>
    </div>
    <div class="box-store">
      <div class="name two-name">{{ se_stts.two_info }}</div>
      <div class="image-list four-item">
        {%- for block in se_bks -%}
          {%- assign item = block.settings -%}
          {% if block.type == 'item' %}
            <a class="item" href="{{ item.url }}" target="_blank">
              {{ item.image | image_url: width: item.image.width | image_tag: loading: 'lazy' -}}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <p class="tips">※一部店舗ではお取り扱いのない場合がございます</p>
  </div>
</div>
<style>
  .brand_buy_{{se_id}} {
    padding: 80px 0px;
    background: #F3F3F3;
  }
  .brand_buy_{{se_id}} .title {
    color: #000;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 42px;
    font-weight: 500;
  }
  .brand_buy_{{se_id}} .box-store {
    text-align: center;
    padding: 40px 0px;
  }
  .brand_buy_{{se_id}} .box-store .name{
    color: #000;
    text-align: center;
    font-family: Noto Sans JP;
    font-size: 28px;
    font-weight: 500;
    {% comment %} letter-spacing: 12.5px; {% endcomment %}
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .brand_buy_{{se_id}} .box-store .name::before,.brand_buy_{{se_id}} .box-store .name::after{
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.5px;
      position: absolute;
      background: #ccc;
      top: 50%;
  }
  .brand_buy_{{se_id}} .box-store .name::before{
      margin-left: -20px;
      transform: translateX(-100%);
  }
  .brand_buy_{{se_id}} .box-store .name::after{
      margin-left: 20px;
  }

  .brand_buy_{{se_id}} .box-store .two-name {
    letter-spacing: 10px;
  }

  .brand_buy_{{se_id}} .box-store .image-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px;
    gap: 20px;
  }
  .brand_buy_{{se_id}} .box-store .four-item {
    grid-template-columns: repeat(4, 22%);
    gap: 20px;
    padding-bottom: 0px;
  }
  .brand_buy_{{se_id}}  .tips {
    color: rgba(0, 0, 0, 0.50);
    text-align: left;
    font-family: Noto Sans JP;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    padding-left: 5%;
  }

  @media screen and (max-width: 720px) {
    .brand_buy_{{se_id}} {
      padding: 40px 0px 20px;
      background: #F3F3F3;
    }
    .brand_buy_{{se_id}} .title {
      font-size: 22px;
    }
    .brand_buy_{{se_id}} .box-store {
      padding: 30px 0px 0px;
    }
    .brand_buy_{{se_id}} .box-store .name{
      font-size: 18px;
      letter-spacing: 0px;
    }
    .brand_buy_{{se_id}} .box-store .two-name {
      letter-spacing: 10px;
    }
    .brand_buy_{{se_id}} .box-store .image-list {
      padding: 20px 20px 0px;
      gap: 15px;
    }
    .brand_buy_{{se_id}} .box-store .image-list img{
      width: 80%;
    }
    .brand_buy_{{se_id}} .box-store .four-item {
      grid-template-columns: repeat(4, 20%);
    }
    .brand_buy_{{se_id}} .box-store .four-item img{
      width: 100%;
    }
    .brand_buy_{{se_id}}  .tips {
      font-size: 12px;
      letter-spacing: 0px;
      transform: scale(0.8);
      padding-left: 0px;
    }
  }
</style>
{% schema %}
{
  "name": "brand buy block",
  "class": "s-Video block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "标题"
    },
    {
      "type": "color",
      "id": "f_color",
      "label": "标题颜色"
    },
    {
      "type": "textarea",
      "id": "one_info",
      "label": "副标题1"
    },
    {
      "type": "textarea",
      "id": "two_info",
      "label": "副标题2"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "图片"
        },
        {
          "type": "text",
          "id": "url",
          "label": "链接"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "brand-Buy Block",
      "blocks": []
    }
  ]
}
{% endschema %}
