<style>
/* md6__inner start*/
     #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color }};
    --section-background: {{ section.settings.background }};
    /* background:var(--section-background); */
    background:  {% if section.settings.bg_image != blank %}url('{{ section.settings.bg_image | image_url  }}') {% endif %} var(--section-background); no-repeat 100% 100%;
    background-size: cover;
  }
/* md9__container start */
.md9__container{
  padding: 50px 20px;
    /* background: #25282D; */
}
.md9-wrapper .md9_bt-box {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.bt-box_sanjiao {
    position: absolute;
    width: 100%;
    background: #E0004D;
    color: #FBFAF4;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 20px;
    clip-path: polygon(0 0, 100% 0, 94% 50%, 100% 100%, 0 100%, 6% 50%);
    top: -20px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
}
.md9_bt-box .md9_bt-bd {
    border: 3px solid #E0004D;
    background: rgba(255, 255, 255, 0.95);
    padding: 44px 20px 40px 20px;
}
.md9_bt-bd .md9_bt-bd1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}
.md9_bt-bd .md9_bt-bd1 .md9_bd1-price1 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.md9_bt-bd .md9_bt-bd1 .md9_bd1-price2 {
    color: #000;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
   position: relative;
}
.md9_bt-bd .md9_bt-bd1 .md9_bd1-price2::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background: #E0004D;
    transform: rotate(-6deg);
    left: 0;
    top: 50%;
}
.md9_bt-bd .md9_bt-bd1 .md9_bd1-price2 strong {
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.md9_bt-bd .md9_bt-bd2 .md9_bd2-price {
    color: #190A0A;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   line-height: 1;
   position: relative;
  margin-top:15px;
}
  .md9_bt-bd .md9_bt-bd2 .md9_bd2-price::before {
    content: '';
    position: absolute;
    width: 78%;
    height: 11px;
    background: #E0004D;
    left: 0;
    bottom: 2px;
    mix-blend-mode: multiply;
}
.md9_bt-bd .md9_bt-bd2 .md9_bd2-price strong {
    color: #190A0A;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* md9__container end */
</style>
  <section>
   <div class="md9-wrapper">
      <div class="md9__container">
        <div class="md9_bt-box to-top">
          <div class="bt-box_sanjiao">{{ section.settings.tle }}</div>
          <div class="md9_bt-bd">
            <div class="md9_bt-bd1">
              <div class="md9_bd1-price1">{{ section.settings.price_label }}</div>
              <div class="md9_bd1-price2">{{ section.settings.price }}</div>
            </div>
            <div class="md9_bt-bd2">
              <div class="md9_bd2-price">{{ section.settings.origin_price }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Donki Md8",
  "class": "shopify-section--donki-md8", 
  "settings": [
     {
      "type": "richtext",
      "id": "tle",
      "label": "Title"
    },
       {
      "type": "richtext",
      "id": "price_label",
      "label": "Price Label"
    },
      {
      "type": "richtext",
      "id": "price",
      "label": "Price"
    },
     {
      "type": "richtext",
      "id": "origin_price",
      "label": "Origin Price"
    },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
      {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F9F8F6"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Donki Md8"
    }
  ]
}
{% endschema %}