<style>
        {%- liquid
          assign product_form_id = 'ProductForm-' | append: section.id
          assign product = section.settings.product
        -%}
          #shopify-section-{{ section.id }} {
          --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
          --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
          --color-border: 255, 255, 255;
          /* background: rgb(var(--section-background, var(--background))); */
        }
        .section-{{ section.id }}-padding {
            padding-top: calc({{ section.settings.padding_top }}px);
            padding-bottom: calc({{ section.settings.padding_bottom }}px);
          }
          @media screen and (max-width: 768px){
          .section-{{ section.id }}-padding {
            padding-top: calc({{ section.settings.padding_top }}px * 0.6);
            padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
          }
        }
        /* father-module3 start*/
      .father-module3 {
        background: #3A4350;
      }
      .father-module3-bix{
        border-radius: 10px;
      background: #F4F4F4;
      padding: 80px 81px 30px 60px;
      }
      .father-module3-box{

      }
      .fa-module3-left{
        flex: 1;
      }
      .fa-module3-top{
        display: flex;
        width: 100%;
        /* gap: 30px; */
      }
      .fa-module3-right {
        position: relative;
        padding-right: 66px;
      }
      .off_box{
        position: absolute;
        width: 142px;
      height: 146px;
      flex-shrink: 0;
      color: #FFF;
      text-align: center;
      font-size: 55px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.1;
      border-radius: 50%;
      background: #E0004D;
      top: -50px;
      right: -50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      }
      .off_box span{
        font-size: 30px;
      }
      .off_box {
        font-size: 30px;
      }
      .fa-module3-right img{
        max-width: 160px;
      }
      .fa-module3-left img{
        max-width: 502px;
      }
      .fa-module3-left h3{
        margin-top: 28px;
        margin-bottom: 38px;
        color: #3A5987;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      }
      .fa-module3-left ul{
        color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 200%;
      max-width: 424px;
      }
      .fa-module3-left ul li{
        background: #D9D9D9;
        padding: 0 32px;
        margin-bottom: 11px;
      }


      .father-module3-box .module_price-box {
          display: flex;
          gap: 25px;
          align-items: center;
          margin-top: 25px;
          margin-bottom: 42px;
      }
      .father-module3-box .price_left-top span {
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
      }
      .father-module3-box .price_left .price_left-bt {
          color: #000;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          margin-top: 10px;
      }
      .father-module3-box .module_price-box .price_right {
          color: #E0004D;
          font-size: 55.41px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
      }
      .fa-module3-btn {
        display: flex;
        gap: 37px;
      }
      /* .fa-module3-btn a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 34px;
      border: 1px solid #000;
      flex-shrink: 0;
      color: #000;
      text-align: center;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      padding: 10px 90px;
      flex: 1;
      } */
      .fa-module3-note{
        color: #000;
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5;
      margin-top: 30px;
      }
    .product_bt-2{
       display: flex;
      gap: 37px;
      margin-top: 40px;
          width: 100%;
    }
    .product_bt-2 .product-form{
          flex: 48%;
    }
    .product_bt-2 .buy_btn{
          flex: 48%;
          display: flex;
      align-items: center;
      justify-content: center;
          color: #000;
      border-color:#000;
    }
  .product_bt-2 .buy_btn:hover{
    color:#fff;
  }
      .product_bt-2  .button .btn-text{
        font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
      }

    .product_btn-custom-second .button:after{
      border: 1px solid #000;
    }
   .product_btn-custom-second .button, .product_btn-custom-second .button--secondary{
      color: #000;
    }
  .off_box span.discount_custy{
    font-size: 55px;
  }
      @media (max-width: 767px) {
        .father-module3-bix{
          padding: 25px;
        }
        .fa-module3-left{
          text-align: center;
        }
        .fa-module3-left img{
          max-width: 250px;
          margin: 0 auto;
        }
        .fa-module3-left h3{
          font-size: 16px;
          margin: 15px 0;
          text-align: center;
        }
        .fa-module3-left ul{
          margin: 0 auto;
          font-size: 14px;
        }
        .fa-module3-btn{
          flex-direction: column;
          gap: 20px;
        }
        .fa-module3-btn a{
          font-size: 14px;
        }
        .father-module3-box .module_price-box {
          margin-top: 20px;
          margin-bottom: 20px;
          justify-content: center;
          gap: 10px;
      }
      .father-module3-box .price_left-top span{
        font-size: 10px;
      }
      .father-module3-box .price_left .price_left-bt{
        font-size: 13px;
      }
      .father-module3-box .module_price-box .price_right{
        font-size: 27px;
      }
      .price_left-top svg{
        max-width: 38px;
      }
      .fa-module3-top{
        flex-direction: column;
      }
      .fa-module3-right{
        width: fit-content;
        margin: 30px auto;
            padding-right: 0px;
      }
      .fa-module3-right img{
        max-width: 100px;
      }
      .off_box{
        width: 71px;
      height: 71px;
      font-size: 27px;
      left: -100%;
      top: 10%;
      }
      .off_box span{
        font-size: 15px;
      }
      .off_txt{
        font-size: 15px;
      }
        .product_bt-2 {
      flex-direction: column;
                  gap: 20px;
  }
        .product_bt-2 .button .btn-text{
           font-size: 15px;
        }
        .product_bt-2 .buy_btn{
              flex: auto;
        }
        .fa-module3-left ul li{
          text-align: left;
          padding:0 20px;
        }
         .off_box span.discount_custy{
    font-size: 26px;
  }
      }
      .destok_visible{
      display: none;
    }
    @media (max-width: 767px) {
      .mobile_hidden{
      display: none;
    }
    .destok_visible{
      display: block;
    }
    }
      /* father-module3 end*/
</style>
<section>
  <div class="father-module3 section-{{ section.id }}-padding">
    <div class="father-module-container">
      <div class="father-module3-bix to-top" style="transition-delay: 0.3s;">
        <div class="father-module3-box">
          <div class="fa-module3-top">
            <div class="fa-module3-left">
              <img src="{{ section.settings.image_tle | image_url }}" alt="">
              <h3>{{ section.settings.sub_tle }}</h3>
              <div class="fa-module3-right destok_visible">
                <img src="{{ section.settings.image | image_url }}" alt="">
                <div class="off_box">
                  <div>
                    <span class="discount_custy">{{ section.settings.discount_1 }}</span>
                    <span>{{ section.settings.discount_2 }}</span>
                  </div>
                  <div class="off_txt">{{ section.settings.discount_3 }}</div>
                </div>
              </div>
              <div class="md3_ul">
                {{ section.settings.md_ul }}
              </div>
              <div class="module_price-box">
                <div class="price_left">
                  <div class="price_left-top">
                    <span>{{ section.settings.price_name }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="16" viewBox="0 0 64 16" fill="none">
                      <path d="M63.7071 8.70711C64.0976 8.31658 64.0976 7.68342 63.7071 7.29289L57.3431 0.928932C56.9526 0.538408 56.3195 0.538408 55.9289 0.928932C55.5384 1.31946 55.5384 1.95262 55.9289 2.34315L61.5858 8L55.9289 13.6569C55.5384 14.0474 55.5384 14.6805 55.9289 15.0711C56.3195 15.4616 56.9526 15.4616 57.3431 15.0711L63.7071 8.70711ZM0 9L63 9V7L0 7L0 9Z" fill="#000"></path>
                    </svg>
                  </div>
                  <div class="price_left-bt">
                    <span> {{ section.settings.price_1 }}</span>
                    <span> {{ section.settings.price_2 }} </span> <span>{{ section.settings.price_3 }}</span>
                  </div>
                </div>
                <div class="price_right">
                  <span> {{ section.settings.price_4 }}</span>
                  <span> {{ section.settings.price_2 }} </span> <span>{{ section.settings.price_3 }}</span>
                </div>
              </div>
            </div>
            <div class="fa-module3-right mobile_hidden">
              <img src="{{ section.settings.image | image_url }}" alt="">
              <div class="off_box">
                <div>
                  <span class="discount_custy">{{ section.settings.discount_1 }}</span>
                  <span>{{ section.settings.discount_2 }}</span>
                </div>
                <div class="off_txt">{{ section.settings.discount_3 }}</div>
              </div>
            </div>
          </div>
          <div class="fa-module3-btn">
            {%- if section.settings.add_bt_txt != blank -%}
              <div class="product_bt-2 product_btn-custom-second" {{ block.shopify_attributes }}>
                {%- liquid
                  assign gift_card_recipient_feature_active = false
                  if block.settings.show_gift_card_recipient and product.gift_card?
                    assign gift_card_recipient_feature_active = true
                  endif
                -%}
                {%- form 'product',
                  product,
                  id: product_form_id,
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form',
                  data-hide-errors: gift_card_recipient_feature_active,
                  class: 'product-form grid gap-8',
                  is: 'product-form'
                -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>

                  {%- liquid
                    if gift_card_recipient_feature_active
                      render 'gift-card-recipient-form', product: product, form: form, section_id: section_id
                    endif

                    assign check_against_inventory = true
                    if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                      assign check_against_inventory = false
                    endif
                    if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                      assign quantity_rule_soldout = true
                    endif
                  -%}

                  <div class="product-form__buttons grid gap-4">
                    <div
                      class="product-form__error-message alert alert--error text-sm font-medium leading-tight"
                      role="alert"
                      hidden
                    ></div>
                    <div class="flex gap-4">
                      <button
                        type="submit"
                        name="add"
                        form="{{ product_form_id }}"
                        class="product-form__submit button button--secondary button--fixed w-full mt-2"
                        is="hover-button"
                        {%- if product.selected_or_first_available_variant.available == false
                          or quantity_rule_soldout
                        %}
                          disabled
                        {% endif -%}
                        {%- if product.template_suffix == 'pre-order' %}
                          data-pre-order="true"
                        {% endif -%}
                      >
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- liquid
                            if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                              echo 'products.product.sold_out' | t
                            elsif product.template_suffix != 'pre-order'
                              echo 'products.product.add_to_cart' | t
                            else
                              echo 'products.product.pre_order' | t
                            endif
                          -%}
                        </span>
                      </button>
                    </div>
                  </div>
                {%- endform -%}
                {%- if section.settings.buy_txt != blank -%}
                  <a href="{{ section.settings.buy_link_url }}" class="buy_btn">
                    {{ section.settings.buy_txt }}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="fa-module3-note">{{ section.settings.note }}</div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Father Module3",
  "class": "shopify-section--father-module3",
  "settings": [
     {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
     {
          "type": "image_picker",
          "id": "image_tle",
          "label": "Images Title"
        },
 {
      "type": "text",
      "id": "sub_tle",
      "label": "Title"
    },
   {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },

    {
      "type": "text",
      "id": "discount_1",
      "label": "Discount 1"
    },
    {
      "type": "text",
      "id": "discount_2",
      "label": "Discount 2"
    },
    {
      "type": "text",
      "id": "discount_3",
      "label": "Discount 3"
    },
     {
      "type": "richtext",
      "id": "md_ul",
      "label": "Content Ul"
    },

     {
      "type": "text",
      "id": "price_name",
      "label": "Price Name"
    },

     {
      "type": "text",
      "id": "price_1",
      "label": "Price 1"
    },
     {
      "type": "text",
      "id": "price_2",
      "label": "Price 2"
    },
     {
      "type": "text",
      "id": "price_3",
      "label": "Price 3"
    },
     {
      "type": "text",
      "id": "price_4",
      "label": "Price 4"
    },
     {
      "type": "text",
      "id": "add_bt_txt",
      "label": "Add Button Text"
    },
    {
      "type": "text",
      "id": "buy_txt",
      "label": "Buy Button Text"
    },
    {
      "type": "url",
      "id": "buy_link_url",
      "label": "Buy Button Link"
    },
     {
      "type": "text",
      "id": "note",
      "label": "Note"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [

      ],
  "presets": [
    {
      "name": "Father Module3"
    }
  ]
}
{% endschema %}
