<style>
      #shopify-section-{{ section.id }} {
      --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
      --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
      --color-border: 255, 255, 255;
      /* background: rgb(var(--section-background, var(--background))); */
    }
      .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px);
      padding-bottom: calc({{ section.settings.padding_bottom }}px);
    }
    @media screen and (max-width: 768px){
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.6);
      padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
    }
  }
</style>
<section>
  <div class="father-md2 section-{{ section.id }}-padding">
    <div class="father-module-container">
      <div class="father_module2-center to-top" style="transition-delay: 0.3s;">
        <div class="module2_center1">
          <h3>{{ section.settings.tle }}</h3>
          <div class="module2_cnt-box">
            <div class="module2_cnt-img">
              <picture>
                {%- if section.settings.image_mobile -%}
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                    width="{{ section.settings.image_mobile.width }}"
                    height="{{ section.settings.image_mobile.height }}"
                  >
                {%- endif -%}
                {%- if section.settings.image -%}
                  {{-
                    section.settings.image
                    | image_url: width: section.settings.image.width
                    | image_tag:
                      loading: 'eager',
                      sizes: '100vw',
                      widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                      class: 'trade_banner__image'
                  -}}
                {%- endif -%}
              </picture>
            </div>
            <div class="module2_cnt-img">
              <picture>
                {%- if section.settings.image_mobile1 -%}
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ section.settings.image_mobile1 | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile1 | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile1 | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile1 | image_url: width: '1000x' }} 1000w"
                    width="{{ section.settings.image_mobile1.width }}"
                    height="{{ section.settings.image_mobile1.height }}"
                  >
                {%- endif -%}
                {%- if section.settings.image1 -%}
                  {{-
                    section.settings.image1
                    | image_url: width: section.settings.image1.width
                    | image_tag:
                      loading: 'eager',
                      sizes: '100vw',
                      widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                      class: 'trade_banner__image'
                  -}}
                {%- endif -%}
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="father_module2-bt to-top" style="transition-delay: 0.3s;">
        <div class="module2_bt-box">
          <h3>{{ section.settings.tle1 }}</h3>
          <div class="module2_bt-cnt">
            <div class="bt_cnt-left">
              <picture>
                {%- if section.settings.avtor_image_mobile -%}
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ section.settings.avtor_image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.avtor_image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.avtor_image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.avtor_image_mobile | image_url: width: '1000x' }} 1000w"
                    width="{{ section.settings.avtor_image_mobile.width }}"
                    height="{{ section.settings.avtor_image_mobile.height }}"
                  >
                {%- endif -%}
                {%- if section.settings.avtor_image -%}
                  {{-
                    section.settings.avtor_image
                    | image_url: width: section.settings.avtor_image.width
                    | image_tag:
                      loading: 'eager',
                      sizes: '100vw',
                      widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                      class: 'trade_banner__image'
                  -}}
                {%- endif -%}
              </picture>
              <div class="bt_cnt-ltct">
                <h4>{{ section.settings.avtor_name }}</h4>
                <div class="cnt_xt">{{ section.settings.avtor_txt }}</div>
              </div>
            </div>
            <div class="bt_cnt-right">
              {{ section.settings.txt }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Father Module2-1",
  "class": "shopify-section--father-module2",
  "settings": [
 {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
   {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },

     {
          "type": "image_picker",
          "id": "image1",
          "label": "Images1"
        },
     {
          "type": "image_picker",
          "id": "image_mobile1",
          "label": "Mobile Images1"
        },

     {
      "type": "text",
      "id": "tle1",
      "label": "Title1"
    },

      {
          "type": "image_picker",
          "id": "avtor_image",
          "label": "Avtor Images"
        },
     {
          "type": "image_picker",
          "id": "avtor_image_mobile",
          "label": "Mobile Avtor Images"
        },

    {
      "type": "richtext",
      "id": "avtor_name",
      "label": "Avtor Name"
    },
      {
      "type": "richtext",
      "id": "avtor_txt",
      "label": "Avtor Text"
    },
    {
      "type": "richtext",
      "id": "txt",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [

      ],
  "presets": [
    {
      "name": "Father Module2-1"
    }
  ]
}
{% endschema %}
