<style>
                  {%- liquid
                assign product_form_id = 'ProductForm-' | append: section.id
                assign product = section.settings.product
              -%}
                  #shopify-section-{{ section.id }} {
                  --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
                  --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
                  --color-border: 255, 255, 255;
                  /* background: rgb(var(--section-background, var(--background))); */
                }
                /* module1 start*/
              .father_module1{
                position: relative;
              }
              .picture_box{
                position: relative;
                  width: 100%;
                  height: 100%;
              }
              .father_module1 .picture_box picture img, .father_module1 .picture_box picture{
              display: block;
              width: 100%;
              object-fit: cover;
              object-position: center;
              min-height:620px;
              }
              .module1_container{
                --container-max-width: 1250px;
                --container-gutter: 40px;
                width: 100%;
                  max-width: var(--container-max-width);
                  margin-left: auto;
                  margin-right: auto;
                  padding-left: var(--container-gutter);
                  padding-right: var(--container-gutter);
              }
              .module1_container-layer{
                display: flex;
                align-items: center;
                position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
              }
              .father_module1_cnt{
                margin-left: 50%;
                text-align: right;
              }
              .father_module1_cnt .sub_tle{
                color: #FFF;
              /* text-align: center; */
              font-size: 28px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 10px;
              }
              .father_module1_cnt .tle{
                display: flex;
                gap: 10px;
                margin-bottom: 40px;
                justify-content: center;
              }
              .father_module1_cnt .module_price-box{
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
                    max-width: 410px;
      margin-left: auto;
              }
              .price_left-top span{
                color: #FFF;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              }
              .price_left .price_left-bt{
                color: #FFF;
              font-size: 26px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              margin-top: 10px;
              letter-spacing: -1px;
              }

              .price_left .price_left-bt span:nth-child(1),.module_price-box .price_right span:nth-child(1){
                font-family: var(--font-it-family);
            }
              .price_left .price_left-bt span:nth-child(3){
              font-size: 18px;
            }
              .module_price-box .price_right{
                color: #E0004D;
              font-size: 55.41px;
              font-style: normal;
              font-weight: 500;
              line-height: 130%;
                letter-spacing: -3px;
              }
            .module_price-box .price_right span:nth-child(2){
            font-size: 26px;
          }
             .module_price-box .price_right span:nth-child(3){
            font-size: 16px;
            letter-spacing: -1px;
          }
          .price_left-top{
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .buy_btn{
          display:flex;
          color: #fff;
      text-align: center;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
          border-radius: 34px;
      border: 1px solid #fff;
          padding: 10px 20px;
              align-items: center;
      justify-content: center;
        }
      .product_btn-cus{
        display: flex;
        gap: 20px;
         flex-direction: column;
        margin-top: 50px;
      }
       .buy_btn:hover{
          background: #e0004d;
         color: #fff;
       }
      .product_btn-cus .button .btn-text{
        font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
      }

      .product_btn-custom .button:after{
        border: 1px solid #FFF;
      }
     .product_btn-custom .button, .product_btn-custom .button--secondary{
        color: #FFF;
      }
    .product_btn-custom .button--secondary .btn-fill{
      /* background: #000;
      background-color: #000; */
    }
    .module2_container{
          --container-max-width: 980px;
      --container-gutter: 40px;
      width: 100%;
      max-width: var(--container-max-width);
      margin-left: auto;
      margin-right: auto;
      padding-left: var(--container-gutter);
      padding-right: var(--container-gutter);
    }
    .product_btn-cus.product_btn-custom {
      max-width: 410px;
      margin-left: auto;
  }
              @media (max-width: 767px) {
                .product_btn-cus.product_btn-custom{
                   max-width: 100%;
                   margin: 0 auto;
                }
                .module_price-box .price_right span:nth-child(2){
                  font-size: 13px;
                }
                .module_price-box .price_right span:nth-child(3),.price_left .price_left-bt span:nth-child(3){
                  font-size: 10px;
                }
                .father_module1_cnt{
                  margin-left: 0;
                  padding-bottom: 20px;
                  text-align: center;
                }
                .father_module1_cnt .sub_tle{
                  font-size: 14px;
                  margin-bottom: 0;
                }
                .father_module1_cnt .tle {
                  max-width: 200px;
                  margin:  0 auto;
                  padding-bottom: 20px;
              }
              .father_module1_cnt .module_price-box{
                flex-direction: column;
                      gap: 5px;
                      position: absolute;
                      top: 32%;
                      left: 35px;
                      transform: translate(0px, -50%);
                      align-items: flex-start;
              }
              .price_left-top span {
                  font-size: 10px;
              }
              .price_left .price_left-bt{
                font-size: 13px;
                text-align: left;
                margin-top:1px;
              }
              .module_price-box .price_right{
                font-size: 27px;
                letter-spacing: -1px;
              }
              .price_left-top{
                display: flex;
                align-items: center;
                gap: 5px;
              }
              .father_module1 .module1_container-layer{
              align-items: flex-end;
              }
                .product-form .flex.gap-4{
                      height: 31px;
                }
                .product_btn-cus .button .btn-text{
                 font-size: 15px;
                }
                .buy_btn{
                   height: 31px;
                   font-size: 15px;
                  padding:0 20px;
                }
                .product_btn-cus{
                  margin-top: 0px;
                }
                 .module2_container{;
      --container-gutter: 20px;
    }
                 .father_module1 .picture_box picture img, .father_module1 .picture_box picture{
                   min-height:auto;
                 }
              }
              /* module1 end*/
</style>
<section>
  <div class="father_module1">
    <div class="picture_box">
      <picture>
        {%- if section.settings.image_mobile -%}
          <source
            media="(max-width: 767px)"
            srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
            width="{{ section.settings.image_mobile.width }}"
            height="{{ section.settings.image_mobile.height }}"
          >
        {%- endif -%}
        {%- if section.settings.image -%}
          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              loading: 'eager',
              sizes: '100vw',
              widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
              class: 'trade_banner__image'
          -}}
        {%- endif -%}
      </picture>
    </div>
    <div class="module1_container-layer">
      <div class="module2_container">
        <div class="father_module1_cnt">
          <div class="sub_tle to-top" style="transition-delay: 0.1s;">{{ section.settings.subheading }}</div>
          <div class="tle to-top" style="transition-delay: 0.2s;">
            <svg xmlns="http://www.w3.org/2000/svg" width="249" height="33" viewBox="0 0 249 33" fill="none">
              <path d="M73.641 0.459473H64.9602V6.6512H73.641V0.459473Z" fill="white"/>
              <path d="M73.6132 10.7744H65.0297V31.9452H73.6132V10.7744Z" fill="white"/>
              <path d="M57.6128 0.459473H49.0292V31.9453H57.6128V0.459473Z" fill="white"/>
              <path d="M81.1274 0.459473V31.9589H89.5166V17.9396L106.225 31.9589H115.406V31.7696L96.8918 15.8306L114.837 2.51437V2.33862H104.795L89.5166 13.8163V0.459473H81.1274Z" fill="white"/>
              <path d="M29.6259 4.33944H32.7232V20.3595C32.6537 25.4968 28.3203 28.6197 23.709 28.6197C19.0978 28.6197 14.7643 25.5103 14.6949 20.3595V0.459473H0L2.80564 4.33944H5.90295V20.0756C5.90295 29.2686 15.1532 32.9322 23.709 32.9052C32.2648 32.9322 41.5151 29.2686 41.5151 20.0756V0.459473H26.8202L29.6259 4.33944Z" fill="white"/>
              <path d="M122.434 14.4383L122.462 14.1138C123.115 10.0581 126.393 5.8131 132.254 5.8131C138.115 5.8131 141.365 10.5718 141.726 14.1138V14.4383H122.434ZM145.213 6.05645C142.004 3.0417 137.185 1.35182 132.282 1.45997C126.531 1.56812 121.67 3.31208 118.253 6.48906C115.198 9.34158 113.712 13.1404 113.712 17.1826C113.712 21.9008 115.753 26.2674 119.684 29.0794C123.476 31.7967 126.893 32.8918 132.476 32.8918C134.101 32.8918 135.448 32.8106 136.837 32.5808C143.615 31.4858 147.796 27.8897 149.407 23.9421L142.101 23.9151C140.976 25.997 137.657 28.2818 132.393 28.2818C126.462 28.2818 122.698 23.8746 122.365 19.1294H150.032C150.324 13.5866 148.463 9.08471 145.213 6.04293" fill="white"/>
              <path d="M161.185 0.554199H167.755L177.408 22.036C178.227 23.834 178.825 25.4022 179.227 26.7541C179.589 25.4022 180.172 23.834 180.991 22.036L190.644 0.554199H196.992V32.351H191.728V14.0057C191.728 12.0589 191.783 10.369 191.908 8.93601C191.395 10.2879 190.742 11.8696 189.964 13.6542L181.63 32.351H176.644L168.213 13.6542C167.394 11.8561 166.755 10.2879 166.269 8.93601C166.366 10.3825 166.408 12.0724 166.408 14.0057V32.351H161.199V0.554199H161.185Z" fill="white"/>
              <path d="M202.464 15.0333C203.339 13.2353 204.645 11.8023 206.367 10.7343C208.089 9.66625 210.145 9.12549 212.534 9.12549C214.923 9.12549 216.867 9.62569 218.534 10.6261C220.201 11.6265 221.479 12.9514 222.34 14.6142C223.201 16.2771 223.632 18.0751 223.632 20.0218C223.632 20.5761 223.604 21.2521 223.534 22.0497H206.048C206.256 24.1316 206.978 25.7539 208.201 26.903C209.423 28.0522 210.992 28.62 212.895 28.62C214.381 28.62 215.631 28.2955 216.673 27.6466C217.715 26.9977 218.367 26.1054 218.645 24.9563H223.493C223.104 27.4032 221.923 29.2959 219.979 30.6749C218.034 32.0403 215.617 32.7297 212.756 32.7297C210.367 32.7297 208.298 32.189 206.548 31.0939C204.798 30.0124 203.464 28.5659 202.534 26.7678C201.617 24.9698 201.145 23.0231 201.145 20.9006C201.145 18.7781 201.589 16.8313 202.464 15.0333ZM218.326 18.2508C218.201 16.6691 217.631 15.3848 216.631 14.3979C215.617 13.411 214.256 12.9243 212.534 12.9243C210.909 12.9243 209.548 13.3975 208.451 14.3303C207.353 15.2631 206.645 16.5745 206.27 18.2508H218.326Z" fill="white"/>
              <path d="M227.757 9.46331H232.701V13.3433C233.521 12.0184 234.604 10.9774 235.965 10.2339C237.326 9.49035 238.84 9.11182 240.493 9.11182C242.993 9.11182 245.035 9.85536 246.604 11.356C248.174 12.8566 248.966 14.8304 248.966 17.2638V32.3511H244.021V18.3183C244.021 16.8718 243.577 15.6956 242.702 14.7898C241.827 13.884 240.646 13.4244 239.174 13.4244C237.146 13.4244 235.562 14.2085 234.41 15.7902C233.257 17.3584 232.687 19.535 232.687 22.2929V32.3511H227.743V9.46331H227.757Z" fill="white"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="216" height="33" viewBox="0 0 216 33" fill="none">
              <path d="M0.0770264 0.418945H5.35496V32.3374H0.0770264V0.418945Z" fill="white"/>
              <path d="M11.6329 0.418945H25.3694C28.5779 0.418945 31.1335 1.28416 33.0085 3.0146C34.8836 4.74504 35.8281 7.07032 35.8281 9.99043C35.8281 11.8561 35.3975 13.5054 34.5503 14.9654C33.703 16.4255 32.4946 17.5746 30.9113 18.3993C29.3279 19.2239 27.4806 19.643 25.3556 19.643H16.897V32.3509H11.619V0.418945H11.6329ZM28.9251 13.6676C29.9529 12.7348 30.4668 11.5046 30.4668 9.96339C30.4668 8.42222 29.9529 7.20551 28.9251 6.31325C27.8973 5.40747 26.4806 4.96135 24.6889 4.96135H16.9109V15.0601H24.6889C26.4806 15.0601 27.8834 14.6004 28.9251 13.6676Z" fill="white"/>
              <path d="M39.7866 0.418945H45.0645V27.7409H60.8428V32.3509H39.7866V0.418945Z" fill="white"/>
              <path d="M94.4826 29.5928C95.8299 29.5928 96.0104 28.7817 96.191 23.8202C96.9132 24.388 98.3716 24.9828 99.3161 25.2397C98.9133 31.1069 98.0383 32.6616 94.7743 32.6616H89.9408C86.3852 32.6616 85.4407 31.6342 85.4407 28.1733V16.574H79.4405C78.746 24.1041 77.0376 29.8091 67.8152 32.7698C67.454 31.9181 66.4679 30.5797 65.704 29.9443C74.0653 27.4703 75.2598 22.8333 75.8432 16.574H66.5373V13.424H80.8155V0.310547H84.2323V13.4375H98.8022V16.5875H88.8435V28.1868C88.8435 29.3495 89.0658 29.6063 90.3714 29.6063H94.4826V29.5928ZM73.4125 11.7341C72.8292 9.47646 71.093 5.78576 69.3847 3.02788L72.4403 1.93283C74.2181 4.58257 76.0793 8.12456 76.6904 10.4904L73.4125 11.7341ZM96.3716 2.82509C94.8437 5.90743 92.9131 9.40887 91.3853 11.599L88.4824 10.5039C90.0103 8.13808 91.8575 4.42034 92.8437 1.59486L96.3716 2.83861V2.82509Z" fill="white" stroke="white" stroke-width="0.25" stroke-miterlimit="10"/>
              <path d="M124.761 24.1582C127.234 27.5515 131.636 29.2549 138.248 29.7821C137.525 30.5257 136.609 31.9046 136.22 32.8239C128.553 31.9046 123.969 29.3901 121.247 24.334C119.4 28.5789 115.428 31.2963 106.205 32.7563C105.955 31.9046 105.15 30.5662 104.497 29.8227C112.164 28.7952 115.733 26.9972 117.469 24.1582H105.038V21.2922H118.636C118.858 20.4134 118.997 19.4806 119.15 18.4667H105.302V15.5331H119.469V13.0861H108.497V10.2606H119.469V7.89479H106.747V4.96116H113.622C113.08 3.79852 112.164 2.44662 111.261 1.41917L114.205 0.25653C115.441 1.50028 116.678 3.23072 117.15 4.54207L116.164 4.96116H126.122L124.928 4.60966C125.914 3.36591 127.15 1.52732 127.761 0.229492L131.317 1.21638C130.414 2.59533 129.359 3.93371 128.414 4.96116H135.831V7.89479H122.969V10.2606H134.345V13.0861H122.969V15.5331H137.248V18.4667H122.706C122.553 19.4536 122.414 20.4134 122.233 21.2922H137.637V24.1582H124.775H124.761Z" fill="white" stroke="white" stroke-width="0.25" stroke-miterlimit="10"/>
              <path d="M160.985 11.6665C164.804 16.236 170.721 20.116 176.249 22.0627C175.443 22.9144 174.693 24.1176 174.138 25.0639C172.652 24.388 171.054 23.5768 169.485 22.6575V32.6752H166.068V31.6883H152.651V32.7833H149.373V23.0226C147.915 23.8743 146.359 24.6854 144.831 25.3884C144.429 24.6043 143.595 23.3335 142.901 22.6305C148.929 20.1565 154.79 15.56 157.554 11.6665H160.971H160.985ZM147.498 10.22H144.192V3.35233H157.526V0.310547H160.985V3.35233H174.499V10.22H171.082V6.32652H147.498V10.22ZM156.332 8.6518C154.012 11.7341 150.373 14.6948 147.068 16.574C146.595 15.871 145.401 14.5596 144.706 13.9513C147.873 12.4642 151.179 10.0578 153.095 7.5838L156.332 8.6518ZM166.651 20.9001C163.776 18.9533 161.165 16.7903 159.415 14.7489C157.86 16.7362 155.457 18.9263 152.623 20.9001H166.651ZM166.068 28.7817V23.7931H152.651V28.7817H166.068ZM164.443 7.55676C167.61 9.39535 171.707 12.1532 173.707 14.1405L171.193 16.3712C169.304 14.3839 165.304 11.4502 162.04 9.47646L164.443 7.57028V7.55676Z" fill="white" stroke="white" stroke-width="0.25" stroke-miterlimit="10"/>
              <path d="M204.264 16.1007C207 18.3989 210.986 20.3051 215.111 21.292C214.361 21.9139 213.389 23.1171 212.903 23.9552C212.194 23.7795 211.514 23.5497 210.833 23.2928V32.4587H207.611V31.2961H201.791V32.5804H198.708V20.6025H205.166C203.097 19.3182 201.263 17.7906 199.833 16.1142H194.61C192.999 17.8311 191.041 19.3317 188.902 20.6025H195.513V32.4722H192.291V31.3096H186.582V32.5939H183.471V23.2387C182.832 23.4956 182.193 23.7525 181.527 23.9688C181.082 23.1982 180.068 21.9544 179.388 21.3461C183.402 20.0618 186.888 18.3448 189.708 16.1277H180.471V13.1265H192.777C193.416 12.3559 193.944 11.5583 194.43 10.7201H182.916V0.472656H195.305V9.53042L198.458 10.5579C198.041 11.4366 197.555 12.3153 197.027 13.113H213.986V16.1142H204.264V16.1007ZM191.958 3.21702H186.11V8.00277H191.958V3.21702ZM192.291 23.401H186.582V28.4436H192.291V23.401ZM211.5 10.6931H199.083V0.472656H211.5V10.6931ZM207.611 28.4436V23.401H201.791V28.4436H207.611ZM208.166 3.21702H202.277V8.00277H208.166V3.21702Z" fill="white" stroke="white" stroke-width="0.25" stroke-miterlimit="10"/>
            </svg>
          </div>
          <div class="module_price-box to-top" style="transition-delay: 0.3s;">
            <div class="price_left">
              <div class="price_left-top">
                <span>{{ section.settings.origin_price_tle }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="16" viewBox="0 0 64 16" fill="none">
                  <path d="M63.7071 8.70711C64.0976 8.31658 64.0976 7.68342 63.7071 7.29289L57.3431 0.928932C56.9526 0.538408 56.3195 0.538408 55.9289 0.928932C55.5384 1.31946 55.5384 1.95262 55.9289 2.34315L61.5858 8L55.9289 13.6569C55.5384 14.0474 55.5384 14.6805 55.9289 15.0711C56.3195 15.4616 56.9526 15.4616 57.3431 15.0711L63.7071 8.70711ZM0 9L63 9V7L0 7L0 9Z" fill="white"/>
                </svg>
              </div>
              <div class="price_left-bt">
                <span>{{ section.settings.origin_price1 }}</span>
                <span> {{ section.settings.origin_price2 }} </span> <span>{{ section.settings.origin_price3 }}</span>
              </div>
            </div>
            <div class="price_right">
              <span>{{ section.settings.origin_price4 }}</span>
              <span> {{ section.settings.origin_price2 }} </span> <span>{{ section.settings.origin_price3 }}</span>
            </div>
          </div>

          {%- if section.settings.add_bt_txt != blank -%}
            <div
              class="product_btn-cus product_btn-custom to-top"
              {{ block.shopify_attributes }}
              style="transition-delay: 0.3s;"
            >
              {%- liquid
                assign gift_card_recipient_feature_active = false
                if block.settings.show_gift_card_recipient and product.gift_card?
                  assign gift_card_recipient_feature_active = true
                endif
              -%}
              {%- form 'product',
                product,
                id: product_form_id,
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form',
                data-hide-errors: gift_card_recipient_feature_active,
                class: 'product-form grid gap-8',
                is: 'product-form'
              -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>

                {%- liquid
                  if gift_card_recipient_feature_active
                    render 'gift-card-recipient-form', product: product, form: form, section_id: section_id
                  endif

                  assign check_against_inventory = true
                  if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
                    assign check_against_inventory = false
                  endif
                  if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                    assign quantity_rule_soldout = true
                  endif
                -%}

                <div class="product-form__buttons grid gap-4">
                  <div
                    class="product-form__error-message alert alert--error text-sm font-medium leading-tight"
                    role="alert"
                    hidden
                  ></div>
                  <div class="flex gap-4">
                    <button
                      type="submit"
                      name="add"
                      form="{{ product_form_id }}"
                      class="product-form__submit button button--secondary button--fixed w-full mt-2"
                      is="hover-button"
                      {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                        disabled
                      {% endif -%}
                      {%- if product.template_suffix == 'pre-order' %}
                        data-pre-order="true"
                      {% endif -%}
                    >
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">
                        {%- liquid
                          if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                            echo 'products.product.sold_out' | t
                          elsif product.template_suffix != 'pre-order'
                            echo 'products.product.add_to_cart' | t
                          else
                            echo 'products.product.pre_order' | t
                          endif
                        -%}
                      </span>
                    </button>
                  </div>
                </div>
              {%- endform -%}
              {%- if section.settings.buy_txt != blank -%}
                <a href="{{ section.settings.buy_link_url }}" class="buy_btn">
                  {{ section.settings.buy_txt }}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Father Module1",
  "class": "shopify-section--father-module1",
  "settings": [
     {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "richtext",
      "id": "des",
      "label": "Descripte"
    },
 {
      "type": "text",
      "id": "origin_price_tle",
      "label": "origin price Title"
    },
     {
      "type": "text",
      "id": "origin_price1",
      "label": "origin price 1"
    },
     {
      "type": "text",
      "id": "origin_price2",
      "label": "origin price 2"
    },
     {
      "type": "text",
      "id": "origin_price3",
      "label": "origin price 3"
    },
     {
      "type": "text",
      "id": "origin_price4",
      "label": "origin price 4"
    },
     {
      "type": "text",
      "id": "add_bt_txt",
      "label": "Add Button Text"
    },
    {
      "type": "text",
      "id": "buy_txt",
      "label": "Buy Button Text"
    },
    {
      "type": "url",
      "id": "buy_link_url",
      "label": "Buy Button Link"
    },
    {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
    {
      "type": "richtext",
      "id": "ft_tp",
      "label": "Banner tip"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Father Module1"
    }
  ]
}
{% endschema %}
