<style>
          #shopify-section-{{ section.id }} {
          --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
          --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
          --color-border: 255, 255, 255;
          /* background: rgb(var(--section-background, var(--background))); */
        }
  /* father-module6 start*/
  .father-module6{
    position: relative;
  }
  .father_module6 .picture_box picture img, .father_module6 .picture_box picture {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }
  .father-md6-box {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  .father-md6-cnt{
    max-width: 400px;
    margin: 0 auto;
    color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  }
  @media (max-width: 767px) {
    .father-md6-box{
      align-items: flex-end;
    }
    .father-md6-cnt{
      font-size: 15px;
      padding-bottom: 20px;
    }
  }
  /* father-module6 end*/
</style>
<section>
  <div class="father-module6">
    <div class="picture_box to-top" style="transition-delay: 0.2s;">
      <picture>
        {%- if section.settings.image_mobile -%}
          <source
            media="(max-width: 767px)"
            srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
            width="{{ section.settings.image_mobile.width }}"
            height="{{ section.settings.image_mobile.height }}"
          >
        {%- endif -%}
        {%- if section.settings.image -%}
          {{-
            section.settings.image
            | image_url: width: section.settings.image.width
            | image_tag:
              loading: 'eager',
              sizes: '100vw',
              widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
              class: 'trade_banner__image'
          -}}
        {%- endif -%}
      </picture>
    </div>
    <div class="father-md6-box">
      <div class="father-md6-cnt to-top" style="transition-delay: 0.3s;">
        {{ section.settings.tle }}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Father Module7",
  "class": "shopify-section--father-Module7",
  "settings": [
       {
      "type": "richtext",
      "id": "tle",
      "label": "Text"
    },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Father Module7"
    }
  ]
}
{% endschema %}
