<style>
      #shopify-section-{{ section.id }} {
      --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
      --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
      --color-border: 255, 255, 255;
      /* background: rgb(var(--section-background, var(--background))); */
    }
      .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px);
        padding-bottom: calc({{ section.settings.padding_bottom }}px);
      }
      @media screen and (max-width: 768px){
      .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.6);
        padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
      }
    }
  /* module2 start */
  .father-md2{
    background: #282A2F;
  }
  .father-module2{
    background: #3A4350;
  }
  .father-module-container{
    width: 100%;
    max-width: 980px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .father_module2-top{
    /* background: url('./images/father/bg1.png') no-repeat;
    padding: 81px 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; */
  }
  .module2_top-pic{
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
  }
  .father-module2 .picture_box picture img, .father-module2 .picture_box picture {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
  }
  .module2_top1{
    position: relative;
  }
  .module2_top-layer{
    display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  .module2_top-container{
    width: 100%;
    padding: 0 40px;
  }
  .module2_top-cnt{
    margin-left: 43%;
  }
  .module2_top-cnt h3{
    color: #3A5987;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  }
  .module2_top-cnt .module2_top-tle{
    color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
  }
  .module2_top-cnt .module_top-p{
    color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 30px;
  }
  .module2_top-cnt picture{
    display: block;
    width: 100%;
  max-width: 282px;
  }
  .module2_top-cnt picture img{
    width: 100%;
    object-fit: cover;
  }
  .module2_top-cnt .module2_top-note{
    color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin-top: 48px;
  }

  .module2_top2{
    display: flex;
    margin-top: 28px;
    gap: 30px;
  }
  .module2_top2 h3{
    color: #FFF;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  }
  .module2_top2 .num_li{
    color: #FFF;
  font-size: 33px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
  }
  .module2_top2 h3{
    color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-top: 14px;
  margin-bottom: 14px;
  }
  .module2_top2 .top2_left-p{
    color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 15px;
  }
  .module2_top2 .top2_left-note{
    color: #FFF;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  }
  .father_module2-center{
    /* margin-top: 50px; */
  }
  .module2_center1{
    /* background: url(./images/father/bg2.png) no-repeat;
      padding: 45px 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; */
  }
  .module2_center1 h3{
    color: #FFF;
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 30px;
  }
  .module2_center1 .module2_cnt-box{
    display: flex;
    gap: 58px;
  }
  .father_module2-bt{
    margin-top: 50px;
  }
  .module2_bt-box{
    /* background: url(./images/father/bg3.png) no-repeat;
      padding: 45px 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; */
  }
  .module2_bt-box h3{
    color: #FFF;
    text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 20px;
  }
  .module2_bt-cnt{
    border-radius: 10px;
  background: #F4F4F4;
    padding: 60px;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .bt_cnt-left {
    flex-basis: 32%;
    text-align: center;
  }
  .bt_cnt-right{
    flex: 1;
    line-height: 1.5;
  }
  .bt_cnt-left h4{
    color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 220%;
  }
  .cnt_xt{
    color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  }
  @media (max-width: 767px) {
    .module2_top-layer{
      position: static;
    }
    .module2_top-container{
      padding: 0;
    }
    .module2_top-cnt{
      margin: 0;
    }
    .module2_top-cnt h3{
      color: #fff;
      font-size: 18px;
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
    }
    .module2_top-cnt .module2_top-tle{
      font-size: 16px;
      color: #fff;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .module2_top-cnt .module_top-p{
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;
    }
    .module2_top-cnt .module2_top-note{
      font-size: 10px;
      color: #fff;
      margin-top: 10px;
    }
    .module2_top-cnt picture{
      display: none;
    }
    .module2_top2{
      flex-direction: column;
    }
    .module2_top2 .num_li{
      font-size: 18px;
    }
    .module2_top2 h3{
      font-size: 16px;
    }
    .module2_top2 .top2_left-p{
      font-size: 14px;
    }
    .module2_top2 .top2_left-note{
      font-size: 10px;
    }
  }

  @media (max-width: 767px) {
    .module2_center1 h3{
      font-size: 15px;
      margin-bottom: 15px;
    }
    .module2_center1 .module2_cnt-box{
      flex-direction: column;
      gap: 20px;
    }
    .module2_bt-box h3{
      font-size: 15px;
      margin-bottom: 15px;
    }
    .module2_bt-cnt{
      padding: 16px;
      flex-direction: column;
      gap: 10px;
    }
    .bt_cnt-right{
      font-size: 10px;
    }
    .bt_cnt-left{
      flex-basis: 100%;
      display: flex;
      width: 100%;
      align-items: center;
      gap:10px;
    }
    .bt_cnt-left picture{
      flex: 1;
          width: 20%;
    }
    .bt_cnt-ltct{
      flex-basis: 50%;
    }
    .bt_cnt-left h4{
      font-size: 15px;
    }
    .cnt_xt{
      font-size: 10px;
    }
    .bt_cnt-ltct{
      text-align: left;
    }
  }
  /* module2 end */
</style>
<section>
  <div class="father-module2 section-{{ section.id }}-padding">
    <div class="father-module-container">
      <div class="father_module2-top">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'module1' -%}
              <div class="module2_top1 to-top" style="transition-delay: 0.3s;">
                <div class="picture_box">
                  <picture>
                    {%- if block.settings.image_mobile -%}
                      <source
                        media="(max-width: 767px)"
                        srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                        width="{{ block.settings.image_mobile.width }}"
                        height="{{ block.settings.image_mobile.height }}"
                      >
                    {%- endif -%}
                    {%- if block.settings.image -%}
                      {{-
                        block.settings.image
                        | image_url: width: block.settings.image.width
                        | image_tag:
                          loading: 'eager',
                          sizes: '100vw',
                          widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                          class: 'trade_banner__image'
                      -}}
                    {%- endif -%}
                  </picture>
                </div>
                <div class="module2_top-layer">
                  <div class="module2_top-container">
                    <div class="module2_top-cnt">
                      <h3>{{ block.settings.num_txt }}</h3>
                      <div class="module2_top-tle">{{ block.settings.tle }}</div>
                      <div class="module_top-p">{{ block.settings.sub_tle }}</div>
                      <picture>
                        {%- if block.settings.image_logo -%}
                          <source
                            media="(max-width: 767px)"
                            srcset="{{ block.settings.image_logo | image_url: width: '400x' }} 400w, {{ block.settings.image_logo | image_url: width: '600x' }} 600w, {{ block.settings.image_logo | image_url: width: '800x' }} 800w, {{ block.settings.image_logo | image_url: width: '1000x' }} 1000w"
                            width="{{ block.settings.image_logo.width }}"
                            height="{{ block.settings.image_logo.height }}"
                          >
                        {%- endif -%}
                        {%- if block.settings.image_logo -%}
                          {{-
                            block.settings.image_logo
                            | image_url: width: block.settings.image_logo.width
                            | image_tag:
                              loading: 'eager',
                              sizes: '100vw',
                              widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                              class: 'trade_banner__image'
                          -}}
                        {%- endif -%}
                      </picture>
                      <div class="module2_top-note">{{ block.settings.note }}</div>
                    </div>
                  </div>
                </div>
              </div>
            {%- when 'module2' -%}
              <div class="module2_top2 to-top" style="transition-delay: 0.3s;">
                <div class="module2_top2-left">
                  <div class="num_li">{{ block.settings.num_txt }}</div>
                  <picture>
                    {%- if block.settings.image_mobile -%}
                      <source
                        media="(max-width: 767px)"
                        srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                        width="{{ block.settings.image_mobile.width }}"
                        height="{{ block.settings.image_mobile.height }}"
                      >
                    {%- endif -%}
                    {%- if block.settings.image -%}
                      {{-
                        block.settings.image
                        | image_url: width: block.settings.image.width
                        | image_tag:
                          loading: 'eager',
                          sizes: '100vw',
                          widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                          class: 'trade_banner__image'
                      -}}
                    {%- endif -%}
                  </picture>
                  <h3>{{ block.settings.tle }}</h3>
                  <div class="top2_left-p">{{ block.settings.sub_tle }}</div>
                  <div class="top2_left-note">{{ block.settings.note }}</div>
                </div>
                <div class="module2_top2-right">
                  <div class="num_li">{{ block.settings.num_txt1 }}</div>
                  <picture>
                    {%- if block.settings.image_mobile1 -%}
                      <source
                        media="(max-width: 767px)"
                        srcset="{{ block.settings.image_mobile1 | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile1 | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile1 | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile1 | image_url: width: '1000x' }} 1000w"
                        width="{{ block.settings.image_mobile1.width }}"
                        height="{{ block.settings.image_mobile1.height }}"
                      >
                    {%- endif -%}
                    {%- if block.settings.image1 -%}
                      {{-
                        block.settings.image1
                        | image_url: width: block.settings.image1.width
                        | image_tag:
                          loading: 'eager',
                          sizes: '100vw',
                          widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                          class: 'trade_banner__image'
                      -}}
                    {%- endif -%}
                  </picture>
                  <h3>{{ block.settings.tle1 }}</h3>
                  <div class="top2_left-p">{{ block.settings.sub_tle1 }}</div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Father Module2",
  "class": "shopify-section--father-module2",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
      {
      "type": "module1",
      "name": "module1",
      "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
        {
      "type": "text",
      "id": "num_txt",
      "label": "Num Text"
    },
         {
      "type": "richtext",
      "id": "tle",
      "label": "Title"
    },
         {
      "type": "richtext",
      "id": "sub_tle",
      "label": "subTitle"
    },
         {
          "type": "image_picker",
          "id": "image_logo",
          "label": "Images Logo"
        },
          {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    }
      ]
    },
     {
      "type": "module2",
      "name": "module2",
      "settings": [
                  {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
        {
      "type": "text",
      "id": "num_txt",
      "label": "Num Text"
    },
         {
      "type": "richtext",
      "id": "tle",
      "label": "Title"
    },
         {
      "type": "richtext",
      "id": "sub_tle",
      "label": "subTitle"
    },
         {
          "type": "image_picker",
          "id": "image_logo",
          "label": "Images Logo"
        },
          {
      "type": "richtext",
      "id": "note",
      "label": "Note"
    },

                 {
          "type": "image_picker",
          "id": "image1",
          "label": "Images1"
        },
     {
          "type": "image_picker",
          "id": "image_mobile1",
          "label": "Mobile Images1"
        },
        {
      "type": "text",
      "id": "num_txt1",
      "label": "Num Text1"
    },
         {
      "type": "richtext",
      "id": "tle1",
      "label": "Title1"
    },
         {
      "type": "richtext",
      "id": "sub_tle1",
      "label": "subTitle1"
    },
          {
      "type": "richtext",
      "id": "note1",
      "label": "Note1"
    }

      ]
    }
  ],
  "presets": [
    {
      "name": "Father Module2"
    }
  ]
}
{% endschema %}
