<style>
  #shopify-section-{{ section.id }} .footer {
    {%- assign border_color = settings.footer_background | color_mix: settings.footer_text_color, 85 -%}

    --background: {{ settings.footer_background.red }}, {{ settings.footer_background.green }}, {{ settings.footer_background.blue }};
    --heading-color: {{ settings.footer_text_color.red }}, {{ settings.footer_text_color.green }}, {{ settings.footer_text_color.blue }};
    --text-color: {{ settings.footer_text_color.red }}, {{ settings.footer_text_color.green }}, {{ settings.footer_text_color.blue }};
    --border-color: {{ border_color.red }}, {{ border_color.green }}, {{ border_color.blue }};
  }
</style>

<footer class="footer {% if settings.footer_background == settings.background %}footer--bordered{% endif %}">
  <div class="container">
    <div class="footer__subscribe text--center">
      
      <p style="font-size:16px;margin-bottom: 3px;"><strong>Ulikeニュースやお得な情報をいち早く入手してください。</strong></p>
      <br>
      {%- form 'customer', id: newsletter_id, class: 'form newsletter-modal__form' -%}
        {%- if form.posted_successfully? -%}
          <script>
            window.addEventListener('DOMContentLoaded', () => {
              if (history.scrollRestoration) {
                history.scrollRestoration = 'manual'; // Prevent the browser to scroll on captcha page
              }

              document.getElementById('shopify-section-footer').scrollIntoView();
            });
          </script>
          <div class="form__banner banner banner--success">
            <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
            <p class="banner__content">{{ 'general.newsletter.success' | t }}</p>
          </div>
        {%- else -%}
          {%- if form.errors -%}
            <div class="form__banner banner banner--error">
              <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
              <p class="banner__content">{{ form.errors.messages.email }}</p>
            </div>
          {%- endif -%}

          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="hidden" name="contact[context]" value="{{ newsletter_id }}">

          <div class="input">
            <input
              type="email"
              id="newsletter[{{ section.id }}][contact][email]"
              name="contact[email]"
              class="input__field"
              required
            >
            <label for="newsletter[{{ section.id }}][contact][email]" class="input__label">
              {{- 'general.newsletter.email' | t -}}
            </label>
            {% comment %} <button type="submit" is="loader-button" class="btn-ico">{% render 'icon' with 'nav-arrow-right' %}</button> {% endcomment %}
            <button type="submit" is="loader-button" class="btn-ico"></button>
          </div>
          {% comment %}
            <div class="input">
              <button type="submit" is="loader-button" class="button button--primary button--full">{{ 'general.newsletter.subscribe' | t }}</button>
            </div>
          {% endcomment %}
        {%- endif -%}
      {%- endform -%}
    </div>
    <div class="footer__inner">
      <div class="footer__item-list">
        {%- for block in section.blocks -%}
          {%- capture block_content -%}
            {%- case block.type -%}
              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                  {%- capture sizes_attribute -%}{{ block.settings.image_width }}px{%- endcapture -%}
                  {%- capture style_attribute -%}width: {{ block.settings.image_width }}px{%- endcapture -%}
                  {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', style: style_attribute, sizes: sizes_attribute, widths: '100,200,300,400,500,600', class: 'footer__image' -}}
                {%- endif -%}

              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
                  <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="footer__item-content">
                    {{- block.settings.content -}}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- assign menu = block.settings.menu -%}

                {%- if menu != blank -%}
                  <p class="footer__item-title heading heading--small">{{ menu.title }}</p>

                  <div class="footer__item-content">
                    <ul class="linklist list--unstyled" role="list">
                      {%- for link in menu.links -%}
                        <li class="linklist__item">
                          <a href="{{ link.url }}" class="link--faded">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}

              {%- when 'social_media' -%}
                {%- if block.settings.title != blank -%}
                  <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                <div class="footer__item-content">
                  {%- if block.settings.content != blank -%}
                    {{- block.settings.content -}}
                  {%- endif -%}

                  {%- render 'social-media' -%}
                </div>

              {%- when 'newsletter' -%}
                {%- if block.settings.title != blank -%}
                  <p class="footer__item-title heading heading--small">{{ block.settings.title | escape }}</p>
                {%- endif -%}

                <div class="footer__item-content">
                  {%- if block.settings.content != blank -%}
                    {{- block.settings.content -}}
                  {%- endif -%}

                  {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form form' -%}
                    {%- if form.posted_successfully? -%}
                      <div class="form__banner banner banner--success">
                        <span class="banner__ribbon">{% render 'icon' with 'form-success' %}</span>
                        <p class="banner__content">{{ 'footer.newsletter.success' | t }}</p>
                      </div>
                    {%- else -%}
                      {%- if form.errors -%}
                        <div class="form__banner banner banner--error">
                          <span class="banner__ribbon">{% render 'icon' with 'form-error' %}</span>
                          <p class="banner__content">{{ form.errors.translated_fields['email'] }} {{ form.errors.messages['email'] }}</p>
                        </div>
                      {%- endif -%}

                      <input type="hidden" name="contact[tags]" value="newsletter">

                      <div class="input">
                        <input type="email" id="footer[contact][email]" name="contact[email]" class="input__field input__field--text">
                        <label for="footer[contact][email]" class="input__label">{{ 'footer.newsletter.email' | t }}</label>
                        <button type="submit" class="input__submit-icon tap-area" title="{{ 'footer.newsletter.submit' | t }}">{% render 'icon' with 'nav-arrow-right', direction_aware: true %}</button>
                      </div>
                    {%- endif -%}
                  {%- endform -%}
                </div>
            {%- endcase -%}
          {%- endcapture -%}

          {%- if block_content != blank -%}
            <div
              class="footer__item footer__item--{{ block.type | replace: '_', '-' }} {% if forloop.first %}is-first{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{- block_content -}}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <div class="footer__aside">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if country_selector or locale_selector -%}
          {%- form 'localization', id: 'localization_form_footer', class: 'footer__cross-border' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.country' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if locale_selector and settings.button_border_radius > 0 %}select--collapse-end{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-currency-selector"
                >
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                  {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}
                  )
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content
                  id="footer-currency-selector"
                  class="popover popover--top popover--left popover--small"
                >
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.country' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button
                          type="submit"
                          name="country_code"
                          value="{{ country.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- country.name }} ({{ country.currency.iso_code }}
                            {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%}
                            )
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if country_selector and settings.button_border_radius > 0 %}select--collapse-start{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-locale-selector"
                >
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="footer-locale-selector" class="popover popover--top popover--small">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.language' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button
                          type="submit"
                          name="locale_code"
                          value="{{ language.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}

        <span class="footer__copyright text--xsmall text--subdued">
          {{- shop.name }}
          <span class="square-separator square-separator--block square-separator--subdued"></span>
          {{ powered_by_link | replace: '<a', '<a class="link--faded"' -}}
        </span>

        {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <div class="footer__payment-methods">
            <span class="footer__payment-methods-label text--xsmall text--subdued">
              {{- 'footer.general.we_accept' | t -}}
            </span>

            <div class="payment-methods-list payment-methods-list--auto payment-methods-list--end">
              {% comment %}
                {% for type in shop.enabled_payment_types %}
                  {{ type | payment_type_svg_tag }}
                {% endfor %}
              {% endcomment %}
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.736719" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M12.0863 4.34704C11.3089 4.44492 10.5315 5.08843 10.277 5.82971C10.1074 6.29132 7.06815 19.3833 7.05416 19.6212C7.02584 20.3065 7.4216 20.8101 8.0718 20.936C8.31216 20.992 16.0301 20.992 16.2846 20.936C17.0195 20.7961 17.7122 20.2226 17.9667 19.5233C18.0656 19.2575 21.2037 5.91373 21.2037 5.68988C21.2461 5.06038 20.8643 4.54285 20.2566 4.36104C20.1152 4.33317 12.4115 4.30512 12.0863 4.34701L12.0863 4.34704Z" fill="#E60012"></path>
                <path d="M19.2811 4.34704C18.5037 4.44492 17.7263 5.08843 17.4719 5.82971C17.3163 6.29132 14.2631 19.3833 14.2631 19.6212C14.2348 20.3065 14.6306 20.8101 15.2809 20.936C15.5211 20.992 23.239 20.992 23.4935 20.936C24.2286 20.7961 24.9213 20.2226 25.1756 19.5233C25.2746 19.2575 28.4126 5.91373 28.4126 5.68988C28.4551 5.06038 28.0734 4.54285 27.4656 4.36104C27.31 4.33317 19.6063 4.30512 19.2811 4.34701V4.34704Z" fill="#00508E"></path>
                <path d="M26.7852 4.34694C26.0077 4.44481 25.2302 5.08833 24.9758 5.8296C24.8204 6.29122 21.767 19.3832 21.767 19.6211C21.7388 20.3064 22.1347 20.81 22.7848 20.9359C23.0252 20.9919 28.7641 20.9919 29.0185 20.9359C29.7536 20.796 30.4462 20.2225 30.7006 19.5232C30.7996 19.2574 33.9377 5.91363 33.9377 5.68977C33.98 5.06028 33.5984 4.54274 32.9905 4.36093C32.8493 4.31904 26.4035 4.29102 26.0784 4.33306H26.7852V4.34694V4.34694Z" fill="#00908C"></path>
                <path d="M11.8439 8.59941C11.8439 8.61343 11.8297 8.69734 11.8015 8.78128C11.4764 9.87227 11.1512 11.3409 11.1937 11.5227C11.3068 12.0683 12.1125 12.0263 12.3952 11.4528C12.48 11.299 13.0878 8.73935 13.0878 8.55757C13.0878 8.54355 14.049 8.55757 14.049 8.57142C14.049 8.57142 14.049 8.61343 14.0348 8.65547C14.0207 8.69734 13.8653 9.28482 13.6957 9.98419C13.3139 11.4669 13.2716 11.6206 13.0737 11.9144C12.4234 12.8656 10.2465 12.8376 10.0769 11.8725C10.0345 11.6627 10.501 9.24292 10.7131 8.58541C10.7131 8.54355 11.8439 8.57142 11.8439 8.59944V8.59941ZM26.2903 8.59941C26.9405 8.73935 27.1383 9.25677 26.8415 10.0262C26.5447 10.7955 25.9087 11.1311 24.792 11.1311C24.4526 11.1311 24.4809 11.0752 24.2689 12.1242C24.2266 12.32 24.1841 12.5019 24.1841 12.5299C24.1699 12.5998 23.1663 12.5998 23.1805 12.5299C24.0287 8.93516 24.0993 8.62746 24.0993 8.59941L24.1135 8.55757H25.1311C25.9369 8.57142 26.163 8.57142 26.2903 8.59944V8.59941ZM17.5688 9.98419C17.7101 10.0122 17.809 10.1241 17.809 10.222C17.809 10.5716 17.0881 10.8095 16.8195 10.5437C16.5651 10.2779 17.1022 9.87227 17.5688 9.98416V9.98419ZM15.0668 10.2499C15.0668 10.2779 15.0526 10.3339 15.0526 10.3758L15.0385 10.4318L15.2081 10.3478C15.6604 10.1241 16.0986 10.166 16.24 10.4457C16.3248 10.6137 16.3106 10.7116 16.0845 11.7466C16.0421 11.9284 15.9856 12.1803 15.9714 12.306C15.9148 12.5859 15.9573 12.5719 15.4484 12.5719C15.0102 12.5719 15.0102 12.5719 15.0243 12.5299C15.0243 12.5019 15.0809 12.2782 15.1374 12.0123C15.3636 11.0193 15.3778 10.8794 15.1799 10.8794C15.0668 10.8794 14.9112 10.9493 14.8972 10.9913C14.8689 11.0892 14.6144 12.306 14.6002 12.418L14.572 12.5439L14.1338 12.5719C13.5967 12.5859 13.639 12.6278 13.7521 12.1522C13.9076 11.5367 13.9925 11.1032 14.049 10.7116C14.1196 10.2919 14.0773 10.3339 14.4731 10.2779C14.6568 10.2499 14.8406 10.222 14.8972 10.208C15.0385 10.166 15.0668 10.18 15.0668 10.2499ZM21.7811 10.236C21.7811 10.2639 21.7669 10.3199 21.7669 10.3618L21.7527 10.4318L21.9224 10.3478C22.7988 9.90029 23.138 10.2639 22.8836 11.4109C22.8271 11.6627 22.7564 12.0263 22.7141 12.1942C22.6857 12.3761 22.6433 12.5299 22.6292 12.5439C22.5726 12.5998 21.7387 12.5859 21.7527 12.5439C21.7527 12.5159 21.8094 12.2922 21.8658 12.0403C22.1062 11.0193 22.1062 10.8934 21.8942 10.8934C21.7246 10.8934 21.6398 10.9493 21.6115 11.0752C21.569 11.229 21.357 12.2361 21.3288 12.418L21.3005 12.5719L20.8622 12.5859C20.3251 12.5998 20.3675 12.6558 20.4947 12.1382C20.6362 11.5787 20.7351 11.0612 20.8057 10.6836C20.8622 10.3199 20.8199 10.3618 21.1732 10.3059C21.3288 10.2779 21.5267 10.2499 21.5973 10.236C21.7387 10.166 21.7811 10.18 21.7811 10.236V10.236ZM30.3613 10.222C30.4178 11.0752 30.432 11.3269 30.432 11.3409C30.432 11.355 30.5592 11.1311 30.7005 10.8514C30.9832 10.2919 30.9267 10.3478 31.2377 10.3059C31.3225 10.2919 31.492 10.2639 31.6193 10.236C31.9303 10.18 31.9303 10.152 31.5768 10.7675C31.0963 11.5928 30.432 12.7537 30.1916 13.1733C29.4708 14.4741 29.4708 14.4741 28.8629 14.4881L28.4954 14.5021L28.5236 14.4042C28.5378 14.3483 28.5802 14.2364 28.5944 14.1525L28.6367 13.9985H28.7498C28.8771 13.9985 28.9053 13.9705 29.0184 13.7747C29.0608 13.7048 29.1315 13.5929 29.1598 13.523C29.2021 13.4531 29.3435 13.2292 29.4566 13.0054L29.6828 12.6138L29.6262 12.0963C29.5556 11.4948 29.4708 10.7815 29.4283 10.5716C29.4 10.3758 29.4 10.3758 29.6545 10.3478C29.7676 10.3339 29.9514 10.2919 30.0503 10.2779C30.3188 10.194 30.3471 10.194 30.3613 10.222V10.222ZM19.7032 10.236C20.7916 10.4318 20.4099 12.306 19.2226 12.5719C18.4168 12.7537 17.8656 12.4459 17.8656 11.8304C17.8796 10.7535 18.6854 10.0541 19.7031 10.236H19.7032ZM27.8452 10.2919C27.9016 10.3199 27.9866 10.3758 28.0289 10.4179C28.0995 10.4877 28.0995 10.4877 28.0995 10.4457C28.1137 10.3898 28.0995 10.3898 28.665 10.3059C29.1173 10.236 29.1032 10.236 29.075 10.3618C28.8912 11.1451 28.7357 11.8305 28.665 12.1662C28.5661 12.6698 28.6367 12.6138 28.0855 12.5998H27.619V12.5439C27.619 12.488 27.5908 12.4599 27.5625 12.5019C27.4069 12.7537 26.6436 12.6558 26.4316 12.348C25.9087 11.5648 27.0253 9.91428 27.8451 10.2919H27.8452ZM17.6959 10.6976C17.6959 10.6976 17.6959 10.7675 17.6817 10.8235C17.5688 11.271 17.3709 12.1803 17.3284 12.348L17.286 12.5579L16.8195 12.5719C16.2683 12.5859 16.2965 12.6138 16.4096 12.2782C16.5085 11.9564 16.6075 11.5648 16.6641 11.1451C16.7206 10.7815 16.6641 10.8374 17.074 10.7815C17.2578 10.7534 17.4557 10.7256 17.498 10.7116C17.6111 10.6836 17.6817 10.6836 17.6959 10.6976V10.6976ZM20.1696 13.5929C20.1696 13.6069 20.1414 13.6629 20.099 13.7328C20.0706 13.8027 20.0283 13.8587 20.0283 13.8587C20.8622 13.8726 20.8905 13.8726 20.8764 13.9146L20.7209 14.4182H19.5053L19.4346 14.4741C19.2791 14.614 18.4593 14.7958 18.4593 14.6839L18.6148 14.1803H18.7278C18.9257 14.1803 18.968 14.1384 19.1378 13.8447L19.2791 13.5789C20.0142 13.565 20.1696 13.5789 20.1696 13.5929L20.1696 13.5929ZM22.0214 13.5929C22.0214 13.6069 22.0072 13.6768 21.9789 13.7608C21.9506 13.8307 21.9366 13.9006 21.9366 13.9146C21.9366 13.9146 22.0072 13.8866 22.092 13.8167C22.403 13.6069 22.6716 13.565 23.4631 13.565C23.7742 13.565 24.0427 13.565 24.0568 13.5789C24.071 13.6069 23.6046 15.1175 23.5338 15.2573C23.4349 15.4393 23.3359 15.5372 23.1805 15.6071L23.0391 15.663L22.2335 15.677L21.4277 15.691L21.2863 16.1665C21.0036 17.0757 21.0036 17.0059 21.4136 16.9638C21.7387 16.9358 21.7246 16.908 21.6256 17.2436L21.5408 17.5233H21.1309C20.2404 17.5373 20.1273 17.4814 20.212 17.1177C20.2545 16.9358 21.2722 13.6069 21.2863 13.5789C21.3005 13.565 22.0214 13.565 22.0214 13.5929V13.5929ZM25.7389 13.5929C25.7389 13.6069 25.7248 13.6489 25.7108 13.7048C25.6683 13.8447 25.6683 13.8447 25.8521 13.7468C26.0924 13.6209 26.6578 13.5789 27.8168 13.5789H28.1845V13.7468C28.1845 13.9426 28.1986 13.9566 28.3682 13.9845L28.4954 13.9985L28.4247 14.2504L28.3541 14.5021H28.0995C27.4494 14.5161 27.3504 14.4462 27.3362 14.0686V13.8866L27.2939 14.0125L27.2515 14.1525H27.1101C27.0394 14.1525 26.9688 14.1525 26.9688 14.1665C26.9688 14.1665 26.2762 16.4463 26.1772 16.768C26.163 16.7961 26.1772 16.8101 26.262 16.8101C26.3893 16.8101 26.3893 16.8101 26.3468 16.9218C26.3045 17.0478 26.3045 17.0478 26.4457 17.0478C26.5447 17.0478 26.6013 17.0337 26.6719 16.9919C26.7709 16.9358 26.7709 16.9499 27.2231 16.3205L27.4069 16.0546H27.0253C26.5588 16.0546 26.6013 16.0827 26.6861 15.8029L26.7567 15.5791H27.6897C27.7745 15.2853 27.8027 15.2014 27.8027 15.1874C27.8027 15.1734 27.6048 15.1734 27.3504 15.1734H26.8981L27.0394 14.6699H28.3116C29.0042 14.6699 29.5839 14.6699 29.5839 14.6839C29.5839 14.6979 29.5556 14.8098 29.5131 14.9358L29.4425 15.1735L29.0184 15.1874L28.5944 15.2014C28.5236 15.4113 28.4954 15.5092 28.4813 15.5372L28.4672 15.5931H28.8771C29.3577 15.5931 29.3294 15.5651 29.2304 15.8448L29.1598 16.0686H28.2268L28.0855 16.2365H28.453L28.5095 16.5722C28.5661 16.9499 28.5661 16.9499 28.7498 16.9499C28.8913 16.9499 28.8913 16.9218 28.7923 17.2576L28.7074 17.5373H28.4388C27.9724 17.5373 27.8876 17.4674 27.8027 16.9918L27.7603 16.6841L27.5908 16.908C27.1242 17.5373 27.096 17.5513 26.5023 17.5513C26.1206 17.5513 26.1206 17.5513 26.1772 17.4394C26.1914 17.3835 26.1914 17.3835 26.0782 17.3835C25.9651 17.3835 25.9651 17.3835 25.9369 17.4674L25.9227 17.5513H25.1311L25.1453 17.5093C25.1877 17.3695 25.2583 17.3835 24.3961 17.3835C23.6469 17.3835 23.6046 17.3835 23.6187 17.3415L23.6894 17.0898C23.7742 16.8379 23.76 16.8379 23.8448 16.8379C23.9155 16.8379 23.9155 16.8379 23.9437 16.74C24.6082 14.5441 24.8202 13.8447 24.8484 13.7468L24.905 13.565H25.3008C25.5552 13.565 25.7389 13.5789 25.7389 13.5929V13.5929ZM20.7209 14.7958L20.5654 15.2853H19.7173C19.6325 15.5651 19.6042 15.649 19.59 15.677C19.5759 15.719 19.6042 15.719 20.0142 15.719C20.2545 15.719 20.4524 15.7331 20.4524 15.7331C20.4524 15.7469 20.4383 15.7749 20.4241 15.8169C20.4099 15.8448 20.3816 15.9567 20.3535 16.0686L20.2968 16.2504H19.4204L19.3215 16.5862C19.1801 17.0618 19.1943 17.0757 19.7314 17.0059C19.9576 16.9778 19.9435 16.9499 19.8445 17.2856L19.7597 17.5653H19.1659C18.2331 17.5653 18.2189 17.5373 18.4733 16.74C18.5441 16.4883 18.6147 16.2785 18.6147 16.2785C18.6147 16.2785 18.5158 16.2644 18.3744 16.2644C18.2472 16.2644 18.1341 16.2644 18.1341 16.2504C18.2331 15.9008 18.2754 15.7889 18.2754 15.7609C18.2895 15.733 18.3179 15.719 18.5299 15.719H18.7701L18.8832 15.2853H18.6572C18.4874 15.2853 18.431 15.2854 18.431 15.2573C18.431 15.2295 18.5582 14.8238 18.5722 14.7818C18.6006 14.7539 20.7351 14.7678 20.7209 14.7958H20.7209ZM23.4632 15.8029C23.4632 15.8309 23.4349 15.9148 23.4208 15.9848C23.3359 16.3764 23.2229 16.4603 22.7705 16.4883C22.6151 16.5023 22.4737 16.5163 22.4737 16.5163C22.4454 16.5582 22.4454 16.894 22.4737 16.9499L22.5162 17.0059L22.7988 16.9918C22.9543 16.9778 23.0815 16.9778 23.0815 16.9778C23.0815 17.0059 22.9261 17.4954 22.9119 17.5093C22.8836 17.5373 22.0214 17.5233 21.9083 17.4814C21.7387 17.4254 21.7387 17.4394 21.7527 16.5582L21.7669 15.7889H22.4878V16.0827H22.6293C22.7847 16.0827 22.7988 16.0686 22.8695 15.8728L22.9119 15.7609H23.1946C23.449 15.7749 23.4773 15.7749 23.4632 15.8029V15.8029ZM24.7919 9.81638L24.6364 10.4878H24.8484C25.9369 10.5158 26.3893 9.27079 25.329 9.18689C25.1594 9.17286 25.004 9.15887 24.9898 9.15887C24.9474 9.15887 24.9474 9.20094 24.792 9.81638H24.7919ZM19.1659 10.7675C18.8974 10.8794 18.643 11.8865 18.8551 12.0403C19.0105 12.1662 19.2367 11.9564 19.3498 11.6068C19.5336 10.9633 19.477 10.6556 19.1659 10.7675ZM27.5908 10.8374C27.308 10.9773 27.096 11.9704 27.308 12.0823C27.5908 12.2361 27.9583 11.7047 27.9583 11.1311C27.9583 10.8654 27.8027 10.7395 27.5908 10.8374ZM21.88 14.1665L21.8094 14.4182C21.7669 14.5441 21.7387 14.656 21.7246 14.6699C21.7246 14.6839 21.7952 14.656 21.8942 14.6C22.1768 14.4602 22.2617 14.4322 22.6716 14.4182L23.025 14.4042C23.0815 14.2364 23.0957 14.1665 23.0957 14.1525C23.1098 14.1384 21.8942 14.1384 21.88 14.1665V14.1665ZM21.6398 14.9776L21.5831 15.2014L22.7988 15.1874L22.8695 14.9636C21.9083 14.9636 21.6398 14.9636 21.6398 14.9776ZM25.4846 14.4741C25.428 14.656 25.3856 14.7958 25.3998 14.7958L25.5694 14.7399C25.6542 14.7119 25.8097 14.6699 25.8945 14.656C25.9793 14.642 26.05 14.628 26.0641 14.628C26.0641 14.628 26.2055 14.1943 26.2055 14.1803C26.2055 14.1803 26.0641 14.1665 25.8945 14.1665H25.5835L25.4845 14.4741L25.4846 14.4741ZM25.2584 15.1874C25.2584 15.2014 25.2019 15.3414 25.1594 15.5092C25.1029 15.677 25.0605 15.8309 25.0605 15.8309C25.0605 15.8448 25.1311 15.8169 25.2301 15.7749C25.329 15.733 25.4704 15.691 25.5552 15.677C25.7389 15.649 25.7531 15.6351 25.7673 15.5651C25.7814 15.5372 25.8097 15.4253 25.8379 15.3414L25.8945 15.1735H25.5835C25.4139 15.1735 25.2583 15.1735 25.2583 15.1874H25.2584ZM24.7636 16.796L25.3856 16.8101C25.5129 16.3904 25.5552 16.2504 25.5552 16.2365L24.9332 16.2086L24.7636 16.796V16.796Z" fill="white"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.889062" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M10.2131 9.05542H7.13124L4.24609 17.0551H6.86896L7.78696 15.547H9.7541L10.4098 16.7273H14.2785L14.7375 15.547L15.59 16.8584H17.3604L18.9997 15.088V17.0551L28.7043 16.8584L30.5403 15.088L32.114 16.7273H35.4582L32.7041 12.7274L35.4582 9.05542H32.114L30.5403 10.8259L28.9666 9.05542H18.344L16.9014 12.2684L15.3277 9.05542H11.8524L11.2622 10.8259L10.2131 9.05542Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.77826 13.3488H9.88966L8.83396 10.7096L7.77826 13.3488ZM37.206 8.33423H31.7955L30.4758 9.78582L29.2882 8.33423H17.8074L16.7517 10.7096L15.696 8.33423H11.0773V9.38993L10.5495 8.33423H6.59059L2.76367 17.5716H7.38237L7.91022 16.12H9.22985L9.7577 17.5716H14.9042V16.5159L15.3001 17.5716H17.9394L18.3353 16.384V17.5716H28.8923L30.2119 16.12L31.3996 17.5716H36.8101L33.379 12.9529L37.206 8.33423ZM19.7869 16.252V11.1054L17.5435 16.252H16.2239L13.9805 11.1054V16.252H10.9454L10.4175 14.8004H7.25041L6.72255 16.252H5.00704L7.77826 9.65386H10.0216L12.5289 15.8561V9.65386H15.0362L17.0157 14.1406L18.8631 9.65386H21.3704V16.252H19.7869ZM34.3028 16.252H32.3233L30.6078 14.0086L28.6284 16.252H22.69V9.65386H28.7603L30.6078 11.7653L32.5873 9.65386H34.4347L31.5316 12.9529L34.3028 16.252ZM24.1416 10.9735V12.1611H27.4407V13.4808H24.1416V14.8004H27.8366L29.5521 12.821L27.9686 10.9735H24.1416Z" fill="#336EC8"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.428125" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M10.5633 8.15365C10.2314 8.58026 9.66262 8.91208 9.0938 8.86467C9.0464 8.29585 9.28341 7.67963 9.61522 7.30042C9.94703 6.8738 10.6107 6.54199 11.0847 6.54199C11.1321 7.15821 10.8951 7.72703 10.5633 8.15365M11.0847 9.00688C10.2788 8.95948 9.56782 9.4809 9.1886 9.4809C8.76199 9.4809 8.14577 9.00688 7.52955 9.00688C6.67632 9.00688 5.91789 9.4809 5.44387 10.2393C4.54324 11.7562 5.20687 14.0315 6.06009 15.2639C6.48671 15.8801 6.96073 16.5437 7.62435 16.5437C8.24057 16.5437 8.47758 16.1171 9.23601 16.1171C9.99443 16.1171 10.2314 16.5437 10.8951 16.4963C11.5587 16.4963 12.0327 15.8801 12.4119 15.2639C12.8859 14.5529 13.0755 13.8892 13.0755 13.8418C13.0755 13.8418 11.7483 13.3204 11.7483 11.8036C11.7483 10.5237 12.7911 9.95491 12.8385 9.90751C12.3171 9.10168 11.4165 9.00688 11.0847 9.00688M15.8248 7.25302V16.4963H17.2469V13.3204H19.2378C21.039 13.3204 22.3189 12.088 22.3189 10.2867C22.3189 8.48546 21.0864 7.25302 19.2852 7.25302H15.8248V7.25302ZM17.2943 8.48546H18.9533C20.1858 8.48546 20.8968 9.14908 20.8968 10.3341C20.8968 11.5192 20.1858 12.1828 18.9533 12.1828H17.2943V8.48546V8.48546ZM24.9734 16.5911C25.874 16.5911 26.7272 16.1171 27.1064 15.4061H27.1538V16.4963H28.4811V11.8984C28.4811 10.5711 27.4382 9.7179 25.7792 9.7179C24.2623 9.7179 23.1247 10.5711 23.0773 11.8036H24.3571C24.4519 11.2348 24.9734 10.8555 25.7318 10.8555C26.585 10.8555 27.1064 11.2822 27.1064 11.9932V12.5146L25.3052 12.6094C23.6461 12.7042 22.7455 13.3678 22.7455 14.5529C22.6981 15.7853 23.6461 16.5911 24.9734 16.5911V16.5911ZM25.3526 15.5009C24.5941 15.5009 24.1201 15.1217 24.1201 14.5529C24.1201 13.9841 24.5941 13.6522 25.4948 13.6048L27.1064 13.51V14.0315C27.059 14.8847 26.3006 15.5009 25.3526 15.5009V15.5009ZM30.1875 19.0086C31.5622 19.0086 32.2258 18.4872 32.7946 16.8756L35.3543 9.81271H33.8849L32.1784 15.2639H32.131L30.4245 9.81271H28.9077L31.3252 16.5437L31.183 16.9704C30.946 17.6814 30.6141 17.9184 29.9979 17.9184H29.5713V19.0086H30.1875Z" fill="#181818"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.660547" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1625 7.91714C32.1625 6.61513 31.1079 5.55919 29.8062 5.55709V5.55664H21.2183V10.2799H29.8062V10.2773C31.1079 10.2751 32.1625 9.21915 32.1625 7.91714V7.91714ZM32.1625 12.9265C32.1625 11.6245 31.1079 10.5687 29.8062 10.5664V10.5661H21.2183V15.2895H29.8062V15.2865C31.1079 15.2844 32.1625 14.2288 32.1625 12.9265ZM14.7473 10.5661V10.2799H21.053V9.88185C21.053 7.51041 19.1308 5.58811 16.7594 5.58811H12.752C10.3806 5.58811 8.45801 7.51041 8.45801 9.88185V11.027C8.45801 13.3982 10.3806 15.3207 12.752 15.3207H16.7594C19.1308 15.3207 21.053 13.3982 21.053 11.027V10.5661H14.7473V10.5661ZM10.7338 19.3059C10.4836 19.8473 10.1171 20.1148 9.62095 20.1148C8.91629 20.1148 8.36914 19.5329 8.36914 18.7857C8.36914 18.044 8.92094 17.4513 9.60701 17.4513C10.1125 17.4513 10.553 17.7759 10.7338 18.2808H10.3906C10.2146 17.946 9.91783 17.7449 9.60252 17.7449C9.07395 17.7449 8.66122 18.1985 8.66122 18.7807C8.66122 19.3627 9.0693 19.8215 9.58858 19.8215C9.92247 19.8215 10.1542 19.672 10.3906 19.3059H10.7338ZM11.0563 18.3013C11.0887 17.7092 11.5464 17.4546 12.1815 17.4546C12.6716 17.4546 13.2045 17.5916 13.2045 18.2672V19.6077C13.2045 19.7256 13.2691 19.7938 13.4037 19.7938C13.4413 19.7938 13.4844 19.7839 13.5113 19.7745V20.0336C13.4386 20.0483 13.3645 20.0549 13.2904 20.0535C12.9458 20.0535 12.892 19.8773 12.892 19.6131H12.8814C12.6446 19.941 12.4023 20.1268 11.8694 20.1268C11.358 20.1268 10.9382 19.8968 10.9382 19.388C10.9382 18.6782 11.6972 18.6537 12.4292 18.5754C12.7092 18.5462 12.8653 18.5119 12.8653 18.233C12.8653 17.8168 12.5368 17.7143 12.1384 17.7143C11.7186 17.7143 11.4063 17.8903 11.3956 18.3015H11.0563V18.3013V18.3013ZM12.8652 18.6731H12.8544C12.8112 18.7469 12.6606 18.7708 12.5692 18.7855C11.9931 18.8789 11.2771 18.874 11.2771 19.3681C11.2771 19.6766 11.5786 19.8677 11.8963 19.8677C12.4132 19.8677 12.8706 19.5689 12.8653 19.0745V18.6731H12.8652ZM13.7599 17.5135H14.0845V17.8793C14.1892 17.6867 14.4395 17.5231 14.8317 17.4979V17.7967C14.6101 17.8173 14.5069 17.8535 14.368 17.9721C14.1722 18.1312 14.1052 18.2914 14.1052 18.5747V20.0534H13.7599V17.5135V17.5135ZM21.0191 17.0753H21.3642V17.9514C21.5859 17.6218 21.9256 17.4515 22.3586 17.4515C23.0956 17.4515 23.7086 18.0491 23.7086 18.7704C23.7086 19.5124 23.106 20.1151 22.3638 20.1151C21.9361 20.1151 21.5706 19.9351 21.3437 19.6155V20.0537H21.0191V17.0753ZM21.3385 18.8013C21.3385 19.3679 21.7972 19.8217 22.3691 19.8217C22.9305 19.8217 23.3838 19.3528 23.3838 18.7809C23.3838 18.2036 22.9354 17.745 22.3793 17.745C21.7713 17.7449 21.3385 18.1883 21.3385 18.8013ZM23.8592 17.0753H24.1838V20.0535H23.8592V17.0753ZM24.7218 18.9044C24.7476 19.4093 25.1957 19.8217 25.7158 19.8217C26.0816 19.8217 26.463 19.5635 26.5969 19.224H26.9525C26.7722 19.7442 26.257 20.115 25.7158 20.115C24.9742 20.115 24.3817 19.5278 24.3817 18.7858C24.3817 18.0442 24.9692 17.4515 25.7056 17.4515C26.19 17.4515 26.6382 17.7248 26.8701 18.1575C26.9784 18.3583 27.0193 18.549 27.0295 18.9044H24.7218V18.9044ZM26.6844 18.6105C26.5612 18.0854 26.1798 17.745 25.7158 17.745C25.2267 17.745 24.8196 18.1007 24.7321 18.6105H26.6844ZM29.8885 18.9044C29.9143 19.4093 30.3623 19.8217 30.8828 19.8217C31.2486 19.8217 31.6294 19.5635 31.7636 19.224H32.1195C31.9389 19.7442 31.4234 20.115 30.8828 20.115C30.1408 20.115 29.5484 19.5278 29.5484 18.7858C29.5484 18.0442 30.1359 17.4515 30.8726 17.4515C31.3567 17.4515 31.8049 17.7248 32.0368 18.1575C32.1454 18.3583 32.1863 18.549 32.1965 18.9044H29.8885V18.9044ZM31.8514 18.6105C31.7276 18.0854 31.3465 17.745 30.8828 17.745C30.3934 17.745 29.9863 18.1007 29.8988 18.6105H31.8514ZM16.5523 18.9044C16.5781 19.4093 17.0263 19.8217 17.5465 19.8217C17.9123 19.8217 18.2935 19.5635 18.4275 19.224H18.783C18.6027 19.7442 18.0876 20.115 17.5465 20.115C16.8048 20.115 16.2124 19.5278 16.2124 18.7858C16.2124 18.0442 16.7997 17.4515 17.5364 17.4515C18.0206 17.4515 18.4689 17.7248 18.7009 18.1575C18.8091 18.3583 18.8501 18.549 18.8605 18.9044H16.5523V18.9044ZM18.515 18.6105C18.3916 18.0854 18.0103 17.745 17.5465 17.745C17.0572 17.745 16.6501 18.1007 16.5626 18.6105H18.515V18.6105Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4367 17.5047H16.3206V17.7928H15.4367V19.3915C15.4367 19.6142 15.4694 19.7445 15.7141 19.7609C15.8121 19.7609 16.2229 19.7557 16.3206 19.7446V20.0385C16.2174 20.0385 15.8066 20.0493 15.7032 20.0493C15.2462 20.0493 15.0886 19.897 15.0941 19.4188V17.7928H15.0078V17.5047H15.0941V17.0757H15.4367V17.5047V17.5047ZM29.0562 17.522V18.9235C29.0562 19.4876 28.7647 19.827 28.2743 19.83C27.7835 19.827 27.4925 19.4876 27.4925 18.9235V17.522H27.1679V18.9235C27.1679 19.686 27.5542 20.1242 28.2289 20.1242C28.2447 20.1242 28.2587 20.1221 28.2743 20.1215C28.2896 20.1221 28.3035 20.1242 28.3194 20.1242C28.9941 20.1242 29.3805 19.686 29.3805 18.9235V17.522H29.0562Z" fill="black"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.812891" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M30.4272 12.0134C30.3966 11.6716 30.3479 11.3338 30.2736 10.9986C29.9788 9.66656 29.3751 8.49064 28.456 7.48317C27.2644 6.17595 25.792 5.34851 24.0727 4.95296C23.5872 4.84148 23.0942 4.77376 22.5962 4.7556C22.5442 4.75394 22.4889 4.75807 22.4435 4.72339H18.1799C18.1262 4.76303 18.0626 4.75477 18.0024 4.75642C17.7208 4.76385 17.4408 4.79606 17.1625 4.83817C16.6208 4.91993 16.0923 5.0537 15.577 5.24116C14.3367 5.69451 13.2706 6.40635 12.4002 7.39977C11.1929 8.77801 10.5893 10.4023 10.4761 12.2182C10.4522 12.6006 10.4563 12.9846 10.4902 13.3686C10.5207 13.7146 10.5678 14.0573 10.6446 14.395C11.0327 16.0994 11.8998 17.5173 13.2186 18.6594C13.9577 19.2994 14.7909 19.7808 15.71 20.1144C16.3809 20.3576 17.0818 20.5085 17.7934 20.5628C18.0816 20.5851 18.3715 20.5942 18.6622 20.5917C19.303 20.586 19.9446 20.5942 20.5854 20.5893C21.2874 20.5835 21.9893 20.6099 22.6912 20.5703C23.005 20.5529 23.3163 20.5182 23.6252 20.4621C24.4939 20.3052 25.3205 20.0219 26.0976 19.6016C27.778 18.6932 29.0489 17.3951 29.8392 15.6453C30.1836 14.8839 30.3834 14.082 30.442 13.2497C30.4701 12.8384 30.4643 12.4255 30.4272 12.0134V12.0134ZM18.4706 19.9377C14.3516 19.9245 11.1847 16.5718 11.1814 12.6559C11.1781 8.75323 14.3177 5.3642 18.4673 5.36337C22.5054 5.36255 25.7474 8.60955 25.7491 12.646C25.7499 16.7089 22.4757 19.9228 18.4706 19.9377V19.9377Z" fill="#214C92"></path>
                <path d="M20.1451 8.39575C20.117 8.45025 20.1286 8.50063 20.1286 8.54852C20.1277 11.2835 20.1277 14.0185 20.1277 16.7536C20.1277 16.7783 20.1269 16.8023 20.1277 16.827C20.1286 16.8543 20.122 16.8857 20.1542 16.903C21.5869 16.3836 23.0965 14.7816 23.0477 12.5396C23.0023 10.4817 21.601 8.92095 20.1451 8.39575V8.39575ZM16.7907 8.41227C16.7907 8.40897 16.7866 8.40566 16.7833 8.40318C16.78 8.40071 16.7759 8.39905 16.7726 8.3974C15.2399 8.97545 13.8369 10.5866 13.884 12.7543C13.9302 14.8534 15.3316 16.3638 16.7792 16.9005C16.8015 16.8766 16.799 16.856 16.799 16.8353C16.794 14.0276 16.8081 11.2199 16.7907 8.41227V8.41227Z" fill="#214C92"></path>
              </svg>
              
             
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.04336" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M29.3533 5.56519C27.6055 5.56519 26.2695 6.68228 26.2695 8.60465V19.7799H31.8564C33.2195 19.7799 34.8516 18.494 34.8516 16.8291V5.56519H29.3533ZM27.4767 9.8562H32.7504C33.394 9.8562 33.9133 10.4212 33.9133 11.0634C33.9133 11.6999 33.4827 12.3149 32.8405 12.3149C33.5671 12.3149 34.1364 12.8842 34.1364 13.5222C34.1364 14.1644 33.5671 14.7737 32.8405 14.7737H27.4767V9.8562ZM29.4878 10.3482V12.0017H31.187C31.3983 11.9949 31.599 11.9078 31.7484 11.7582C31.8977 11.6086 31.9844 11.4077 31.9909 11.1964C31.9909 10.773 31.6104 10.3482 31.1856 10.3482H29.4878ZM29.4878 12.6282V14.2817H31.2314C31.6605 14.2817 32.0352 13.9012 32.0352 13.4764C32.0352 13.0473 31.6619 12.6282 31.2314 12.6282H29.4878Z" fill="#00AC21"></path>
                <path d="M19.3416 5.56519C17.5937 5.56519 16.2578 6.68228 16.2578 8.60465V19.7799H21.8905C23.2593 19.7799 24.8398 18.494 24.8398 16.8291V5.56519H19.3416ZM19.6549 9.8562H23.7671V10.7502C22.783 10.5213 21.8218 10.3926 21.3527 10.3926C20.3257 10.3926 19.5218 11.2751 19.5218 12.3593C19.5218 13.4435 20.3257 14.2817 21.3527 14.2817C21.8233 14.2817 22.783 14.1973 23.7671 13.9684V14.818H19.6549C18.3747 14.818 17.2862 13.711 17.2862 12.3593C17.2862 11.0076 18.3747 9.8562 19.6549 9.8562Z" fill="#F80233"></path>
                <path d="M9.33186 5.33618C7.57826 5.33618 6.24805 6.44755 6.24805 8.37565V19.6396H11.8807C13.2538 19.6396 14.8301 18.3594 14.8301 16.6888V5.33618H9.33186ZM11.2099 9.67154H13.6686V12.4435C13.6686 13.9854 11.6848 14.8122 10.2258 14.8122C8.63814 14.8122 7.22068 13.8681 6.91888 12.6667H7.99163C8.12036 13.399 8.82981 13.9182 9.6451 13.9182C10.5448 13.9182 11.2099 13.2603 11.2099 12.4435V9.67154Z" fill="#0066B3"></path>
              </svg>
             
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.12148" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M8.54688 12.7785C8.54688 14.8412 9.36626 16.8194 10.8248 18.2779C12.2833 19.7364 14.2615 20.5558 16.3242 20.5558C18.3868 20.5558 20.365 19.7364 21.8235 18.2779C23.2821 16.8194 24.1015 14.8412 24.1015 12.7785C24.1015 10.7158 23.2821 8.73766 21.8235 7.27914C20.365 5.82061 18.3868 5.00122 16.3242 5.00122C14.2615 5.00122 12.2833 5.82061 10.8248 7.27914C9.36626 8.73766 8.54688 10.7158 8.54688 12.7785V12.7785Z" fill="#EA001B"></path>
                <path d="M18.3848 12.7785C18.3848 13.7998 18.5859 14.8112 18.9768 15.7548C19.3676 16.6983 19.9405 17.5557 20.6627 18.2779C21.3849 19.0001 22.2422 19.5729 23.1858 19.9638C24.1294 20.3546 25.1407 20.5558 26.1621 20.5558C27.1834 20.5558 28.1947 20.3546 29.1383 19.9638C30.0819 19.5729 30.9392 19.0001 31.6614 18.2779C32.3836 17.5557 32.9565 16.6983 33.3473 15.7548C33.7382 14.8112 33.9393 13.7998 33.9393 12.7785C33.9393 11.7572 33.7382 10.7459 33.3473 9.80227C32.9565 8.85869 32.3836 8.00132 31.6614 7.27914C30.9392 6.55695 30.0819 5.98408 29.1383 5.59323C28.1947 5.20239 27.1834 5.00122 26.1621 5.00122C25.1407 5.00122 24.1294 5.20239 23.1858 5.59323C22.2422 5.98408 21.3849 6.55695 20.6627 7.27914C19.9405 8.00132 19.3676 8.85869 18.9768 9.80227C18.5859 10.7459 18.3848 11.7572 18.3848 12.7785Z" fill="#139FDA"></path>
                <path d="M18.4004 12.7928C18.4004 15.2136 19.5066 17.3762 21.2408 18.8022C22.996 17.3762 24.1173 15.2009 24.1173 12.7638C24.1173 10.343 23.011 8.18042 21.2768 6.75439C19.5217 8.18042 18.4004 10.3552 18.4004 12.7928Z" fill="#7873B5"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.1957" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M8.625 12.7783C8.625 14.8409 9.44439 16.8191 10.9029 18.2776C12.3614 19.7362 14.3396 20.5556 16.4023 20.5556C18.465 20.5556 20.4431 19.7362 21.9017 18.2776C23.3602 16.8191 24.1796 14.8409 24.1796 12.7783C24.1796 10.7156 23.3602 8.73742 21.9017 7.27889C20.4431 5.82037 18.465 5.00098 16.4023 5.00098C14.3396 5.00098 12.3614 5.82037 10.9029 7.27889C9.44439 8.73742 8.625 10.7156 8.625 12.7783V12.7783Z" fill="#EA001B"></path>
                <path d="M18.459 12.7783C18.459 13.7996 18.6601 14.8109 19.051 15.7545C19.4418 16.6981 20.0147 17.5555 20.7369 18.2776C21.4591 18.9998 22.3164 19.5727 23.26 19.9635C24.2036 20.3544 25.2149 20.5556 26.2363 20.5556C27.2576 20.5556 28.2689 20.3544 29.2125 19.9635C30.1561 19.5727 31.0135 18.9998 31.7356 18.2776C32.4578 17.5555 33.0307 16.6981 33.4216 15.7545C33.8124 14.8109 34.0136 13.7996 34.0136 12.7783C34.0136 11.7569 33.8124 10.7456 33.4216 9.80203C33.0307 8.85844 32.4578 8.00108 31.7356 7.27889C31.0135 6.5567 30.1561 5.98383 29.2125 5.59299C28.2689 5.20214 27.2576 5.00098 26.2363 5.00098C25.2149 5.00098 24.2036 5.20214 23.26 5.59299C22.3164 5.98383 21.4591 6.5567 20.7369 7.27889C20.0147 8.00108 19.4418 8.85844 19.051 9.80203C18.6601 10.7456 18.459 11.7569 18.459 12.7783Z" fill="#F79F1A"></path>
                <path d="M18.4785 12.7926C18.4785 15.2134 19.5847 17.376 21.319 18.802C23.0741 17.376 24.1954 15.2006 24.1954 12.7636C24.1954 10.3427 23.0892 8.18018 21.355 6.75415C19.5998 8.18018 18.4785 10.3549 18.4785 12.7926Z" fill="#FF5F01"></path>
              </svg>
              <svg width="40" height="25" viewBox="0 0 40 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.35" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M25.8309 8.34546H23.2331C23.0584 8.34546 22.9069 8.4736 22.872 8.64834L21.8236 15.3C21.8003 15.4282 21.9051 15.5446 22.0333 15.5446H23.3613C23.4894 15.5446 23.5942 15.4515 23.6059 15.335L23.9088 13.4478C23.9321 13.2731 24.0835 13.1449 24.2699 13.1449H25.0853C26.7978 13.1449 27.7763 12.3178 28.0326 10.6753C28.1491 9.96469 28.0326 9.39388 27.7064 8.99781C27.3569 8.56679 26.7046 8.34546 25.8309 8.34546V8.34546ZM26.1338 10.7685C25.994 11.7004 25.2834 11.7004 24.5961 11.7004H24.2L24.4796 9.96469C24.4912 9.85985 24.5844 9.77831 24.6893 9.77831H24.864C25.33 9.77831 25.7726 9.77831 26.0056 10.0462C26.1454 10.2093 26.1804 10.4423 26.1338 10.7685V10.7685Z" fill="#009CDE"></path>
                <path d="M7.34456 8.3457H4.7468C4.57206 8.3457 4.42062 8.47384 4.38567 8.64858L3.33724 15.3003C3.31395 15.4284 3.41879 15.5449 3.54693 15.5449H4.78174C4.95648 15.5449 5.10792 15.4168 5.14287 15.242L5.42245 13.448C5.44575 13.2733 5.59719 13.1452 5.78357 13.1452H6.59902C8.31144 13.1452 9.28997 12.3181 9.54626 10.6755C9.66275 9.96494 9.54626 9.39413 9.22008 8.99806C8.8706 8.56704 8.21825 8.3457 7.34456 8.3457V8.3457ZM7.64744 10.7687C7.50765 11.7007 6.79705 11.7007 6.10975 11.7007H5.71368L5.99326 9.96494C6.00491 9.8601 6.0981 9.77855 6.20294 9.77855H6.37768C6.84365 9.77855 7.28632 9.77855 7.5193 10.0465C7.65909 10.2096 7.69404 10.4426 7.64744 10.7687V10.7687ZM15.0913 10.7338H13.8448C13.74 10.7338 13.6468 10.8153 13.6351 10.9202L13.5769 11.2696L13.4953 11.1415C13.2274 10.7571 12.6333 10.6173 12.0275 10.6173C10.6529 10.6173 9.48801 11.6541 9.25503 13.1102C9.13854 13.8325 9.30162 14.5314 9.72099 15.0207C10.1054 15.4634 10.6413 15.6497 11.282 15.6497C12.3887 15.6497 12.9944 14.9391 12.9944 14.9391L12.9362 15.2886C12.9129 15.4168 13.0177 15.5332 13.1459 15.5332H14.2642C14.4389 15.5332 14.5903 15.4051 14.6253 15.2304L15.301 10.9784C15.3242 10.8619 15.2311 10.7338 15.0913 10.7338V10.7338ZM13.3672 13.1568C13.2507 13.8674 12.6799 14.345 11.9693 14.345C11.6082 14.345 11.3169 14.2285 11.1305 14.0072C10.9442 13.7859 10.8743 13.483 10.9325 13.1335C11.049 12.4346 11.6198 11.9337 12.3188 11.9337C12.6682 11.9337 12.9595 12.0501 13.1459 12.2715C13.3439 12.5045 13.4254 12.8073 13.3672 13.1568V13.1568Z" fill="#003087"></path>
                <path d="M33.5779 10.7334H32.3315C32.2266 10.7334 32.1334 10.815 32.1218 10.9198L32.0635 11.2693L31.982 11.1412C31.7141 10.7567 31.12 10.6169 30.5142 10.6169C29.1396 10.6169 27.9747 11.6537 27.7417 13.1099C27.6252 13.8321 27.7883 14.5311 28.2077 15.0203C28.5921 15.463 29.1279 15.6494 29.7687 15.6494C30.8753 15.6494 31.4811 14.9388 31.4811 14.9388L31.4228 15.2883C31.3995 15.4164 31.5044 15.5329 31.6325 15.5329H32.7508C32.9256 15.5329 33.077 15.4048 33.112 15.23L33.7876 10.9781C33.8109 10.8616 33.7177 10.7334 33.5779 10.7334V10.7334ZM31.8539 13.1565C31.7374 13.8671 31.1666 14.3447 30.456 14.3447C30.0948 14.3447 29.8036 14.2282 29.6172 14.0069C29.4308 13.7855 29.3609 13.4826 29.4192 13.1332C29.5357 12.4342 30.1065 11.9333 30.8054 11.9333C31.1549 11.9333 31.4461 12.0498 31.6325 12.2711C31.8306 12.5041 31.9121 12.807 31.8539 13.1565V13.1565Z" fill="#009CDE"></path>
                <path d="M21.709 10.7336H20.4626C20.3461 10.7336 20.2296 10.7919 20.1597 10.8967L18.4356 13.4363L17.7017 11.0016C17.6551 10.8501 17.5153 10.7453 17.3522 10.7453H16.1291C15.9776 10.7453 15.8728 10.8967 15.9194 11.0365L17.294 15.0671L16.0009 16.8844C15.8961 17.0242 16.0009 17.2222 16.1757 17.2222H17.4221C17.5386 17.2222 17.6551 17.164 17.7133 17.0708L21.8605 11.0831C21.9886 10.9317 21.8838 10.7336 21.709 10.7336V10.7336Z" fill="#003087"></path>
                <path d="M35.0477 8.52037L33.9876 15.2885C33.9643 15.4167 34.0692 15.5332 34.1973 15.5332H35.269C35.4438 15.5332 35.5952 15.405 35.6302 15.2303L36.6786 8.57862C36.7019 8.45048 36.597 8.33398 36.4689 8.33398H35.269C35.1526 8.34563 35.0594 8.41553 35.0477 8.52037Z" fill="#009CDE"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.582422" y="0.906885" width="39.2975" height="23.3" rx="0.899922" fill="white" stroke="#DFDFDF" stroke-width="0.7"></rect>
                <path d="M16.7548 7.60319L12.9729 16.6257H10.5054L8.64417 9.42495C8.53147 8.98247 8.43334 8.8196 8.08991 8.63257C7.52864 8.32769 6.6018 8.04253 5.78711 7.8651L5.84207 7.60319H9.81447C10.32 7.60319 10.7752 7.9398 10.8909 8.52265L11.8744 13.7441L14.3022 7.60319H16.7548ZM20.0905 7.60319L18.1604 16.6257H15.8261L17.7561 7.60319H20.0905ZM26.4225 13.6799C26.4322 11.2991 23.1305 11.167 23.1521 10.1032C23.16 9.77982 23.468 9.43547 24.1424 9.34748C24.4764 9.30432 25.3992 9.26983 26.4444 9.75142L26.8533 7.83706C26.2917 7.63399 25.569 7.43848 24.6701 7.43848C22.3625 7.43848 20.7392 8.66412 20.7262 10.4206C20.7111 11.7198 21.8857 12.444 22.769 12.8767C23.6788 13.3186 23.9839 13.6026 23.9797 13.9975C23.9732 14.6029 23.2531 14.8709 22.5836 14.8808C21.4096 14.8995 20.729 14.5636 20.1862 14.3107L19.7625 16.2885C20.3087 16.5388 21.3152 16.7563 22.3577 16.7673C24.8108 16.7673 26.4153 15.5557 26.4225 13.6799ZM32.516 16.6257H34.6742L32.7886 7.60319H30.7973C30.3482 7.60319 29.9708 7.86381 29.8034 8.26461L26.3007 16.6257H28.752L29.2382 15.278H32.233L32.516 16.6257ZM29.9103 13.4291L31.1395 10.0408L31.8455 13.4291H29.9103ZM23.0779 19.1092H22.1295V19.992H23.1904V20.2574H21.8098V17.8083H23.136V18.0737H22.1295V18.8475H23.0779V19.1092ZM23.6804 17.6777H24V20.2573H23.6804V17.6777ZM24.8063 19.4361C24.8135 19.8686 25.0861 20.0466 25.4093 20.0466C25.6384 20.0466 25.78 20.0066 25.8964 19.9559L25.9545 20.1848C25.8418 20.2355 25.6458 20.2973 25.3658 20.2973C24.8246 20.2973 24.5013 19.9376 24.5013 19.4071C24.5013 18.8767 24.8135 18.4624 25.3259 18.4624C25.9036 18.4624 26.0526 18.9639 26.0526 19.2873C26.0526 19.3525 26.049 19.3998 26.0416 19.4361H24.8063ZM25.7437 19.2072C25.7474 19.0075 25.6601 18.6913 25.3005 18.6913C24.9735 18.6913 24.8353 18.9857 24.8098 19.2072H25.7437ZM27.7922 20.1955C27.7087 20.2356 27.5233 20.2974 27.2872 20.2974C26.7567 20.2974 26.4116 19.9377 26.4116 19.3998C26.4116 18.8585 26.782 18.4625 27.3562 18.4625C27.5451 18.4625 27.7122 18.5095 27.7994 18.5569L27.7269 18.8004C27.6504 18.7604 27.5305 18.7167 27.3562 18.7167C26.9528 18.7167 26.735 19.0182 26.735 19.3818C26.735 19.7887 26.9965 20.0393 27.3453 20.0393C27.527 20.0393 27.6469 19.9958 27.7376 19.9558L27.7922 20.1955ZM28.689 18.0773V18.4988H29.1467V18.742H28.689V19.6905C28.689 19.9087 28.7508 20.032 28.9288 20.032C29.0159 20.032 29.067 20.0249 29.1142 20.0101L29.1288 20.2537C29.067 20.2755 28.9688 20.2973 28.8453 20.2973C28.6962 20.2973 28.5763 20.2464 28.5002 20.163C28.4129 20.0647 28.3766 19.9087 28.3766 19.7015V18.742H28.104V18.4988H28.3766V18.1717L28.689 18.0773ZM29.5933 19.0474C29.5933 18.8403 29.5894 18.6623 29.5787 18.4987H29.8585L29.8731 18.8475H29.8838C29.9638 18.6114 30.1599 18.4624 30.3742 18.4624C30.407 18.4624 30.4325 18.4661 30.4616 18.4696V18.7713C30.4288 18.7639 30.3963 18.7639 30.3524 18.7639C30.1274 18.7639 29.9673 18.9311 29.9238 19.171C29.9166 19.2145 29.9129 19.269 29.9129 19.3201V20.2574H29.5933V19.0474ZM32.4268 19.3635C32.4268 20.0138 31.9725 20.2973 31.551 20.2973C31.0787 20.2973 30.7083 19.9484 30.7083 19.3926C30.7083 18.8076 31.0969 18.4625 31.5802 18.4625C32.0852 18.4625 32.4268 18.8293 32.4268 19.3635ZM31.0351 19.3817C31.0351 19.7669 31.2531 20.0576 31.5656 20.0576C31.8709 20.0576 32.0996 19.7704 32.0996 19.3744C32.0996 19.0765 31.9507 18.7021 31.5728 18.7021C31.1987 18.7021 31.0351 19.051 31.0351 19.3817ZM32.9167 18.9747C32.9167 18.7895 32.9128 18.6441 32.9021 18.4988H33.1854L33.2037 18.7895H33.2109C33.2981 18.6259 33.5016 18.4625 33.7923 18.4625C34.0355 18.4625 34.4135 18.6078 34.4135 19.2107V20.2573H34.0938V19.2436C34.0938 18.9603 33.9885 18.724 33.6869 18.724C33.4798 18.724 33.3162 18.873 33.2583 19.051C33.2435 19.091 33.2363 19.1455 33.2363 19.2001V20.2573H32.9167V18.9747Z" fill="#1A1F71"></path>
              </svg>
              <svg width="41" height="25" viewBox="0 0 41 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.17375 0.906885H39.6714C40.1684 0.906885 40.5713 1.30979 40.5713 1.80681V23.307C40.5713 23.804 40.1684 24.2069 39.6714 24.2069H2.17375C1.67674 24.2069 1.27383 23.804 1.27383 23.307V1.80681C1.27383 1.30979 1.67674 0.906885 2.17375 0.906885Z" fill="white" stroke="#DFDFDF" stroke-width="0.7"></path>
                <path d="M27.9694 8.74353C27.2115 8.46765 26.4106 8.3291 25.6041 8.33437C22.9942 8.33437 21.1523 9.65021 21.1387 11.5356C21.1224 12.9221 22.4491 13.7024 23.451 14.1673C24.48 14.643 24.8239 14.9421 24.8212 15.3703C24.8144 16.0187 23.9988 16.3123 23.2416 16.3123C22.2004 16.3123 21.6295 16.1668 20.7527 15.8025L20.4278 15.6516L20.0594 17.8239C20.6929 18.0889 21.8347 18.3159 23.016 18.3336C25.7904 18.3336 27.6037 17.0273 27.6255 15.0182C27.6472 13.9131 26.9322 13.0744 25.422 12.3838C24.5058 11.9352 23.9349 11.6348 23.9349 11.1795C23.9349 10.7771 24.4229 10.3475 25.4424 10.3475C26.1204 10.3313 26.7942 10.4577 27.4202 10.7186L27.6649 10.8287L28.0333 8.72994L27.9694 8.74353V8.74353ZM34.7429 8.51245H32.7039C32.0691 8.51245 31.5947 8.68508 31.316 9.31581L27.3944 18.1977H30.1688L30.7234 16.7432L34.1081 16.7459C34.191 17.0857 34.4343 18.1977 34.4343 18.1977H36.8798L34.7429 8.51245V8.51245ZM17.387 8.43089H20.0282L18.3766 18.1215H15.734L17.387 8.42817V8.43089ZM10.6733 13.7717L10.9478 15.1174L13.5319 8.51245H16.3308L12.1699 18.1841H9.37781L7.09414 9.99276C7.05731 9.85777 6.96961 9.7423 6.84946 9.6706C6.02812 9.24395 5.1569 8.92112 4.25586 8.70955L4.28984 8.50565H8.5459C9.12226 8.5274 9.58715 8.70955 9.74619 9.32668L10.6733 13.7758V13.7717V13.7717ZM31.4819 14.7599L32.5354 12.0494C32.5218 12.0766 32.7528 11.4894 32.8861 11.1251L33.0668 11.9611L33.6772 14.7572H31.4819V14.7599V14.7599Z" fill="#1F35C3"></path>
              </svg>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{%- if section.settings.show_cookie_bar -%}
  <cookie-bar section="{{ section.id }}" hidden class="cookie-bar text--xsmall">
    {%- if section.settings.cookie_bar_title != blank -%}
      <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
    {%- endif -%}

    {%- if section.settings.cookie_bar_content != blank -%}
      {{- section.settings.cookie_bar_content -}}
    {%- endif -%}

    <div class="cookie-bar__actions">
      <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">
        {{ 'footer.cookie_bar.accept' | t }}
      </button>
      <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">
        {{ 'footer.cookie_bar.decline' | t }}
      </button>
    </div>
  </cookie-bar>
{%- endif -%}

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Customer privacy bar"
    },
    {
      "type": "checkbox",
      "id": "show_cookie_bar",
      "label": "Show privacy bar",
      "info": "Privacy bar will only be visible if it fulfills the conditions of the [Shopify Customer Privacy API](https://shopify.dev/docs/themes/consent-tracking-api)",
      "default": false
    },
    {
      "type": "text",
      "id": "cookie_bar_title",
      "label": "Title",
      "default": "Cookie policy"
    },
    {
      "type": "richtext",
      "id": "cookie_bar_content",
      "label": "Content",
      "default": "<p>I agree to the processing of my data in accordance with the conditions set out in the policy of Privacy.</p>"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "300 x 300px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To configure social media, go to your social media settings."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>To configure social media, go to your social media settings. Change this text in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {}
      },
      {
        "type": "newsletter",
        "settings": {}
      },
      {
        "type": "social_media",
        "settings": {}
      }
    ]
  }
}
{% endschema %}
