<style>
.media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  {%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .img__modal-wrapper {
    background: rgb(var(--background));
    background: rgb(var(--section-background, var(--background)));
}
.img__modal-item {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
.img__modal-img {
    width: 242px;
    height: 242px;
    margin-right: 100px;
    flex-shrink: 0;
}
.img__modal-tltle{
  font-size: 32px;
  line-height:1.1;
  margin-bottom:30px;
}
.img__modal-subtitle{
  font-size: 16px;
}
@media screen and (max-width: 768px){
  .img__modal-item{
    flex-direction: column;
    justify-content: center;
  }
  .img__modal-txt {
    text-align: center;
}
.img__modal-img{
  margin-right: 0px;
  width: 142px;
  height: 142px;
  margin-bottom:34px;
}
.img__modal-tltle{
  font-size: 24px;
      margin-bottom: 15px;
}
.img__modal-subtitle{
  font-size: 14px;
}
@media screen and (max-width: 768px){
  .media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
}
</style>

<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="img__modal-wrapper media-{{ section.id }}-padding">
    <div class="container">
        <div class="img__modal-item">
            {%- if section.settings.image != blank -%}
              <div class="img__modal-img">
                <img class="" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" src="{{ section.settings.image | img_url }}" alt="{{ section.settings.image.alt | escape }}">
              </div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <div class="img__modal-txt">
<!--                 <div class="img__modal-tltle">{{ section.settings.title }}</div> -->
                <h3 class="heading h3">{{ section.settings.title }}</h2>
                <div class="img__modal-subtitle">{{ section.settings.content }}</div>
              </div>
            {%- endif -%}
        </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Img-with-text-modal",
  "class": "img-with-text-modal",
  "blocks": [
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "242 x 242px .jpg recommended"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your content"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Unlike some devices which can burn the skin, the Ulike Sapphire Air has a significantly cooler head, making it more comfortable and practically painless to use. You’ll become obsessed with the results.</p>"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Img-with-text-modal"
    }
  ]
}
{% endschema %}