<link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}" media="print" onload="this.media='all'">
<style>
.media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .ipl-comparison-wrapper {
    background: rgb(var(--background));
    background: rgb(var(--section-background, var(--background)));
}
.ipl-comparison-wrapper .ipl-comparison-title{
   font-size: 32px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
}
.ipl-comparison-inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 60px;
}
.ipl-comparison-wrapper .title{
  font-size: 24px;
  margin: 20px 0;
}
.ipl-comparison-wrapper .animated-plus {
    width: 20px;
    height: 20px;
}
.ipl-comparison-wrapper .animated-plus:before {
    width: 20px;
}
.ipl-comparison-wrapper .animated-plus:after {
    height: 20px;
}
.ipl-comparison__text {
    line-height: 1.5;
}
@media screen and (max-width: 768px){
  .media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
  .ipl-comparison-inner {
    grid-template-columns:1fr;
  }
  .ipl-comparison-wrapper .ipl-comparison-title{
        font-size: 16px;
  }
  .ipl-comparison-wrapper .title{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .ipl-comparison-wrapper .ipl-comparison__text{
    font-size: 12px;
  }
}
</style>

<section>
  <div class="ipl-comparison-wrapper media-{{ section.id }}-padding">
    <div class="ipl-comparison-box container" itemscope itemprop="mainEntity">
      <button is="toggle-button" class="collapsible-toggle ipl-comparison-title" aria-controls="block-{{ section.id }}" aria-expanded="false" itemprop="name">
        {{- section.settings.title -}}
        <span class="animated-plus"></span>
      </button>
      <collapsible-content id="block-{{ section.id }}" class="collapsible anchor" itemscope itemprop="acceptedAnswer" {{ block.shopify_attributes }}>
        <div class="ipl-comparison-inner">
          {%- for block in section.blocks -%}
            <div class="ipl-comparison-item">
              {%- if block.settings.image != blank -%}
                <div class="ipl-comparison-image">
                  {{- block.settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
                </div>
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <h3 class="title h3">
                  {{- block.settings.title -}}
                </h3>
              {%- endif -%}
              {%- if block.settings.content != blank -%}
                <div class="ipl-comparison__text">
                  {{- block.settings.content -}}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </collapsible-content>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "IPL Comparison",
  "class": "ipl-method-comparison",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "493 x 320px .jpg recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Unlike some devices which can burn the skin, the Ulike Sapphire Air has a significantly cooler head, making it more comfortable and practically painless to use. You’ll become obsessed with the results.</p>"
        }
      ]
    }
  ],
  "settings": [
     {
      "type": "text",
      "id": "title",
      "default": "Custom Comment",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subTitle",
      "default": "Custom Comment",
      "label": "SubHeading"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Custom Comment",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "IPL Comparison",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        }
      ]
    }
  ]
}
{% endschema %}