<style>
 .IPL-no1 {
    background: #E6F9FA;
    padding: 80px 0;
  }

  /* .IPL-no1 .container {
    max-width: 1400px;
  } */

  .IPL-no1 .IPL-no1-cont {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .IPL-no1 .ipl-logo {
    display: block;
    width: 125px;
  }

  .IPL-no1 .IPL-no1-sub {
    font-size: 24px;
    color: #000;
    line-height: 1;
    margin-top: 10px;
    font-family: var(--font-sans-family);
  }

  .IPL-no1 .IPL-no1-color-title {
    font-size: 130px;
    color: rgba(0, 0, 0, 0);
    line-height: 1;
    background-clip: text;
    background-repeat: no-repeat;
    --deg-num: -76deg;
    background-image: linear-gradient(var(--deg-num), #be0737, #ff5f88);
    background-size: 100% 100%;
    font-family: var(--font-sans-family);
  }

  .IPL-no1 .IPL-no1-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
  }

  .IPL-no1 .IPL-no1-item {
    padding-right: 56px;
    color: #000;
    line-height: 1;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
  }

  .IPL-no1 .IPL-no1-item:last-child {
    padding-right: 0;
    border-right: 0;
  }

   .IPL-no1 .IPL-no1-item .ipl-icon{
     width:110px;
   }

  .IPL-no1 .IPL-no1-num {
    font-size: 85px;
    display: flex;
    justify-content: center;
  }

  .IPL-no1 .IPL-no1-num span {
    display: block;
    position: relative;
    padding-right: 10px;
  }

  /* .IPL-no1 .IPL-no1-num span::before {
    position: absolute;
    content: '+';
    color: #000;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    right:3px;
    top: 0;
  } */

  .IPL-no1 .IPL-no1-p {
    font-size: 32px;
    line-height: 1;
    margin-top:15px;
  }
.des_ipl-rt{
  color: rgba(63, 54, 54, .5);
  font-size: 14px;
  line-height: 1.5;
  margin-top:10px;
  max-width:300px;
}
  span.small_txt {
    font-size: 44px;
}
  .ipl_tle{
    color:  #190A0A;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 120%;
    padding-bottom:60px;
    margin-bottom:70px;
    border-bottom:1px solid #D9D9D9;
  }
  .IPL-no1 .IPL-no1-num span.num_scroll{
     font-family: var(--font-sans-family);
  }
  @media (max-width:1700px) {
    .IPL-no1 .IPL-no1-color-title{
      font-size:100px;
    }
    .IPL-no1 .IPL-no1-num{
      font-size:50px;
    }
    /* .IPL-no1 .IPL-no1-num span::before {
      font-size:30px;
    } */
    .IPL-no1 .IPL-no1-p{
      font-size:16px;
    }
    .IPL-no1 .IPL-no1-item .ipl-icon{
     width:90px;
   }
  }
  @media (max-width:1500px) {
    .IPL-no1 .IPL-no1-sub {
      font-size: 20px;
    }

    .IPL-no1 .IPL-no1-color-title {
      font-size: 90px;
    }
    .IPL-no1 .IPL-no1-item .ipl-icon{
       width:70px;
     }

    .IPL-no1 .IPL-no1-num {
      font-size: 45px;
    }
    
    /* .IPL-no1 .IPL-no1-num span::before {
      font-size:25px;
    } */
  }

  @media (max-width:1300px) {
    .IPL-no1 .IPL-no1-sub {
      font-size: 16px;
    }

    .IPL-no1 .IPL-no1-color-title {
      font-size: 65px;
    }
    .IPL-no1 .IPL-no1-item .ipl-icon{
       width:60px;
     }
    .IPL-no1 .IPL-no1-num {
      font-size: 30px;
    }
    .IPL-no1 .IPL-no1-num span{
      padding-right:8px;
    }
    /* .IPL-no1 .IPL-no1-num span::before {
      font-size: 18px;
      right:6px;
    } */
    .IPL-no1 .IPL-no1-right{
      gap:30px;
    }
    .IPL-no1 .IPL-no1-item{
      padding-right:30px;
    }
  }

  @media (max-width:991px) {
    .IPL-no1 {
      padding: 50px 0;
    }
    .IPL-no1 .IPL-no1-cont {
      flex-direction: column;
      gap: 21px;
    }
    .IPL-no1 .IPL-no1-color-title {
        font-size: 70px;
        letter-spacing: -4px;
    }
    .IPL-no1 .IPL-no1-num { 
      font-size: 24px;
    }

    /* .IPL-no1 .IPL-no1-num span::before {
      font-size: 12px;
    } */

    .IPL-no1 .IPL-no1-p {
      font-size: 12px;
    }
    .IPL-no1 .IPL-no1-left {
      text-align: center;
    }

    .IPL-no1 .ipl-logo {
      margin: 0 auto;
      width:65px;
    }

    .IPL-no1 .IPL-no1-num span {
      padding-right: 8px;
    }

    /* .IPL-no1 .IPL-no1-num span::before {
      right: 5px;
    } */
    .des_ipl-rt{
      max-width:none;
    }
      .ipl_tle{
font-size: 28px;
    padding-bottom:28px;
    margin-bottom:42px;
        text-align: center;
  }
  }

  @media (max-width:768px) {
    .IPL-no1 .IPL-no1-sub {
      font-size: 12px;
    }
    .IPL-no1 .IPL-no1-num {
      font-size: 24px;
      justify-content: flex-start;
    }
    span.small_txt {
    font-size: 12px;
}

    /* .IPL-no1 .IPL-no1-num span::before {
      font-size: 12px;
    } */

    .IPL-no1 .IPL-no1-p {
      font-size: 12px;
      margin-top:8px;
      /* zoom:0.8; */
      text-align: center;
    }
    .IPL-no1 .IPL-no1-item .ipl-icon{
       width:33px;
     }
  }

  @media (max-width:640px) {
    .IPL-no1 .IPL-no1-right {
      gap: 10px;
      /* width:100%; */
    }

    .IPL-no1 .IPL-no1-item {
      padding-right: 10px;
    }

    .IPL-no1 .IPL-no1-num span{
      padding-right: 2px;
    }
    /* .IPL-no1 .IPL-no1-num span::before {
      font-size: 12px;
    } */
    
    .des_ipl-rt{
      text-align: center;
      margin-top:23px;
    }
  }
</style>

<section>
  <div class="IPL-no1 to-top" style="background:{{ section.settings.bg_color }}">
    <div class="jp-container">
      <div class="ipl_tle">{{ section.settings.tle }}</div>
      <div class="IPL-no1-cont">
        <div class="IPL-no1-left to-top" style="transition-delay: 0.05s">
          {%- if section.settings.image != blank -%}
            <img loading="lazy"  class="ipl-logo" width="" height="" {% render 'image-attributes', image: section.settings.image %}>
          {%- endif -%}
          <div class="IPL-no1-sub">{{ section.settings.text }}</div>
          <div class="IPL-no1-color-title" style="--deg-num:-76deg;">{{ section.settings.text1 }}</div>
        </div>
        <div class="IPL-no1-right">
          {%- for block in section.blocks -%}
            <div class="IPL-no1-item to-top" style="transition-delay: 0.{{ forloop.index }}s">
              {%- if block.settings.image != blank -%}
                <img loading="lazy"  class="ipl-icon" width="" height="" {% render 'image-attributes', image: block.settings.image %}>
              {%- endif -%}
              <div>
                <div class="IPL-no1-num">
                  {%- if block.settings.text != blank -%}
                    <span class="num_scroll">{{ block.settings.text }}</span>
                  {%- endif -%}
                  <span class="small_txt">{{ block.settings.text1 }}</span>
                </div>
                <div class="IPL-no1-p">{{ block.settings.text2 }}</div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
      {%- if section.settings.des != blank -%}
      <div class="des_ipl-rt to-top" style="transition-delay: 0.1s">
          {{ section.settings.des }}
      </div>
      {%- endif -%}
    </div>
  </div>
</section>
<script>
    function textAm() {
      let $box = document.querySelector('.IPL-no1 .IPL-no1-color-title')
      let num = -76
      function step() {
        num += 1.5
        if (num > 284) num = -76
        $box.style = '--deg-num:' + num + 'deg;'
        requestAnimationFrame(step);
      }
      step()
    }
    textAm()
  document.addEventListener('DOMContentLoaded', function() {
      animateNumbersVisibleAnime('.IPL-no1 .IPL-no1-num span.num_scroll');
    })
  
</script>
{% schema %}
{
  "name": "IPL-no1-new",
  "settings": [
     {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "des",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "背景颜色",
      "default":"#E6F9FA"
    }
    
  ],
  "blocks": [
    {
    "name": "item",
    "type": "item",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text"
      }
    ]
    }
  ],
  "presets": [
    {
      "name": "IPL-no1-new"
    }
  ]
}
{% endschema %}