<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<style>
.media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .logo-carousel-wrapper {
    background: rgb(var(--background));
    background: rgb(var(--section-background, var(--background)));
}
  .logo-carousel-item{
    padding: 0 50px;
  }
  .logo-carousel-inner {
    position: relative;
    margin-top: 40px;
  }
  .logo-carousel-image{
    margin-bottom: 15px;
  }
  .logo-carousel-image img{
    height: 54px;
  }
@media screen and (max-width: 768px){
  .media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
</style>

<section class="">
  <div class="logo-carousel-wrapper media-{{ section.id }}-padding">
    <div class="certify">
        {%- if section.settings.title != blank -%}
          <h3 class="title h3">{{ section.settings.title | escape }}</h3>
        {%- endif -%}
        {%- if section.settings.description != blank -%}
           <div class="des des-txt">{{ section.settings.description | escape }}</div>
        {%- endif -%}
        <div class="logo-carousel-inner splide">
          <div class="logo-carousel-carousel splide__track" id="logo-carousel-carousel">
            <div class="splide-wrapper splide__list">
            {%- for block in section.blocks -%}
              <div class="logo-carousel-item splide__slide">
                {%- if block.settings.image != blank -%}
                  <div class="logo-carousel-image">
                    {{- block.settings.image | image_url: width: 3000 | image_tag: loading: 'lazy', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
                  </div>
                {%- endif -%}
                {%- if block.settings.content != blank -%}
                  <div class="custom-comment__text">
                    {{- block.settings.content -}}
                  </div>
                {%- endif -%}
                {%- if block.settings.custom_autor != blank -%}
                  <div class="custom-comment__autor">{{ block.settings.custom_autor }}</div>
                {%- endif -%}
              </div>
            {%- endfor -%}
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide( '.splide', {
      type   : 'loop',
      drag   : 'free',
      focus  : 'center',
      perPage: 5,
      pagination: false,
      arrows: false,
      padding: {
      left: '50px', // 左侧间距
      right: '50px', // 右侧间距
    },
      autoScroll: {
        speed: 1
      },
      breakpoints: {
        768: {
          perPage: 2, // 当屏幕宽度小于768px时，每页显示的滑块数量
        },
        576: {
          perPage: 1, // 当屏幕宽度小于576px时，每页显示的滑块数量
        }
      }
    })
    // 动态调整 perPage 以适应屏幕宽度变化
    splide.on('resize', function() {
      var perPage = splide.options.breakpoints[splide.state.breakpoint].perPage;
      splide.options.perPage = perPage;
      splide.refresh();
    });
    splide.mount(window.splide.Extensions);
  })
</script>
{% schema %}
{
  "name": "Logo Carousel",
  "class": "logo-carousel",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "130 x 30px .jpg recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Unlike some devices which can burn the skin, the Ulike Sapphire Air has a significantly cooler head, making it more comfortable and practically painless to use. You’ll become obsessed with the results.</p>"
        }
      ]
    }
  ],
  "settings": [
     {
      "type": "text",
      "id": "title",
      "default": "Custom Comment",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subTitle",
      "default": "Custom Comment",
      "label": "SubHeading"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Custom Comment",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        }
      ]
    }
  ]
}
{% endschema %}