<style>
.video-box {
   display: grid;
    column-gap: 20px;
    justify-content: space-between;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.video-txt{
  font-size: 20px;
  line-height: 30px;
  margin-top:13px;
}
.video-box[hidden] {
    display: none !important;
}
.tiktok-box video{
  height:864px;
}
.video-box.tik-box{
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 740px) {
.video-box, .video-box.tik-box{
  grid-template-columns: 1fr;
}
.tiktok-box video{
  height:auto;
}
.video-txt{
  text-align:center;
  font-size: 12px;
  line-height:18px;
}
}
</style>

<section class="section">
  <div class="section__color-wrapper">
    <div class="container">
      {%- if section.settings.title != blank or section.settings.subheading != blank or section.settings.content != blank -%}
        <header class="section__header {% if section.settings.content != blank %}section__header--tight{% endif %} section__header--{{ section.settings.column_alignment }}">
          <div class="text-container">
            {%- if section.settings.title != blank -%}
              <h2 class="heading h2">{{ section.settings.title }}</h2>
            {%- endif -%}

            {%- if section.settings.subheading != blank -%}
              <h3 class="heading h3">{{ section.settings.subheading }}</h3>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              {{- section.settings.content -}}
            {%- endif -%}
          </div>
        </header>
      {%- endif -%}
      <tabs-nav id="search-tabs-nav" class="tabs-nav tabs-nav--center tabs-nav--no-border tabs-nav--edge2edge">
        <scrollable-content class="tabs-nav__scroller hide-scrollbar">
          <div class="tabs-nav__scroller-inner">
            <div class="tabs-nav__item-list">
              <button class="tabs-nav__item heading heading--small" aria-expanded="true" aria-controls="block-template---{{ section.id }}-0">YouTube</button>
<!--               <button class="tabs-nav__item heading heading--small" aria-expanded="true" aria-controls="block-template---{{ section.id }}-1">TikTok</button> -->
            </div>
          </div>
        </scrollable-content>
      </tabs-nav>
      <div class="video-box" id="block-template---{{ section.id }}-0">
        {%- for block in section.blocks -%}
          {%- if block.settings.video_type == 'YouTube' -%}
            <div class="youtube-box">
              <div class="video-section video-section--full">
                {%- if block.settings.video != blank -%}
                  {% comment %} <native-video class="video-wrapper video-wrapper--native" style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                    {{- block.settings.video | video_tag: controls: true, autoplay: false, playsinline: true, muted: true, loop: true , image_size: '740x' -}}
                  </native-video> {% endcomment %}
                  <native-video class="video-wrapper video-wrapper--native" style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                      <div class="video-wrapper__poster">
                        {{  block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 999px) calc(100vw - 48px), 640px', widths: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200', class: 'video-wrapper__poster-image' }}

                        <div class="video-wrapper__poster-content">
                          {% comment %} <button type="button" class="video-wrapper__play-button" title="{{ 'general.accessibility.play_video' | t | escape }}">
                            {%- render 'icon' with 'play', width: 72, height: 72 -%}
                          </button> {% endcomment %}
                        </div>
                      </div>
                    
                    <template>
                      {{- block.settings.video | video_tag:  controls: true, autoplay: false, playsinline: true, muted: true, loop: true  -}}
                    </template>
                  </native-video>
                  <div class="video-txt">{{ block.settings.title }}</div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="video-box tik-box" id="block-template---{{ section.id }}-1" hidden>
        {%- for block in section.blocks -%}
          {%- if block.settings.video_type == 'TikTok' -%}
            <div class="tiktok-box">
              <div class="video-section video-section--full">
                {%- if block.settings.video != blank -%}
                  {% comment %} <native-video class="video-wrapper video-wrapper--native" style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                    {{- block.settings.video | video_tag: controls: true, autoplay: false, playsinline: true, muted: true, loop: true , image_size: '740x' -}}
                  </native-video> {% endcomment %}
                  <native-video class="video-wrapper video-wrapper--native" style="--aspect-ratio: {{ block.settings.video.aspect_ratio }}">
                      <div class="video-wrapper__poster">
                        {{  block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 999px) calc(100vw - 48px), 640px', widths: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200', class: 'video-wrapper__poster-image' }}

                        <div class="video-wrapper__poster-content">
                          {% comment %} <button type="button" class="video-wrapper__play-button" title="{{ 'general.accessibility.play_video' | t | escape }}">
                            {%- render 'icon' with 'play', width: 72, height: 72 -%}
                          </button> {% endcomment %}
                        </div>
                      </div>
                    
                    <template>
                      {{- block.settings.video | video_tag:  controls: true, autoplay: false, playsinline: true, muted: true, loop: true  -}}
                    </template>
                  </native-video>
                  <div class="video-txt">{{ block.settings.title }}</div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="button-wrapper text--center" style="margin:32px auto 0;max-width:335px">
        <a href="javascript:;" id="loadMore" class="button button--primary button--animate button--full button--first hidden-lap-and-up">LEARN MORE</a>
        {%- if section.settings.button_text != blank -%}
          <a href="{{ section.settings.button_link }}" class="button button--primary button--animate button--full">{{ section.settings.button_text | escape }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</section>
<script>
    function ready(fn){
      if(document.addEventListener){		//标准浏览器
        document.addEventListener('DOMContentLoaded',function(){
          //注销时间，避免重复触发
          document.removeEventListener('DOMContentLoaded',arguments.callee,false);
          fn();		//运行函数
        },false);
      }else if(document.attachEvent){		//IE浏览器
        document.attachEvent('onreadystatechange',function(){
          if(document.readyState=='complete'){
            document.detachEvent('onreadystatechange',arguments.callee);
            fn();		//函数运行
          }
        });
      }
    };
    function isScreenWidthGreaterThan650() {
      return window.innerWidth < 650;
    }

    function checkScreenWidth() {
      if (isScreenWidthGreaterThan650()) {
        const listItems = document.querySelectorAll('.video-box .youtube-box');
        const TiktoklistItems = document.querySelectorAll('.video-box .tiktok-box');
        const tabNavList = document.querySelector('.tabs-nav__item-list');
        const videoLists = document.querySelectorAll('.video-box');
        const loadMoreButton = document.getElementById('loadMore');
        // 隐藏所有列表项，除了前两个
        for (let i = 2; i < listItems.length; i++) {
          listItems[i].style.display = 'none';
        }
        // 隐藏所有列表项，除了前一个
        for (let i = 1; i < TiktoklistItems.length; i++) {
          TiktoklistItems[i].style.display = 'none';
        }
        // 为“显示更多”按钮添加点击事件监听器
        loadMoreButton.addEventListener('click', () => {
          if(videoLists[1].hasAttribute('hidden')){
            for (let i = 0; i < listItems.length; i++) {
              listItems[i].style.display = 'block';
            }
          } else {
            for (let i = 0; i < TiktoklistItems.length; i++) {
             TiktoklistItems[i].style.display = 'block';
            }
          }
          // 隐藏“显示更多”按钮，因为所有列表项都已显示
          loadMoreButton.style.display = 'none';
        });
        tabNavList.addEventListener('click', (e)=>{
          // 隐藏所有列表项，除了前两个
          for (let i = 2; i < listItems.length; i++) {
            listItems[i].style.display = 'none';
          }
          // 隐藏所有列表项，除了前一个
          for (let i = 1; i < TiktoklistItems.length; i++) {
            TiktoklistItems[i].style.display = 'none';
          }
           loadMoreButton.style.display = 'inline-block';
        })
      } 
    }
    checkScreenWidth()
  </script>
{% schema %}
{
  "name": "Main Video",
  "class": "shopify-section--main-video",
  "blocks": [
     {
      "type": "item",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "text",
          "id": "video_type",
          "label": "Video Type",
          "default": "YouTube"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Replaces the external video if both are set."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Multi-column"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "label": "Column/header alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
     {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Main Video",
      "settings": {},
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}