<style>
  #shopify-section-{{ section.id }} {
    --progress-bar-color: {{ section.blocks.first.settings.text_color.red }}, {{ section.blocks.first.settings.text_color.green }}, {{ section.blocks.first.settings.text_color.blue }};
    --section-autoplay-duration: {% if section.settings.autoplay %}{{ section.settings.cycle_speed }}s{% else %}0s{% endif %};
    --section-animation-play-state: paused;
     --heading-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --text-color: {{ section.settings.text_color.red }}, {{ section.settings.text_color.green }}, {{ section.settings.text_color.blue }};
      --primary-button-background: {{ section.settings.button_background.red }}, {{ section.settings.button_background.green }}, {{ section.settings.button_background.blue }};
      --primary-button-text-color: {{ section.settings.button_text_color.red }}, {{ section.settings.button_text_color.green }}, {{ section.settings.button_text_color.blue }};
    background-color: {{ section.settings.background }}; /* Allows to set a placeholder color while loading */
  }
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- for block in section.blocks -%}
    {%- assign text_position = block.settings.text_position | split: '_' | first -%}
    {%- case text_position -%}
      {%- when 'top' -%}
        {%- assign section_items_alignment = 'flex-start' -%}
      {%- when 'middle' -%}
        {%- assign section_items_alignment = 'center' -%}
      {%- when 'bottom' -%}
        {%- assign section_items_alignment = 'flex-end' -%}
    {%- endcase -%}
    #block-{{ section.id }}-{{ block.id }} {
      --section-blocks-alignment: {{ section_items_alignment }};
      --section-blocks-overlay-color: {{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }};
      --section-blocks-overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {%- endfor -%}
  .pcos.section {
    background: linear-gradient(180deg, #b6e3dbff 0%, #ffffffff 100%);
  }
  .summer.section {
    background: linear-gradient(180deg, #ffffffff 0%, #fff6d5ff 100%);
}
  .img-full .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
  .img-full h3.heading.heading--small.text--center {
    max-width: 1000px;
    margin: 0 auto;
}
  a.slideshow__btn-link {
     font-size: 16px;
    text-decoration: underline;
}
  .summer a.slideshow__btn-link {
    color: #1c64a7ff;
    margin-bottom: 30px;
    display: inline-block;
}
   .summer .slideshow__slide {
    max-width: 930px;
     margin: 0 auto;
}
  @media screen and (max-width: 750px) {
   .img-full h3.heading.heading--small.text--center {
    padding: 0 20px 30px;
   }
  }
</style>

<section class="section section--flush{% if section.settings.custom_class %} {{section.settings.custom_class}}{% endif %}">
  <div class="container">
    <slide-show reveal-on-scroll {% if section.settings.autoplay %}auto-play{% endif %} transition-type="{{ section.settings.transition_type | escape }}" class="slideshow slideshow--{{ section.settings.section_height }}">
      <div class="slideshow__slide-list section-{{ section.id }}-padding">
        {%- if section.settings.title != blank -%}
          <h2 class="heading h3 text--{{section.settings.text_alignment}}">
            <split-lines>{{ section.settings.title | escape }}</split-lines>
          </h2>
        {%- endif -%}

        {%- if section.settings.subheading != blank -%}
          <h3 class="heading heading--small text--{{section.settings.text_alignment}}">
            <split-lines>{{ section.settings.subheading | escape }}</split-lines>
          </h3>
        {%- endif -%}


        <div class="custom_title-box__icon hidden-pocket text--{{section.settings.text_alignment}}">
          {%- if section.settings.custom_title_icon != blank -%}
            <img loading="lazy" {% render 'image-attributes', image: section.settings.custom_title_icon %}>
          {%- endif -%}
        </div>

        <div class="custom_title-box__icon hidden-lap-and-up text--{{section.settings.text_alignment}}">
          {%- if section.settings.custom_mobile_title_icon != blank -%}
            <img loading="lazy" {% render 'image-attributes', image: section.settings.custom_mobile_title_icon %}>
          {%- endif -%}
        </div>
        
        {%- if section.settings.subheading_1 != blank -%}
          <h3 class="heading h3 text--{{section.settings.text_alignment}}">
            <split-lines>{{ section.settings.subheading_1 | escape }}</split-lines>
          </h3>
        {%- endif -%}

        {%- if section.settings.des_1 != blank -%}
          <h3 class="heading heading--small text--{{section.settings.text_alignment}}">
            <split-lines>{{ section.settings.des_1 | escape }}</split-lines>
          </h3>
        {%- endif -%}

        {%- if section.settings.content != blank -%}
            <div style="max-width:800px;margin:0 auto 50px;text-align: center;">
            {{- section.settings.content -}}
            </div>
          {%- endif -%}
          
        {%- if section.settings.link_1_text != blank -%}
          <div class="text--{{section.settings.text_alignment}}">
{% comment %}                 <a class="slideshow__btn-link" href="{{ section.settings.link_1_link }}"> {% endcomment %}
                  <a class="slideshow__btn-link" href="javascript:;">
                 {{ section.settings.link_1_text }}
                </a>
            </div>
          {%- endif -%}
        {%- for block in section.blocks -%}
          {%- comment -%}
          ------------------------------------------------------------------------------------------------------------------
          IMAGE PART
          ------------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- assign image = block.settings.image -%}
          {%- assign split_image = block.settings.split_image -%}
          {%- assign mobile_image = block.settings.mobile_image -%}

          {%- assign image_aspect_ratio = image.aspect_ratio | default: 2.63 -%}

          {%- comment -%}
          If the image is split and that we want to preserve the ratio, we have to multiply the ratio by 2 (as each image
          only account for half the screen size)
          {%- endcomment -%}

          {%- if image != blank and split_image != blank and section.settings.section_height == 'auto' -%}
            {%- assign image_aspect_ratio = image_aspect_ratio | times: 2.0 -%}
          {%- endif -%}

          {%- if forloop.index > 2 -%}
            {%- assign loading_attribute_value = 'lazy' -%}
          {%- else -%}
            {%- assign loading_attribute_value = 'eager' -%}
          {%- endif -%}

          {%- capture slide_content -%}
            <div class="slideshow__image-wrapper {% if mobile_image != blank %}hidden-pocket{% endif %}" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
              {%- if image != blank -%}
                {%- capture sizes_attributes -%}{% if split_image != blank %}(min-width: 1000px) 50vw{% else %}100vw{% endif %}{%- endcapture -%}
                {{- image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: sizes_attributes, widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
              {%- else -%}
                {% capture image_name %}lifestyle-{% cycle '1', '2' %}{%- endcapture -%}
                {{- image_name | placeholder_svg_tag: 'slideshow__image slideshow__image--placeholder' -}}
              {%- endif -%}
            </div>

            {%- comment -%}If a second image (split image) is uploaded, we use it. Note that we use the same ratio as the first image (to have equal column height){% endcomment %}
            {%- if image != blank and split_image != blank -%}
              <div class="slideshow__image-wrapper slideshow__image-wrapper--secondary hidden-pocket" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
                {{- split_image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: '50vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
              </div>
            {%- endif -%}

            {%- if mobile_image != blank -%}
              <div class="slideshow__image-wrapper hidden-lap-and-up" {% if section.settings.transition_type == 'reveal' %}reveal-visibility{% endif %}>
                {{- mobile_image | image_url: width: 3000 | image_tag: loading: loading_attribute_value, draggable: false, class: 'slideshow__image', sizes: '100vw', widths: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000' -}}
              </div>
            {%- endif -%}

            {%- comment -%}
            ----------------------------------------------------------------------------------------------------------------
            CONTENT PART
            ----------------------------------------------------------------------------------------------------------------
            {%- endcomment -%}
          {%- endcapture -%}

          {%- comment -%}If only the button 1 link is filled, then we make the whole slide clickable{%- endcomment -%}

          {%- capture slide_attributes -%}
            {{ block.shopify_attributes }}
            id="block-{{ section.id }}-{{ block.id }}"
            class="slideshow__slide {% if split_image != blank %}slideshow__slide--split{% endif %} {% if section.settings.transition_type == 'sweep' %}slideshow__slide--sweep{% endif %}"
            {% unless forloop.first %}hidden{% endunless %}
            {% if section.settings.section_height == 'auto' %}
              style="--image-aspect-ratio: {{ image_aspect_ratio }}; --mobile-image-aspect-ratio: {{ mobile_image.aspect_ratio | default: image_aspect_ratio | default: 1 }};"
            {% endif %}
          {%- endcapture -%}
          <div class="" style="position: relative;">
            <slide-show-item {% if section.settings.transition_type != 'reveal' %}reveal-visibility{% endif %} {{ slide_attributes }}>
              {%- if block.settings.button_1_link != blank and block.settings.button_1_text == blank and block.settings.button_2_text == blank -%}
                <a class="slideshow__slide-inner" href="{{ block.settings.button_1_link }}">
                  {{- slide_content -}}
                </a>
              {%- else -%}
                <div class="slideshow__slide-inner">
                  {{- slide_content -}}
                </div>
              {%- endif -%}
            </slide-show-item>
          </div>
        {%- endfor -%}
        {%- capture buttons -%}
          {%- if section.settings.button_1_text != blank -%}
            <a href="{{ section.settings.button_1_link }}" target="_blank" class="button button--primary button--full button--animate button--{{ section.settings.buttom_size }}" style="max-width:360px">{{ section.settings.button_1_text | escape }}</a>
          {%- endif -%}

          {%- if section.settings.button_2_text != blank -%}
            <a href="{{ section.settings.button_2_link }}" target="_blank" class="button button--primary button--full button--animate button--{{ section.settings.buttom_size }}" style="max-width:360px">{{ section.settings.button_2_text | escape }}</a>
          {%- endif -%}
        {%- endcapture -%}

        {%- if section.settings.button_1_text != blank and section.settings.button_2_text != blank -%}
          <div class="button-group">
            <div class="button-group__wrapper text--center" style="margin-top:40px">
              {{- buttons -}}
            </div>
          </div>
        {%- elsif buttons != blank -%}
          <div class="button-wrapper text--center" style="margin-top:40px">
            {{- buttons -}}
          </div>
        {%- endif -%}
      </div>
      {%- if section.blocks.size > 1 -%}
        <page-dots {% if section.settings.autoplay %}animation-timer{% endif %} class="slideshow__nav container">
          {%- for block in section.blocks -%}
            <button class="slideshow__progress-bar" aria-controls="block-{{ section.id }}-{{ block.id }}" {% if forloop.first %}aria-current="true"{% endif%}>
              <span class="visually-hidden">{{ 'general.accessibility.go_to_slide' | t: num: forloop.index }}</span>
            </button>
          {%- endfor -%}
        </page-dots>
      {%- endif -%}
    </slide-show>
  </div>
</section>

{% schema %}
{
  "name": "Main Image",
  "class": "shopify-section--main-image",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "image_picker",
      "id": "custom_title_icon",
      "label": "Custom Title icon"
    },
    {
      "type": "image_picker",
      "id": "custom_mobile_title_icon",
      "label": "Custom Mobile Title icon"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Tell your story"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Slide title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
     {
      "type": "text",
      "id": "subheading_1",
      "label": "Subheading 1"
    },
     {
      "type": "text",
      "id": "des_1",
      "label": "description"
    },
    {
      "type": "text",
      "id": "link_1_text",
      "label": "link text"
    },
    {
      "type": "url",
      "id": "link_1_link",
      "label": "link 1 link",
      "info": "Leave the \"Button 1 text\" and \"Button 2\" settings empty to make the slide fully clickable."
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "options": [
        {
          "value": "auto",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fit",
          "label": "Fit screen height"
        }
      ],
      "info": "Choose \"Original image ratio\" to not cut images. [Learn more](https://help.shopify.com/en/manual/online-store/images/theme-images#best-practices-for-slideshows-and-full-width-images)",
      "default": "auto"
    },
    {
      "type": "select",
      "id": "transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "sweep",
          "label": "Sweep"
        },
        {
          "value": "reveal",
          "label": "Reveal"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "sweep"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 4,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Button 1 text"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Button 1 link",
      "info": "Leave the \"Button 1 text\" and \"Button 2\" settings empty to make the slide fully clickable."
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Button 2 text"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Button 2 link"
    },
    {
      "type": "select",
      "id": "buttom_size",
      "label": "Buttom Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "info": "Used while slideshow image is loading",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "info": "2160 x 1080px .jpg recommended, 1080 x 1080px .jpg recommended if split",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "split_image",
          "info": "1080 x 1080px .jpg recommended. Won't show up on mobile.",
          "label": "Split image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "1000 x 1400px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}