<style>
        .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* md10-box start*/
.md10-box{
  background: #181717;
}
.md10-box .md10-tle{
   position: relative;
  color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
background: #232A32;
text-align: center;
padding: 20px 20px;
margin-bottom: 70px;
}
.md10-box .md10-tle::after {
  content: '';
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 23px;
  border-style: solid;
  border-color: #232A32 transparent transparent transparent;
}

  
.md10-box .md10-tle strong{
  font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
}
.md10-box .md10-tle strong::after{
  content: '.';
  position: absolute;
  bottom: -25px;
  left: 50%;
}
.md10_bt-item img,.md10_bt-item1 img{
  width: 100%;
}
.md10_bt-item{
  display: flex;
  justify-content: center;
  gap: 114px;
  margin-bottom: 80px;
  position: relative;
}
.md10_bt-item .md10_bt-img{
  max-width: 448px;
}
.md10_bt-item .md10_bt-p{
  color: #FFF;
  color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    writing-mode: vertical-rl;
}
.md10_bt-item1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.md10_bt-item1 .md10_bt-subtle{
  color: #FFF;
font-size: 39.517px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.md10_bt-item1 .md10_bt-tle{
  color: #FFF;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.md10_bt-item1 .md10_bt-tle strong{
  font-size: 60px;
  font-style: normal;
font-weight: 500;
line-height: normal;
  background: linear-gradient(0deg, #B9E7FF 15.91%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.md10_bt-item1 .md10_bt-bix{
  transform: translateX(25%);
}
.md10_bt-item1 .md10_bt-img{
  max-width: 680px;
}
.md10_bt-item .md10_bt-svg{
position: absolute;
bottom: -45%;
}
@media (max-width: 768px) {
  .md10-box .md10-tle{
    margin: 0 -20px 65px;
    font-size: 19px;
    padding: 27px 20px;
  }
  .md10-box .md10-tle strong{
    font-size: 30px;
  }
  .md10-box .md10-tle strong::after {
    bottom: -12px;
  }
  .md10_bt-item1{
    flex-direction: column;
    align-items: flex-start;
  }
  .md10_bt-item1 .md10_bt-bix{
    transform: none;
    margin-bottom: 23px;
  }
  .md10_bt-item{
    gap: 0;
    margin-bottom: 110px;
  }
  .md10_bt-item .md10_bt-img{
    max-width: 100%;
  }
  .md10_bt-item .md10_bt-p{
    position: absolute;
    left: 25px;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .md10_bt-item1 .md10_bt-subtle{
    font-size: 24px;
  }
  .md10_bt-item1 .md10_bt-tle{
    font-size: 21px;
  }
  .md10_bt-item1 .md10_bt-tle strong{
    font-size: 28px;
  }
  .md10_bt-item1 .md10_bt-img{
    max-width: 100%;
  }
  .md10_bt-item .md10_bt-svg{
    max-height: 100px;
    bottom: -29%;
  }
  .md10-box {
    padding-top: 0;
}
}
/* md10-box end*/
</style>
  <section>
    <div class="md10-box section-{{ section.id }}-padding">
      <div class="women_container">
        <div class="md10-flex">
          <div class="md10-tle to-top">
            {{ section.settings.text }}
          </div>
          <div class="md10-bt-box to-top" style="transition-delay: 0.3s">
            <div class="md10_bt-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="170" viewBox="0 0 22 170" fill="none" class="md10_bt-svg">
                <path d="M1 0L1 167L21 144" stroke="#B9E7FF" stroke-width="2"/>
              </svg>
              {%- if section.settings.image1 -%}
              <div class="md10_bt-img">
                <img src="{{ section.settings.image1 | image_url }}" alt="">
              </div>
              {%- endif -%}
              <div class="md10_bt-p">{{ section.settings.text1 }}</div>
            </div>
            <div class="md10_bt-item1">
              <div class="md10_bt-bix">
                <div class="md10_bt-subtle">{{ section.settings.text2_1 }}</div>
                <div class="md10_bt-tle">{{ section.settings.text2_2 }}</div>
              </div>
              {%- if section.settings.image2 -%}
              <div class="md10_bt-img">
                <img src="{{ section.settings.image2 | image_url }}" alt="">
              </div>
               {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Man Module10",
  "class": "shopify-section--man-md10", 
  "settings": [
     {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
     {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1"
        },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text1"
    },
    {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2"
        },
    {
      "type": "text",
      "id": "text2_1",
      "label": "Text2 1"
    },
    {
      "type": "richtext",
      "id": "text2_2",
      "label": "Text2 2"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Man Module10"
    }
  ]
}
{% endschema %}