<style>
  :root{
    --container-gutter: 20px;
  }
  @media screen and (min-width: 741px) {
    :root {
        --container-gutter: 40px;
    }
}
  picture{
  display: block;
}
  .women_container{
  width: 100%;
  max-width: 1300px;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin: 0 auto;
  position: relative;
}
.women_container-cus{
  width: 100%;
  max-width: 1480px;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin: 0 auto;
  position: relative;
}
.women_container.h100{
  height: 100%;
}
.women_kv-container{
  width: 100%;
  max-width: 1480px;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
  margin: 0 auto;
  position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
/* module1_women-wrapper start*/
.module1_women-wrapper picture,.module1_women-wrapper picture img{
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 879px;
  /* object-position: 100% 100%; */
}
.module1_women-wrapper{
  position: relative;
}
.module_ptn{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
    align-items: center;
}
.women_flex{
  display: flex;
  width: 100%;
}
.md1_pd-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
    right: 100px;
    bottom: 133px;
}
.md1_pd-box .md1_pd-img{
  max-width: 170px;
  margin-bottom: 28px;
}
.md1_pd-box .md1_pd-img img{
  width: 100%;
}
.md1_pd-txt{
  color: #FFF;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
margin-top: 10px;
}
.md1_tle .md1_img:nth-of-type(2){
  transform: translate(35%,-20%);
}
.md1_vr-txt{
  position: absolute;
  right: 0;
  top: 0;
  color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 120%;
writing-mode: vertical-rl;
top: 50px;
}
.md1_tle{
  display: flex;
  flex-direction: column;
  /* width: 26vw; */
}

@media (max-width: 1500px) {
  .md1_vr-txt{
    right: 20px;
  }
  .md1_tle{
    width: 45vw;
  }
}
@media (max-width: 768px) {
  .module1_women-wrapper picture, .module1_women-wrapper picture img{
    min-height: 600px;
  }
  .module1_women-wrapper {
    background: #0B0504;
}
  .md1_tle{
    width: 100%;
  }
  .md1_tle .md1_img:nth-of-type(2){
    transform: none;
    margin-top: -20px;
  }
  .women_flex{
    flex-direction: column;
    height: 100%;
        justify-content: space-between;
        padding: 30px 0;
  }
  .md1_pd-box{
    position: static;
    width: 100%;
  }
  .md1_pd-box{
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
  }
  .md1_pd-box .md1_pd-img{
    margin-bottom: 0;
    max-width: 128px;
  }
  .pbt_box{
    flex: 1;
  }
  .md1_vr-txt{
    position: static;
    font-size: 17px;
  }
  .md1_pd-txt{
    font-size: 16px;
  }
  .md1_pd-lg{
    max-width: 152px;
  }
  .md1_pd-lg img{
    width: 100%;
  }
}
/* module1_women-wrapper end*/
</style>
 <section>
    <div class="module1_women-wrapper">
        <picture class="to-opacity">
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
             {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
      <div class="module_ptn">
        <div class="women_kv-container">
          <div class="women_flex">
            <div class="md1_tle to-top" style="transition-delay: 0.1s">
               {%- if section.settings.image_tle1 -%}
              <img src="{{ section.settings.image_tle1 | image_url }}" alt="" srcset="" class="md1_img">
              {%- endif -%}
              {%- if section.settings.image_tle2 -%}
              <img src="{{ section.settings.image_tle2 | image_url }}" alt="" srcset="" class="md1_img">
              {%- endif -%}
            </div>
            <div class="md1_vr-txt to-top" style="transition-delay: 0.2s">
             {{ section.settings.text1 }}
            </div>
            <div class="md1_pd-box to-top" style="transition-delay: 0.4s">
              {%- if section.settings.product_image -%}
              <div class="md1_pd-img">
                <img src="{{ section.settings.product_image | image_url }}" alt="" srcset="" class="md1_img">
              </div>
              {%- endif -%}
             <div class="pbt_box">
              {%- if section.settings.logo_image -%}
              <div class="md1_pd-lg">
                <img src="{{ section.settings.logo_image | image_url }}" alt="" srcset="" class="md1_img">
              </div>
              {%- endif -%}
              <div class="md1_pd-txt">
                 {{ section.settings.text2 }}
              </div>
             </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Man Module1",
  "class": "shopify-section--man-md1", 
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
          "type": "image_picker",
          "id": "image_tle1",
          "label": "Title Image1"
        },
     {
          "type": "image_picker",
          "id": "image_tle2",
          "label": "Title Image2"
        },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text 1"
    },
     {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
     {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
     {
      "type": "text",
      "id": "text2",
      "label": "Text 2"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Man Module1"
    }
  ]
}
{% endschema %}