<style>
  /* module2_women-wrapper start*/
  .module2_women-wrapper picture,.module2_women-wrapper picture img{
  display: block;
  width: 100%;
  object-fit: cover;
  height: 1121px;
}
.module2_women-wrapper{
  position: relative;
}
.module_ptn1{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
.women_fx{
  display: flex;
  position: relative;
    height: 100%;
    justify-content: flex-end;
}
.md2_box2{
  max-width: 1000px;
  width: 100%;
  padding-top: 80px;
}
.md2_box2 img{
  width: 100%;
}
.md2_box1{
  position: absolute;
  bottom: 94px;
  left: 0;
}
.md2_box3{
  position: absolute;
  right: 0;
}
.md2_box1-code{
  color:  #FFF;
font-size: 99px;
font-style: normal;
font-weight: 300;
line-height: 1.2;
padding-top: 33px;
margin-top: 40px;
border-top: 1px solid #fff;
  font-family: var(--font-it-family);
}
  .md2_price-txt1 span{
     font-family: var(--font-it-family);
  }
.md2_box1-code strong{
  font-size: 62px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md2_box1-price{
  display: flex;
  color:  #FFF;
  gap: 27px;
  align-items: flex-end;
}
.md2_price-txt1{
  color: #FFF;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md2_price-txt1 span{
  text-decoration: line-through;
}
.md2_price-txt1 strong{
  font-size: 16px;
  font-style: normal;
font-weight: 400;
text-decoration: line-through;
}
.md2_price-txt2{
  color:  #FFF;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
  font-family: var(--font-it-family);
}
.md2_price-txt2 strong{
  font-family: var(--font-body-family);
  font-size: 22px;
  font-style: normal;
font-weight: 400;;
}
.md2_box3{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0;
  align-items: flex-end;
}
.md2_left{
  width: 256px;
height: 256px;
flex-shrink: 0;
background-color: #C9ECFF;
color: #000;
border-radius: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.md2_box3-txt1 {
  color: #000;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 120%;
};
.md2_box3-txt1 strong{
  font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}
.md2_box3-txt2{
  color: #000;
font-size: 69px;
font-style: normal;
font-weight: 500;
line-height: 1.3;
text-align: center;
}
  .md2_box3-txt2 p:not(:first-child){
  line-height: 0.5;
}
.md2_box3-txt2 strong{
    color: #000;
text-align: center;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}
.md2_box3-txt3{
  color: #000;
text-align: center;
font-size: 43px;
font-style: normal;
font-weight: 500;
line-height: 100%;
}
.md2_box1-txt{
  color:  #FFF;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.md2_box1-txt1{
  color:  #FFF;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mobile_md2_tle1,.mobile_md2_tle2{
  display: none;
}

    .md2_right .product-form-wrapper{
    margin-top:0;
    flex:1;
  }
   .md2_right .product-form__submit{
    color: #000;
    height: 56px;
    border-radius: 35px;
background: #B9E7FF;
    border-color:#B9E7FF;
     font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 32.5px */
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
   .md2_right .product-form__submit.button:after{
    border-color:#B9E7FF;
    border-radius: 35px;
  }
   .md2_right .buy_btn{
     flex:1;
     border-radius: 35px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 130%;
         display: flex;
    align-items: center;
    justify-content: center;
     color: #FFF;
         padding: 0 25px;
   }
   .md2_right .buy_btn:hover{
     background: #E0004D;
        color: #FFF;
   }
  .md2_right{
    display: flex;
    gap: 35px;
  }
@media (max-width: 768px) {
  .md2_box2{
  display: none;
}
.md2_box1 {
  width: 100%;
  position: static;
}
.module2_women-wrapper picture, .module2_women-wrapper picture img{
  height: auto;
}
.md2_box1 img{
  width: 100%;
}
.md2_left{
  display: none;
}
.md2_box3{
  width: 100%;
  /* display: none; */
  height: auto;
  padding: 25px 0;
  justify-content: center;
  align-items: flex-start;
  position: static;
}
.md2_box1-code{
  padding-top: 0;
  margin-top: 0;
  border: none;
  font-size: 90px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.md2_box1-price{
  gap: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  align-items: center;
}
.md2_price-txt1{
  font-size: 25px;
}
.md2_price-txt1 strong{
  font-size: 14px;
}
.md2_price-txt2{
  font-size: 35px;
}
.md2_price-txt2 strong{
  font-size: 20px;
}
.md2_box1-txt{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}
.md2_box1-txt1{
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
line-height: 1.5;
}
.mobile_md2_tle1,.mobile_md2_tle2{
  display: block;
}
.mobile_md2_tle1{
  color:  #FFF;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mobile_md2_tle2{
  color: #BAE7FF;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 1;
margin-bottom: 20px;
display: flex;
}
.mobile_md2_tle2 strong{
  color: #BAE7FF;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.women_fx{
  padding-top: 65px;
  flex-direction: column;
  justify-content: flex-start;
}
   .md2_right .product-form__submit{
        font-size: 15px;
    height:38px;
     min-width: 152px;
  }
  .md2_right .buy_btn{
    font-size: 15px;
        height: 38px;
        padding: 0 43px;
  }
  .md2_right {
    gap: 20px
}
}

/* module2_women-wrapper  end*/
</style>
 <section>
    <div class="module2_women-wrapper">
        <picture class="to-opacity">
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
             {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
      <div class="module_ptn1">
        <div class="women_container h100">
          <div class="women_fx">
            <div class="md2_box1 to-top" style="transition-delay: 0.4s">
              <div class="mobile_md2_tle1">{{ section.settings.text4 }}</div>
              <div class="mobile_md2_tle2">{{ section.settings.text5 }}</div>
              <div class="md2_box1-txt">{{ section.settings.text1 }}</div>
              <div class="md2_box1-txt1">{{ section.settings.text2 }}</div>
              <div class="md2_box1-code">
               {{ section.settings.text3 }}
              </div>
              <div class="md2_box1-price">
                <div class="md2_price-txt1">
                  <span>{{ section.settings.price_text1 }}</span><strong>{{ section.settings.price_text2 }}</strong>
                </div>
                <div class="md2_price-txt2">{{ section.settings.origin_price }}</div>
              </div>
            </div>
            {%- if section.settings.product_image -%}
            <div class="md2_box2 to-top" style="transition-delay: 0.3s">
              <img src="{{ section.settings.product_image | image_url }}" alt="">
            </div>
              {%- endif -%}
            <div class="md2_box3 to-top" style="transition-delay: 0.1s">
              <div class="md2_left">
                <div class="md2_box3-txt1">{{ section.settings.text4 }}</div>
                <div class="md2_box3-txt2">{{ section.settings.text5 }}</div>
                <!-- <div class="md2_box3-txt3">ハイパワー</div> -->
              </div>
              <div class="md2_right to-top"  style="transition-delay: 0.4s">

                      
     {%- assign assign product_form_id = 'ProductForm-' | append: section.id -%}
     {%- assign product = section.settings.product -%}
                        {%- if section.settings.add_bt_txt != blank -%}
       <div class="product-form-wrapper product-form-wrapper-cus" {{ section.shopify_attributes }}>
                    {%- liquid
                      assign gift_card_recipient_feature_active = false
                      if section.settings.show_gift_card_recipient and product.gift_card?
                        assign gift_card_recipient_feature_active = true
                      endif
                    -%}
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form',
                      data-hide-errors: gift_card_recipient_feature_active,
                      class: 'product-form grid gap-8',
                      is: 'product-form'
                    -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled />
                  
                      {%- liquid
                        if gift_card_recipient_feature_active
                          render 'gift-card-recipient-form', product: product, form: form, section_id: section_id
                        endif
                  
                        assign check_against_inventory = true
                        if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
                          assign check_against_inventory = false
                        endif
                        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                          assign quantity_rule_soldout = true
                        endif
                      -%}
                  
                      <div class="product-form__buttons grid gap-4">
                        <div class="product-form__error-message alert alert--error text-sm font-medium leading-tight" role="alert" hidden></div>
                        <div class="flex gap-4">
                          <button
                            type="submit"
                            name="add"
                            form="{{ product_form_id }}"
                            class="product-form__submit button button--secondary button--fixed w-full mt-2"
                            is="hover-button"
                            {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %} disabled{% endif -%}
                            {%- if product.template_suffix == 'pre-order' %} data-pre-order="true"{% endif -%}
                          >
                            <span class="btn-fill" data-fill></span>
                            <span class="btn-text">
                              {%- liquid
                                if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                                  echo 'products.product.sold_out' | t
                                elsif product.template_suffix != 'pre-order'
                                  echo 'products.product.add_to_cart_custom' | t
                                else
                                  echo 'products.product.pre_order' | t
                                endif
                              -%}
                            </span>
                          </button>
                        </div>
                  
                      </div>
                    {%- endform -%}
                  </div>

              {%- endif -%}
             {%- if section.settings.buy_txt != blank -%}
            <a href="{{ section.settings.buy_link_url }}" class="buy_btn">
             {{ section.settings.buy_txt }}
            </a>
            {%- endif -%}

                
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Man Module2",
  "class": "shopify-section--man-md2", 
  "settings": [
      {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1"
    },
     {
      "type": "richtext",
      "id": "text2",
      "label": "Text 2"
    },
    {
      "type": "richtext",
      "id": "text3",
      "label": "Text 3"
    },
     {
      "type": "text",
      "id": "price_text1",
      "label": "Price Text1"
    },
    {
      "type": "text",
      "id": "price_text2",
      "label": "Price Text2"
    },
  {
      "type": "richtext",
      "id": "origin_price",
      "label": "Origin Price"
    },
     {
      "type": "text",
      "id": "text4",
      "label": "Text 4"
    },
      {
      "type": "richtext",
      "id": "text5",
      "label": "Text 5"
    },
      {
      "type": "text",
      "id": "add_bt_txt",
      "label": "Add Button Text"
    },
    {
      "type": "text",
      "id": "buy_txt",
      "label": "Buy Button Text"
    },
            {
      "type": "url",
      "id": "buy_link_url",
      "label": "Buy Button Link"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Man Module2"
    }
  ]
}
{% endschema %}