<style>
        .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* md11-box start*/
.md11-box{
  position: relative;
}
.md11-box .md11_bg,.md11-box .md11_bg img{
position: absolute;
width: 100%;
height: 100%;
inset: 0;
}
.md11_top img{
  width: 100%;
}
.md11-flex .md11_top{
  display: flex;
  align-items: center;
  gap: 110px;
}
.md11-flex .md11_top-img{
  max-width: 479px;
}
.md11-flex .md11_top-img1{
  max-width: 521px;
}
.md11_bt .md11_bt-tle1{
  color: #C3AD7A;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 50px;
}
.md11_bt .md11_bt-tle2{
  color: #C3AD7A;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 10px;
}
    .slide-diy .slide-diy-title{
    color:  #FFFFFC;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 120%;
  }
    .slide-diy .slide-diy-title strong{
  font-family: var(--font-it-family);
color: #C9ECFF;
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 120%;
  }
  .slide-diy .slide-diy-sm-txt {
    color: #FFFFFC;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}
.slide-diy .slide-diy-bottom::before{
      background: #ffffff;
}
  .slide-diy .slide-diy-txt-item{
     color: #FFFFFC;
  }
  .slide-diy .slide-diy-msg{
    opacity: 0.5;
  }
  .slide-diy .slide-diy-top {
    justify-content: center;
}
  .full_container{
     max-width: 1300px;
  }
@media (max-width: 991px) {
    .slide-diy .active .slide-diy-sm-txt {
        color: #ffffff;
        border-color: #ffffff;
       opacity: 1;
      }
}
@media (max-width: 768px) {
  .md11-flex .md11_top{
    flex-direction: column;
    gap: 34px;
  }
  .md11-flex .md11_top-img{
    max-width: 100%;
  }
  .md11-flex .md11_top-img1{
    max-width: 100%;
  }
  .md11_bt .md11_bt-tle1{
    font-size: 14px;
    margin-top: 16px;
  }
  .md11_bt .md11_bt-tle2{
    font-size: 10px;
  }
      .slide-diy .slide-diy-title{
font-size: 21px;

  }
    .slide-diy .slide-diy-title strong{
font-size: 30px;
  }
    .slide-diy .slide-diy-top {
    justify-content: left;
}
}
/* md11-box end*/
</style>
   <section>
    <div class="md11-box section-{{ section.id }}-padding">
        <picture class="md11_bg">
        {%- if section.settings.image_mobile -%}
       <source
          media="(max-width: 767px)"
          srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
          width="{{ section.settings.image_mobile.width }}"
          height="{{ section.settings.image_mobile.height }}"
        >
        {%- endif -%}
        {%- if section.settings.image -%}
         {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
        {%- endif -%}
      </picture>
      <div class="women_container">
        <div class="md11-flex">
          <div class="md11_top to-top" style="transition-delay: 0.1s">
            {%- if section.settings.logo_image1 -%}
            <div class="md11_top-img">
              <img src="{{ section.settings.logo_image1 | image_url }}" alt="">
            </div>
              {%- endif -%}
            {%- if section.settings.logo_image2 -%}
            <div class="md11_top-img1">
              <img src="{{ section.settings.logo_image2 | image_url }}" alt="">
            </div>
             {%- endif -%}
          </div>
          <div class="md11_bt to-top" style="transition-delay: 0.3s">
            <div class="md11_bt-tle1">{{ section.settings.text1 }}</div>
            <div class="md11_bt-tle2">{{ section.settings.text2 }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Man Module11",
  "class": "shopify-section--man-md11", 
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
          "type": "image_picker",
          "id": "logo_image1",
          "label": "Logo Image1"
        },
     {
          "type": "image_picker",
          "id": "logo_image2",
          "label": "Logo Image2"
        },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text1"
    },
     {
      "type": "richtext",
      "id": "text2",
      "label": "Text2"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Man Module11"
    }
  ]
}
{% endschema %}