<style>
      .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* module3-box start*/
@media (min-width: 768px) {
    :root {
        --size: 1400;
    }
}
@media (min-width: 1400px) {
    :root {
        --size: 1920;
    }
}
@media (min-width: 1920px) {
    :root {
        --size: 2560;
    }
}

@media (min-width: 768px) {
  .module3-box {
        font-size: calc(10 * (100vw / var(--size)));
    }
}
.module3-box{
  background: #010102;
  position: relative;

}
.md3_bg-box {
  position: relative;
}
.md3_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 125.9em;
  top: -15.5em;
}
.md3_bg img{
  width: 100%;
}
.md3_top{
  text-align: center;
}
.md3_bt{
  display: flex;
  gap: 20px;
  margin-top: 120px;
  padding-bottom: 163px;
}
.md3_tle{
  color:  #FFF;
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 50px;
}
.md3_tle strong{
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(0deg, #B9E7FF 29.7%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.md3_bt-item img{
  width: 100%;
}
.md3_txt3-box{
  color:  #FFF;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 66px;
}
.md3_txt1-box{
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
 gap: 20px;
 margin-bottom: 50px;
}
.txt1_cnt{
  color: #FFF;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.txt1_cnt strong{
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md3_txt2-box{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.md3_txt2-box .txt2_box-cnt1{
  display: flex;
  background: #C9ECFF;
  color: #000;
  border-radius: 50%;
  width: 182px;
height: 182px;
flex-shrink: 0;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md3_txt2-box .txt2_box-cnt1 p:nth-child(1){
  font-size: 60px;
}

.md3_txt2-box .txt2_box-cnt2{
  display: flex;
  background: #FFF;
  color: #000;
  border-radius: 50%;
  width: 182px;
height: 182px;
flex-shrink: 0;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md3_txt2-box .txt2_box-cnt2 p:nth-child(1){
  font-size: 49px;
}
.md3_txt2-box .txt2_box-cnt2 p:nth-child(1) strong{
  font-size: 32px;
  font-style: normal;
font-weight: 400;
line-height: normal;
}
.md3_mobile-show{
  display: none;
}
@media (max-width: 768px) {
  .md3_bg{
    display: none;
  }
  .md3_tle p{
    display: flex;
    flex-direction: column;
  }
  .md3_tle{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  .md3_tle strong{
    font-size: 66px;
    line-height: 1.2;
  }
  .md3_txt1-box{
    margin-bottom: 25px;
  }
  .txt1_cnt{
    font-size: 20px;
  }
  .txt1_cnt strong{
    font-size: 36px;
  }
  .md3_txt1-box svg{
    max-height: 51px;
  }
  .md3_txt2-box{
    gap: 15px;
  }
  .md3_txt2-box .txt2_box-cnt1{
    width: 133px;
    height: 133px;
    font-size: 16px;
  }
  .md3_txt2-box .txt2_box-cnt1 p:nth-child(1){
    font-size: 44px;
  }
  .md3_txt2-box .txt2_box-cnt2{
    width: 133px;
    height: 133px;
    font-size: 15px;
  }
  .md3_txt2-box .txt2_box-cnt2 p:nth-child(1){
    font-size: 36px;
  }
  .md3_txt2-box .txt2_box-cnt2 p:nth-child(1) strong{
    font-size: 23px;
  }
  .md3_txt2-box svg{
    max-width: 25px;
  }
  .md3_txt3-box{
    margin-top: 42px;
    font-size: 18px;
    padding-bottom:70px
  }
  .md3_bt{
    margin-top: 0px;
    margin-left: -20px;
    margin-right: -20px;
    gap: 0;
    padding-bottom: 0px;
  }
  .md3_mobile-show{
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
  }
}
/* module3-box end*/
</style>
 <section>
    <div class="module3-box">
       <picture class="md3_bg to-top">
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
             {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>

        <div class="md3_bg-box section-{{ section.id }}-padding">
           {%- if section.settings.mobile_image1 -%}
          <img src="{{ section.settings.mobile_image1 |image_url }}" alt="" class="md3_mobile-show to-opacity">
            {%- endif -%}
          <div class="women_container">
            <div class="md3_top to-top" style="transition-delay: 0.2s">
              <div class="md3_tle">{{ section.settings.text1 }}</div>
              <div class="md3_txt1-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="43" height="73" viewBox="0 0 43 73" fill="none">
                  <path d="M42.3527 72.0213L1.41162 1.2236" stroke="white" stroke-width="1.36425"/>
                </svg>
                <div class="txt1_cnt">
                  <div class="txt1_cnt-txt1">{{ section.settings.text2 }}</div>
                  <div class="txt1_cnt-txt2">{{ section.settings.text3 }}</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="43" height="73" viewBox="0 0 43 73" fill="none">
                  <path d="M0.816406 72.0213L41.7575 1.2236" stroke="white" stroke-width="1.36425"/>
                </svg>
              </div>
              <div class="md3_txt2-box">
                <div class="txt2_box-cnt1">
                 {{ section.settings.text4 }}
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
                  <path d="M35.7044 1.08337L1.14795 36.5129" stroke="#D9D9D9" stroke-width="1.36425"/>
                  <path d="M1.14795 1.08337L35.7044 36.5129" stroke="#D9D9D9" stroke-width="1.36425"/>
                </svg>
                <div class="txt2_box-cnt2">
                  {{ section.settings.text5 }}
                </div>
              </div>
              <div class="md3_txt3-box">
               {{ section.settings.text6 }}
              </div>
            </div>
          </div>
        </div>
        <div class="women_container">
          <div class="md3_bt">
             {%- for block in section.blocks -%}
              {%- if block.settings.image -%}
              <div class="md3_bt-item to-top" style="transition-delay: 0.{{ forloop.index }}s">
                <img src="{{ block.settings.image |image_url }}" alt="">
              </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>

      
    </div>
  </section>
{% schema %}
{
  "name": "Man Module3",
  "class": "shopify-section--man-md3", 
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
     {
          "type": "image_picker",
          "id": "mobile_image1",
          "label": "custom mobile Image"
        },
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text 1"
    },
     {
      "type": "richtext",
      "id": "text2",
      "label": "Text 2"
    },
     {
      "type": "text",
      "id": "text3",
      "label": "Text 3"
    },
     {
      "type": "richtext",
      "id": "text4",
      "label": "Text 4"
    },
     {
      "type": "richtext",
      "id": "text5",
      "label": "Text 5"
    },
    {
      "type": "richtext",
      "id": "text6",
      "label": "Text 6"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
        {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Man Module3"
    }
  ]
}
{% endschema %}