<link
  id="SwiperMinCss"
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/swiper.min.css?v=1719540286"
  media="print"
  onload="this.media='all'"
>
<link
  id="animateMinCss"
  rel="stylesheet"
  href="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/animate.min.css?v=1719540286"
  media="print"
  onload="this.media='all'"
>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"  defer="defer"></script>

{{ 'man-app.css' | asset_url | stylesheet_tag }}
<div class="man-header pc-show">
  <div class="man-image">
    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/main.png?v=1719540264.png" alt="">
  </div>
  <div class="man-text-container">
    <div class="man-text-label">
      <div class="text">{{ section.settings.FirstSentence }}</div>
      <div class="text">{{ section.settings.SecondSentence }}</div>
    </div>
      
  </div>
  <div class="vertical-text">
    <p>{{ section.settings.LeftDescription }}</p>
    <p>{{ section.settings.RightDescription }}</p>
  </div>
  <div class="man-main-product">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/product.png?v=1719540369.png" alt="">
    </div>
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ulike_men.png?v=1719458361.png" alt="" class="text-img">
    </div>
    <div class="man-main-product-label">メンズ専用IPL脱毛器</div>
  </div>
</div> 
<div class="man-header m-show">
  <div class="man-image">
    <img src="https://cdn.shopify.com/s/files/1/0553/7392/2352/files/m-back1.png?v=1719540263.png" alt="">
  </div>
  <div class="man-text-container">
    <div class="man-text-label"> 
      <div class="text">{{ section.settings.MobileFirstSentence }}</div>
      <div class="text">{{ section.settings.MobileSecondSentence }}</div>
    </div>
  </div>
  <div class="vertical-text">
   <p>{{ section.settings.LeftDescription }}</p>
    <p class="text">{{ section.settings.RightDescription }}</p>
  </div>
  <div class="man-main-product">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/product.png?v=1719458361" alt="">
    </div>
    <div class="right">
      <div >
        <img src="https://cdn.shopify.com/s/files/1/0841/4596/3322/files/ulike_men.png?v=1719458361.png" alt="">
      </div>
      <div class="man-main-product-label">メンズ専用IPL脱毛器</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "man-banner-model",
  "settings": [
    {
      "type": "text",
      "id": "FirstSentence",
      "label": "First sentence",
      "default": "男の魅力"
    },
    {
      "type": "text",
      "id": "SecondSentence",
      "label": "Second sentence",
      "default": "解放せよ!"
    },
    {
      "type": "text",
      "id": "MobileFirstSentence",
      "label": "Mobile First sentence",
      "default": "男の魅力"
    },
    {
      "type": "text",
      "id": "MobileSecondSentence",
      "label": "Mobile Second sentence",
      "default": "解放せよ!"
    },
    {
      "type": "text",
      "id": "LeftDescription",
      "label": "Left Description",
      "default": "サヨナラ。"
    }, 
    {
      "type": "text",
      "id": "RightDescription",
      "label": "Right Description",
      "default": "毎日のシェービングに"
    }
  ],

  "presets": [
    {
      "name": "man-banner-model",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<script>
  window.addEventListener('load', function() {
    new WOW().init();
  });
</script>
