<style>
        .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* md6-box  start*/
.md6-box{
  position: relative;
  text-align: center;
}
.md6-box .bg_pic,.md6-box .bg_pic img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.md6-box .md6_tle1{
  color: #FFF;
  font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 20px;
}
.md6-box .md6_tle1 strong{
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(0deg, #B9E7FF 19.8%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.md6-box .md6_tle2{
  color: #FFF;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 90px;
}
.md6-box .md6_img{
  display: flex;
  gap: 80px;
}
.md6_img img{
  width: 100%;
}
.md6_box3{
  display: flex;
  background: #2e2e2e;
  margin-top: 55px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 56px;
}
.md6_box3 .md6_box3-right{
  color:  #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.md6_bt-box{
  display: flex;
padding-top: 150px;
padding-bottom: 210px;
gap: 30px;
}
.md6_bt-box .md6_bt-tle{
font-size: 70px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(359deg, #B9E7FF 32.18%, #FFF 99.03%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.md6_bt-left{
  text-align: left;
  padding-top: 450px;
}
.md6_bt-box .md6_bt-tle strong{
  font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.md6_bt-tle1{
  color:  #FFF;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 28px;
}
.md6_bt-tle2{
  color:  #FFF;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md6_bt-sk{
  background: #B9E7FF;
  color: #000;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* margin-bottom: 10px; */
padding: 0 50px;
transform: skewY(-10deg);
}
.md6_bt-sk strong{
  font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.md6_bt-sk1{
  color: #fff;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
margin-top: 50px;
transform: skewY(-10deg);
margin-left: 30px;
}
.men_img,.men_img img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 58vw;
  object-fit: cover;
}
.skew_flex{
  display: flex;
    flex-direction: column;
    align-items: end;
}
@media (max-width: 768px) {
  .md6-box .md6_tle1 p{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 5px;
    text-align: left;
  }
  .md6-box .md6_tle1 strong{
    font-size: 47px;
    line-height: 1;
  }
  .md6-box .md6_tle2{
    font-size: 16px;
    margin-bottom: 36px;
  }
  .md6-box .md6_img{
    flex-direction: column;
    gap: 32px;
  }
  .md6_box3{
    margin-top: 27px;
    gap: 15px;
    margin-bottom: 10vw;
  }
  .md6_box3 .md6_box3-right{
    font-size: 12px;
  }
  .md6_bt-box{
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    gap: 0;
  }
  .md6_bt-left{
    padding-top: 0;
    text-align: center;
  }
  .md6_bt-box .md6_bt-tle{
    font-size: 67px;
    text-align: right;
    line-height: 1;
  }
  .md6_bt-box .md6_bt-tle strong{
    font-size: 42px;
  }
  .md6_bt-tle1{
    font-size: 35px;
    margin-bottom: 10px;
    text-align: right;
  }
  .md6_bt-tle2{
    font-size: 16px;
  }
  .md6_bt-right{
    display: flex;
    flex-direction: column-reverse;
  }
  .md6_bt-sk1{
    font-size: 16px;
    margin-left: 0;
    margin-top: 48px;
    transform: none;
    writing-mode: vertical-rl;
  }
  .skew_flex{
    align-items: start;
    margin-top: 50px;
    margin-left: -20px;
  }
  .md6_bt-sk{
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 0px;
  }
  .md6_bt-sk strong{
    font-size: 30px;
  }
  .men_img{
    display: none;
  }
  .md6-box {
    position: relative;
    text-align: center;
    background: #1E1E1E;
    padding-bottom: 0 !important;
}
.md6-box .bg_pic, .md6-box .bg_pic img{
  object-fit: contain;
    object-position: bottom;
}
.skew_flex .md6_bt-sk:nth-of-type(2){
  margin-left: 40%;
}
}
/* md6-box end*/
</style>
<section>
    <div class="md6-box section-{{ section.id }}-padding">
    
       <picture class="bg_pic">
        {%- if section.settings.image_mobile -%}
       <source
          media="(max-width: 767px)"
          srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
          width="{{ section.settings.image_mobile.width }}"
          height="{{ section.settings.image_mobile.height }}"
        >
        {%- endif -%}
        {%- if section.settings.image -%}
         {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
        {%- endif -%}
      </picture>
      

       <picture class="men_img">
        {%- if section.settings.image_men_mobile -%}
       <source
          media="(max-width: 767px)"
          srcset="{{ section.settings.image_men_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_men_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_men_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_men_mobile | image_url: width: '1000x' }} 1000w"
          width="{{ section.settings.image_men_mobile.width }}"
          height="{{ section.settings.image_men_mobile.height }}"
        >
        {%- endif -%}
        {%- if section.settings.image_men -%}
         {{- section.settings.image_men | image_url: width: section.settings.image_men.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
        {%- endif -%}
      </picture>


      
      <div class="women_container">
        <div class="md6_tle1 to-top" style="transition-delay: 0.1s">{{ section.settings.txt1 }}</div>
        <div class="md6_tle2 to-top" style="transition-delay: 0.2s">{{ section.settings.txt2 }}</div>
        <div class="md6_img to-top" style="transition-delay: 0.3s">
          {%- if section.settings.image_left -%}
          <div class="md6_img-li">
            <img src="{{ section.settings.image_left | image_url }}" alt="">
          </div>
          {%- endif -%}
            {%- if section.settings.image_right -%}
         <div class="md6_img-li">
          <img src="{{ section.settings.image_right | image_url }}" alt="">
         </div>
           {%- endif -%}
        </div>
        <div class="md6_box3 to-top" style="transition-delay: 0.4s">
          {%- if section.settings.image_auto -%}
          <div class="md6_box3-left">
            <img src="{{ section.settings.image_auto | image_url }}" alt="">
          </div>
           {%- endif -%}
          <div class="md6_box3-right">
           {{ section.settings.txt3 }}
          </div>
        </div>

        <div class="md6_bt-box">
          <div class="md6_bt-left to-top" style="transition-delay: 0.2s">
            <div class="md6_bt-tle">{{ section.settings.txt4 }}</div>
            <div class="md6_bt-tle1">{{ section.settings.txt5 }}</div>
            <div class="md6_bt-tle2">
             {{ section.settings.txt6 }}
            </div>
          </div>
          <div class="md6_bt-right to-top" style="transition-delay: 0.3s">
           <div class="skew_flex">
            <div class="md6_bt-sk">{{ section.settings.txt7 }}</div>
            <div class="md6_bt-sk">{{ section.settings.txt8 }}</div>
           </div>
            <div class="md6_bt-sk1">
            {{ section.settings.txt9 }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
{% schema %}
{
  "name": "Man Module6",
  "class": "shopify-section--man-md6", 
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
    {
          "type": "image_picker",
          "id": "image_men",
          "label": "Women Images"
        },
    {
          "type": "image_picker",
          "id": "image_men_mobile",
          "label": "Women Images Mobile"
        },
     {
      "type": "richtext",
      "id": "txt1",
      "label": "Text1"
    }, 
     {
      "type": "richtext",
      "id": "txt2",
      "label": "Text2"
    },
      {
          "type": "image_picker",
          "id": "image_left",
          "label": "Left Images"
        },
     {
          "type": "image_picker",
          "id": "image_right",
          "label": "Right Images"
        },
     {
          "type": "image_picker",
          "id": "image_auto",
          "label": "Auto Images"
        },
      {
      "type": "richtext",
      "id": "txt3",
      "label": "Text3"
    },
      {
      "type": "richtext",
      "id": "txt4",
      "label": "Text4"
    },
    {
      "type": "text",
      "id": "txt5",
      "label": "Text5"
    },
          {
      "type": "richtext",
      "id": "txt6",
      "label": "Text6"
    },
    {
      "type": "richtext",
      "id": "txt7",
      "label": "Text7"
    },
    {
      "type": "richtext",
      "id": "txt8",
      "label": "Text8"
    },
    {
      "type": "richtext",
      "id": "txt9",
      "label": "Text9"
    },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Man Module6"
    }
  ]
}
{% endschema %}