  <link type="text/css" href="{{ 'swiper-bundle.min.css' | asset_url }}" rel="stylesheet">
<style>
/* md4-box start*/
.md4-box{
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.md4-box picture{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.md4-box picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.man_md4-top {
  display: flex;
  flex-direction: column;

}
.man_md4-top-bix{
  text-align: center;
  margin-bottom: 60px;
}
.man_md4-top-bix img{
  max-width: 113px;
  margin: 0 auto;
}
.man_md4-cnt{
  color:  #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 80px;
padding: 0 30px;
}
.main-swiper{
  overflow: hidden;
}
.man_md4-name{
  display: flex;
  align-items: center;
  color:  #FFF;
  justify-content: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
gap: 20px;
}
.md4-wrapper{
  width: 100%;
}
  .md4-box .swiper-pagination {
  bottom: -80px !important;
}

.md4-box .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 0;
}
  .md4-box .swiper-pagination-bullet{
  background:#000;
  border:1px solid #fff;

}
.md4-box .swiper-pagination-bullet-active{
  background:#fff;
  border-raduis:50%;
  border:1px solid transparent;
}
@media (max-width: 768px) {
  .man_md4-cnt{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .md4-box{
    height: 400px;
  }
  .man_md4-top-bix{
    margin-bottom: 30px;
  }
  .man_md4-top-bix img{
    max-width: 60px;
  }
  .man_md4-name{
    font-size: 18px;
    gap: 10px;
  }
  .man_md4-name svg{
    max-width: 74px;
  }
  .md4-box .swiper-pagination {
    bottom: -35px !important;
}
}
/* md4-box end*/
</style>
 <section>
    <div class="md4-box">
       <picture class="to-opacity">
            {%- if section.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.image_mobile.width }}"
              height="{{ section.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if section.settings.image -%}
             {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
      <div class="md4-wrapper to-top">
        <div class="women_container">
          <div class="swiper-container main-swiper" id="main-swiper{{ section.id | replace: "template--", "" }}">
            <div class="swiper-wrapper">

               {%- for block in section.blocks -%}
              <div class="man_md4-top swiper-slide">
                {%- if block.settings.image -%}
                <div class="man_md4-top-bix">
                  <img src="{{ block.settings.image | image_url }}" alt="">
                </div>
                {%- endif -%}
                <div class="man_md4-cnt">
                 {{ block.settings.text }}
                </div>
                <div class="man_md4-name">
                  <svg xmlns="http://www.w3.org/2000/svg" width="145" height="2" viewBox="0 0 145 2" fill="none">
                    <path d="M0 1H145" stroke="white" stroke-width="0.5"/>
                  </svg>{{ block.settings.name }}
                </div>
              </div>
               {%- endfor -%}
            
                      
            </div>
          </div>
           <div class="swiper-pagination" id="swiper-pagination{{ section.id | replace: "template--", "" }}"></div>
        </div>
      </div>
    </div>
  </section>
<script src="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}"></script>
<script>
  const mainSwiper{{ section.id | replace: "template--", "" }} = new Swiper('#main-swiper{{ section.id | replace: "template--", "" }}', {
    slidesPerView: 1,
      spaceBetween: 10,
      loop: true,
      autoplay: {
          delay: 2000,
          disableOnInteraction: true
      },
     pagination: {
        el: '#swiper-pagination{{ section.id | replace: "template--", "" }}',
        clickable: true
      }
  });
</script>
{% schema %}
{
  "name": "Man Module4",
  "class": "shopify-section--man-md4", 
  "settings": [
      {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        }
  ],
  "blocks": [
        {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
          {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
         {
      "type": "text",
      "id": "name",
      "label": "Name"
    }
      ]
    }
  ],
  "presets": [
    {
      "name": "Man Module4"
    }
  ]
}
{% endschema %}