<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
<style>
.media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  {%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .media__logo-wrapper {
    background: rgb(var(--background));
    background: rgb(var(--section-background, var(--background)));
}
  .media__logo-item{
    text-align: center;
  }
  .media__logo-inner {
    position: relative;
    margin-top: 70px;
  }
  .media__logo-controls {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      z-index:1;
  }
  .media__logo-controls .design-iconfont{
    display:inline-block;
    width:50px;
    height:50px;
  }
  .tns-outer {
    margin: 0 50px;
  }
  .media__logo-check{
    cursor: pointer;
  }
  .tns-nav {
  display:none;
  text-align: center;
  margin: 10px 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
}
.tns-nav > [aria-controls] {
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #D2D1D1;
  border: 0;
}
.tns-nav > .tns-nav-active { 
  background: #696969; 
}
.media__logo-image{
  margin-bottom:50px;
}
.tns-horizontal.tns-subpixel>.tns-item.media__logo-item{
  display:inline-flex;
  align-items: center;
    justify-content: center;
}
.tns-horizontal.tns-subpixel>.tns-item.media__logo-item .h2{
  margin-bottom: 0;
  font-size: 44px;
  color: rgb(var(--text-color));
  margin-right:18px;
}
.media__logo-text{
  color: #000000ff;
  max-width: 300px;
  text-align: left;
  font-size: 18px;
}
.media__logo-sub-txt {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}
.media-logo-slider .heading.h3{
  margin-bottom:15px;
}
.tns-horizontal.tns-subpixel.media__img-position>.tns-item.media__logo-item {
  display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.tns-horizontal.tns-subpixel.media__img-position>.tns-item.media__logo-item .media__logo-image{
      margin-bottom: 30px;
}
.tns-horizontal.tns-subpixel.media__img-position>.tns-item.media__logo-item .media__logo-text{
  margin: 0 auto;
  max-width: 348px;
  text-align: center;
}

@media screen and (max-width: 768px){
  .media-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
  #media__logo-controls{
    display:none;
  }
  .tns-nav{
    display:block;
  }
  .tns-outer{
    margin:0;
  }
  .media__logo-image{
  margin-bottom:25px;
}
.media__logo-inner{
  margin-top: 30px;
}
}
</style>

<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="media__logo-wrapper media-{{ section.id }}-padding">
    <div class="container">
        {%- if section.settings.title != blank -%}
          <h3 class="heading h3 text--center">
            <split-lines>{{ section.settings.title | escape }}</split-lines>
          </h3>
        {%- endif -%}
        {%- if section.settings.subheading != blank -%}
          <h4 class="heading h4 text--center">
            <split-lines>{{ section.settings.subheading | escape }}</split-lines>
          </h4>
        {%- endif -%}
        {%- if section.settings.media_content != blank -%}
          <div class="media__logo-sub-txt text--center">
            {{- section.settings.media_content -}}
          </div>
        {%- endif -%}
        <div class="media__logo-inner">
          <div class="media__logo-carousel {% if section.settings.check_position %}media__img-position{% endif %}" id="media__logo-carousel">
            {%- for block in section.blocks -%}
              <div class="media__logo-item">
                {%- if block.settings.image != blank -%}
                  <div class="media__logo-image">
                    <img class="media__logo-img" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" src="{{ block.settings.image | img_url }}" alt="{{ block.settings.image.alt | escape }}">
                  </div>
                {%- endif -%}
                {%- if block.settings.title != blank -%}
                  <h3 class="heading h2">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.content != blank -%}
                  <div class="media__logo-text">
                    {{- block.settings.content -}}
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
          <div id="media__logo-controls" class="media__logo-controls">
            <div class="media__logo-check media__logo-prev-custom">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none" class="design-iconfont">
                <circle cx="25" cy="25" r="25" transform="rotate(-180 25 25)" fill="#DFDFDF"/>
                <path d="M25.9667 32.9669L17.9999 25L25.9667 17.0331" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </div>
            <div class="media__logo-check media__logo-next-custom">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none" class="design-iconfont">
                <circle cx="25" cy="25" r="25" fill="#DFDFDF"/>
                <path d="M24.0333 17.0331L32.0001 25L24.0333 32.9669" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
          <div class="my-nav-container"></div>
        </div>
    </div>
  </div>
</section>
<!-- 引入Tiny Slider的JavaScript文件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  var slider = tns({
    container: "#media__logo-carousel",
    items: 1,
    autoplay: false,
    "mouseDrag": true,
    "slideBy": 1,
    "swipeAngle": false,
    loop: false,
    "gutter": 0,
    "controlsContainer": "#media__logo-controls",
    responsive: {
      768: {
        items: 2, // 当屏幕宽度大于等于 768px 时，显示 2 个项目
      },
      1024: {
        items: 3, // 当屏幕宽度大于等于 1024px 时，显示 3 个项目
      }
    }
  });
});
</script>
{% schema %}
{
  "name": "Media-logo-slider",
  "class": "media-logo-slider",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "130 x 30px .jpg recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Unlike some devices which can burn the skin, the Ulike Sapphire Air has a significantly cooler head, making it more comfortable and practically painless to use. You’ll become obsessed with the results.</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "check_position",
      "label": "Check Image Position",
      "info": "Check Image Position",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "default": "Media Logo Slider",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "media_content",
      "label": "Content",
      "default": "<p>男性だからこそ、悩んでしまうムダ毛事情。今は男性もムダ毛ケアをする時代。ムダ毛の悩みを抱えているのはあなただけではありません。</p>"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Media-logo-slider",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        }
      ]
    }
  ]
}
{% endschema %}