{% comment %} {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%} {% endcomment %}
{% comment %} {%- assign color_white_label = 'general.label.white' | t | downcase -%} {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}
{%- assign quick_buy_icon_name = 'quick-buy-' | append: settings.cart_icon | replace: '_', '-' -%}
<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --prev-next-button-background: {{ settings.background.red }}, {{ settings.background.green }}, {{ settings.background.blue }};
    --prev-next-button-color: {{ settings.text_color.red }}, {{ settings.text_color.green }}, {{ settings.text_color.blue }};

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }
  .shopify-section--multi-column-product .multi-column .pos_relative{position:relative;}
  .shopify-section--multi-column-product .button-wrapper{
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    transition: visibility .2s ease-in-out,opacity .2s ease-in-out,transform .2s ease-in-out;
    left: 0;
  }
  .shopify-section--multi-column-product .product-title-change{
    font-weight: bold;
  }
  .shopify-section--multi-column-product .button-container{
    max-width:300px;
    width:auto;
    margin: 40px auto 0;
  }
  .shopify-section--multi-column-product #swiper-product > .tns-item{
    width: auto;
  }
  .shopify-section--multi-column-product .tns-nav {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
  }
  .shopify-section--multi-column-product .tns-outer [aria-controls], .shopify-section--multi-column-product .tns-outer [data-action] {
    cursor: pointer;
}
.shopify-section--multi-column-product .tns-nav > [aria-controls] {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}
.shopify-section--multi-column-product .tns-nav > .tns-nav-active {
    background: #999;
}
.shopify-section--multi-column-product .swiper-button-controls {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-90px);
}
.shopify-section--multi-column-product .product-button-next-custom{
  right:-30px;
}
.shopify-section--multi-column-product .product-button-prev-custom{
  left:-30px;
}
.shopify-section--multi-column-product .multi-column--spacing-normal{
    --multi-column-column-gap: 0px !important;
}
  @media screen and (max-width: 768px){
  .shopify-section--multi-column-product .customize-controls{
    display:none !important;
  }
  .shopify-section--multi-column-product .multi-column__inner{
    display: flex;
  }
  .shopify-section--multi-column-product .tns-horizontal.tns-subpixel>.tns-item{
    flex-basis: 100%;
  }
  .shopify-section--multi-column-product .multi-column__inner--scroller{
    padding-left: 0;
    padding-right:0;
    gap: 0;
  }
}

  {%- if section.settings.title == blank and section.settings.subheading == blank and section.settings.content == blank -%}
    #shopify-section-{{ section.id }} {
      --vertical-breather: 40px; /* Only on multi-column section, due to its specific usage we reduce spacing when no content */
    }

    {%- if blends_with_background or section.settings.mobile_item_size == 'small' -%}
      /* Reduce the margin on small devices to create a slightly better layout */
      @media screen and (max-width: 999px) {
        #shopify-section-{{ section.id }} {
          --vertical-breather: var(--container-gutter);
        }
      }
    {%- endif -%}
  {%- endif -%}

  {%- for block in section.blocks -%}
    {%- if block.settings.image_border != 'rgba(0,0,0,0)' -%}
      #block-{{ section.id }}-{{ block.id }} .multi-column__image-wrapper {
        border: 1px solid {{ block.settings.image_border }};
      }
    {%- endif -%}
  {%- endfor -%}
</style>

<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="section__color-wrapper" style="">
    <div class="container {% unless blends_with_background %}vertical-breather{% endunless %}">
      {%- if section.settings.title != blank or section.settings.subheading != blank or section.settings.content != blank -%}
        <header class="section__header {% if section.settings.content != blank %}section__header--tight{% endif %} section__header--{{ section.settings.column_alignment }}">
          <div class="text-container">
            {%- if section.settings.subheading != blank -%}
              <h2 class="heading heading--small">{{ section.settings.subheading }}</h2>
            {%- endif -%}

            {%- if section.settings.title != blank -%}
              <h3 class="heading h2">{{ section.settings.title }}</h3>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              {{- section.settings.content -}}
            {%- endif -%}
          </div>
        </header>
      {%- endif -%}

      {%- if section.blocks.size > 0 -%}
        <multi-column {% if section.settings.stack_items %}stack{% endif %} {% if section.settings.reveal_on_scroll %}stagger-apparition{% endif %} class="multi-column multi-column--pocket-{{ section.settings.mobile_item_size }} multi-column--{{ section.settings.desktop_item_size }} multi-column--spacing-{{ section.settings.spacing }}">
          {%- assign align_arrows_on_image = true -%}
          {%- assign smallest_image_aspect_ratio = 0 -%}

          <div class="fix__product">
            {%- for block in section.blocks -%}
                {%- assign product = block.settings.product -%}
                <quick-buy-popover id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
                <quick-buy-drawer id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
            {%- endfor -%}
            <div id="swiper-product" class="multi-column__inner multi-column__inner--{{ section.settings.column_alignment }} {% unless section.settings.stack_items %}multi-column__inner--scroller{% endunless %}">
              {%- case section.settings.desktop_item_size -%}
                {%- when 'pico' -%}
                  {%- assign desktop_items_per_row = 8 -%}

                {%- when 'small' -%}
                  {%- assign desktop_items_per_row = 7 -%}

                {%- when 'medium' -%}
                  {%- assign desktop_items_per_row = 5 -%}

                {%- when 'large' -%}
                  {%- assign desktop_items_per_row = 3 -%}

                {%- when 'mast' -%}
                  {%- assign desktop_items_per_row = 2 -%}

              {%- endcase -%}

              {%- if section.settings.stack_items -%}
                {%- case section.settings.mobile_item_size -%}
                  {%- when 'small' -%}
                    {%- assign mobile_calculated_size = 'calc(50vw - 48px)' -%}
                    {%- assign tablet_calculated_size = 'calc(20vw - 80px)' -%}

                  {%- when 'medium' -%}
                    {%- assign mobile_calculated_size = 'calc(100vw - 48px)' -%}
                    {%- assign tablet_calculated_size = 'calc(25vw - 80px)' -%}

                  {%- when 'large' -%}
                    {%- assign mobile_calculated_size = 'calc(100vw - 48px)' -%}
                    {%- assign tablet_calculated_size = 'calc(33vw - 80px)' -%}
                {%- endcase -%}
              {%- else -%}
                {%- case section.settings.mobile_item_size -%}
                  {%- when 'small' -%}
                    {%- assign mobile_calculated_size = '25vw' -%}
                    {%- assign tablet_calculated_size = '20vw' -%}

                  {%- when 'medium' -%}
                    {%- assign mobile_calculated_size = '35vw' -%}
                    {%- assign tablet_calculated_size = '26vw' -%}

                  {%- when 'large' -%}
                    {%- assign mobile_calculated_size = '56vw' -%}
                    {%- assign tablet_calculated_size = '36vw' -%}
                {%- endcase -%}
              {%- endif -%}

              {%- case section.settings.spacing -%}
                {%- when 'tight' -%}
                  {%- assign desktop_item_gap = 24 -%}
                {%- when 'normal' -%}
                  {%- assign desktop_item_gap = 40 -%}

                {%- when 'loose' -%}
                  {%- assign desktop_item_gap = 60 -%}
              {%- endcase -%}

              {%- assign desktop_items_per_row_minus_one = desktop_items_per_row | minus: 1 -%}
              {%- assign gap_width = desktop_item_gap | divided_by: desktop_items_per_row | times: desktop_items_per_row_minus_one -%}

              {%- for block in section.blocks -%}
                {%- assign product = block.settings.product -%}
                {%- capture block_content -%}
                  {%- if block.settings.image != blank -%}
                    {%- assign smallest_image_aspect_ratio = smallest_image_aspect_ratio | at_least: block.settings.image.aspect_ratio -%}
                    {%- capture sizes_attribute -%}(max-width: 740px) {{ mobile_calculated_size }}, (max-width: 999px) {{ tablet_calculated_size }}, {{ 1520.0 | divided_by: desktop_items_per_row | minus: gap_width | ceil }}px{%- endcapture -%}
                    
                    {%- if block.settings.link_url != blank -%}
                      <div class="product-item__image-wrapper product-item__image-wrapper--multiple">
                        {%- if block.settings.custom_icon != blank -%}
                          <div class="product-item__label-list label-list">
                            <img class="slide-show-icons__custom-icon" width="{{ block.settings.custom_icon.width }}" height="{{ block.settings.custom_icon.height }}" src="{{ block.settings.custom_icon | img_url }}" alt="{{ block.settings.custom_icon.alt | escape }}">
                          </div>
                        {%- endif -%}
                        <a href="{{ block.settings.link_url }}" data-instant class="product-item__aspect-ratio aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%; --aspect-ratio: {{ block.settings.image.aspect_ratio }}">
                         {%- if  block.settings.image != blank -%}
                           {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '200,300,400,500,600,700,800,900,1000,1100,1200', class: 'product-item__primary-image' -}}
                         {%- endif -%}
                         {%- if  block.settings.image_secondary != blank -%}
                           {{- block.settings.image_secondary | image_url: width: block.settings.image_secondary.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '200,300,400,500,600,700,800,900,1000,1100,1200', class: 'product-item__secondary-image' -}}
                         {%- endif -%}
                        </a>
                        {%- if request.page_type != 'password' and product.available -%}
                          {%- if product.variants.size == 1 -%}
                            {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
                            {%- form 'product', product, is: 'product-form', id: form_id, class: 'product-item__quick-form' -%}
                              <input type="hidden" name="quantity" value="1">
                              <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                              <button is="loader-button" type="submit" class="button button--outline button--text button--full hidden-touch">{{ 'collection.product.add_to_cart_short' | t }}</button>
                              <button type="submit" class="product-item__quick-buy-button hidden-no-touch">
                                <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>
                            {%- endform -%}
                          {%- else -%}
                            <div class="product-item__quick-form">
                              <button is="toggle-button" loader aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" aria-expanded="false" class="button button--outline button--text button--full hidden-touch hidden-phone">{{ 'collection.product.quick_view' | t }}</button>
                              <button is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" aria-expanded="false" class="product-item__quick-buy-button hidden-no-touch hidden-phone">
                                <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>

                              <button is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" aria-expanded="false" class="product-item__quick-buy-button hidden-tablet-and-up">
                                <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>
                            </div>

                            <!-- <quick-buy-popover id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
                            <quick-buy-drawer id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer> -->
                          {%- endif -%}
                        {%- endif -%}
                      </div>
                    {%- else -%}
                     <div class="product-item__image-wrapper product-item__image-wrapper--multiple">
                        {%- if block.settings.custom_icon != blank -%}
                          <div class="product-item__label-list label-list">
                            <img class="slide-show-icons__custom-icon" width="{{ block.settings.custom_icon.width }}" height="{{ block.settings.custom_icon.height }}" src="{{ block.settings.custom_icon | img_url }}" alt="{{ block.settings.custom_icon.alt | escape }}">
                          </div>
                        {%- endif -%}
                        <div data-instant class="product-item__aspect-ratio aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%; --aspect-ratio: {{ block.settings.image.aspect_ratio }}">
                         {%- if  block.settings.image != blank -%}
                           {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '200,300,400,500,600,700,800,900,1000,1100,1200', class: 'product-item__primary-image' -}}
                         {%- endif -%}
                         {%- if  block.settings.image_secondary != blank -%}
                           {{- block.settings.image_secondary | image_url: width: block.settings.image_secondary.width | image_tag: loading: 'lazy', sizes: sizes_attribute, widths: '200,300,400,500,600,700,800,900,1000,1100,1200', class: 'product-item__secondary-image' -}}
                         {%- endif -%}
                        </div>
                        {%- if request.page_type != 'password' and product.available -%}
                          {%- if product.variants.size == 1 -%}
                            {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
                            {%- form 'product', product, is: 'product-form', id: form_id, class: 'product-item__quick-form' -%}
                              <input type="hidden" name="quantity" value="1">
                              <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                              <button is="loader-button" type="submit" class="button button--outline button--text button--full hidden-touch">{{ 'collection.product.add_to_cart_short' | t }}</button>
                              <button type="submit" class="product-item__quick-buy-button hidden-no-touch">
                                <span class="visually-hidden">{{ 'collection.product.add_to_cart_short' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>
                            {%- endform -%}
                          {%- else -%}
                            <div class="product-item__quick-form">
                              <button is="toggle-button" loader aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" aria-expanded="false" class="button button--outline button--text button--full hidden-touch hidden-phone">{{ 'collection.product.quick_view' | t }}</button>
                              <button is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" aria-expanded="false" class="product-item__quick-buy-button hidden-no-touch hidden-phone">
                                <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>

                              <button is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" aria-expanded="false" class="product-item__quick-buy-button hidden-tablet-and-up">
                                <span class="visually-hidden">{{ 'collection.product.quick_view' | t }}</span>
                                {%- render 'icon' with quick_buy_icon_name -%}
                              </button>
                            </div>

                            <!-- <quick-buy-popover id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
                            <quick-buy-drawer id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer> -->
                          {%- endif -%}
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- else -%}
                    {%- assign align_arrows_on_image = false -%}
                  {%- endif -%}

                  <div class="product-item__info {% if show_cta %}product-item__info--with-button{% endif %} {% if reduced_font_size %}text--small{% endif %}">
                    <div class="product-item-meta text--left">
                      {%- if settings.show_vendor -%}
                        {%- assign vendor_handle = product.vendor | handle -%}
                        {%- assign collection_for_vendor = collections[vendor_handle] -%}

                        {%- unless collection_for_vendor.empty? -%}
                          <a class="product-item-meta__vendor heading heading--xsmall" href="{{ collection_for_vendor.url }}" data-instant>{{ product.vendor }}</a>
                        {%- else -%}
                          <a class="product-item-meta__vendor heading heading--xsmall" href="{{ product.vendor | url_for_vendor }}" data-instant>{{ product.vendor }}</a>
                        {%- endunless -%}
                      {%- endif -%}

                      <div class="product-item-meta__custom__title">{{ block.settings.custom_title }}</div>

                      <a href="{{ product.url }}" data-instant class="product-item-meta__title product-title-change">{{ product.title }}</a>

                      {%- if product.tags.size > 0 -%}
                        <div class="product__tags">
                          {% for tag in product.tags %}
                            <span class="product__tag__list">{{ tag }}</span>
                          {% endfor %}
                        </div>
                      {%- endif -%}

                      <div class="product-item-meta__price-list-container">
                        <div class="price-list price-list--centered">
                          {%- if product.price_varies and product.compare_at_price -%}
                            {%- assign cheapest_variant = product.variants | sort: 'price' | first -%}

                            {%- capture price_min -%}
                              {%- if settings.currency_code_enabled -%}
                                {{- cheapest_variant.price | money_with_currency -}}
                              {%- else -%}
                                {{- cheapest_variant.price | money -}}
                              {%- endif -%}
                            {%- endcapture -%}

                            {%- if cheapest_variant.price < cheapest_variant.compare_at_price -%}
                              <span class="price price--highlight">
                                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                                {{- 'collection.product.from_price_html' | t: price_min: price_min -}}
                              </span>

                              <span class="price price--compare">
                                <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                                {%- if settings.currency_code_enabled -%}
                                  {{- cheapest_variant.compare_at_price | money_with_currency -}}
                                {%- else -%}
                                  {{- cheapest_variant.compare_at_price | money -}}
                                {%- endif -%}
                              </span>
                            {%- else -%}
                              <span class="price">
                                <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                                {{- 'collection.product.from_price_html' | t: price_min: price_min -}}
                              </span>
                            {%- endif -%}
                          {%- elsif product.price < product.compare_at_price -%}
                            <span class="price price--highlight">
                              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                              {%- if settings.currency_code_enabled -%}
                                {{- product.price | money_with_currency -}}
                              {%- else -%}
                                {{- product.price | money -}}
                              {%- endif -%}
                            </span>

                            <span class="price price--compare">
                              <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                              {%- if settings.currency_code_enabled -%}
                                {{- product.compare_at_price | money_with_currency -}}
                              {%- else -%}
                                {{- product.compare_at_price | money -}}
                              {%- endif -%}
                            </span>
                          {%- elsif product.price_varies -%}
                            {%- capture price_min -%}
                              {%- if settings.currency_code_enabled -%}
                                {{ product.price_min | money_with_currency }}
                              {%- else -%}
                                {{ product.price_min | money }}
                              {%- endif -%}
                            {%- endcapture -%}

                            {%- capture price_max -%}
                              {%- if settings.currency_code_enabled -%}
                                {{- product.price_max | money_with_currency -}}
                              {%- else -%}
                                {{- product.price_max | money -}}
                              {%- endif -%}
                            {%- endcapture -%}

                            <span class="price">
                              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                              {{- 'collection.product.from_price_html' | t: price_min: price_min, price_max: price_max -}}
                            </span>
                          {%- else -%}
                            <span class="price">
                              <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                              {%- if settings.currency_code_enabled -%}
                                {{- product.price | money_with_currency -}}
                              {%- else -%}
                                {{- product.price | money -}}
                              {%- endif -%}
                            </span>
                          {%- endif -%}

                          {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
                            <div class="price price--block text--xsmall text--subdued">
                              <div class="unit-price-measurement">
                                <span class="unit-price-measurement__price">{{ product.selected_or_first_available_variant.unit_price | money }}</span>
                                <span class="unit-price-measurement__separator">/</span>

                                {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
                                  <span class="unit-price-measurement__reference-value">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
                                {%- endif -%}

                                <span class="unit-price-measurement__reference-unit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>


                      {%- if settings.product_color_display != 'hide' and reduced_content != true -%}
                        {%- for color_label in color_label_list -%}
                          {%- if product.options_by_name[color_label] != blank -%}
                            {%- assign product_option = product.options_by_name[color_label] -%}

                            {%- case settings.product_color_display -%}
                              {%- when 'count' -%}
                                <p class="product-item-meta__color-count text--small text--subdued">{{- 'collection.product.available_colors_count' | t: count: product_option.values.size -}}</p>

                              {%- when 'swatch' -%}
                                <div class="product-item-meta__swatch-list color-swatch-list color-swatch-list--mini">
                                  {%- assign variant_option = 'option' | append: product_option.position -%}
                                  {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

                                  {%- capture color_name -%}{{ section.id }}-{{ block.id }}-{{ product.id }}{%- endcapture -%}

                                  {%- for value in product_option.values -%}
                                    {%- capture color_id -%}{{ color_name }}-{{ forloop.index }}{%- endcapture -%}
                                    {%- assign color_value_downcase = value | downcase -%}
                                    {%- assign variant_for_value = product.variants | where: variant_option, value | first -%}

                                    <div class="color-swatch {% if color_white_label == color_value_downcase %}color-swatch--white{% endif %}">
                                      <input class="color-swatch__radio visually-hidden" type="radio" name="{{ color_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if product_option.selected_value == value %}checked="checked"{% endif %} data-variant-id="{{ variant_for_value.id }}" {% if variant_for_value.featured_media %}data-variant-featured-media="{{ variant_for_value.featured_media.id }}"{% endif %}>
                                      <label class="color-swatch__item" for="{{ color_id }}" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: value %}">
                                        <span class="visually-hidden">{{ value }}</span>
                                      </label>
                                    </div>
                                  {%- endfor -%}
                                </div>
                            {%- endcase -%}

                            {%- break -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>

                    {%- if product.available and reduced_content or show_cta -%}
                      <div class="product-item__cta-wrapper">
                        {%- if product.variants.size == 1 -%}
                          {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
                          {%- form 'product', product, is: 'product-form', id: form_id -%}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
                            <button type="submit" {% if show_cta %}is="loader-button"{% endif %} class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %}">{{ 'collection.product.add_to_cart_short' | t }}</button>
                          {%- endform -%}
                        {%- else -%}
                          <button type="button" {% if show_cta %}loader{% endif %} is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" aria-expanded="false" class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %} hidden-phone">{{ 'collection.product.quick_view' | t }}</button>
                          <button type="button" {% if show_cta %}loader{% endif %} is="toggle-button" aria-controls="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" aria-expanded="false" class="{% if reduced_content %}product-item__link link text--subdued{% else %}product-item__cta button button--primary{% endif %} hidden-tablet-and-up">{{ 'collection.product.quick_view' | t }}</button>

                          <!-- <quick-buy-popover id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-popover" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
                          <quick-buy-drawer id="product-{{ section.id }}-{{ block.id }}-{{ product.id }}-drawer" href="{{ product.url }}{% if product_url_contains_query %}&{% else %}?{% endif %}view=quick-buy-drawer" class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer> -->
                        {%- endif -%}
                      </div>
                    {%- elsif reduced_content -%}
                      <div class="product-item__cta-wrapper">
                        <span class="product-item__link text--subdued">{{ 'collection.product.sold_out' | t }}</span>
                      </div>
                    {%- endif -%}
                  </div>

                {%- endcapture -%}

                {%- if block_content != blank -%}
                  <div id="block-{{ section.id }}-{{ block.id }}" class="multi-column__item multi-column__item--align-{{ block.settings.vertical_alignment }}" {% if section.settings.reveal_on_scroll %}reveal{% endif %} {{ block.shopify_attributes }}>
                    {{- block_content -}}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
          <div id="customize-controls" class="customize-controls">
            <div class="swiper-button-controls product-button-prev-custom">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="design-iconfont">
                <mask id="fo23klz2p__3cpv3dnfha" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="4" width="31" height="31">
                  <path transform="matrix(-1 0 0 1 36 4)" fill="#D9D9D9" d="M0 0H31V31H0z"/>
                </mask>
                <g mask="url(#fo23klz2p__3cpv3dnfha)">
                  <path d="M25.458 3.45751L9.37303 19.5425L25.458 35.6274" stroke="#fff" stroke-width="1.5"/>
                </g>
                <mask id="fo23klz2p__j8h2lhv24b" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="3" width="33" height="33">
                  <path transform="matrix(-1 0 0 1 37 3)" fill="#D9D9D9" d="M0 0H33V33H0z"/>
                </mask>
                <g mask="url(#fo23klz2p__j8h2lhv24b)">
                  <path d="M24.4582 2.45776L7.37352 19.5425L24.4582 36.6272" stroke="#040000" stroke-width="1.5"/>
                </g>
              </svg>
            </div>
            <div class="swiper-button-controls product-button-next-custom">
              <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="design-iconfont">
                <mask id="f6v4xaqwh__fqcktyk72a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="4" width="31" height="31">
                  <path fill="#D9D9D9" d="M4 4H35V35H4z"/>
                </mask>
                <g mask="url(#f6v4xaqwh__fqcktyk72a)">
                  <path d="M14.542 3.45751L30.627 19.5425L14.542 35.6274" stroke="#fff" stroke-width="1.5"/>
                </g>
                <mask id="f6v4xaqwh__ij7zspkldb" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="33" height="33">
                  <path fill="#D9D9D9" d="M3 3H36V36H3z"/>
                </mask>
                <g mask="url(#f6v4xaqwh__ij7zspkldb)">
                  <path d="M15.5418 2.45776L32.6265 19.5425L15.5418 36.6272" stroke="#040000" stroke-width="1.5"/>
                </g>
              </svg>
            </div>
          </div>
        </multi-column>
      {%- endif -%}

      {%- if section.settings.button_link_text != blank -%}
      <div class="button-container text--center">
        <a href="{{ section.settings.button_link_url }}" class="button button--primary button--full button--animate">{{ section.settings.button_link_text }}</a>
      </div>
      {%- endif -%}
    </div>
  </div>
</section>
<!-- 引入Tiny Slider的JavaScript文件 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  var slider = tns({
    container: "#swiper-product",
    items: 1,
    autoplay: false,
    "mouseDrag": true,
    "slideBy": "page",
    "swipeAngle": false,
    loop: false,
     "gutter": 40,
    "controlsContainer": "#customize-controls",
    responsive: {
      768: {
        items: 2, // 当屏幕宽度大于等于 768px 时，显示 2 个项目
      },
      1024: {
        items: 3, // 当屏幕宽度大于等于 1024px 时，显示 3 个项目
      }
  }
  });
});
</script>
{% schema %}
{
  "name": "Multi-column-product",
  "class": "shopify-section--multi-column-product",
  "blocks": [
    {
      "name": "Column",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "100 x 100px .png with transparency recommended"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "image_secondary",
          "label": "Image Secondary",
          "info": "1200 x 1200px .jpg recommended"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 10,
          "max": 100,
          "unit": "%",
          "step": 1,
          "label": "Image width",
          "default": 100
        },
        {
          "type": "color",
          "id": "image_border",
          "label": "Image border",
          "default": "rgba(0,0,0,0)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your content"
        },
         {
          "type": "text",
          "id": "custom_title",
          "label": "Custom Title",
          "default": "Ulike Sapphire AIR 3 (WHITE)"
        },
        {
          "type": "select",
          "id": "title_size",
          "options": [
            {
              "value": "h5",
              "label": "Small"
            },
            {
              "value": "h4",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "Large"
            }
          ],
          "default": "h5",
          "label": "Heading Size"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "link_style",
          "label": "Link style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "button",
              "label": "Button"
            }
          ],
          "default": "link"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical alignment",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "default": "start"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "Reveal on scroll",
      "info": "Show animation when section becomes visible.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_items",
      "label": "Stack items",
      "default": false
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Multi-column"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "label": "Column/header alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_item_size",
      "label": "Mobile/tablet column size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "desktop_item_size",
      "label": "Desktop column size",
      "options": [
        {
          "value": "pico",
          "label": "X-Small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
         {
          "value": "mast",
          "label": "X-Large"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "spacing",
      "label": "Spacing",
      "options": [
        {
          "value": "tight",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Medium"
        },
        {
          "value": "loose",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "text",
      "id": "button_link_text",
      "label": "Button Link text"
    },
    {
      "type": "url",
      "id": "button_link_url",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Multi-column-product",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        },
        {
          "type": "item",
          "settings": {
            "title": "Column 1"
          }
        }
      ]
    }
  ]
}
{% endschema %}