  <link type="text/css" href="{{ 'swiper-bundle.min.css' | asset_url }}" rel="stylesheet">
<style>
   #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color }};
    --section-background: {{ section.settings.background }};
    background:var(--section-background);
  }
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}

/* pd_module5-box start*/
.pd_md5-container{
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.pd_module5-box{
  background:#80D9EF;
}
.pd_md5-tle{
  color: #DE004D;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-bottom: 53px;
}
.pd_md5-top{
  display: flex;
  border-radius: 10px;
border: 3px solid #F4F431;
background: rgba(255, 255, 255, 0.80);
padding: 80px 100px 75px 90px;
align-items: center;
gap: 43px;
}
.pd_md5-right{
  flex: 1;
}
.pd_md5-box1{
  color: #333;
text-align: left;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 120%;
margin-bottom: 17px;
}
.pd_md5-box1 strong{
font-size: 16px;
  font-style: normal;
font-weight: 400;
  line-height: 120%;
}
.pd_md5-box2{
  color: #333;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.pd_md5-bottom{
  margin-top: 27px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pd_md5-avtor{
  width: 88px !important ;
  height: 88px !important;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  opacity: 0.6;
}
.swiper-slide-thumb-active.pd_md5-avtor{
  opacity: 1;
}
.circle-load {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.pd_md5-avtor .circle-load-svg {
    stroke-dasharray: 0 570;
} 
.pd_md5-avtor.swiper-slide-thumb-active .circle-load-svg{
  transition: stroke-dasharray 2s;
  stroke-dasharray: 570 570;
}
.pd_module5-wrapper{
  overflow: hidden;
}
@keyframes rot {
    100% {
        stroke-dasharray: 570 570;
    }
}
/* 定位到屏幕中心 */
.circle-load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
}

/* 创建加载圆环 */
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid gainsboro; /* 背景圆圈颜色 */
  border-top-color: darkturquoise; /* 加载动画颜色 */
  animation: spin 2s linear infinite;
}
.swiper-container-thumbs{
  margin-top: 23px;
}
  .pd_md5-left img{
    max-width:273px;
    width: 100%;
  }
    .container_peison{
    --container-max-width: 980px;
  }
  .peison_box{
    gap:34px;
  }
  .number_do_box h3{
        font-family: var(--font-heading-family);
    color: #E0004D;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 52px */
    margin-bottom: 78px;
  }
  .full_container{
        max-width: 1280px;
  }
  .number_end-box h3{
     font-family: var(--font-heading-family) !important;
    color: #E0004D !important;
text-align: center;
font-size: 40px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 150% !important; /* 60px */
  }
  .slide-diy .slide-diy-title{
    font-family: var(--font-heading-family);
    color: #E0004D;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
  }
  .slide-diy .slide-diy-top{
        text-align: center;
        justify-content: center;
     
  }
  .slide-diy{
    background: #DEF1F8;
  }
/* 旋转动画 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 765px) {
  .pd_md5-tle{
    font-size: 17px;
    margin-bottom: 25px;
  }
  .pd_md5-top{
    padding: 30px 20px;
    flex-direction: column;
    gap: 15px;
  }
  .pd_md5-box1 p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
  }
  .pd_md5-box1 p strong{
    font-size: 10px;
  }
  .pd_md5-box2{
    font-size: 12px;
  }
  .pd_md5-left{
    max-width: 136px;
  }
  .pd_md5-avtor{
    width: 52px !important;
    height: 52px !important;
    padding: 6px;
  }
  .circle-load{
    width: 52px !important;
    height: 52px !important;
  }
  .swiper-container-thumbs {
    margin-top: 18px;
}
   .pd_md5-left img{
    max-width:136px;
  }
    .number_do_box h3{
   font-size: 18px;
    margin-bottom: 15px;
  }
  .peison_box {
    gap: 5%;
}
  .slide-diy .slide-diy-title,.number_end-box h3{
    font-size: 17px;
  }
  .slide-diy .slide-diy-top {
   align-items: center;
}
}
/* pd_module5-box end*/

</style>
 <section>
    <div class="pd_module5-box section-{{ section.id }}-padding">
    <div class="pd_md5-container">
      <div class="pd_module5-wrapper">
        <div class="pd_md5-tle to-top">{{ section.settings.tle }}</div>
        <div class="pd_md5-box">
          <div class="swiper-container main-swiper">
            <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
              <div class="pd_md5-top to-top swiper-slide">
                 {%- if block.settings.avtor_image -%}
                <div class="pd_md5-left">
                  <img src="{{ block.settings.avtor_image| image_url }}" alt="">
                </div>
                  {%- endif -%}
                <div class="pd_md5-right">
                  <div class="pd_md5-box1">{{ block.settings.txt_1 }}</div>
                  <div class="pd_md5-box2">{{ block.settings.txt_2 }}</div>
                </div>
              </div>
              {%- endfor -%}

            </div>
          </div>
          <div class="swiper-container swiper-container-thumbs thumb-swiper">
            <div class="pd_md5-bottom to-top swiper-wrapper">
              {%- for block in section.blocks -%}
              <div class="pd_md5-avtor swiper-slide swiper-slide-thumb to-top">
                {%- if block.settings.avtor_image -%}
                <div class="md5_avtor-box">
                  <img src="{{ block.settings.avtor_image| image_url }}" alt="">
                </div>
                  {%- endif -%}
                <hgroup class="circle-load">
                  <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="50%" cy="50%" r="45%" stroke-width="2" stroke="rgba(63, 54, 54, 0.2)" fill="none"></circle>
                      <circle cx="50%" cy="50%" r="45%" stroke-width="2" stroke="#E0004D" fill="none" class="circle-load-svg active"></circle>
                  </svg>
              </hgroup>
              </div>
               {%- endfor -%}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
    <script src="{{ 'swiper-bundle.min.aio.min.js' | asset_url }}"></script>
<script>
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      init_scroll{{ section.id | replace: "template--", "" }}();
    });
  } else {
    init_scroll{{ section.id | replace: "template--", "" }}();
  }
   function init_scroll{{ section.id | replace: "template--", "" }} (){
         const thumbSwiper_{{ section.id | replace: "template--", "" }} = new Swiper('.section-{{ section.id }}-padding .thumb-swiper', {
                spaceBetween: 0,
                slidesPerView: 3,
                freeMode: true,
                watchSlidesVisibility: true,
                watchSlidesProgress: true
            });

            const mainSwiper_{{ section.id | replace: "template--", "" }} = new Swiper('.section-{{ section.id }}-padding .main-swiper', {
                spaceBetween: 10,
                autoplay: {
                    delay: 2000,
                    disableOnInteraction: true
                },
                thumbs: {
                    swiper: thumbSwiper_{{ section.id | replace: "template--", "" }},
                },
            });
   }
</script>
{% schema %}
{
  "name": "Pd Module 5",
  "class": "shopify-section--pd-md4", 
  "settings": [
     {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
        "type": "item",
        "name": "item",
        "settings": [
    {
          "type": "image_picker",
          "id": "avtor_image",
          "label": "Avtor Image"
        },
             {
      "type": "richtext",
      "id": "txt_1",
      "label": "Text 1"
    },
           {
      "type": "richtext",
      "id": "txt_2",
      "label": "Text 2"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Pd Module 5"
    }
  ]
}
{% endschema %}