<style>
   #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color }};
    --section-background: {{ section.settings.background }};
    background:var(--section-background);
  }
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* pd_module1-box start*/
.pd_module1-box{
  {% if section.settings.bg_image != blank %}
      background: #80D9EF url({{ section.settings.bg_image | image_url }}) no-repeat center;
      background-size: cover;
  {% endif %}
}
.pd_module1-wrapper{
  display: flex;
  gap: 33px;
  animation: marquee 10s linear infinite;
}
.pd_module1-item{
  /* flex: 1; */
  text-align: center;
  display:block;
}
.pd_module1-tle{
  margin-bottom: 23px;
  text-align: center;
}
.pd_module1-tle img{
  max-width: 187px;
  margin: 0 auto;
}
.pd_module1-img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 286px;
height: 286px;
flex-shrink: 0;
  border-radius: 286px;
border: 3px solid #F4F431;
background: #FFF;
    position: relative;      
}
.pd_module1-img img{
  display: block;
  width: 100%;
  max-width: 83px;
}
.pd_module1-img .code_md1{
  position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  max-width: 100px;
  transform: translate(29%,-9%);
}
.pd_module1-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.md1_price-left{
  text-align: left;
}
.md1_price-left .md1_price-left-1{
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
} 
.md1_price-left .md1_price-left-2{
  font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
letter-spacing: 1.44px;
text-decoration: line-through;
}
.md1_price-right{
  color: #DE004D;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
}
.md1_price-right strong{
  color: #DE004D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.3;
letter-spacing: 1.44px;
}
  .pd_module1-box {
    position: relative;
}
  .svg_box {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* padding-bottom: 100%; */
    top: 0;
}
  svg.md1_svg1 {
    position: absolute;
    left: -41%;
    top: 85px;
}
  svg.md1_svg2 {
    position: absolute;
    right: -10%;
    bottom: 66px;
}
  .pd_cust-container1{
        max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
  }
  .pd_module1-wrapper:hover{
    animation-play-state: paused;
  }
@keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  @media (max-width: 992px) {
    .svg_box{
      display:none;
    }
  }

@media (max-width: 765px) {
  .pd_module1-box {
   padding-left: 20px;
    {% if section.settings.mobile_bg_image != blank %}
      background: #80D9EF url({{ section.settings.mobile_bg_image | image_url }}) no-repeat center;
  {% endif %}
}
.pd_module1-wrapper{
  gap: 26px;
        animation: marquee 4s linear infinite;
}
.pd_module1-img{
  width: 143px;
  height: 143px;
}
.pd_module1-img img{
  max-width: 42px;
}
.pd_module1-tle{
  max-width: 93px;
  margin: 0 auto 13px;
}
.md1_price-left .md1_price-left-1{
  font-size: 8px;
}
.md1_price-right{
  font-size: 19px;
}
.md1_price-right strong{
  font-size: 10px;
}
.md1_price-left .md1_price-left-2{
  font-size: 8px;
}
        .pd_module1-img .code_md1{
        max-width:50px;
        }
        .pd_module1-tle img {
    max-width: 93px;
}
}
/* pd_module1-box end*/
</style>
 <section>
  <div class="pd_module1-box section-{{ section.id }}-padding">
    <!-- <div class="svg_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="368" height="71" viewBox="0 0 368 71" fill="none" class="md1_svg1">
  <path d="M82.1741 49.4827L82.1736 49.4824L82.1735 49.4823L82.1688 49.4795L82.145 49.4652C82.1228 49.452 82.088 49.4313 82.0408 49.4036C81.9464 49.3483 81.8026 49.2651 81.6118 49.1576C81.2302 48.9427 80.6608 48.631 79.9222 48.2517C78.4446 47.4926 76.2928 46.4641 73.616 45.3978C68.255 43.2621 60.8282 40.9908 52.5169 40.4064C44.2138 39.8225 35.0606 40.9236 26.1872 45.4945C17.8153 49.8071 9.59509 57.2582 2.55165 69.5H365.253C364.553 68.5194 363.588 67.2679 362.333 65.8572C359.272 62.4168 354.494 58.036 347.647 54.3207C334.002 46.9161 311.931 42.042 278.457 52.9292L277.319 53.2994L276.707 52.2732L276.706 52.2729L276.706 52.2726L276.705 52.2715L276.702 52.2658L276.678 52.2272C276.656 52.1908 276.619 52.1333 276.57 52.0566C276.47 51.903 276.316 51.6726 276.108 51.3795C275.692 50.7929 275.06 49.9574 274.211 48.986C272.511 47.0402 269.959 44.5684 266.552 42.456C259.797 38.268 249.569 35.4115 235.632 41.1444L234.413 41.6456L233.76 40.5028L233.759 40.5027L233.759 40.502L233.758 40.4995L233.747 40.4817C233.738 40.4649 233.722 40.4381 233.7 40.4016C233.657 40.3287 233.59 40.2173 233.499 40.07C233.317 39.7754 233.04 39.3374 232.666 38.7771C231.917 37.6566 230.78 36.0481 229.242 34.1212C226.165 30.2659 221.491 25.1452 215.118 20.1069C202.386 10.041 182.869 0.296696 155.68 1.624L155.607 0.12578L155.68 1.624C127.661 2.99031 109.848 14.8052 99.0271 26.2352C93.6065 31.9611 89.9319 37.6013 87.6154 41.8034C86.4577 43.9036 85.6408 45.6417 85.1158 46.8476C84.8534 47.4504 84.6641 47.9198 84.5418 48.2346C84.4806 48.392 84.4362 48.5107 84.4078 48.588C84.3936 48.6267 84.3834 48.655 84.3771 48.6726L84.3706 48.691L84.3698 48.6931L82.1741 49.4827ZM82.1741 49.4827L83.7602 50.4474L84.3695 48.6941L82.1741 49.4827Z" stroke="white" stroke-width="3"/>
</svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="312" height="73" viewBox="0 0 312 73" fill="none" class="md1_svg2">
  <path d="M83.7463 50.8369L83.7469 50.8373L85.3401 51.815L85.9487 50.0479C85.9488 50.0478 85.9487 50.048 85.9488 50.0478L85.9491 50.0469L85.9499 50.0445L85.9567 50.0254C85.9631 50.0071 85.9736 49.9779 85.9881 49.938C86.0172 49.8582 86.0625 49.7359 86.1249 49.5738C86.2498 49.2495 86.443 48.7662 86.7107 48.1458C87.2461 46.9047 88.0792 45.1163 89.2598 42.9556C91.6219 38.6323 95.3683 32.8302 100.895 26.9402C111.927 15.1821 130.084 3.03244 158.641 1.62745L158.567 0.129261L158.641 1.62744C186.351 0.262563 206.243 10.2827 219.223 20.6361C225.719 25.8181 230.484 31.085 233.621 35.0508C235.189 37.033 236.348 38.6877 237.112 39.8408C237.493 40.4172 237.776 40.868 237.962 41.1714C238.054 41.3231 238.123 41.4378 238.167 41.513C238.189 41.5506 238.205 41.5783 238.215 41.5957L238.226 41.6141L238.228 41.6169L238.228 41.6174L238.228 41.6176L238.882 42.771L240.107 42.2624C254.315 36.3659 264.743 39.3032 271.633 43.6128C275.107 45.7865 277.71 48.3302 279.445 50.3331C280.31 51.3329 280.955 52.193 281.38 52.7971C281.592 53.099 281.749 53.3364 281.851 53.4948C281.876 53.5328 281.897 53.5663 281.915 53.5951C281.934 53.626 281.95 53.6514 281.962 53.6709L281.987 53.711L281.99 53.7171L281.991 53.7183L281.991 53.7188L282.604 54.7544L283.749 54.3786C317.863 43.1836 340.358 48.1947 354.269 55.811C361.248 59.6325 366.121 64.1391 369.242 67.6792C370.553 69.1655 371.554 70.4801 372.271 71.4999H2.5394C9.72936 58.8658 18.1258 51.1804 26.6771 46.7359C35.7235 42.034 45.0541 40.9019 53.517 41.5023C61.9884 42.1033 69.5582 44.4391 75.0226 46.6355C77.751 47.7322 79.9444 48.79 81.4507 49.5707C82.2036 49.9609 82.7841 50.2815 83.1732 50.5026C83.3678 50.6132 83.5144 50.6988 83.6107 50.7558C83.6589 50.7843 83.6944 50.8056 83.7171 50.8193L83.7415 50.834L83.7463 50.8369Z" stroke="white" stroke-width="3"/>
</svg>
    </div> -->
    <div class="pd_cust-container1 to-top">
      <div class="pd_module1-wrapper" id="pd_module1-wrapper">

        {%- for block in section.blocks -%}
        <a href="{{ block.settings.link_url }}" class="pd_module1-item">
           {%- if block.settings.image_tle -%}
          <div class="pd_module1-tle">
            <img src="{{ block.settings.image_tle |image_url }}" alt="">
          </div>
           {%- endif -%}
          <div class="pd_module1-img">
             {%- if block.settings.product_image -%}
            <img src="{{ block.settings.product_image |image_url }}" alt="">
             {%- endif -%}
             {%- if block.settings.product_code -%}
            <img src="{{ block.settings.product_code |image_url }}" alt="" class="code_md1">
             {%- endif -%}
          </div>
          <div class="pd_module1-price">
            <div class="md1_price-left">
              <div class="md1_price-left-1">{{ block.settings.text_1 }}</div>
              <div class="md1_price-left-2">{{ block.settings.text_2 }}</div>
            </div>
            <div class="md1_price-right">{{ block.settings.text_3 }}</div>
          </div>
        </a>
        {%- endfor -%}

        

      </div>
    </div>
  </div>
  </section>
<script>
    if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      init_scroll{{ section.id | replace: "template--", "" }}();
    });
  } else {
    init_scroll{{ section.id | replace: "template--", "" }}();
  }
  function init_scroll{{ section.id | replace: "template--", "" }} () {
     const marqueeContent = document.getElementById('pd_module1-wrapper');
    const marqueeItems = Array.from(marqueeContent.children);
    marqueeContent.append(...marqueeItems.map(item => item.cloneNode(true)));
    marqueeContent.addEventListener('animationiteration', () => {
      marqueeContent.style.animation = 'none';
      marqueeContent.offsetHeight;
      marqueeContent.style.animation = '';
    });
  }
</script>
{% schema %}
{
  "name": "Pd Module 1",
  "class": "shopify-section--pd-md1", 
  "settings": [
      {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
     {
          "type": "image_picker",
          "id": "mobile_bg_image",
          "label": "Mobile Background Image"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
        "type": "item",
        "name": "item",
        "settings": [
            {
          "type": "image_picker",
          "id": "image_tle",
          "label": "Image Title"
        },
    {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
 {
          "type": "image_picker",
          "id": "product_code",
          "label": "Product Code"
        },
             {
      "type": "text",
      "id": "text_1",
      "label": "Text 1"
    },
           {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },
           {
      "type": "richtext",
      "id": "text_3",
      "label": "Text 3"
    },
              {
      "type": "url",
      "id": "link_url",
      "label": "Button Link"
    },
        ]
      }
  ],
  "presets": [
    {
      "name": "Pd Module 1"
    }
  ]
}
{% endschema %}