<style>
   #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color }};
    --section-background: {{ section.settings.background }};
    background:var(--section-background);
  }
    .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
}
/* pd_module2-box start*/
.pd_module2-box{
 {% if section.settings.bg_image != blank %}
      background: #80D9EF url({{ section.settings.bg_image | image_url }}) no-repeat center;
      background-size: cover;
  {% endif %}
}
.pd_module2-wrapper{
  display: flex;
  align-items: center;
  gap: 56px;
}
.pd_module2-left img{
  max-width: 391px;
}
.pd_module2-right{
  color: #000;
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 2; 
}
.pd_module2-right .md2-txt2{
  color: #DE004D;
}
        .pd_module2-left {
    position: relative;
}
        img.md2_svg {
    position: absolute;
}
       img.md2_svg1 {
    left: -60px;
    bottom: 145px;
}
         img.md2_svg2{
            right: 30px;
    top: 0;
          transform: translateY(-50%);
        }
         img.md2_svg3{
        right:0%;
        top:10px;
        transform: translateX(100%);
        }
         img.md2_svg4{
         right:0%;
        bottom:0;
             transform: translateX(100%);
        }
  .pd_module2-box  .pd_cust-container{
    overflow: visible;
  }
@media (max-width: 765px) {
.pd_module2-wrapper{
  flex-direction: column;
  gap: 0px;
}
.pd_module2-box{
  {% if section.settings.mobile_bg_image != blank %}
      background: #80D9EF url({{ section.settings.mobile_bg_image | image_url }}) no-repeat center;
  {% endif %}
}
.pd_module2-right{
  font-size: 16px;
}
        .pd_module2-left img {
    max-width: 164px;
}
img.md2_svg1{
  max-width: 33px;
  bottom: -50px;
}
  img.md2_svg2{
  max-width: 51px;
                left: -60px;
        top: 20px;
}
    img.md2_svg3{
  max-width: 37px;
                 right: 0;
        top: 0;  
}
  img.md2_svg4{
  max-width: 35px;
             left: -80px;
        top: 50%;
}
}

/* pd_module2-box end*/
</style>
 <section>
   <div class="pd_module2-box section-{{ section.id }}-padding">
    <div class="pd_cust-container">
      <div class="pd_module2-wrapper to-top">
          {%- if section.settings.image -%}
        <div class="pd_module2-left">
           <img src="{{ section.settings.image_svg1 | image_url }}" alt="" class="md2_svg md2_svg1">
          <img src="{{ section.settings.image_svg2 | image_url }}" alt="" class="md2_svg md2_svg2">
          <img src="{{ section.settings.image_svg3 | image_url }}" alt="" class="md2_svg md2_svg3">
          <img src="{{ section.settings.image_svg4 | image_url }}" alt="" class="md2_svg md2_svg4">
          <img src="{{ section.settings.image | image_url }}" alt="" class="md2_svg0">
        </div>
          {%- endif -%}
        <div class="pd_module2-right">
          <div class="md2-txt1">{{ section.settings.text_1 }}</div>
          <div class="md2-txt2">{{ section.settings.text_2 }}</div>
          <div class="md2-txt3">{{ section.settings.text_3 }}</div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% schema %}
{
  "name": "Pd Module 2",
  "class": "shopify-section--pd-md2", 
  "settings": [
      {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
     {
          "type": "image_picker",
          "id": "mobile_bg_image",
          "label": "Mobile Background Image"
        },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
     {
          "type": "image_picker",
          "id": "image_svg1",
          "label": "Svg1"
        },
      {
          "type": "image_picker",
          "id": "image_svg2",
          "label": "Svg2"
        },
     {
          "type": "image_picker",
          "id": "image_svg3",
          "label": "Svg3"
        },
     {
          "type": "image_picker",
          "id": "image_svg4",
          "label": "Svg4"
        },
        {
      "type": "text",
      "id": "text_1",
      "label": "Text 1"
    },
        {
      "type": "text",
      "id": "text_2",
      "label": "Text 2"
    },
        {
      "type": "text",
      "id": "text_3",
      "label": "Text 3"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Pd Module 2"
    }
  ]
}
{% endschema %}