
{%- style -%}
  .product-endorsement-box {
    padding: 0 0 72px;
  }

  @media screen and (max-width: 750px) {
    .product-endorsement-box {
      padding: 0 0 20px 0;
    }
  }
{%- endstyle -%}

{{ 'section-product-endorsement.css' | asset_url | stylesheet_tag }}
<div class="product-endorsement-box">
  <div class="product-endorsement page-width container">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h2 text--center">
        <split-lines>{{ section.settings.title | escape }}</split-lines>
      </h2>
    {%- endif -%}
    {%- if section.settings.subheading != blank -%}
      <h3 class="heading h3 heading--small">
        <split-lines>{{ section.settings.subheading | escape }}</split-lines>
      </h3>
    {%- endif -%}
    <div class="img text--center endorsement-img">
       {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px', widths: '600,700,800,1000,1200,1400', class: 'product-endorsement__image' -}}
    </div>
    {%- if section.settings.text != blank -%}
      <p class="txt text--center">{{  section.settings.text | escape }}</p>
    {%- endif -%}
    <div class="media-box txt-center{% if section.settings.tle_position %} custom-media-box{% endif %}">
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 40" class="design-iconfont">
        <path d="M45.6302 9H37.6602V14.91H45.6302V9Z" fill="#181818"/>
        <path d="M35.1416 9H20.8516V14.91H35.1416V9Z" fill="#181818"/>
        <path d="M20.8516 17.55V23.22V30.36H25.0716V23.22H35.1416V17.3H20.8516V17.55Z" fill="#181818"/>
        <path d="M41.8902 17.3H37.6602V24.44V30.36H41.8902H45.6302V24.44H41.8902V17.3Z" fill="#181818"/>
        <path d="M65.3919 30.36H69.6219L62.8519 9H62.1419H59.9519H59.1919L52.4219 30.36H55.1119H56.6519H62.5419L60.8019 25.34H57.9419L61.0419 13.28L65.3919 30.36Z" fill="#181818"/>
        <path d="M45.6328 9V14.91C47.1728 14.91 48.4228 17.04 48.4228 19.68C48.4228 22.32 47.1728 24.45 45.6328 24.45V30.36C49.7328 30.36 53.0428 25.58 53.0428 19.68C53.0428 13.78 49.7228 9 45.6328 9Z" fill="#181818"/>
        <path d="M4 19.84C4 25.83 6.71 30.69 10.05 30.69H18.56V24.78H11.84C10.32 24.78 9.09 22.57 9.09 19.85C9.09 17.13 10.32 14.92 11.84 14.92H18.56V9.01001H10.05C6.71 9.01001 4 13.87 4 19.86V19.84Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 40" class="design-iconfont">
        <path d="M17.19 7.02002C9.9 7.08002 4 13.01 4 20.31C4 27.61 9.89 33.54 17.19 33.6L18.92 33.58V29.33H17.19C12.25 29.27 8.27 25.25 8.27 20.3C8.27 15.35 12.26 11.33 17.19 11.27H18.92V7.02002" fill="#181818"/>
        <path d="M39.4478 7.02C32.1578 7.08 26.2578 13.01 26.2578 20.31C26.2578 27.61 32.1478 33.54 39.4478 33.6L41.1778 33.58V29.33H39.4478C34.5078 29.27 30.5278 25.25 30.5278 20.3C30.5278 15.35 34.5178 11.33 39.4478 11.27H41.1778V7.02L39.4478 7V7.02Z" fill="#181818"/>
        <path d="M38.5762 18.15H29.9062V22.34H38.5762V18.15Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 40" class="design-iconfont">
        <path d="M8.87551 6.75592H4V29.4058H8.87551V6.75592Z" fill="#181818"/>
        <path d="M34.3912 16.7892H29.5156V29.4057H34.3912V16.7892Z" fill="#181818"/>
        <path d="M36.9645 6.75592L37.5376 11.6314H21.7734V6.75592H36.9645Z" fill="#181818"/>
        <path d="M22.0625 15.9339V20.8094H34.3882V15.9339H22.0625Z" fill="#181818"/>
        <path d="M8.32857 18.748L4.26562 15.4036L12.8876 6.75592H18.6185L8.32857 18.748Z" fill="#181818"/>
        <path d="M9.90472 16.0793L6.58594 19.6547L24.3602 32.9983V27.3957L9.90472 16.0793Z" fill="#181818"/>
        <path d="M59.0002 29.4143L47.6924 5.99463L41.9102 17.1656L44.5874 22.2806L47.547 15.7457L54.0477 29.4057L59.0002 29.4143Z" fill="#181818"/>
        <path d="M24.9302 33.4174L20.0547 29.5426V6.75592H24.9302V33.4174Z" fill="#181818"/>
        <path d="M45.6564 17.8927C45.6564 12.5467 42.0126 8.05606 37.0772 6.75592H36.966L37.2483 11.6143C39.609 12.7178 41.2428 15.1128 41.2428 17.8927C41.2428 21.699 38.1806 24.7868 34.3828 24.821V29.4058C40.6269 29.2689 45.6479 24.171 45.6479 17.8927H45.6564Z" fill="#181818"/>
        <path d="M47.8654 28.5418C49.448 28.5418 50.7309 27.2589 50.7309 25.6764C50.7309 24.0938 49.448 22.8109 47.8654 22.8109C46.2829 22.8109 45 24.0938 45 25.6764C45 27.2589 46.2829 28.5418 47.8654 28.5418Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 40" class="design-iconfont">
        <path d="M26.9878 2.24545H23.4375V17.2003H26.9878V2.24545Z" fill="#181818"/>
        <path d="M26.0391 9.32842L32.8415 2.24545H37.8294L31.0883 9.32842L37.7417 17.1477H32.7539L26.0391 9.32842Z" fill="#181818"/>
        <path d="M15.7816 2V11.3446C15.7816 11.9319 15.7553 12.4316 15.7027 12.8436V12.8611C15.5799 13.7553 14.8523 14.4478 13.9582 14.588C12.7836 14.7634 11.0216 14.7897 9.61904 14.6143C8.92652 14.5267 8.30411 14.1059 8.04113 13.466C8.0236 13.4134 8.00607 13.3696 7.98854 13.317C7.84828 12.8436 7.77816 12.1861 7.77816 11.3446V2H4V11.4235C4 12.8085 4.12272 13.8868 4.37693 14.6494C4.62238 15.412 5.07821 16.1046 5.74443 16.7182C7.01551 17.9104 9.03169 18.5065 11.793 18.5065C14.379 18.5065 16.3777 17.9016 17.789 16.6919C18.3938 16.1484 18.8497 15.4296 19.1389 14.5442C19.437 13.6588 19.5772 12.528 19.5772 11.1605V2H15.7728H15.7816Z" fill="#181818"/>
        <path d="M20.5152 33.4876H11.1706C10.5833 33.4876 10.0836 33.4613 9.67163 33.4H9.65411C8.75997 33.2685 8.06745 32.4971 7.9272 31.5503C7.75188 30.3055 7.72558 28.4384 7.9009 26.9482C7.98856 26.2118 8.40933 25.5544 9.04925 25.2738C9.10184 25.2563 9.14566 25.23 9.19826 25.2212C9.66286 25.0635 10.3203 24.9933 11.1618 24.9933H20.5064V20.9872H11.0829C9.69792 20.9872 8.6197 21.1187 7.85705 21.3817C7.09441 21.6447 6.4019 22.1268 5.78828 22.8281C4.5961 24.1693 4 26.3082 4 29.2449C4 31.9886 4.60486 34.11 5.81458 35.609C6.35807 36.2489 7.07687 36.7311 7.96224 37.0466C8.84761 37.3622 9.97844 37.5112 11.3459 37.5112H20.5064V33.4789L20.5152 33.4876Z" fill="#181818"/>
        <path d="M25.5834 32.7688H36.1641V29.166H25.5834V32.7688Z" fill="#181818"/>
        <path d="M36.1691 23.1875H36.1604C35.5204 22.6528 34.7841 22.1969 33.9864 21.8375C32.8293 21.3203 31.5319 21.0135 30.1556 20.996C28.7794 21.0135 27.482 21.3203 26.3249 21.8375C25.5184 22.1969 24.7908 22.6528 24.1509 23.1787H24.1421C23.0902 24.0553 22.4766 25.3527 22.4766 26.7202V37.52H26.0268V28.4734C26.0268 26.6238 27.4294 25.081 29.2702 24.8881C29.5595 24.8618 29.8576 24.8443 30.1556 24.8355C30.4537 24.8355 30.7517 24.8531 31.041 24.8881C32.8819 25.081 34.2844 26.6238 34.2844 28.4734V37.52H37.8347V26.7202C37.8347 25.3527 37.2211 24.0554 36.1691 23.1875Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 40" class="design-iconfont">
        <path d="M9.57 33.64H4V7.23999H9.57V33.64Z" fill="#181818"/>
        <path d="M30.3897 24.8C30.1697 26.06 29.5997 27.16 28.6797 28.11C27.6297 29.18 26.3597 29.72 24.8697 29.72C23.0097 29.72 21.5097 28.92 20.3797 27.32C19.2497 25.72 18.6797 23.36 18.6797 20.23C18.6797 17.1 19.2097 14.8 20.2597 13.18C21.3197 11.56 22.7897 10.75 24.6997 10.75C27.5197 10.75 29.3797 12.51 30.3097 16.03H35.1497C34.6497 13.15 33.4897 10.93 31.6497 9.37C29.7897 7.79 27.4597 7 24.6597 7C21.0897 7 18.2797 8.23 16.2397 10.7C14.1997 13.17 13.1797 16.37 13.1797 20.31C13.1797 22.76 13.6097 25 14.4797 27.03C15.3497 29.06 16.5897 30.67 18.1897 31.86C19.7997 33.05 21.8897 33.64 24.4697 33.64C27.5297 33.64 30.0097 32.8 31.8897 31.13C33.7597 29.47 34.8497 27.36 35.1597 24.8H30.3797H30.3897Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 40" class="design-iconfont">
        <path d="M21.76 37.52C11.9683 37.52 4 29.5517 4 19.76C4 9.96833 11.9683 2 21.76 2C31.5517 2 39.52 9.96833 39.52 19.76C39.52 29.5517 31.5517 37.52 21.76 37.52ZM21.76 2.92044C12.4768 2.92044 4.92043 10.4768 4.92043 19.76C4.92043 29.0432 12.4768 36.5996 21.76 36.5996C31.0432 36.5996 38.5996 29.0432 38.5996 19.76C38.5996 10.4768 31.0432 2.92044 21.76 2.92044Z" fill="#181818"/>
        <path d="M17.7734 33.2948V21.8639H26.3905V23.2138H19.3513V26.7115H25.9434V28.0527H19.3513V31.9448H26.671V33.2948H17.7822H17.7734Z" fill="#181818"/>
        <path d="M12.1875 19.5145V7.6015H16.6845C17.4734 7.6015 18.0783 7.63657 18.499 7.71546C19.0864 7.81189 19.5773 7.99598 19.9717 8.27649C20.3662 8.54824 20.6818 8.93394 20.9272 9.42484C21.1639 9.91574 21.2866 10.4592 21.2866 11.0466C21.2866 12.0634 20.9623 12.9137 20.3224 13.615C19.6737 14.3163 18.5166 14.6669 16.8247 14.6669H13.7654V19.5145H12.1875ZM13.7654 13.2644H16.8423C17.8591 13.2644 18.5867 13.0715 19.0162 12.6946C19.4458 12.3176 19.6562 11.7829 19.6562 11.0904C19.6562 10.5907 19.5334 10.1612 19.2792 9.81055C19.025 9.45991 18.6919 9.22322 18.2799 9.10926C18.0169 9.03913 17.526 9.00407 16.8072 9.00407H13.7566V13.2644H13.7654Z" fill="#181818"/>
        <path d="M22.7578 15.5786L24.248 15.4559C24.3182 16.0257 24.4847 16.499 24.7389 16.8672C24.9932 17.2354 25.3964 17.5334 25.9399 17.7613C26.4834 17.9893 27.0882 18.1032 27.772 18.1032C28.3768 18.1032 28.9028 18.0156 29.3674 17.849C29.832 17.6737 30.1739 17.437 30.393 17.139C30.621 16.8409 30.7261 16.5078 30.7261 16.1572C30.7261 15.8065 30.621 15.4822 30.4018 15.2104C30.1827 14.9387 29.8232 14.7195 29.3323 14.5354C29.0168 14.4127 28.3067 14.2286 27.211 13.9744C26.1152 13.7202 25.3526 13.4835 24.9143 13.2556C24.3445 12.9663 23.9237 12.6157 23.6432 12.1861C23.3627 11.7654 23.2224 11.2832 23.2224 10.7573C23.2224 10.1787 23.389 9.63523 23.7308 9.13556C24.0727 8.6359 24.5724 8.25019 25.2298 7.98721C25.8873 7.72423 26.6149 7.59274 27.4126 7.59274C28.2979 7.59274 29.0781 7.733 29.7531 8.00475C30.4281 8.2765 30.9453 8.67972 31.3135 9.21445C31.6729 9.74918 31.8745 10.3453 31.9008 11.0203L30.393 11.1342C30.3141 10.4066 30.0336 9.86315 29.569 9.49497C29.1044 9.1268 28.4119 8.94271 27.4915 8.94271C26.571 8.94271 25.8435 9.10926 25.4052 9.45114C24.9669 9.79302 24.7477 10.1963 24.7477 10.6696C24.7477 11.0816 24.9055 11.4235 25.2123 11.6865C25.5191 11.9495 26.3081 12.2212 27.5879 12.5017C28.8678 12.7822 29.7444 13.0277 30.2265 13.2293C30.919 13.5361 31.4362 13.9306 31.7605 14.3952C32.0937 14.8686 32.2602 15.412 32.2602 16.0257C32.2602 16.6393 32.0761 17.2091 31.7167 17.7526C31.3573 18.2961 30.8313 18.7168 30.1564 19.0149C29.4726 19.3129 28.71 19.462 27.8597 19.462C26.7814 19.462 25.8785 19.3129 25.1509 19.0061C24.4234 18.7081 23.8536 18.2522 23.4328 17.6386C23.0208 17.0338 22.8016 16.3413 22.7753 15.5786H22.7578Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 40" class="design-iconfont">
        <path d="M38.6259 14.2111C38.5119 14.3338 28.3608 25.23 23.5044 28.9819C22.0054 30.139 19.8578 30.025 18.5166 28.6838L18.4727 28.64C17.5435 27.6933 16.9474 26.466 16.6669 25.1687C16.0971 22.5301 15.7903 19.5935 16.3426 16.6218C16.4478 16.0783 16.588 15.5348 16.8247 15.0351C17.3156 13.9656 18.052 13.1592 19.0951 12.7735C19.6912 12.5455 20.3487 12.5105 20.9623 12.6858C24.0129 13.5712 22.4876 18.0769 23.6798 20.3999C23.8989 20.8207 24.4599 20.9083 24.8106 20.584L36.3292 9.60893C36.4431 9.77549 36.5571 9.95079 36.671 10.1173C33.5065 5.23466 28.0102 2 21.76 2C11.9508 2 4 9.9508 4 19.76C4 29.5692 11.9508 37.52 21.76 37.52C31.5692 37.52 39.52 29.5692 39.52 19.76C39.52 17.8227 39.2044 15.9643 38.6346 14.2199L38.6259 14.2111Z" fill="#181818"/>
        <path d="M36.6953 10.17C37.0372 10.6959 37.3528 11.2482 37.6333 11.8092C37.3528 11.2394 37.0372 10.6959 36.6953 10.17Z" fill="#181818"/>
        <path d="M37.9336 12.4316C38.1966 13.0101 38.4245 13.6062 38.6261 14.2111C38.4245 13.5975 38.1966 13.0101 37.9336 12.4316Z" fill="#181818"/>
        <path d="M37.6328 11.8092C37.7292 11.9933 37.8169 12.1774 37.9046 12.3702C37.8169 12.1861 37.7292 11.9933 37.6328 11.8092Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 40" class="design-iconfont">
        <path d="M30.3553 21.4861C29.9242 20.8059 29.3781 20.1832 28.765 19.6371C27.9219 18.8899 26.9735 18.2863 26.0155 17.7115C25.1629 17.2038 24.2048 16.6481 23.5151 15.9104C23.3235 15.7093 22.9019 15.2494 22.672 14.5117C22.2313 13.0939 22.5762 11.0054 24.1761 10.5839C24.8084 10.4114 25.5173 10.4785 26.0921 10.8042C26.8298 11.2257 27.2609 12.0784 27.1747 12.931V14.3776H31.4953C31.5624 14.3776 31.4091 11.9826 31.3804 11.7526C31.2654 10.8809 31.0451 10.0186 30.5661 9.28096C29.4931 7.64276 27.3855 6.8476 25.5173 6.79012C23.8504 6.73263 22.0589 7.19249 20.6314 8.07387C19.6734 8.66784 19.0124 9.60669 18.6292 10.6701C18.0831 12.2029 17.8819 13.9944 18.2077 15.5943C18.6962 18.0085 20.3153 19.7042 22.2888 21.0167C23.2085 21.6298 24.1665 22.1854 25.0575 22.8369C25.8622 23.4213 26.5807 24.0248 26.8969 25.0212C27.3376 26.439 26.9927 28.5275 25.3928 28.949C24.7605 29.1215 24.0516 29.0544 23.4767 28.7287C22.7391 28.3072 22.308 27.4545 22.3942 26.6019V25.1553H18.0735C18.0065 25.1553 18.1598 27.5503 18.1885 27.7803C18.3035 28.6521 18.5238 29.5143 19.0028 30.2519C20.0758 31.8902 22.1834 32.6853 24.0516 32.7428C25.7185 32.8003 27.51 32.3404 28.9375 31.459C29.8955 30.8651 30.5565 29.9262 30.9397 28.8628C31.4858 27.33 31.687 25.5385 31.3612 23.9386C31.1792 23.0477 30.8343 22.2238 30.3649 21.4861H30.3553Z" fill="#181818"/>
        <path d="M61.9139 21.4861C61.4828 20.8059 60.9367 20.1832 60.3236 19.6371C59.4805 18.8899 58.5321 18.2863 57.5741 17.7115C56.7214 17.2038 55.7634 16.6481 55.0737 15.9104C54.8821 15.7093 54.4605 15.2494 54.2306 14.5117C53.7899 13.0939 54.1348 11.0054 55.7347 10.5839C56.367 10.4114 57.0759 10.4785 57.6507 10.8042C58.3884 11.2257 58.8195 12.0784 58.7333 12.931V14.3776H63.0539C63.121 14.3776 62.9677 11.9826 62.939 11.7526C62.824 10.8809 62.6037 10.0186 62.1247 9.28096C61.0517 7.64276 58.9441 6.8476 57.0759 6.79012C55.409 6.73263 53.6175 7.19249 52.19 8.07387C51.232 8.66784 50.571 9.60669 50.1878 10.6701C49.6417 12.2029 49.4405 13.9944 49.7663 15.5943C50.2548 18.0085 51.8739 19.7042 53.8474 21.0167C54.7671 21.6298 55.7251 22.1854 56.6161 22.8369C57.4208 23.4213 58.1393 24.0248 58.4555 25.0212C58.8962 26.439 58.5513 28.5275 56.9514 28.949C56.3191 29.1215 55.6102 29.0544 55.0353 28.7287C54.2977 28.3072 53.8666 27.4545 53.9528 26.6019V25.1553H49.6321C49.5651 25.1553 49.7184 27.5503 49.7471 27.7803C49.8621 28.6521 50.0824 29.5143 50.5614 30.2519C51.6344 31.8902 53.742 32.6853 55.6102 32.7428C57.2771 32.8003 59.0686 32.3404 60.496 31.459C61.454 30.8651 62.1151 29.9262 62.4983 28.8628C63.0444 27.33 63.2456 25.5385 62.9198 23.9386C62.7378 23.0477 62.3929 22.2238 61.9235 21.4861H61.9139Z" fill="#181818"/>
        <path d="M40.9884 23.1722H43.326V29.2652H40.2891V32.9536H43.326H47.8574V29.2652V23.1722V21.3328V19.4838H40.9884V23.1722Z" fill="#181818"/>
        <path d="M40.5792 7.05837H40.5409C36.5268 7.05837 33.2695 10.3156 33.2695 14.3297V25.6822C33.2695 29.6101 36.3927 32.8099 40.2822 32.944V29.246C38.8835 29.1119 37.7914 27.9336 37.7914 26.4965V13.4962C37.7914 11.973 39.0272 10.7372 40.5505 10.7372C42.0737 10.7372 43.3096 11.973 43.3096 13.4962V15.1345H47.841V14.3201C47.841 10.3061 44.5837 7.0488 40.5696 7.0488L40.5792 7.05837Z" fill="#181818"/>
        <path d="M63.166 2.00003H62.9648V38.4047H63.166V2.00003Z" fill="#181818"/>
        <path d="M72 32.6087H4V32.8769H72V32.6087Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 40" class="design-iconfont">
        <path d="M15.15 9H19.71L23.22 23.47L26.01 9H30.86L25.86 30.69H21.37L17.52 15.53L13.49 30.69H9L4 9H8.85001L11.64 23.47L15.15 9Z" fill="#181818"/>
        <path d="M44.5781 12.94V9H36.6681H33.0981H32.5781V30.7H33.0981H36.6681H44.5781V26.76H36.6681V21.82H44.5781V17.88H36.6681V12.94H44.5781Z" fill="#181818"/>
        <path d="M58.3572 12.94V9H50.4572H46.8772H46.3672V30.7H46.8772H50.4572H58.3572V26.76H50.4572V21.82H58.3572V17.88H50.4572V12.94H58.3572Z" fill="#181818"/>
        <path d="M72.1501 12.94V9H64.2401H60.6701H60.1602V30.7H60.6701H64.2401H72.1501V26.76H64.2401V21.82H72.1501V17.88H64.2401V12.94H72.1501Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 40" class="design-iconfont">
        <path d="M4 30.69V9H19.29V12.67H8.7V17.48H18.32V21.13H8.7V27.03H19.29V30.68H4V30.69Z" fill="#181818"/>
        <path d="M20.9709 30.69V9H27.8409L31.7809 22.84L35.6709 9H42.5609V30.69H38.1709V13.61L33.8609 30.69H29.6409L25.3509 13.61V30.69H20.9609H20.9709Z" fill="#181818"/>
        <path d="M57.9419 23.41C57.6919 24.51 57.1719 25.38 56.3919 26.02C55.6119 26.66 54.6519 26.98 53.5219 26.98C51.9719 26.98 50.7019 26.42 49.7419 25.29C48.7719 24.16 48.2919 22.34 48.2919 19.83C48.2919 17.31 48.7819 15.49 49.7419 14.37C50.7119 13.24 51.9719 12.68 53.5219 12.68C54.6519 12.68 55.6019 13 56.3919 13.64C57.1819 14.28 57.6919 15.15 57.9419 16.25L58.1519 17L62.5419 16.98L62.1319 15.23C61.6519 13.53 60.9419 12.23 59.9819 11.32C58.3819 9.79001 56.2919 9.02002 53.7319 9.02002C50.7919 9.02002 48.4219 10 46.6219 11.95C44.8819 13.84 43.9819 16.47 43.9219 19.84C43.9819 23.21 44.8819 25.84 46.6219 27.73C48.4219 29.68 50.7919 30.66 53.7319 30.66C56.3019 30.66 58.3819 29.89 59.9819 28.36C60.9319 27.45 61.6519 26.15 62.1319 24.45L62.5419 22.7L58.1519 22.68L57.9419 23.43V23.41Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 40" class="design-iconfont">
        <path d="M40.9275 29.1473C40.1475 29.2973 39.3375 29.2973 38.5575 29.1473C35.0575 28.5073 33.2275 25.4673 33.0375 20.0273V19.9873C33.0375 19.9873 33.0375 19.7573 33.0375 19.7173V19.6773C33.2175 14.2373 35.0575 11.2073 38.5575 10.5573C39.3375 10.4173 40.1475 10.4173 40.9275 10.5573C43.2475 10.9973 45.0575 12.5073 46.3475 15.1073L47.7075 14.5073C46.1375 11.1373 43.6775 9.30725 40.3275 9.02725C39.7175 8.97725 39.0975 8.99727 38.4875 9.07727C33.3975 9.74727 30.3175 13.5473 29.6875 17.1773C29.5375 18.0073 29.4675 18.8473 29.4775 19.6873C29.4775 19.7373 29.4775 19.9473 29.4775 19.9973C29.4775 20.8373 29.5375 21.6773 29.6875 22.5073C30.3275 26.1473 33.4075 29.9373 38.4875 30.6073C39.0975 30.6873 39.7175 30.7073 40.3275 30.6573C43.6775 30.3773 46.1375 28.5473 47.7075 25.1773L46.3475 24.5773C45.0575 27.1773 43.2475 28.6973 40.9275 29.1273V29.1473Z" fill="#181818"/>
        <path d="M8.65 9.32727H4V30.7173H8.65V9.32727Z" fill="#181818"/>
        <path d="M18.3106 9.32727H19.2206V30.7173H18.3106C16.2806 30.7173 14.6406 29.0673 14.6406 27.0473V12.9973C14.6406 10.9673 16.2906 9.32727 18.3106 9.32727Z" fill="#181818"/>
        <path d="M28.3925 9.32727H18.3125V11.4673H28.3925V9.32727Z" fill="#181818"/>
        <path d="M28.3925 28.5773H18.3125V30.7173H28.3925V28.5773Z" fill="#181818"/>
        <path d="M26.2631 18.1873H14.9531V20.3273H26.2631V18.1873Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71 40" class="design-iconfont">
        <path d="M15.47 33.13H19.2L14.56 24.32C15 24.2 15.41 24.04 15.8 23.83C16.7 23.34 17.4 22.34 17.9 21.44C18.4 20.54 18.65 19.5 18.65 18.32C18.65 17.14 18.4 16.1 17.91 15.2C17.42 14.3 16.72 13.3 15.82 12.81C14.92 12.32 13.88 12.07 12.69 12.07H4V33.13H7.11V24.56H11.16L15.49 33.13H15.47ZM7.09999 15.12H12.79C13.35 15.12 13.83 15.25 14.25 15.52C14.67 15.78 14.99 16.16 15.23 16.64C15.46 17.13 15.58 17.68 15.58 18.31C15.58 18.94 15.46 19.5 15.23 19.99C15 20.48 14.67 20.85 14.25 21.11C13.83 21.37 13.34 21.51 12.79 21.51H7.09999V15.12Z" fill="#181818"/>
        <path d="M47.0606 12.58V21.33H38.8806V12.58H35.3906V33.13H38.8806V24.38H47.0606V33.13H50.5606V12.58H47.0606Z" fill="#181818"/>
        <path d="M56.6087 32.75C55.7687 32.56 54.9887 32.28 54.2587 31.9C53.5287 31.52 52.8487 31.05 52.2188 30.49L53.9187 28.29C54.6587 28.97 55.4687 29.48 56.3687 29.82C57.2587 30.16 58.2288 30.33 59.2688 30.33C60.6788 30.33 61.7687 30.05 62.5387 29.5C63.3087 28.95 63.6987 28.17 63.6987 27.16C63.6987 26.43 63.5187 25.86 63.1687 25.44C62.8187 25.02 62.3587 24.71 61.8087 24.51C61.2487 24.31 60.5287 24.12 59.6487 23.95C59.6187 23.95 59.5887 23.94 59.5587 23.94C59.5287 23.94 59.4988 23.94 59.4688 23.93L59.2688 23.89C57.9688 23.65 56.9087 23.39 56.0987 23.09C55.2787 22.79 54.5887 22.25 54.0087 21.46C53.4287 20.67 53.1387 19.55 53.1387 18.1C53.1387 16.81 53.4087 15.73 53.9487 14.83C54.4887 13.93 55.2787 13.24 56.3087 12.77C57.3387 12.3 58.5887 12.06 60.0387 12.06C60.7287 12.06 61.4187 12.14 62.0887 12.3C62.7587 12.46 63.4288 12.7 64.0788 13.01C64.7288 13.33 65.3787 13.72 66.0087 14.2L64.4587 16.49C63.7187 15.92 62.9787 15.48 62.2487 15.2C61.5187 14.91 60.7787 14.77 60.0387 14.77C58.7087 14.77 57.6787 15.05 56.9487 15.61C56.2187 16.17 55.8487 16.96 55.8487 17.99C55.8487 18.71 56.0387 19.27 56.4187 19.67C56.7987 20.08 57.2687 20.37 57.8387 20.57C58.4087 20.76 59.1887 20.96 60.1987 21.17C60.2387 21.17 60.2688 21.19 60.2988 21.19C60.3288 21.19 60.3587 21.2 60.3987 21.21C60.4387 21.21 60.4888 21.23 60.5488 21.24C60.5988 21.24 60.6487 21.26 60.6987 21.27C61.8787 21.52 62.8587 21.83 63.6487 22.17C64.4387 22.52 65.0988 23.08 65.6288 23.86C66.1588 24.64 66.4187 25.7 66.4187 27.05V27.08C66.4187 28.33 66.1388 29.41 65.5788 30.3C65.0188 31.19 64.2087 31.87 63.1387 32.34C62.0787 32.81 60.7887 33.04 59.2787 33.04C58.3387 33.04 57.4587 32.95 56.6187 32.76L56.6087 32.75Z" fill="#181818"/>
        <path d="M27.0412 16.68C23.3012 16.68 20.2812 20.47 20.2812 25.14C20.2812 29.81 23.3112 33.6 27.0412 33.6C30.7712 33.6 33.8013 29.81 33.8013 25.14C33.8013 20.47 30.7712 16.68 27.0412 16.68ZM27.0412 29.9C24.9312 29.9 23.2312 27.77 23.2312 25.13C23.2312 22.49 24.9412 20.36 27.0412 20.36C29.1412 20.36 30.8512 22.49 30.8512 25.13C30.8512 27.77 29.1412 29.9 27.0412 29.9Z" fill="#181818"/>
        <path d="M23.3594 6.84V11.45L27.3494 15.76L37.1894 5.92001V1L27.6594 10.53L23.3594 6.84Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 40" class="design-iconfont">
        <path d="M19.97 23.87C18.78 25.39 16.93 26.36 14.85 26.36C11.25 26.36 8.34 23.44 8.34 19.85C8.34 16.26 11.26 13.34 14.85 13.34C16.93 13.34 18.77 14.32 19.97 15.83L23.05 12.75C21.06 10.46 18.13 9 14.85 9C8.86001 9 4 13.86 4 19.85C4 25.84 8.86001 30.7 14.85 30.7C18.12 30.7 21.06 29.25 23.05 26.95L19.97 23.87Z" fill="#181818"/>
        <path d="M66.7005 23.87C65.5105 25.39 63.6605 26.36 61.5805 26.36C57.9805 26.36 55.0705 23.44 55.0705 19.85C55.0705 16.26 57.9905 13.34 61.5805 13.34C63.6605 13.34 65.5005 14.32 66.7005 15.83L69.7805 12.75C67.7905 10.46 64.8605 9 61.5805 9C55.5905 9 50.7305 13.86 50.7305 19.85C50.7305 25.84 55.5905 30.7 61.5805 30.7C64.8505 30.7 67.7905 29.25 69.7805 26.95L66.7005 23.87Z" fill="#181818"/>
        <path d="M36.8891 9C30.8991 9 26.0391 13.86 26.0391 19.85C26.0391 25.84 30.8991 30.7 36.8891 30.7C42.8791 30.7 47.7391 25.84 47.7391 19.85C47.7391 13.86 42.8791 9 36.8891 9ZM36.8891 26.36C33.2891 26.36 30.3791 23.44 30.3791 19.85C30.3791 16.26 33.2991 13.34 36.8891 13.34C40.4791 13.34 43.3991 16.26 43.3991 19.85C43.3991 23.44 40.4791 26.36 36.8891 26.36Z" fill="#181818"/>
        <path d="M49.3389 28.55C46.1789 28.55 42.7389 26.72 40.9089 24.83C39.1889 23.06 37.7089 21.91 36.0889 22.03C34.3089 22.16 32.2589 23.29 30.6189 25.06L27.3789 22.05C29.7989 19.45 32.8589 17.83 35.7689 17.62C39.7589 17.33 42.6689 20.31 44.0689 21.75C45.2489 22.96 47.7089 24.21 49.4889 24.13L49.6889 28.55C49.5689 28.55 49.4589 28.55 49.3389 28.55Z" fill="#181818"/>
      </svg>
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61 40" class="design-iconfont">
        <path d="M29.87 14.31V7H17.27C9.93999 7 4 12.98 4 20.31C4 27.64 9.93999 33.62 17.27 33.62H29.87V16.65H17.27V23.96H22.61V26.32H17.27C13.95 26.32 11.26 23.63 11.26 20.31C11.26 16.99 13.95 14.3 17.27 14.3H29.87V14.31Z" fill="#181818"/>
        <path d="M56.4605 15.51C56.4605 10.84 52.6705 7.01001 48.0005 7.01001H30.7305V33.64L48.0005 33.6C52.6705 33.6 56.4605 29.81 56.4605 25.14C56.4605 23.35 55.9005 21.7 54.9605 20.33C55.9105 18.96 56.4605 17.31 56.4605 15.52V15.51ZM48.0005 14.31C48.6505 14.31 49.1805 14.84 49.1805 15.49C49.1805 16.14 48.6505 16.67 48.0005 16.67H38.0305V14.31H48.0005ZM48.0005 26.29H38.0305V23.98H48.0005C48.0605 23.98 48.1105 23.98 48.1705 23.98C48.7405 24.07 49.1805 24.53 49.1805 25.12C49.1805 25.77 48.6505 26.3 48.0005 26.3V26.29Z" fill="#181818"/>
      </svg>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Endorsement",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Product Endorsement",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Globally Certified Safe for Home Use",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Globally Certified Safe for Home Use",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "tle_position",
      "default": false,
      "label": "Is Check Img Postion"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Product Endorsement",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
