<style>

.product-diy {
    padding: 90px 0;
    background: linear-gradient(#E7EEFA, #F4F7FD);
}

.product-diy .product-diy-title {
    color: #5c9ae5ff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.product-diy .product-diy-sub {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 18px;
    text-align: center;
}

.product-diy .product-diy-list {
    margin-top: 80px;
}

.product-diy .product-diy-item {
    display: flex;
    margin-bottom: 100px;
}

/* .product-diy .product-diy-item:last-child {
    margin-bottom: 0;
} */

.product-diy .product-diy-left {
    width: 36.6%;
    margin-right: 20px;
}

.product-diy .product-diy-left .product-diy-info {
    display: none;
}

.product-diy .product-diy-img {
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.product-diy .product-diy-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-diy .product-diy-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-diy .product-diy-top {
    flex: 1;
    background: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 11px 50px 11px 26px;
}

.product-diy .product-diy-top .img {
    width: 42%;
    display: block;
}

.product-diy .product-diy-detail {
    flex: 1;
    margin-left: 26px;
}

.product-diy .product-diy-item-title {
    font-size: 32px;
    color: #000;
    font-weight: bold;
    line-height: 1;
}

.product-diy .product-diy-price {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 25px;
}

.product-diy .product-diy-price-old {
    font-size: 18px;
    color: #6D6D6D;
    font-weight: normal;
    margin-left: 5px;
    text-decoration: line-through;
}

.product-diy .product-diy-desc {
    font-size: 16px;
    color: #9D9D9D;
    line-height: 1.5;
    margin-top: 25px;
}

.product-diy .product-diy-param {
    display: flex;
    margin-top: 25px;
}

.product-diy .product-diy-param-item {
    position: relative;
    padding: 0 18px;
}

.product-diy .product-diy-param-item::after {
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 70%;
    background: #B7B7B7;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product-diy .product-diy-param-item:last-child::after {
    display: none;
}

.product-diy .product-diy-param-item:first-child {
    padding-left: 0;
}

.product-diy .product-diy-param-top {
    display: flex;
    align-items: flex-end;
    font-size: 29px;
    color: #5C9AE5;
    font-weight: bold;
    line-height: 1;
    justify-content: center;
}

.product-diy .product-diy-param-top span {
    font-size: 14px;
    margin-bottom: 3px;
}

.product-diy .product-diy-param-bottom {
    text-align: center;
    font-size: 12px;
    color: #5C9AE5;
    margin-top: 4px;
    line-height: 1.2;
    white-space: nowrap;
    /* transform: scale(0.67); */
    zoom: 0.67;
}

.product-diy .product-diy-btn {
    display: flex;
    margin-top: 25px;
}

.product-diy .product-diy-btn-item {
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #181818;
    border: 1px solid #181818;
    text-decoration: none;
    cursor: pointer;
}

.product-diy .product-diy-btn-item.disable-btn{
  opacity: .6;
  pointer-events: none;
}

.product-diy .product-diy-btn-item:last-child {
    border: 0;
    background: #5C9AE5;
    color: #fff;
    margin-left: 20px;
}


.product-diy .product-diy-info {
    height: 31.2%;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    margin-top: 20px;
}

.product-diy .product-diy-info-title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    line-height: 1.2;
}

.product-diy .product-diy-info-sub {
    font-size: 16px;
    line-height: 1.8;
    color: #000;
    text-align: center;
    margin-top: 15px;
}

.product-diy .product-diy-info-sub p{
  margin:0;
}

.product-diy .product-diy-more {
    width: 285px;
    height: 60px;
    background: #5c9ae5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

@media (max-width:1300px) {
    .product-diy {
        padding: 50px 0 80px 0;
    }

    .product-diy .product-diy-list {
        margin-top: 50px;
    }

    .product-diy .product-diy-item {
        margin-bottom: 40px;
    }

    .product-diy .product-diy-title {
        font-size: 40px;
    }

    .product-diy .product-diy-sub {
        font-size: 24px;
        margin-top: 20px;
    }

    .product-diy .product-diy-item-title {
        font-size: 26px;
    }

    .product-diy .product-diy-price {
        font-size: 18px;
        margin-top: 20px;
    }

    .product-diy .product-diy-price-old {
        font-size: 16px;
    }

    .product-diy .product-diy-desc {
        font-size: 15px;
        margin-top: 20px;
    }

    .product-diy .product-diy-param {
        margin-top: 20px;
    }

    .product-diy .product-diy-btn {
        margin-top: 20px;
    }

    .product-diy .product-diy-param-top {
        font-size: 24px;
    }

    .product-diy .product-diy-param-top span {
        font-size: 12px;
    }

    .product-diy .product-diy-info-title {
        font-size: 20px;
    }

    .product-diy .product-diy-info-sub {
        font-size: 14px;
        line-height: 1.6;
    }

    .product-diy .product-diy-param-item {
        padding: 0 13px;
    }
}

@media (max-width:1200px) {
    .product-diy .product-diy-top {
        padding: 11px 15px;
    }

    .product-diy .product-diy-item-title {
        font-size: 22px;
    }

    .product-diy .product-diy-price {
        font-size: 16px;
        margin-top: 10px;
    }

    .product-diy .product-diy-price-old {
        font-size: 12px;
    }

    .product-diy .product-diy-desc {
        font-size: 12px;
        margin-top: 10px;
    }

    .product-diy .product-diy-param-bottom {
        white-space: normal;
    }

    .product-diy .product-diy-param-top {
        white-space: nowrap;
    }

    .product-diy .product-diy-param-top {
        font-size: 20px;
    }

    .product-diy .product-diy-param-top span {
        zoom: .8;
    }

    .product-diy .product-diy-info {
        padding: 0 12px;
    }
}

@media (max-width:1100px) {
    .product-diy .product-diy-info-title {
        font-size: 16px;
    }

    .product-diy .product-diy-info-sub {
        font-size: 12px;
        line-height: 1.8;
    }
}

@media (max-width:991px) {
    .product-diy .product-diy-list {
        margin-top: 40px;
    }

    .product-diy .product-diy-item {
        flex-direction: column-reverse;
    }

    .product-diy .product-diy-left {
        width: 100%;
        margin-right: 0;
        display: flex;
        margin-top: 10px;
    }

    .product-diy .product-diy-img {
        width: 44%;
        height: auto;
        border-radius: 5px;
    }

    .product-diy .product-diy-info {
        display: none;
    }

    .product-diy .product-diy-left .product-diy-info {
        display: flex;
        flex: 1;
        margin-left: 10px;
        height: auto;
        border-radius: 5px;
        margin-top: 0;
        text-align: center;
        padding: 20px 11px;
    }

}

@media (max-width:720px) {
    .product-diy {
        padding-top: 20px;
    }

    .product-diy .product-diy-top {
        display: block;
        padding: 30px;
        padding-top: 0;
        border-radius: 5px;
    }

    .product-diy .product-diy-top .img {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    .product-diy .product-diy-detail {
        margin-left: 0;
    }

    .product-diy .product-diy-info-title {
        font-size: 12px;
    }

    .product-diy .product-diy-info-sub {
        font-size: 12px;
        line-height: 1.7;
        zoom: 0.83;
    }

    .product-diy .product-diy-param-top {
        font-size: 16px;
    }

    .product-diy .product-diy-param-top span {
/*         font-size: 14px;
        zoom: 1; */
      margin-bottom: 0;
    }

    .product-diy .product-diy-param-bottom {
        zoom: 0.75;
    }

    .product-diy .product-diy-btn-item {
        font-size: 12px;
    }

    .product-diy .product-diy-btn-item:last-child {
        margin-left: 15px;
    }

    .product-diy .product-diy-title {
        font-size: 26px;
    }

    .product-diy .product-diy-sub {
        font-size: 12px;
        font-weight: 600;
        max-width: calc(100% - 100px);
        margin: 0 auto;
        margin-top: 10px;
    }

    .product-diy .product-diy-more {
        width: 196px;
        height: 34px;
        font-size: 12px;
    }

    .product-diy .product-diy-btn-item {
        height: 32px;
    }
}
</style>
<section class="p-section">
  <div class="product-diy">
    <div class="container">
        <div class="product-diy-title">{{ section.settings.title }}</div>
        <div class="product-diy-sub">{{ section.settings.text }}</div>
        <div class="product-diy-list">
          {%- for block in section.blocks -%}
            <div class="product-diy-item">
                <div class="product-diy-left">
                    <div class="product-diy-img">
                      {%- if block.settings.image != blank -%}
                          <img loading="lazy" {% render 'image-attributes', image: block.settings.image %}>
                      {%- endif -%}
                    </div>
                    <div class="product-diy-info">
                        <div class="product-diy-info-title">{{ block.settings.info_title }}</div>
                        <div class="product-diy-info-sub">{{ block.settings.info_desc }}
                        </div>
                    </div>
                </div>
                <div class="product-diy-right">
                    <div class="product-diy-top">
                      {%- if block.settings.image_sm != blank -%}
                          <img loading="lazy" class="img" {% render 'image-attributes', image: block.settings.image_sm %}>
                      {%- endif -%}
                        <div class="product-diy-detail">
                            <div class="product-diy-item-title">{{ block.settings.title }}</div>
                            <div class="product-diy-price">
                                <div class="product-diy-price-new">{{ block.settings.new_price }}</div>
                                <div class="product-diy-price-old">{{ block.settings.old_price }}</div>
                            </div>
                            <div class="product-diy-desc">
                                {{ block.settings.desc }}
                            </div>
                            <div class="product-diy-param">
                              {%- if block.settings.param1 != blank -%}
                                <div class="product-diy-param-item">
                                    <div class="product-diy-param-top">
                                        {{ block.settings.param1 }}
                                      {%- if block.settings.unit1 != blank -%}
                                        <span>{{ block.settings.unit1 }}</span>
                                      {%- endif -%}
                                    </div>
                                    <div class="product-diy-param-bottom">{{ block.settings.param_info1 }}</div>
                                </div>
                              {%- endif -%}
                              {%- if block.settings.param2 != blank -%}
                                <div class="product-diy-param-item">
                                    <div class="product-diy-param-top">
                                        {{ block.settings.param2 }}
                                      {%- if block.settings.unit2 != blank -%}
                                        <span>{{ block.settings.unit2 }}</span>
                                      {%- endif -%}
                                    </div>
                                    <div class="product-diy-param-bottom">{{ block.settings.param_info2 }}</div>
                                </div>
                              {%- endif -%}
                              {%- if block.settings.param3 != blank -%}
                                <div class="product-diy-param-item">
                                    <div class="product-diy-param-top">
                                        {{ block.settings.param3 }}
                                      {%- if block.settings.unit3 != blank -%}
                                        <span>{{ block.settings.unit3 }}</span>
                                      {%- endif -%}
                                    </div>
                                    <div class="product-diy-param-bottom">{{ block.settings.param_info3 }}</div>
                                </div>
                              {%- endif -%}
                              {%- if block.settings.param4 != blank -%}
                                <div class="product-diy-param-item">
                                    <div class="product-diy-param-top">
                                        {{ block.settings.param4 }}
                                      {%- if block.settings.unit4 != blank -%}
                                        <span>{{ block.settings.unit4 }}</span>
                                      {%- endif -%}
                                    </div>
                                    <div class="product-diy-param-bottom">{{ block.settings.param_info4 }}</div>
                                </div>
                              {%- endif -%}
                            </div>
                            <div class="product-diy-btn">
                              {%- if block.settings.btn_txt1 != blank -%}
                                <a href="{{ block.settings.link }}" class="product-diy-btn-item">{{ block.settings.btn_txt1 }}</a>
                              {%- endif -%}
                              {%- if block.settings.btn_txt2 != blank -%}
                                <div class="product-diy-btn-item atcButton" data-variant-id="{{ block.settings.product_id }}">{{ block.settings.btn_txt2 }}</div>
                              {%- endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="product-diy-info">
                        <div class="product-diy-info-title">{{ block.settings.info_title }}</div>
                        <div class="product-diy-info-sub">
                          {{ block.settings.info_desc }}
                        </div>
                    </div>
                </div>
            </div>
          {%- endfor -%}
        </div>
      {%- if section.settings.btn_txt != blank -%}
        <a href="{{ section.settings.link }}" class="product-diy-more">
            {{ section.settings.btn_txt }}
        </a>
      {%- endif -%}
    </div>
  </div>
</section>
<script>
    function refreshCartDrawer(json) {
        $.ajax({
            url: '/cart.js',
            dataType: 'json',
            success: function (response) {
                // 将更新后的购物车内容渲染到购物车抽屉的显示区域
                console.log(response)
                response["sections"] = json["sections"];
              document.documentElement.dispatchEvent(new CustomEvent("cart:refresh", {
                bubbles: true,
                detail: {
                  cart: response
                }
              }));
              $('[href="/cart"]').attr('aria-expanded',true)
              $('.disable-btn').removeClass('disable-btn')
            }
        });
    }

    function addStarProduct(elem, type) {
        document.querySelectorAll(elem).forEach(function (elem) {
            elem.onclick = function (e) {
                e.preventDefault();
              if(!elem.getAttribute('data-variant-id')) return
              $(elem).addClass('disable-btn')
                let formData = {
                    quantity: 1,
                    form_type: 'product',
                    utf8: '✓',
                    id: elem.getAttribute('data-variant-id'),
                    sections: 'mini-cart'
                };
                fetch('/cart/add.js', {
                        method: 'POST',
                        credentials: 'same-origin',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(formData)
                    })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (json) {
                        refreshCartDrawer(json)
                        // setTimeout(function () {
                        //     if (type == 'checkout') {
                        //         window.location.href = '/checkout';
                        //     } else {}
                        // }, 1000);
                    });
            };
        });
    }
    if (document.querySelectorAll('.atcButton').length > 0) {
        addStarProduct('.atcButton', '');
    }
</script>
{% schema %}
{
  "name": "product-diy",
  "class": "product-i",
  "blocks": [
    {
    "type":"item",
    "name":"item",
    "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_sm",
            "label": "Image"
          },
          {
          "type": "text",
          "id": "title",
          "label": "Title"
          },
          {
            "type": "text",
            "id": "new_price",
            "label": "New price"
          },
          {
            "type": "text",
            "id": "old_price",
            "label": "Old price"
          },
          {
            "type": "text",
            "id": "desc",
            "label": "Desc"
          },
          {
            "type": "text",
            "id": "param1",
            "label": "Param"
          },
          {
            "type": "text",
            "id": "unit1",
            "label": "Unit"
          },
          {
            "type": "text",
            "id": "param_info1",
            "label": "Param info"
          },
          {
            "type": "text",
            "id": "param2",
            "label": "Param"
          },
          {
            "type": "text",
            "id": "unit2",
            "label": "Unit"
          },
          {
            "type": "text",
            "id": "param_info2",
            "label": "Param info"
          },
          {
            "type": "text",
            "id": "param3",
            "label": "Param"
          },
          {
            "type": "text",
            "id": "unit3",
            "label": "Unit"
          },
          {
            "type": "text",
            "id": "param_info3",
            "label": "Param info"
          },
          {
            "type": "text",
            "id": "param4",
            "label": "Param"
          },
          {
            "type": "text",
            "id": "unit4",
            "label": "Unit"
          },
          {
            "type": "text",
            "id": "param_info4",
            "label": "Param info"
          },
          {
            "type": "text",
            "id": "btn_txt1",
            "label": "Button text"
          },
          {
            "type": "text",
            "id": "btn_txt2",
            "label": "Button text"
          },
          {
            "type": "text",
            "id": "product_id",
            "label": "Product id"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Product link"
          },
          {
            "type": "text",
            "id": "info_title",
            "label": "Info title"
          },
          {
            "type": "richtext",
            "id": "info_desc",
            "label": "Info desc"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "product-diy",
      "blocks": []
    }
  ]
}
{% endschema %}