<style>
  .toolbar-fixed {
    position: fixed;
    bottom: 0;
    z-index: 4;
    display: block;
}
.toolbar-block {
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 4;
    height: 80px;
    border-top: 1px solid #e4dddd;
    border-bottom: 1px solid #e4dddd;
    display: none;
}
  .product-toolbar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
  .product-toolbar .navbar {
    display: flex;
    padding: 0px 40px;
    align-items: center;
}
  .product-toolbar .navbar .box-price {
    display: flex;
    align-items: center;
}
  .product-toolbar .navbar .dis-price {
    font-size: 32px;
    line-height: 130%;
    line-height: 130%;
    text-transform: capitalize;
    color: #e0004d;
}
  .m-show {
    display: none;
}
  .product-toolbar .navbar .original-price {
    display: block;
    text-align: left;
    color: #3f3636;
    font-size: 12px;
    margin: 0px 20px 0px 10px;
}
  .product-toolbar .navbar .original-price .price {
    color: #a1a1a1;
    font-size: 14px;
    line-height: 130%;
    text-decoration: line-through;
    text-transform: capitalize;
}
  .product-toolbar .right-panel {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
  .product-toolbar .right-panel .btn-add-cart {
    display: flex;
    width: 160px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 130px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
    position: relative;
}
  .loader-button__text {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .loader-button__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}
  .spinner svg {
    margin: auto;
    animation: spinnerRotate 2s linear infinite;
    transform-origin: center center;
     display: block;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
}
  .btn-add-cart::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: pointer;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
    border: 1px solid #000;
    border-radius: 50px;
}
  .product-toolbar .right-panel .btn-add-cart:hover .loader-button__text {
    color: #000;
    z-index: 3;
    transition: all 0.4s ease;
}
  .btn-add-cart:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
  @media (max-width: 768px){
    .m-show {
    display: block;
}
    .toolbar-block {
    height: 75px;
}
    .product-toolbar .navbar {
    display: block;
    padding: 0px 0px;
}
    .product-toolbar .navbar .box-price {
    display: block;
}
    .product-toolbar .navbar .dis-price {
    font-size: 24px;
    line-height: 24px;
}
.product-toolbar .navbar .price {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: line-through;
    text-transform: capitalize;
    display: inline-block;
}
    .product-toolbar .navbar .original-price {
    margin: 0px;
    font-size: 12px;
}
    .product-toolbar .right-panel {
    padding: 0px;
    justify-content: space-between;
}
    .product-toolbar .right-panel .btn-add-cart {
    width: 130px;
    font-size: 12px;
    padding: 15px 20px;
}
  }
</style>
 <section>
    <div class="product-toolbar">

      <div id="top-bar" class="toolbar-block">
      <div class="container">
        <div class="product-toolbar">
          <div class="navbar">
            <div class="box-price">
              <div class="dis-price">
                {{ section.settings.price | money }}
                <span class="price m-show">{{ section.settings.original_price | money }}</span>
              </div>
              <div class="original-price p-hide">
                <div class="price ">{{ section.settings.original_price | money }}</div>
                <!-- <div class="group-purchase-offer">{{ block.settings.end_title }}</div> -->
              </div>
            </div>
            <!-- <div class="box-countdown">
              <span class="m-show ends-text">Group ends in</span>
              <div id="countdown-bar" class="countdown">
                <div class="countdown__item">
                  <div class="countdown__bix">
                    <span class="countdown-time-bar countdown-hours">01</span>
                  </div>
                  <span class="countdown_txt">hrs</span>
                </div>
                <div class="countdown__er">:</div>
                <div class="countdown__item">
                  <div class="countdown__bix">
                    <span class="countdown-time-bar countdown-minutes">20</span>
                  </div>
                  <span class="countdown_txt">mins</span>
                </div>
                <div class="countdown__er">:</div>
                <div class="countdown__item">
                  <span class="countdown__bix ">
                    <span class="countdown-time-bar countdown-seconds">10</span>
                  </span>
                  <span class="countdown_txt">secs</span>
                </div>
              </div>
            </div> -->
          </div>
          <div class="right-panel">
            <div class="btn-add-cart">
              <span class="loader-button__text">{{ section.settings.btn_txt }}</span>
              <span class="loader-button__loader" hidden>
                <div class="spinner">
                  <svg focusable="false" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                  </svg>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
      

      
    </div>
  </section>
<script>
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', () => {
      fixBottomBar{{ section.id | replace: "template--", "" }}();
    });
  } else {
    fixBottomBar{{ section.id | replace: "template--", "" }}();
  }
    function fixBottomBar{{ section.id | replace: "template--", "" }} () {
    var topBar = $("#top-bar");
    let barTop = $('#product-components').offset().top + 150;
    $(window).scroll(function() {
      if ($(this).scrollTop() > barTop) {
          topBar.addClass("toolbar-fixed");
      } else {
          topBar.removeClass("toolbar-fixed");
      }
    });
  }
</script>
{% schema %}
{
  "name": "Product Fixed Nav",
  "class": "shopify-section--product-fixed-nav", 
  "settings": [
    {
      "type": "text",
      "id": "price",
      "label": "Price"
    },
    {
      "type": "text",
      "id": "original_price",
      "label": "Original Price"
    },
    {
      "type": "text",
      "id": "product_id",
      "label": "Product Id"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Text"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Product Fixed Nav"
    }
  ]
}
{% endschema %}