
<style>
.review-list {
    display: grid;
    grid-gap: 20px;
}
.review-list .why-list{
  min-height:225px;
}
.review-list img.product-feedback__image {
    width: 100%;
    height: 225px;
}
</style>

{{ 'section-product-endorsement.css' | asset_url | stylesheet_tag }}
<div class="product-why-box">
  <div class="product-why page-width container">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h2">
        <split-lines>{{ section.settings.title | escape }}</split-lines>
      </h2>
    {%- endif -%}
    <div class="why-box">
     <div class="review-list">
      <div class="why-list">
        <div class="start">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 14" class="design-iconfont">
            <path d="M7.09934 0L9.19227 4.58407L14.1987 5.15794L10.4857 8.56499L11.487 13.5038L7.09934 11.0254L2.71167 13.5038L3.71294 8.56499L0 5.15794L5.0064 4.58407L7.09934 0Z" fill="#E0004D"/>
            <path d="M47.0993 0L49.1923 4.58407L54.1987 5.15794L50.4857 8.56499L51.487 13.5038L47.0993 11.0254L42.7117 13.5038L43.7129 8.56499L40 5.15794L45.0064 4.58407L47.0993 0Z" fill="#E0004D"/>
            <path d="M27.0993 0L29.1923 4.58407L34.1987 5.15794L30.4857 8.56499L31.487 13.5038L27.0993 11.0254L22.7117 13.5038L23.7129 8.56499L20 5.15794L25.0064 4.58407L27.0993 0Z" fill="#E0004D"/>
            <path d="M67.0993 0L69.1923 4.58407L74.1987 5.15794L70.4857 8.56499L71.487 13.5038L67.0993 11.0254L62.7117 13.5038L63.7129 8.56499L60 5.15794L65.0064 4.58407L67.0993 0Z" fill="#E0004D"/>
            <path d="M87.0993 0L89.1923 4.58407L94.1987 5.15794L90.4857 8.56499L91.487 13.5038L87.0993 11.0254L82.7117 13.5038L83.7129 8.56499L80 5.15794L85.0064 4.58407L87.0993 0Z" fill="#E0004D"/>
          </svg>
        </div>
        <div class="des">
            I have sensitive skin and am afraid of hair removal with wax, which is painful and makes the skin red and itchy. So I bought Ulike with the idea of giving......
        </div>
        <div class="line">
        </div>
        <div class="name">
          Kelly
        </div>
      </div>
      <div class="img-why-box">
          {{- section.settings.image1 | image_url: width: section.settings.image1.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px', widths: '600,700,800,1000,1200,1400', class: 'product-feedback__image' -}}
      </div>
     </div>
     <div class="review-list">
      <div class="img-why-box">
        {{- section.settings.image2 | image_url: width: section.settings.image2.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px', widths: '600,700,800,1000,1200,1400', class: 'product-feedback__image' -}}
      </div>
      <div class="why-list">
        <div class="start">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 14" class="design-iconfont">
            <path d="M7.09934 0L9.19227 4.58407L14.1987 5.15794L10.4857 8.56499L11.487 13.5038L7.09934 11.0254L2.71167 13.5038L3.71294 8.56499L0 5.15794L5.0064 4.58407L7.09934 0Z" fill="#E0004D"/>
            <path d="M47.0993 0L49.1923 4.58407L54.1987 5.15794L50.4857 8.56499L51.487 13.5038L47.0993 11.0254L42.7117 13.5038L43.7129 8.56499L40 5.15794L45.0064 4.58407L47.0993 0Z" fill="#E0004D"/>
            <path d="M27.0993 0L29.1923 4.58407L34.1987 5.15794L30.4857 8.56499L31.487 13.5038L27.0993 11.0254L22.7117 13.5038L23.7129 8.56499L20 5.15794L25.0064 4.58407L27.0993 0Z" fill="#E0004D"/>
            <path d="M67.0993 0L69.1923 4.58407L74.1987 5.15794L70.4857 8.56499L71.487 13.5038L67.0993 11.0254L62.7117 13.5038L63.7129 8.56499L60 5.15794L65.0064 4.58407L67.0993 0Z" fill="#E0004D"/>
            <path d="M87.0993 0L89.1923 4.58407L94.1987 5.15794L90.4857 8.56499L91.487 13.5038L87.0993 11.0254L82.7117 13.5038L83.7129 8.56499L80 5.15794L85.0064 4.58407L87.0993 0Z" fill="#E0004D"/>
          </svg>
        </div>
        <div class="des">
            I've only used it for 3 weeks and found significant reduction in hair growth, so I don't have to shave every next day.
        </div>
        <div class="line">
        </div>
        <div class="name">
          Jennifer
        </div>
      </div>
     </div>
     <div class="review-list">
      <div class="why-list">
        <div class="start">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 14" class="design-iconfont">
            <path d="M7.09934 0L9.19227 4.58407L14.1987 5.15794L10.4857 8.56499L11.487 13.5038L7.09934 11.0254L2.71167 13.5038L3.71294 8.56499L0 5.15794L5.0064 4.58407L7.09934 0Z" fill="#E0004D"/>
            <path d="M47.0993 0L49.1923 4.58407L54.1987 5.15794L50.4857 8.56499L51.487 13.5038L47.0993 11.0254L42.7117 13.5038L43.7129 8.56499L40 5.15794L45.0064 4.58407L47.0993 0Z" fill="#E0004D"/>
            <path d="M27.0993 0L29.1923 4.58407L34.1987 5.15794L30.4857 8.56499L31.487 13.5038L27.0993 11.0254L22.7117 13.5038L23.7129 8.56499L20 5.15794L25.0064 4.58407L27.0993 0Z" fill="#E0004D"/>
            <path d="M67.0993 0L69.1923 4.58407L74.1987 5.15794L70.4857 8.56499L71.487 13.5038L67.0993 11.0254L62.7117 13.5038L63.7129 8.56499L60 5.15794L65.0064 4.58407L67.0993 0Z" fill="#E0004D"/>
            <path d="M87.0993 0L89.1923 4.58407L94.1987 5.15794L90.4857 8.56499L91.487 13.5038L87.0993 11.0254L82.7117 13.5038L83.7129 8.56499L80 5.15794L85.0064 4.58407L87.0993 0Z" fill="#E0004D"/>
          </svg>
        </div>
        <div class="des">
            Ulike Hair Removal Device is really cost-effective. It used to cost $400 to go to salon once for the same result, and was charged according to the body parts......
        </div>
        <div class="line">
        </div>
        <div class="name">
          Chloe
        </div>
      </div>
       <div class="img-why-box order-lt">
        {{- section.settings.image3 | image_url: width: section.settings.image3.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px', widths: '600,700,800,1000,1200,1400', class: 'product-feedback__image' -}}
      </div>
     </div>
     <div class="review-list">
      <div class="img-why-box">
        {{- section.settings.image4 | image_url: width: section.settings.image4.width | image_tag: id: id_attribute, loading: 'lazy', sizes: '(max-width: 740px) calc(100vw - 96px), (max-width: 999px) calc(100vw - 160px), 600px', widths: '600,700,800,1000,1200,1400', class: 'product-feedback__image' -}}
      </div>
      <div class="why-list">
        <div class="start">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 14" class="design-iconfont">
            <path d="M7.09934 0L9.19227 4.58407L14.1987 5.15794L10.4857 8.56499L11.487 13.5038L7.09934 11.0254L2.71167 13.5038L3.71294 8.56499L0 5.15794L5.0064 4.58407L7.09934 0Z" fill="#E0004D"/>
            <path d="M47.0993 0L49.1923 4.58407L54.1987 5.15794L50.4857 8.56499L51.487 13.5038L47.0993 11.0254L42.7117 13.5038L43.7129 8.56499L40 5.15794L45.0064 4.58407L47.0993 0Z" fill="#E0004D"/>
            <path d="M27.0993 0L29.1923 4.58407L34.1987 5.15794L30.4857 8.56499L31.487 13.5038L27.0993 11.0254L22.7117 13.5038L23.7129 8.56499L20 5.15794L25.0064 4.58407L27.0993 0Z" fill="#E0004D"/>
            <path d="M67.0993 0L69.1923 4.58407L74.1987 5.15794L70.4857 8.56499L71.487 13.5038L67.0993 11.0254L62.7117 13.5038L63.7129 8.56499L60 5.15794L65.0064 4.58407L67.0993 0Z" fill="#E0004D"/>
            <path d="M87.0993 0L89.1923 4.58407L94.1987 5.15794L90.4857 8.56499L91.487 13.5038L87.0993 11.0254L82.7117 13.5038L83.7129 8.56499L80 5.15794L85.0064 4.58407L87.0993 0Z" fill="#E0004D"/>
          </svg>
        </div>
        <div class="des">
            I was skeptical that a home device could deliver results, but wow. First, this is a luxury item. The packaging, the quality, the accessories that are included all.......
        </div>
        <div class="line">
        </div>
        <div class="name">
          Dean
        </div>
      </div>
     </div>
      <div class="controls">
        <div class="prev-button">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="design-iconfont">
            <mask id="fo23klz2p__3cpv3dnfha" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="4" width="31" height="31">
              <path transform="matrix(-1 0 0 1 36 4)" fill="#D9D9D9" d="M0 0H31V31H0z"></path>
            </mask>
            <g mask="url(#fo23klz2p__3cpv3dnfha)">
              <path d="M25.458 3.45751L9.37303 19.5425L25.458 35.6274" stroke="#fff" stroke-width="1.5"></path>
            </g>
            <mask id="fo23klz2p__j8h2lhv24b" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="3" width="33" height="33">
              <path transform="matrix(-1 0 0 1 37 3)" fill="#D9D9D9" d="M0 0H33V33H0z"></path>
            </mask>
            <g mask="url(#fo23klz2p__j8h2lhv24b)">
              <path d="M24.4582 2.45776L7.37352 19.5425L24.4582 36.6272" stroke="#040000" stroke-width="1.5"></path>
            </g>
          </svg>
        </div>
        <div class="next-button">
          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="design-iconfont">
              <mask id="f6v4xaqwh__fqcktyk72a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="4" width="31" height="31">
                <path fill="#D9D9D9" d="M4 4H35V35H4z"></path>
              </mask>
              <g mask="url(#f6v4xaqwh__fqcktyk72a)">
                <path d="M14.542 3.45751L30.627 19.5425L14.542 35.6274" stroke="#fff" stroke-width="1.5"></path>
              </g>
              <mask id="f6v4xaqwh__ij7zspkldb" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="33" height="33">
                <path fill="#D9D9D9" d="M3 3H36V36H3z"></path>
              </mask>
              <g mask="url(#f6v4xaqwh__ij7zspkldb)">
                <path d="M15.5418 2.45776L32.6265 19.5425L15.5418 36.6272" stroke="#040000" stroke-width="1.5"></path>
              </g>
            </svg>
          </div>
      </div>
    </div>
  </div>
</div>
 <script type="text/javascript">
  (function(){
    let documentWidth = document.documentElement.clientWidth || document.body.clientWidth;
    if(documentWidth < 639 ) {
      const slider = document.querySelector('.scroller__inner');
      const sliderContainer = document.querySelector('.article-list');
      const slides = document.querySelectorAll('.article-list .article-item');
      const sliderPrev = document.querySelector('.prev-button');
      const sliderNext = document.querySelector('.next-button');
      const dott = document.querySelector('.article-dot .article-dot-item');
      const imageCount = slides.length;
      const slidesWidth = slides[0].offsetWidth;
      let currentIndex = 0;
      let intervalId;
      
      let startX = 0;
      let startY = 0;
      let endX = 0;
      let currentSlide = 0;
      // 绑定事件
      //slider.addEventListener('mousedown', startDrag);
      slider.addEventListener('touchstart', startDrag)
      //document.addEventListener('mousemove', drag);
      document.addEventListener('touchmove',drag, { passive: false });
      //document.addEventListener('mouseup', endDrag);
      document.addEventListener('touchend', endDrag);

      dott.style.width = ( slidesWidth * ((currentIndex+1) / imageCount)) + 'px';
      dott.style.left = 0;
      // Move the slider to the current index
      function moveSlider() {
        sliderContainer.style.transform = `translateX(-${currentIndex * slidesWidth + currentIndex*30}px)`;
        dott.style.left = ( slidesWidth * ((currentIndex) / imageCount)) + 'px';
      }

      // Move to the next image
      function moveToNext() {
        currentIndex++;
        if (currentIndex >= imageCount) {
          currentIndex = 0;
        }
        moveSlider();
      }

      // Move to the previous image
      function moveToPrev() {
        currentIndex--;
        if (currentIndex < 0) {
          currentIndex = imageCount - 1;
        }
        moveSlider();
      }

      // Automatically move to the next image every 5 seconds
      function startAutoPlay() {
        intervalId = setInterval(moveToNext, 3000);
      }

      // Stop automatic playing
      function stopAutoPlay() {
        clearInterval(intervalId);
      }

      // Attach event listeners to the prev and next buttons
      sliderPrev.addEventListener('click', () => {
        stopAutoPlay();
        moveToPrev();
      });

      sliderNext.addEventListener('click', () => {
        stopAutoPlay();
        moveToNext();
      });

      function startDrag(event) {
        stopAutoPlay()
        startX = event.clientX || event.touches[0].clientX;
        startY = event.clientX || event.touches[0].clientY;
      }

      function drag(e) {
        const moveX = event.touches[0].clientX;
        const moveY = event.touches[0].clientY;
        const diffX = moveX - startX;
        const diffY = moveY - startY;
        if (startX === null) {
          return;
        }
        // 如果水平移动距离大于垂直移动距离，则阻止默认滚动行为
        if (Math.abs(diffX) > Math.abs(diffY)) {
          e.preventDefault();
        }
        let x = e.clientX || e.touches[0].clientX;
        let delta = startX - x;
        sliderContainer.style.transform = 'translateX(' + (-currentIndex * slidesWidth - delta) + 'px)';
      }

      function endDrag(e) {
        endX = e.clientX || e.changedTouches[0].clientX;
        let delta = startX - endX;
        // 判断滑动距离，决定是否滑动到下一个轮播项
        if(delta > slidesWidth / 3 && currentIndex < imageCount - 1) {
          currentIndex++
        } else if (delta < -slidesWidth / 3 && currentIndex > 0) {
          currentIndex--
        }
        // 滑动到下一个轮播项
        moveSlider();
        // 重置开始和结束位置
        startX = null;
        endX = null;
      }
      // Start automatic playing when the page is loaded
      startAutoPlay();
      }
    })()
  </script>
{% schema %}
{
  "name": "Review Scroll",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Review Scroll",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    }
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "Review Scroll",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
