<style>
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.mobile_padding_top }}px);
    padding-bottom: calc({{ section.settings.mobile_padding_bottom }}px);
  }
}
 /* 产品模块 */
    .product-container {
      max-width: 1480px;
      margin: 0 auto;
      width: 100%;
      padding: 0 var(--container-gutter);
    }

    .product-container h3 {
      color: #B89E70;
      text-align: center;
      font-size: 45px;
      font-weight: 400;
      line-height: 45px;
      margin-bottom: 33px;
    }
   .product-container .product_subtle{
     color: #000;
    text-align: center;
    font-size: 25px;
    line-height: 1.8;
     max-width:1000px;
     margin:0 auto;
     width:100%;
   }
    .product-box {
      display: flex;
      align-items: center;
      margin-bottom: 160px;
    }

    .product-box.product-box__reverse {
      flex-direction: row-reverse;
    }

    .product-box .product-rt {
      display: grid;
      position: relative;
      cursor: pointer;
    }

    .product-box .code__box {
      position: absolute;
      width: 124px;
      height: 124px;
      transform: rotate(-11.012deg);
      background: #E0004D;
      left: -10%;
      top: 13%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #FFF;
    }

    .code__box .code-num {
      font-size: 45px;
      font-weight: 400;
      line-height: 1.2;
    }

    .code__box .code-unit {
      font-size: 25px;
      font-weight: 400;
      line-height: 1.2;
    }
   .code__box .code-text {
     font-size: 30px;
      line-height: 1;
    }

    .product-box .product-lt,
    .product-box .product-rt {
      width: 50%;
    }

    .product-rt picture,
    .product-rt picture img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .product-box .product-ct {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      grid-area: 1/1;
      transition: opacity 0.4s ease;
    }

    .product-box .product-back {
      position: relative;
      opacity: 0;
    }

    .product-rt:hover .product-back {
      opacity: 1;
    }

    .product-rt:hover .product-front {
      opacity: 0;
    }

    .product-box .product-lt {
      padding-right: 140px;
    }

    .product-box.product-box__reverse .product-lt {
      padding-left: 140px;
      padding-right: 0;
    }

    .product-text__bix {
      display: flex;
      align-items: center;
    }

    .product-box .product-text__label {
      border: 1px solid #E0004D;
      color: #E0004D;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-left: 5px;
      align-self: center;
      padding: 0 7px;
    }

    .product-box .product-text {
      color: #000;
      font-size: 23px;
      line-height: 1.8;
    }

    .product-box .product-tle {
      margin-top: 20px;
    }

    .product-box .product-tle img {
      display: block;
      width: 100%;
    }

    .product-box .product-des {
      margin-top: 80px;
    }

    .product-price__box {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 46px;
    }

    .product-box .ori-price-label {
      color: #000;
      font-size: 18px;
      line-height: 1.3;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .product-box .orice-price-bt {
      color: #000;
      font-size: 26px;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: -1.04px;
    }
    .product-box .orice-price-bt .orice-price-num, .product-box .price__num{
          font-family: var(--font-it-family);
    }
    .product-box .orice-price-bt .orice-price-num,
    .product-box .orice-price-bt .price__unit {
      text-decoration: line-through;
    }

    .product-box .price__unit {
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: normal;
      padding-left: 5px;
    }

    .product-box .price__label {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: normal;
    }

    .product-box .price {
      color: #E0004D;
      font-size: 55px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -3.325px;
    }

    .product-box .product-note {
      margin-top: 32px;
      color: #000;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
    }

    .product-box .product-btn-box {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
     align-items: center; 
    }

    .product-box .product-link {
      flex: 1;
    max-height: 3.94rem;
    min-height: 3.94rem;
    margin-block-start: var(--sp-8);
      display: flex;
    justify-content: center;
    align-items: center;
    }
 .product-buy-now .product-form__submit {
   --buttons-radius:10px;
   --color-button-background:#B89E70;
    --color-button-background:184, 158, 112;
   color: #000;
   --font-button-size:25px;
   --font-medium:400;
       max-height: 3.94rem;
     min-height: 3.94rem;
 }
  .product-buy-now .product-form__submit.button:after{
    border: 1px solid #B89E70;
  }
     @media (min-width: 1024px) and (max-width: 1450px) {
      .product-box .product-text__label{
        font-size: 16px;
        margin-left: 4px;
        padding: 0 6px;
      }
      .product-container h3 {
          font-size: 36px;
          margin-bottom: 33px;
      }
          .product-container .product_subtle{
    font-size: 20px;
     max-width:800px;
   }
      .product-box {
          margin-bottom: 128px;
      }
      .product-box .product-lt {
          padding-right: 112px;
      }
      .product-box.product-box__reverse .product-lt {
          padding-left: 112px;
      }
      .product-box .product-text {
          font-size: 20px;
      }
      .product-box .product-tle {
          margin-top: 16px;
      }
      .product-box .product-des {
          margin-top: 64px;
      }
      .product-box .product-text {
          font-size: 20px;
      }
      .product-price__box {
          gap: 16px;
          margin-top: 37px;
      }
      .product-box .ori-price-label {
          font-size: 14px;
      }
      .product-box .orice-price-bt {
          font-size: 21px;
      }
      .product-box .price__unit {
          font-size: 21px;
            padding-left: 4px;
      }
      .product-box .price__label {
          font-size: 14px;
      }
      .product-box .price {
          font-size: 44px;
      }
      .product-box .code__box {
          width: 100px;
          height: 100px;
        left: -6%;
      }
      .code__box .code-num {
          font-size: 30px;
      }
      .code__box .code-unit {
          font-size: 20px;
      }
          .code__box .code-text {
     font-size: 24px;
    }
       .product-buy-now .product-form__submit {
         --font-button-size:20px;
             --buttons-radius: 8px;
       }
     }
    @media screen and (max-width: 1023px) {
      .product-box .product-text__label{
        font-size: 13px;
        margin-left: 3px;
        padding: 0 3px;
      }
      .product-container h3{
        font-size: 20px;
        margin-bottom: 13px;
      }
       .product-container .product_subtle{
    font-size: 15px;
   }
      .product-box{
        flex-direction: column-reverse;
        gap: 17px;
        margin-bottom: 50px;
      }
      .product-box.product-box__reverse {
          flex-direction: column-reverse;
      }
      .product-box .product-lt, .product-box .product-rt {
          width: 100%;
      }
      .product-box .product-lt {
          padding-right: 0px;
      }
      .product-box .code__box{
        width: 63px;
        height: 63px;
        left: -5%;
        top: 14%;
      }
      .code__box .code-num {
          font-size: 22px;
      }
      .code__box .code-unit {
    font-size: 11px;
      }
      .product-box .product-text{
        font-size: 13px;
        text-align: center;
        margin-top: 40px;
      }
      .product-text__bix .product-text{
        margin-top: 0;
      }
      .product-text__bix{
        justify-content: center;
      }
      .product-box .product-tle {
          margin-top: 10px;
      }
      .product-price__box {
          gap: 10px;
          margin-top: 33px;
          justify-content: center;
      }
      .product-box .ori-price-label{
        font-size: 12px;
      }
      .product-box .orice-price-bt{
        font-size: 16px;
      }
      .product-box .price__unit{
        font-size: 16px;
        padding-left: 2px;
      }
      .product-box .price__label{
        font-size: 12px;
      }
      .product-box .price{
        font-size: 34px;
        letter-spacing: -1px;
      }
      .product-box .ori-price-label svg{
        max-width: 42px;
      }
      .product-box .product-btn-box{
        gap: 18px;
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
      }
      .product-box .product-btn-box .product-link{
        margin-top: 0;
      }
      .product-box .product-note{
        margin-top: 24px;
        text-align: center;
        font-weight: 200;
      }
      .product-box.product-box__reverse .product-lt {
          padding-left: 0px;
      }
      .product-box .product-rt{
        margin-bottom: 18px;
      }
      .product-btn-box .product-link{
        padding: 6px 53px;
        max-height: auto;
    min-height: auto;
      }
         .code__box .code-text {
     font-size: 18px;
    }
      .product-buy-now .product-form__submit {
            --font-button-size: 15px;
    max-height: 2.5rem;
    min-height: 2.5rem;
}
    }
</style>
<section>
 <!-- 产品模块 -->
    <div class="product-section section-{{ section.id }}-padding">
      <div class="product-container">
        <h3 class="to-top">{{ section.settings.tle }}</h3>
        <div class="product_subtle to-top">{{ section.settings.subtle }}</div>
          {%- for block in section.blocks -%}
        <div class="product-box to-top {% if block.settings.image_position == 'right' %}product-box__reverse{% endif %}" {% if block.settings.module_id != blank %}id="{{ block.settings.module_id }}"{% endif %}>
          <div class="product-lt">
            <div class="product-text__bix">
              <div class="product-text">
               {{ block.settings.text }}
              </div>
              {%- if  block.settings.product_label != blank -%}
              <div class="product-text__label">
                {{ block.settings.product_label }}
              </div>
               {%- endif -%}
            </div>
            <div class="product-tle">
              <img src="{{  block.settings.product_name_image | image_url }}" alt="">
            </div>
            <div class="product-des product-text">{{ block.settings.text1 }}</div>
            <div class="product-price__box">
              <div class="ori-price">
                <div class="ori-price-label">
                 <div class="lb-text">{{ block.settings.ori_price_label  }}</div>
                    <div class="lb-text">{{ block.settings.price_label  }}</div>
                 <svg xmlns="http://www.w3.org/2000/svg" width="65" height="16" viewBox="0 0 65 16" fill="none">
                    <path d="M64.595 8.70711C64.9855 8.31658 64.9855 7.68342 64.595 7.29289L58.2311 0.928932C57.8405 0.538408 57.2074 0.538408 56.8168 0.928932C56.4263 1.31946 56.4263 1.95262 56.8168 2.34315L62.4737 8L56.8168 13.6569C56.4263 14.0474 56.4263 14.6805 56.8168 15.0711C57.2074 15.4616 57.8405 15.4616 58.2311 15.0711L64.595 8.70711ZM0 8L0 9L63.8879 9V8V7L0 7L0 8Z" fill="black"/>
                  </svg>
                </div>
                <!-- <div class="orice-price-bt"><span class="orice-price-num">{{ block.settings.ori_price }}</span><span
                    class="price__unit">{{ block.settings.price_unit }}</span><span class="price__label">{{ block.settings.price_tax }}</span></div> -->
              </div>
              <div class="price"><span class="price__num">{{ block.settings.price }}</span><span class="price__unit">{{ block.settings.price_unit }}</span><span class="price__label">{{ block.settings.price_tax }}</span></div>
            </div>
            <div class="product-btn-box">
              <!-- <a href="" class="product-link product-buy-now">{{ block.settings.add_button_text }}</a> -->



               
            <div class="product-buy-now"  style="transition-delay: 0.3s">

                      
     {%- assign assign product_form_id = 'ProductForm-' | append: block.id -%}
     {%- assign product = block.settings.product -%}
                        {%- if block.settings.add_button_text != blank -%}
       <div class="product-form-wrapper product-form-wrapper-cus" {{ section.shopify_attributes }}>
                    {%- liquid
                      assign gift_card_recipient_feature_active = false
                      if section.settings.show_gift_card_recipient and product.gift_card?
                        assign gift_card_recipient_feature_active = true
                      endif
                    -%}
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form',
                      data-hide-errors: gift_card_recipient_feature_active,
                      class: 'product-form grid gap-8',
                      is: 'product-form'
                    -%}
                      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled />
                  
                      {%- liquid
                        if gift_card_recipient_feature_active
                          render 'gift-card-recipient-form', product: product, form: form, section_id: section_id
                        endif
                  
                        assign check_against_inventory = true
                        if product.selected_or_first_available_variant.inventory_management != 'shopify' or  product.selected_or_first_available_variant.inventory_policy == 'continue'
                          assign check_against_inventory = false
                        endif
                        if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                          assign quantity_rule_soldout = true
                        endif
                      -%}
                  
                      <div class="product-form__buttons grid gap-4">
                        <div class="product-form__error-message alert alert--error text-sm font-medium leading-tight" role="alert" hidden></div>
                        <div class="flex gap-4">
                          <button
                            type="submit"
                            name="add"
                            form="{{ product_form_id }}"
                            class="product-form__submit button button--secondary button--fixed w-full mt-2"
                            is="hover-button"
                            {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %} disabled{% endif -%}
                            {%- if product.template_suffix == 'pre-order' %} data-pre-order="true"{% endif -%}
                          >
                            <span class="btn-fill" data-fill></span>
                            <span class="btn-text">
                              {%- liquid
                                if product.selected_or_first_available_variant.available == false or quantity_rule_soldout
                                  echo 'products.product.sold_out' | t
                                elsif product.template_suffix != 'pre-order'
                                  echo 'products.product.add_to_cart_custom' | t
                                else
                                  echo 'products.product.pre_order' | t
                                endif
                              -%}
                            </span>
                          </button>
                        </div>
                  
                      </div>
                    {%- endform -%}
                  </div>

              {%- endif -%}
             {%- if section.settings.buy_txt != blank -%}
            <a href="{{ section.settings.buy_link_url }}" class="buy_btn">
             {{ section.settings.buy_txt }}
            </a>
            {%- endif -%}
              </div>



              
              <a href="{{ block.settings.button_link }}" class="product-link">{{ block.settings.button_text }}</a>
            </div>
            <div class="product-note">{{ block.settings.note }}</div>
          </div>
          <div class="product-rt">
            <picture class="product-ct product-front">
                  {%- if block.settings.first_image_mobile -%}
                <source media="(min-width: 767px)" srcset="{{ block.settings.first_image_mobile | image_url }}">
                     {%- endif -%}
                 {%- if block.settings.first_image -%}
                <img src="{{ block.settings.first_image | image_url }}" alt="{{ block.settings.first_image.alt }}">
                     {%- endif -%}
              </picture>
                <picture class="product-ct product-back">
                  {%- if block.settings.second_image_mobile -%}
                <source media="(min-width: 767px)" srcset="{{ block.settings.second_image_mobile | image_url }}">
                     {%- endif -%}
                 {%- if block.settings.second_image -%}
                <img src="{{ block.settings.second_image | image_url }}" alt="{{ block.settings.second_image.alt }}">
                     {%- endif -%}
              </picture>
            <div class="code__box">
              {%- if block.settings.code != blank -%}
              <div class="code-num">{{ block.settings.code }}</div>
                {%- endif -%}
             {%- if block.settings.code_label != blank -%}
              <div class="code-unit">{{ block.settings.code_label }}</div>
               {%- endif -%}
             {%- if block.settings.code_text != blank -%}
               <div class="code-text">{{ block.settings.code_text }}</div>
                {%- endif -%}
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
</section>
{% schema %}
{
  "name": "rex-product-section",
  "class": "rex-product-section", 
  "settings": [
     {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
     {
      "type": "richtext",
      "id": "subtle",
      "label": "subTitle"
    },
         {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 48
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Padding Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Mobile Padding Bottom",
      "default": 10
    }
  ],
  "blocks": [
        {
      "type": "item",
      "name": "item",
      "settings": [
         {
      "type": "text",
      "id": "module_id",
      "label": "Module Id"
    },
         {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
         {
      "type": "select",
      "id": "image_position",
      "label": "Desktop image position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
         {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
          {
      "type": "text",
      "id": "product_label",
      "label": "product label"
    },
        {
          "type": "image_picker",
          "id": "product_name_image",
          "label": "Product Name Image"
        },
         {
      "type": "text",
      "id": "text1",
      "label": "Text1"
    },
        {
      "type": "text",
      "id": "ori_price_label",
      "label": "oriprice label"
    },
        {
      "type": "richtext",
      "id": "price_label",
      "label": "price label"
    },
        {
      "type": "text",
      "id": "ori_price",
      "label": "oriprice"
    },
        {
      "type": "text",
      "id": "price_unit",
      "label": "price unit"
    },
         {
      "type": "text",
      "id": "price_tax",
      "label": "price tax"
    },
          {
      "type": "text",
      "id": "price",
      "label": "price"
    },
         {
      "type": "text",
      "id": "note",
      "label": "Note"
    },
         {
      "type": "text",
      "id": "code",
      "label": "Code"
    },
         {
      "type": "text",
      "id": "code_label",
      "label": "Code Label"
    },

 {
      "type": "richtext",
      "id": "code_text",
      "label": "Code Text"
    },
  {
          "type": "image_picker",
          "id": "first_image",
          "label": "First Images"
        },
     {
          "type": "image_picker",
          "id": "first_image_mobile",
          "label": "Mobile First Images"
        },


         {
          "type": "image_picker",
          "id": "second_image",
          "label": "Second Image"
        },
             {
          "type": "image_picker",
          "id": "second_image_mobile",
          "label": "Mobile Second Images"
        },
         {
        "type": "text",
        "id": "add_button_text",
        "label": "add Button text"
      },
         {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
      ]
    }
  ],
  "presets": [
    {
      "name": "rex-product-section"
    }
  ]
}
{% endschema %}