<style>
/* number_two-box */
  #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    background: rgb(var(--section-background, var(--background)));
    background: url({{ section.settings.bg_image | image_url }}) no-repeat center;
    background-size: cover;
  }
      .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
    #shopify-section-{{ section.id }} {
    background: url({{ section.settings.bg_image_mobile | image_url }}) no-repeat center;
  }
}
/* peison_box */
  .container_peison{
     --container-max-width: 1416px;
    --container-gutter: 40px;
    width: 100%;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-gutter);
    padding-right: var(--container-gutter);
    --container-outer-margin: 0px;
  }
.peison_box{
  display: flex;
  gap: 93px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.peison_item{
  /* display: flex;
border-radius: 50%;
background: #F3F7F9;
flex-direction: column;
align-items: center;
justify-content: center; */
width: 25%;
}
.peison_item img{
  /* max-width: 100px; */
  /* margin-bottom: 30px; */
  width: 100%;
}
.peison_txt{
  color: #000;
text-align: center;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 133.4%;
}
@media (max-width: 768px) {
  .container_peison{
    padding:0;
  }
  .peison_box{
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 70px;
    padding-right: 20px;
}
.peison_item {
    width: 45%;
    margin-bottom: 5%
}
}

/* peison_box */
</style>
  <section class="section-{{ section.id }}-padding">
    <div class="container_peison">
      <div class="peison_box">
         {%- for block in section.blocks -%}
        <div class="peison_item to-top" style="transition-delay: 0.{{ forloop.index }}s">
            <picture>
            {%- if block.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if block.settings.image -%}
             {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Summer Module3",
  "class": "shopify-section--summer-module3", 
  "settings": [
     {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Images"
        },
     {
          "type": "image_picker",
          "id": "bg_image_mobile",
          "label": "Mobile Background Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
        {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
           {
      "type": "richtext",
      "id": "tle",
      "label": "Text"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Summer Module3"
    }
  ]
}
{% endschema %}