<style>
/* number_two-box */
  #shopify-section-{{ section.id }} {
    --text-color: {{  section.settings.text_color.red }}, {{  section.settings.text_color.green }}, {{  section.settings.text_color.blue }};
    --section-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-border: 255, 255, 255;
    background: rgb(var(--section-background, var(--background)));
    background: url({{ section.settings.bg_image | image_url }}) no-repeat center;
    background-size: cover;
  }
      .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px);
    padding-bottom: calc({{ section.settings.padding_bottom }}px);
  }
  @media screen and (max-width: 768px){
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.6);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.6);
  }
    #shopify-section-{{ section.id }} {
    background: url({{ section.settings.bg_image_mobile | image_url }}) no-repeat center;
  }
}
/* number_end-box */

.number_end-box{
  /* width: 100%;
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 40px; */
  text-align: center;
}
.number_end-box h3{
   color: #190A0A;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 1.25;
margin-bottom: 70px;
}
.number_end-ul{
  display: flex;
  gap: 30px;
}
.number_end-li{
flex: 1;
}
.number_end-li img{
  width: 100%;
}

.li_num{
  font-family: var(--font-sans-family);
  text-align: left;
  margin-top: 56px;
 color: #E0004D;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-bottom: 30px;
   margin-top: 32px;
    margin-bottom: 26px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 9px;
}
.li_txt{
  text-align: left;
  color: #000;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: 150%;
}
@media (max-width: 768px) {
  .number_end-box h3{
    font-size: 24px;
    margin-bottom: 40px;
  }
  .number_end-ul{
    flex-direction: column;
    gap: 33px;
  }
  .number_end-li{
    display: flex;
    align-items: center;
  }
  .number_end-li picture{
    width: 50%;
  }
  .li_num{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
     margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .li_txt{
    font-size: 14px;
  }
  .number_end-box{
    /* padding: 0 20px; */
  }
  .number_end-ul .number_end-li:nth-child(2n){
    flex-direction: row-reverse;
  }
  .li_bix-box{
    width: 50%;
    margin-left: 15px;
  }
  .number_end-ul .number_end-li:nth-child(2n) .li_bix-box{
    margin-left: 0;
    margin-right: 15px;
  }
}
/* number_end-box */
</style>
  <section class="section-{{ section.id }}-padding">
  <div class="number_end-box jp-container">
     {%- if section.settings.tle != blank -%}
      <h3 class="to-top" style="transition-delay: 0.1s;">{{ section.settings.tle }}</h3>
     {%- endif -%}
      <div class="number_end-ul">

         {%- for block in section.blocks -%}
        <div class="number_end-li to-top" style="transition-delay: 0.{{ forloop.index }}s">
           <picture>
            {%- if block.settings.image_mobile -%}
           <source
              media="(max-width: 767px)"
              srcset="{{ block.settings.image_mobile | image_url: width: '400x' }} 400w, {{ block.settings.image_mobile | image_url: width: '600x' }} 600w, {{ block.settings.image_mobile | image_url: width: '800x' }} 800w, {{ block.settings.image_mobile | image_url: width: '1000x' }} 1000w"
              width="{{ block.settings.image_mobile.width }}"
              height="{{ block.settings.image_mobile.height }}"
            >
            {%- endif -%}
            {%- if block.settings.image -%}
             {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'eager', sizes: '100vw', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: 'trade_banner__image' -}}
            {%- endif -%}
          </picture>
          <div class="li_bix-box">
            <div class="li_num">{{ block.settings.number_txt }}</div>
            <div class="li_txt">{{ block.settings.txt }}</div>
          </div>
        </div>
      {%- endfor -%}
     
      </div>
    </div>
  </section>
<script>
</script>
{% schema %}
{
  "name": "Summer Module5",
  "class": "shopify-section--summer-module5", 
  "settings": [
      {
      "type": "text",
      "id": "tle",
      "label": "Title"
    },
     {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Images"
        },
     {
          "type": "image_picker",
          "id": "bg_image_mobile",
          "label": "Mobile Background Images"
        },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 48
    }
  ],
  "blocks": [
        {
        "type": "item",
        "name": "item",
        "settings": [
           {
          "type": "image_picker",
          "id": "image",
          "label": "Images"
        },
     {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Images"
        },
           {
      "type": "text",
      "id": "number_txt",
      "label": "Number Text"
    },
      {
      "type": "richtext",
      "id": "txt",
      "label": "Text"
    }
        ]
      }
  ],
  "presets": [
    {
      "name": "Summer Module5"
    }
  ]
}
{% endschema %}