<div class="table-comparison-container container {% if section.settings.show_divider %} section--divider{% endif %} page-width">
  <div class="table-comparison">
    {%- for block in section.blocks -%}
        <div class="tc-block" id="tc-row-{{ forloop.index }}">
            <div class="tc-data wtitle frow" >
                {%- if block.settings.icon != blank -%}
                    <div class="tc-data-wimg">
                        <div class="tc-data-wimg__wrapper">
                          {{ block.settings.icon | img_url: 'master' | img_tag }}
                        </div>
                        <p {% if forloop.index != 1 %}class="tcpHeading"{% endif %} style="display:none;">{{ block.settings.title }}</p>
                    </div>
                {%- else -%}
                    <h3>{{ block.settings.title }}</h3>
                {%- endif -%}
                {% if forloop.index == 1 %}
                <div class="mobile-select">
                  <div class="select-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" fill="none" viewBox="0 0 24 15">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z" fill="currentColor"></path>
                    </svg>
                  </div>
                  {% comment %} <select name="table-comparison-select">
                    <option>Our Product</option>
                  </select> {% endcomment %}
                  <div class="select-box">
                    <span class="selected-option">Select an option</span>
                  </div>
                  <div class="vs-text">VS</div>
                </div>
                {% endif %}
            </div>
            <div class="tc-data srow">
                {%- if block.settings.data_content_type_1 == 'text' -%}
                    <div class="tc-data-th">
                        {{ block.settings.text_1 }}
                    </div>
                {%- else -%}
                    <div class="tc-data-icon">
                        <span class="tc-icon-big">{{ block.settings.icon_1_1 | image_url: 'master' | img_tag }}</span>
                        <span class="tc-icon-small">{{ block.settings.icon_1_1 | image_url: 'master' | img_tag }}</span>
                        <div class="tc-text-small">{{ block.settings.text_1_2 }}</div>
                    </div>
                {%- endif -%}
            </div>
            <div class="tc-data srow">
                {%- if block.settings.data_content_type_2 == 'text' -%}
                    <div class="tc-data-th">
                        {{ block.settings.text_2 }}
                    </div>
                {%- else -%}
                    <div class="tc-data-icon">
                      <span class="tc-icon-big">{{ block.settings.icon_2_1 | image_url: 'master' | img_tag }}</span>
                      <span class="tc-icon-small">{{ block.settings.icon_2_1 | image_url: 'master' | img_tag }}</span>
                      <div class="tc-text-small">{{ block.settings.text_2_2 }}</div>
                    </div>
                {%- endif -%}
            </div>
            <div class="tc-data srow">
                {%- if block.settings.data_content_type_3 == 'text' -%}
                    <div class="tc-data-th">
                        {{ block.settings.text_3 }}
                    </div>
                {%- else -%}
                    <div class="tc-data-icon">
                      <span class="tc-icon-big">{{ block.settings.icon_3_1 | image_url: 'master' | img_tag }}</span>
                      <span class="tc-icon-small">{{ block.settings.icon_3_1 | image_url: 'master' | img_tag }}</span>
                      <div class="tc-text-small">{{ block.settings.text_3_2 }}</div>
                    </div>
                {%- endif -%}
            </div>
            {% comment %} <div class="tc-data srow">
                {%- if block.settings.data_content_type_4 == 'text' -%}
                    <div class="tc-data-th">
                        {{ block.settings.text_4 }}
                    </div>
                {%- else -%}
                    <div class="tc-data-icon">
                      <span class="tc-icon-big">{{ block.settings.icon_4_1 | image_url: 'master' | img_tag }}</span>
                      <span class="tc-icon-small">{{ block.settings.icon_4_1 | image_url: 'master' | img_tag }}</span>
                      <div class="tc-text-small">{{ block.settings.text_4_2 }}</div>
                    </div>
                {%- endif -%}
            </div> {% endcomment %}
        </div>
    {%- endfor -%}
  </div>
</div>

{% style %}
    .table-comparison-container{
        background-color: {{ section.settings.background_color }};
        padding-top: {{ section.settings.padding_top }}px;
        {% comment %} padding-right: {{ section.settings.padding_right }}px; {% endcomment %}
        padding-bottom: {{ section.settings.padding_bottom }}px;
        {% comment %} padding-left: {{ section.settings.padding_left }}px; {% endcomment %}
    }
    .table-comparison{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tc-block{
        width: 22%;
    }
    #tc-row-1.tc-block{
        width: 34%;
    }
    .tc-data-wimg__wrapper {
      {% comment %} width: 160px;
      height: 65px;
       margin-bottom:10px;
      margin: 0 auto 10px; {% endcomment %}
      width: 150px;
      height: 150px;
      display: flex;
      align-items: flex-start;
      {% comment %} justify-content: center; {% endcomment %}
    }
    .tc-data-wimg__wrapper img {
      {% comment %} max-width: 61px; {% endcomment %}
      max-width: 150px;
      max-height: 100%;
    }
    .tc-block:nth-child(2) .tc-data-wimg p{
      color: #181818;
    }
    .tc-data{
        border-bottom: 1px solid #ECECEC;
        {% comment %} padding: 32px 0; {% endcomment %}
    }
    .tc-data .tc-data-wimg,
    .tc-data .tc-data-icon{
        text-align: center;
    }
    .tc-data .tc-data-wimg p{
        margin: 0;
        color: #282828;
        font-size: 19px;
        line-height: 34.2px;
        font-weight: 700;
    }
    .tc-data h3{
        font-size: 36px;
        line-height: 56px;
        color: #181818;
        margin: 0;
        font-weight: 700;
    }
    .tc-data.frow{
        {% comment %} min-height: 160px; {% endcomment %}
        min-height: 170px;
        display: block;
    }
    .tc-data.srow{
        min-height: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .tc-data-th{
        color: #282828;
        font-size: 14.4px;
        line-height: 25.92px;
        font-weight: 600;
        max-width: 280px;
    }
    .mobile-select{
      display: none;
      position:relative;
    }
    .mobile-select select{
      border: none;
      background-color: transparent;
      font-size: 14px;
      color: #181818;
      appearance: none;
      -webkit-appearance: none;
      box-shadow: none;
      outline: none;
    }
    .mobile-select svg{
      height: 0.6rem;
      pointer-events: none;
      position: absolute;
      top: calc(50% - 0.35rem);
      right: 1.5rem;
    }
    .tc-icon-big{display:inline;}
    .tc-icon-small,
    .tc-text-small{display:none;}
    .vs-text{display:block;}
    .tc-data-icon .tc-icon-big img{
      max-width: 36px;
    }
    .tc-data .tc-data-wimg p,
    .tc-data-th{
      color: #181818;
      font-family: 'soehne-buch';
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      font-weight: 400;
    }
    .tc-data-th{
      text-align: left;
    }
    #tc-row-2 .tc-data-th,#tc-row-3 .tc-data-th,#tc-row-4 .tc-data-th{
      font-family: 'soehne-kraftig';
    }
  {% comment %} select样式 start {% endcomment %}
    .select-box {
      position: relative;
      display: block;
    }
    .selected-option {
      display: block;
      padding: 10px;
      color: #040000;
      cursor: pointer;
      border: 1px solid #040000;
    }

    .option-list {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #ffffff;
      color: #040000;
      list-style: none;
      padding: 0;
      margin: 0;
      border: 1px solid #040000;
      display: none;
      z-index: 1;
      width: 100%;
      border-top: none;
    }

    .option-list.show {
      display: block;
    }
    .option {
      padding: 10px;
      cursor: pointer;
    }
    .option:hover {
      background-color: #040000;
      color: #ffffff;
    }
    .select-arrow.top svg.icon.icon-caret {
        transform: scaleY(-1);
    }
    {% comment %} select样式 end {% endcomment %}
    @media (max-width: 1250px){
        .tc-data .tc-data-wimg p{
            font-size: 14.4px;
        }
        .tc-data h3{
            line-height: 45px;
        }
        .tc-data.srow{
            min-height: 145px;
        }
    }
    @media (max-width: 1024px){
        .table-comparison-container{
            overflow-x: scroll;
        }
        .table-comparison{
            width: 950px;
        }
        .table-comparison-container{
            padding: 40px;
        }
    }
    @media (max-width: 767px){
        .table-comparison-container{
            padding: 30px;
            overflow-x: unset;
        }
        .tc-data {
          border-bottom: 1px solid #ECECEC;
        }
        .tc-data{
          padding: 24px 0;
          min-height: auto;
        }
        .tc-data-wimg__wrapper img {
          max-width: 43px;
        }
        .tc-data.frow {
          min-height: auto;
        }
        .tc-data-wimg__wrapper{
          height: auto;
        }
        .mobile-select{display: block;}
        .mobile-select select{width: 100%;}
        #tc-row-1{width:100% !important;}
        #tc-row-1 .tc-data.srow{display: none;}
        #tc-row-1 h3{
          max-width: none;
          font-size: 32px;
          margin-bottom: 28px;
          padding-left: 0px;
        }
        .tc-block{width:100%;}
        .table-comparison {width: 100%;}
        #tc-row-2,
        #tc-row-3{display: block;width:50% !important;}
        #tc-row-4, #tc-row-5{display: none;}
        #tc-row-1 .tc-data {
          border-bottom: none;
          padding: 0 0;
        }
        #tc-row-1 .tc-data.frow {
          min-height: auto;
        }
        [data-table-show="1"] #tc-row-2,
        [data-table-show="1"] #tc-row-3{
          display: block;
          width: 50%;
        }
        [data-table-show="2"] #tc-row-3,
        [data-table-show="3"] #tc-row-3{
          display: none;
        }
        [data-table-show="2"] #tc-row-2,
        [data-table-show="2"] #tc-row-4{
          display: block;
          width: 50%;
        }
        [data-table-show="3"] #tc-row-2,
        [data-table-show="3"] #tc-row-5{
          display: block;
          width: 50%;
        }
        .tc-icon-big{display:none;}
        .tc-icon-small{display:inline;}
        .tc-block:nth-child(2) .tc-data-wimg p {
          color: #282828;
          font-weight: 700;
        }
        .tc-icon-small img{max-width: 24px;}
        .tc-text-small{
          display: block;
          font-size: 12px;
          color: #3D3D3D;
          font-family: 'soehne-buch';
          max-width: 170px;
          margin: 0 auto;
          line-height: 14px;
        }
        .tc-data .tc-data-wimg p {
          font-size: 14px;
          color: #181818;
          font-weight: 700;
        }
        .table-comparison-container{
          background-color: transparent;
        }
        .vs-text{
          font-family: 'soehne-buch';
          font-size: 20px;
          line-height: 23px;
          color: #181818;
          position: absolute;
          bottom: -59px;
          left: 28.5%;
          font-weight: 700;
        }
        .compare-on .vs-text{
          display: block;
        }
    }
{% endstyle %}

{% javascript %}

{% endjavascript %}

<script>
function ready(fn){
  if(document.addEventListener){		//标准浏览器
    document.addEventListener('DOMContentLoaded',function(){
      //注销时间，避免重复触发
      document.removeEventListener('DOMContentLoaded',arguments.callee,false);
      fn();		//运行函数
    },false);
  }else if(document.attachEvent){		//IE浏览器
    document.attachEvent('onreadystatechange',function(){
      if(document.readyState=='complete'){
        document.detachEvent('onreadystatechange',arguments.callee);
        fn();		//函数运行
      }
    });
  }
};
function slectCheck(){
  let selectBox = document.querySelector('.select-box');
  let selectedOption = document.querySelector('.select-box .selected-option');
  let tcpHeading = document.querySelectorAll('.table-comparison .tcpHeading');
  let selectArrow = document.querySelector('.table-comparison .select-arrow');
  let tableComparison =  document.querySelector('.table-comparison')
  let optionList = document.createElement('ul');
  let firstOption = '',allOptions = '',optionCode = '';
  optionList.classList.add('option-list');
  selectBox.appendChild(optionList);

  tcpHeading.forEach(function(elem,index){
    allOptions = elem.innerHTML
    if(index == 0){
      firstOption = elem.innerHTML
    }
    else if(index > 0){
      optionCode += `<li data-index="${index}" class="option">${firstOption} VS ${allOptions}</li>`
    }
  });
  optionList.innerHTML = optionCode;
  selectBox.addEventListener('click', () => {
    optionList.classList.toggle('show');
    selectArrow.classList.toggle('top');
  });
  optionList.addEventListener('click', (event) => {
    event.stopPropagation();
    if (event.target.classList.contains('option')) {
      selectedOption.innerText = event.target.innerText;
      optionList.classList.remove('show');
      selectArrow.classList.remove('top');
      if( event.target.dataset.index == '0'){
        tableComparison.classList.remove('compare-on');
        tableComparison.removeAttribute('data-table-show');
      }
      else{
        tableComparison.classList.add('compare-on');
        tableComparison.setAttribute('data-table-show',event.target.dataset.index);
      }
    }
  });
}
ready(slectCheck);
</script>

{% schema %}
  {
  "name": "Table Comparison",
  "class": "section",
  "max_blocks": 5,
  "tag": "section",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 1
      },
      {
        "type": "range",
        "id": "padding_right",
        "label": "Padding Right",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 1
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 1
      },
      {
        "type": "range",
        "id": "padding_left",
        "label": "Padding Left",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 1
      }
  ],
  "blocks": [
    {
      "name": "Column",
      "type": "column",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Data 1"
        },
        {
          "type": "radio",
          "id": "data_content_type_1",
          "label": "Data Content Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "icon",
              "label": "Icon"
            }
          ],
          "default": "text"
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_1",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_1_1",
          "label": "Icon Mobile"
        },
        {
          "type": "text",
          "id": "text_1_2",
          "label": "Icon Mobile Text"
        },
        {
          "type": "header",
          "content": "Data 2"
        },
        {
          "type": "radio",
          "id": "data_content_type_2",
          "label": "Data Content Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "icon",
              "label": "Icon"
            }
          ],
          "default": "text"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_2_1",
          "label": "Icon Mobile"
        },
        {
          "type": "text",
          "id": "text_2_2",
          "label": "Icon Mobile Text"
        },
        {
          "type": "header",
          "content": "Data 3"
        },
        {
          "type": "radio",
          "id": "data_content_type_3",
          "label": "Data Content Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "icon",
              "label": "Icon"
            }
          ],
          "default": "text"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_3_1",
          "label": "Icon Mobile"
        },
        {
          "type": "text",
          "id": "text_3_2",
          "label": "Icon Mobile Text"
        },
        {
          "type": "header",
          "content": "Data 4"
        },
        {
          "type": "radio",
          "id": "data_content_type_4",
          "label": "Data Content Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "icon",
              "label": "Icon"
            }
          ],
          "default": "text"
        },
        {
          "type": "text",
          "id": "text_4",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_4",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "icon_4_1",
          "label": "Icon Mobile"
        },
        {
          "type": "text",
          "id": "text_4_2",
          "label": "Icon Mobile Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table Comparison"
    }
  ]
}
{% endschema %}