 {%- liquid
  assign product = section.settings.product
-%}
<section>
  {%- for option in product.options_with_values -%}
  <div style="height:100px">
    {%- for value in option.values -%}

      	<input
										type="radio"
										class="sr-only"
										id="{ option.name | handle }}-{{ forloop.index0 }}"
										name="{{ option.name }}"
										value="{{ value | escape }}"
										form="{{ product_form_id }}"
										{% if option.selected_value == value %}checked{% endif %}
										data-option-value="{{ value | escape }}"
          style="height:50px"
									/>
      
    {%- endfor -%}
  </div>
     {%- endfor -%}
</section>
{% schema %}
{
  "name": "man-sell-point-model2",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
