 {%- liquid
  assign product = section.settings.product
-%}
<section>
 {% for variant in product.variants %}
  <div id="{{ variant.id }}"> {{ variant.option1  }} - {{ variant.price | money }} - 
     <img src="{{ variant.featured_image.src | image_url }}" style="width: 50px" />
   <img src="{{  variant.featured_media.preview_image.src | image_url }}"  style="width: 50px" />
  </div>
{% endfor %}
  {% for option in product.options_with_values %}
   <div> {{ option | json }}</div>
{% endfor %}
</section>
<script>
  window.productVariants = {{ product.variants | json }};
</script>
{% schema %}
{
  "name": "Test Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],

  "presets": [
    {
      "name": "Test Product"
    }
  ]
}
{% endschema %}
