<div class="u_banner {{ section.settings.layout}} j_Bnner_block ">
  {% assign Banner = section.settings %}
  {%- if Banner.image_link -%}
    <a href="{{ Banner.image_link }}" alt="{{ Banner.txt_alt }}">
      {{-
        Banner.image
        | image_url: width: Banner.image.width
        | image_tag: loading: 'lazy', draggable: false, class: 'p-show', alt: Banner.txt_alt
      -}}
      {%- if Banner.mobile_image != '' -%}
        {{-
          Banner.mobile_image
          | image_url: width: Banner.mobile_image.width
          | image_tag: loading: 'lazy', draggable: false, class: 'p-hide', alt: Banner.txt_alt
        -}}
      {%- endif -%}
    </a>
  {%- else -%}
    {{-
      Banner.image
      | image_url: width: Banner.image.width
      | image_tag: loading: 'lazy', draggable: false, class: 'p-show', alt: Banner.txt_alt
    -}}
    {%- if Banner.mobile_image != '' -%}
      {{-
        Banner.mobile_image
        | image_url: width: Banner.mobile_image.width
        | image_tag: loading: 'lazy', draggable: false, class: 'p-hide', alt: Banner.txt_alt
      -}}
    {%- endif -%}
  {%- endif -%}
</div>
<script>
   {% comment %} $(function(){
    {%- if Banner.t_hash -%}
      $('body').on('click', '.j_Bnner_block', function (e) {
        $('html, body').stop().animate({
            scrollTop: $('#{{ Banner.t_hash }}').offset().top - 100
          }, 500);
      });
    {%- endif -%}
  }) {% endcomment %}
</script>
<style>
  .u_banner {
    width: 100%;
    {%- if Banner.t_hash -%}
    cursor: pointer;
    {%- endif -%}
  }
</style>

{% schema %}
{
  "name": "s-Bnner item",
  "class": "s-Bnner-item",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "PC图片"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "M端图片"
    },
    {
      "type": "textarea",
      "id": "txt_alt",
      "label": "alt 描述"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "链接"
    },
    {
      "type": "textarea",
      "id": "t_hash",
      "label": "点击是否调整对应模块",
      "info": "hash"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "nt_full",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ],
      "label": "Layout"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "s-Bnner item",
      "category": "s-Bnner item",
      "blocks": []
    }
  ]
}
{% endschema %}
